In [2]:
import pandas as pd
import numpy as np
import networkx as nx
import matplotlib.pyplot as plt
import csv
import sys
#import network_distance as nd

In [3]:
backboned_n = "./data/0_Golden_Standard/countries_flights_norm_backbone_04.csv"

In [4]:
bckfl_df = pd.read_csv(backboned_n,sep=',')
bckfl_df

,Unnamed: 0,src,trg,nij,score,region,weeks_since_100_cases
0,0,Bhutan,India,0.175779,0.971264,Asia,142
1,1,Afghanistan,Iran (Islamic Republic of),0.257511,0.944051,Asia,10
2,2,Afghanistan,Pakistan,0.221808,0.935740,Asia,10
3,3,Seychelles,United Arab Emirates,0.221808,0.901506,Africa,142
4,4,Albania,Italy,0.527336,0.912932,Europe,9
...,...,...,...,...,...,...,...
388,388,Sri Lanka,Seychelles,0.110904,0.963004,Asia,9
389,389,United Arab Emirates,Seychelles,0.221808,0.901657,Asia,8
390,390,United Kingdom of Great Britain and Northern I...,Gibraltar,0.286683,0.928224,Europe,6
391,391,United Kingdom of Great Britain and Northern I...,Isle of Man,0.368415,0.928224,Europe,6
392,392,Yemen,Eritrea,0.110904,0.994782,Asia,17

In [ ]:
bckfl_df = bckfl_df.sort_values(by=['weeks_since_100_cases'])

In [ ]:
Data = open(backboned_n, "r")

next(Data2, None)  # skip the first line in the input file
Graphtype = nx.Graph()

G_w = nx.read_weighted_edgelist(Data2, delimiter=',', create_using=Graphtype, nodetype=str,)

In [ ]:
# insert at 1, 0 is the script path (or '' in REPL)
sys.path.insert(1, './distance_measure/implementation')

In [ ]:
# what nodes should be in source and target and with what intensity?

#0 is implicitly assumed in the library already. 
#create src dic with all countries = 0
#create trg dic with all countries = 0

#Where is the node intensity defined in this case? Greece=1 is not an edge weight, right?...

# SRC = TRG Intensity since the network is undirected?

# do it once, then create a function that can do this recursively. 
 
# PASS all the nodes that are infected (SI Model).
# ALL the countries that have the virus at that particular time. 

def build_src_trg(df, src_col, trg_col, covid_col)
    for index, row in df.iterrows():
    
    #print(row['c1'], row['c2'])
    

result = {1:[src_1, trg_1]}

src = {"Greece":1} #week i-1 infected.
trg = {"Serbia":1} #week i infected.

#week by week, the distance will decrease. Both should go down to a point that

In [ ]:
ge_dist = nd.ge(src, trg, G_w)
ge_dist