In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

proximity = "./data/0_Golden_Standard/Country_Borders_source_target_V06.tsv"
flights = "./data/0_Golden_Standard/country_flight_country_weighted.tsv"
covid = "./data/0_Golden_Standard/covid_data_01.csv"

In [2]:
pwd

'/home/jan/Code/MasterThesis'

In [3]:
prt = pd.read_csv(proximity,sep='\t')
flt = pd.read_csv(flights,sep='\t')
cov = pd.read_csv(covid,sep=',')

In [4]:
prt = prt.rename(columns={"iso-alpha-3":"iso_code_src", "Country": "src", "Neighbour":"trg"})
prt

             src                         trg iso_code_src  region
0    Afghanistan                       China          AFG    Asia
1    Afghanistan  Iran (Islamic Republic of)          AFG    Asia
2    Afghanistan                    Pakistan          AFG    Asia
3    Afghanistan                  Tajikistan          AFG    Asia
4    Afghanistan                Turkmenistan          AFG    Asia
..           ...                         ...          ...     ...
791       Zambia                    Zimbabwe          ZMB  Africa
792     Zimbabwe                    Botswana          ZWE  Africa
793     Zimbabwe                  Mozambique          ZWE  Africa
794     Zimbabwe                South Africa          ZWE  Africa
795     Zimbabwe                      Zambia          ZWE  Africa

[796 rows x 4 columns]

In [5]:
prt.loc[prt['iso_code_src'] == 'MDA']

                      src      trg iso_code_src  region
465  Moldova, Republic of  Romania          MDA  Europe
466  Moldova, Republic of  Ukraine          MDA  Europe

In [6]:
flt

              src           trg  weighted
0     Afghanistan    Azerbaijan         1
1     Afghanistan         India         7
2     Afghanistan          Iran         5
3     Afghanistan        Kuwait         1
4     Afghanistan      Pakistan         4
...           ...           ...       ...
4553     Zimbabwe        Malawi         1
4554     Zimbabwe       Namibia         2
4555     Zimbabwe  South Africa         9
4556     Zimbabwe      Tanzania         1
4557     Zimbabwe        Zambia        11

[4558 rows x 3 columns]

In [7]:
cov

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
0,AFG,Asia,Afghanistan,2019-12-31,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
1,AFG,Asia,Afghanistan,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
2,AFG,Asia,Afghanistan,2020-01-02,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
3,AFG,Asia,Afghanistan,2020-01-03,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
4,AFG,Asia,Afghanistan,2020-01-04,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30859,NaN,NaN,International,2020-02-28,705.0,0.0,4.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30860,NaN,NaN,International,2020-02-29,705.0,0.0,6.0,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30861,NaN,NaN,International,2020-03-01,705.0,0.0,6.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30862,NaN,NaN,International,2020-03-02,705.0,0.0,6.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30863,NaN,NaN,International,2020-03-10,696.0,-9.0,7.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#drop irrelevant columns
cov = cov.drop(["new_cases", 
                "total_deaths",
                "new_deaths",
                "new_cases_per_million",
                "total_deaths_per_million",
                "new_deaths_per_million",
                "total_tests",
                "new_tests",
                "total_tests_per_thousand",
                "new_tests_per_thousand",
                "new_tests_smoothed",
                "new_tests_smoothed_per_thousand",
                "tests_units",
                "extreme_poverty",
                "cvd_death_rate",
                "population"], axis=1)

#set 999 days date for countries in which CoVid did not hit
#cov[['date']] = cov[['date']].fillna(pd.to_datetime("2022-10-13", format='%Y-%m-%d'))

#Removing non-country related values

cov = cov[cov.location != "International"]
cov = cov[cov.iso_code.map(len) <= 3]
cov = cov[cov.total_cases > 100]
cov = cov[cov.total_cases <= 500]
cov=cov.drop_duplicates(subset=['location'],keep="first")

#drop potentially useful columns
cov = cov.drop(["location",
                "population_density", 
                "median_age",
                "aged_65_older",
                "aged_70_older",
                "gdp_per_capita",
                "female_smokers",
                "male_smokers",
                "handwashing_facilities",
                "hospital_beds_per_thousand",
                "life_expectancy",
                "diabetes_prevalence"], axis=1)

#building target variable
cov[['date']] = cov['date'].fillna("2020-12-30")
cov['total_cases'] = cov['total_cases'].fillna("0")
cov = cov.rename(columns={"stringency_index": "days_since_100_cases_in_China_2019"})

cov['date'] = pd.to_datetime(cov['date'], format='%Y-%m-%d')


cov['date']

79      2020-03-29
206     2020-03-25
397     2020-03-21
525     2020-03-23
723     2020-06-11
           ...
30061   2020-03-23
30241   2020-06-28
30297   2020-05-16
30403   2020-05-01
30549   2020-05-28
Name: date, Length: 180, dtype: datetime64[ns]

In [9]:
date1 = "2020-01-19"
date_obj= pd.to_datetime("2020-01-18", format='%Y-%m-%d')

cov["days_since_100_cases_in_China_2019"] = cov.apply(lambda row: row.date - date_obj, axis=1)

#dropping date, total_cases and total_cases_per_m and continent
cov_u = cov.drop(["date",
                "total_cases", 
                "total_cases_per_million",
                "continent"], axis=1)

cov_u = cov_u.rename(columns={"days_since_100_cases_in_China_2019" : "days_to_first_100_cases"})
cov_u

      iso_code days_to_first_100_cases
79         AFG                 71 days
206        ALB                 67 days
397        DZA                 63 days
525        AND                 65 days
723        AGO                145 days
...        ...                     ...
30061      VNM                 65 days
30241      ESH                162 days
30297      YEM                119 days
30403      ZMB                104 days
30549      ZWE                131 days

[180 rows x 2 columns]

In [10]:
cov_u.sort_values(by ='days_to_first_100_cases')[0:20]

      iso_code days_to_first_100_cases
5923       CHN                  1 days
25639      KOR                 34 days
14580      JPN                 35 days
14255      ITA                 37 days
13343      IRN                 40 days
10740      DEU                 43 days
24783      SGP                 43 days
25952      ESP                 44 days
9975       FRA                 44 days
29228      USA                 45 days
2871       BEL                 47 days
29031      GBR                 48 days
26918      CHE                 49 days
26718      SWE                 49 days
20947      NOR                 49 days
19892      NLD                 49 days
1703       AUT                 51 days
2218       BHR                 52 days
7664       DNK                 52 days
17440      MYS                 52 days

In [11]:
set_iso = set(prt['src'])
set_fl = set(flt['src'])

In [12]:
def to_be_changed(t1,t2):
    to_add = [i for i in t2 if i not in t1]
    to_review = [i for i in t1 if i not in t2]
    return sorted(to_add), sorted(to_review)

In [13]:
# Common Replacements to set ISO 3166 standard
rep = {'British Virgin Islands': 'Virgin Islands (British)',
  'Burma': 'Myanmar',
  'Cape Verde' : 'Cabo Verde',
  'Congo (Brazzaville)': 'Congo',
  'Congo (Kinshasa)': 'Congo, Democratic Republic of the',
  "Cote d'Ivoire": "Côte d'Ivoire",
  'Czech Republic': "Czechia",
  'Falkland Islands':"Falkland Islands (Malvinas)",
  'Iran':"Iran (Islamic Republic of)",
  'Laos':"Lao People's Democratic Republic",
  'Macau': 'Macao',
  'Macedonia': 'North Macedonia',
  'Micronesia': "Micronesia (Federated States of)",
  'Moldova': "Moldova, Republic of",
  'North Korea':"Korea (Democratic People's Republic of)",
  'Reunion': "Réunion",
  'Russia':"Russian Federation",
  'South Korea':"Korea, Republic of",
  'Tanzania':"Tanzania, United Republic of",
  'United Kingdom':"United Kingdom of Great Britain and Northern Ireland",
  'United States':"United States of America",
  'Venezuela':"Venezuela (Bolivarian Republic of)",
  'Vietnam':"Viet Nam",
  'Virgin Islands':"Virgin Islands (British)"}

# Given a dataframes and a replacement list, it searches for the source and target country names in the database 
# and updates its naming with they values from the dict

def common_rep(dfo, dfr):
    for key, value in dfr.items():
        dfo.loc[dfo['src'] == key, 'src'] = value
        dfo.loc[dfo['trg'] == key, 'trg'] = value
    return dfo

flt = common_rep(flt, rep)
to_be_changed(set(prt['src']).union(set(prt['trg'])), set(flt['src']).union(set(flt['trg'])))

([],
 ['Andorra',
  'Antarctica',
  'Antartica',
  'Bonaire, Sint Eustatius and Saba',
  'Bouvet Island',
  'British Indian Ocean Territory',
  'Curaçao',
  'Eswatini',
  'French Southern Territories',
  'Heard Island and McDonald Islands',
  'Holy See',
  'Kosovo',
  'Liechtenstein',
  'Monaco',
  'Montserrat',
  'Palestine, State of',
  'Pitcairn',
  'Saint Barthélemy',
  'Saint Helena, Ascension and Tristan da Cunha',
  'Saint Martin (French part)',
  'San Marino',
  'Sint Maarten (Dutch part)',
  'South Georgia and the South Sandwich Islands',
  'Svalbard and Jan Mayen',
  'Syrian Arab Republic',
  'Timor-Leste',
  'Tokelau',
  'United States Minor Outlying Islands',
  'Virgin Islands (U.S.)',
  'Åland Islands'])

In [14]:
#verifying flt integrity
flt

              src                           trg  weighted
0     Afghanistan                    Azerbaijan         1
1     Afghanistan                         India         7
2     Afghanistan    Iran (Islamic Republic of)         5
3     Afghanistan                        Kuwait         1
4     Afghanistan                      Pakistan         4
...           ...                           ...       ...
4553     Zimbabwe                        Malawi         1
4554     Zimbabwe                       Namibia         2
4555     Zimbabwe                  South Africa         9
4556     Zimbabwe  Tanzania, United Republic of         1
4557     Zimbabwe                        Zambia        11

[4558 rows x 3 columns]

In [15]:
import pandas as pd
from sklearn import preprocessing

# creating log_weighted flights
flt["log-weight"] = np.log(flt["weighted"])

#creating normalized log-weighted flights column

x = flt[["log-weight"]].values.astype(float) #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
flt['norm-log-weight'] = pd.DataFrame(x_scaled)
flt

,src,trg,weighted,log-weight,norm-log-weight
0,Afghanistan,Azerbaijan,1,0.000000,0.000000
1,Afghanistan,India,7,1.945910,0.311347
2,Afghanistan,Iran (Islamic Republic of),5,1.609438,0.257511
3,Afghanistan,Kuwait,1,0.000000,0.000000
4,Afghanistan,Pakistan,4,1.386294,0.221808
...,...,...,...,...,...
4553,Zimbabwe,Malawi,1,0.000000,0.000000
4554,Zimbabwe,Namibia,2,0.693147,0.110904
4555,Zimbabwe,South Africa,9,2.197225,0.351557
4556,Zimbabwe,"Tanzania, United Republic of",1,0.000000,0.000000
4557,Zimbabwe,Zambia,11,2.397895,0.383665

In [16]:
#Countries with no flights:
no_fly = ['Andorra',
  'Antarctica',
  'Bonaire, Sint Eustatius and Saba',
  'Bouvet Island',
  'British Indian Ocean Territory',
  'Curaçao',
  'Eswatini',
  'French Southern Territories',
  'Heard Island and McDonald Islands',
  'Holy See',
  'Kosovo',
  'Liechtenstein',
  'Monaco',
  'Montserrat',
  'Netherlands Antilles',
  'Palestine, State of',
  'Pitcairn',
  'Saint Barthélemy',
  'Saint Helena, Ascension and Tristan da Cunha',
  'Saint Martin (French part)',
  'San Marino',
  'Sint Maarten (Dutch part)',
  'South Georgia and the South Sandwich Islands',
  'Svalbard and Jan Mayen',
  'Syrian Arab Republic',
  'Timor-Leste',
  'Tokelau',
  'United States Minor Outlying Islands',
  'Virgin Islands (U.S.)',
  'Åland Islands']

def no_air(no_flights, df):
    for e in no_flights:
        indexNames1 = df[df['src'] == e ].index
        indexNames2 = df[df['trg'] == e ].index
        df.drop(indexNames1 , inplace=True)
        df.drop(indexNames2 , inplace=True)
    return df

prt = no_air(no_fly, prt)
to_be_changed(set(prt['src']).union(set(prt['trg'])), set(flt['src']).union(set(flt['trg'])))

(['Netherlands Antilles'], [])

In [17]:
# verifying prt integrity
prt

             src                         trg iso_code_src  region
0    Afghanistan                       China          AFG    Asia
1    Afghanistan  Iran (Islamic Republic of)          AFG    Asia
2    Afghanistan                    Pakistan          AFG    Asia
3    Afghanistan                  Tajikistan          AFG    Asia
4    Afghanistan                Turkmenistan          AFG    Asia
..           ...                         ...          ...     ...
791       Zambia                    Zimbabwe          ZMB  Africa
792     Zimbabwe                    Botswana          ZWE  Africa
793     Zimbabwe                  Mozambique          ZWE  Africa
794     Zimbabwe                South Africa          ZWE  Africa
795     Zimbabwe                      Zambia          ZWE  Africa

[722 rows x 4 columns]

# ISO NAMING

In [18]:
# Creating a dict of ISOs [keys] and src [values]

def create_dicts_from_df(df, col1, col2):
    d = {}
    i_d = {}
    for index, row in df.iterrows():
        if row[col1] in d:
            #key already in dict 1"
            pass
        
        if row[col2] in i_d:
            #key already in dict 2"
            pass
        
        else:
            d[row[col1]] = row[col2]
            i_d[row[col2]] = row[col1]
    
    return d, i_d

di_src, swapped_d = create_dicts_from_df(prt, "iso_code_src", "src")

In [19]:
# Manually adding NaN ISO Codes
di_src.update({"WSM":'Samoa',"KNA":'Saint Kitts and Nevis', "ANT": "Netherlands Antilles"}, ignore_index=True)
swapped_d.update({"Samoa":'WSM','Saint Kitts and Nevis':"KNA", "Netherlands Antilles": "ANT"}, ignore_index=True)

In [20]:
#Filling ISO_CODES_TRG from trg and a dict


def replace_df_values_w_dic(df, col1, col2, i_d):
    #new_df = df.copy(deep=True)
    nan_dict = {}    
    for index, row in df.iterrows():

        if row[col1] in i_d:
            #at method avoids running into problems when modifying the df and iterrows https://stackoverflow.com/questions/13842088/set-value-for-particular-cell-in-pandas-dataframe-using-index
            df.at[index,col2] = i_d[row[col1]]
        else:
            #print("NaN Alert with {}".format(df[col2][index]))
            if df[col2][index] in nan_dict:
                pass
            else:
                nan_dict[df[col2][index]] = "?"
            df.at[index,col2] = np.nan
    if nan_dict != {}:
        print("NaN Alert")
    return df, nan_dict

#careful as the value call is inverse in this function
prt, nan_d = replace_df_values_w_dic(prt, "src", "iso_code_src", swapped_d)
prt, nan_d = replace_df_values_w_dic(prt, "trg", "iso_code_trg", swapped_d)

In [21]:
#verifying that there are non nan's. 

nan_df = prt[prt.isna().any(axis=1)]
nan_df

Empty DataFrame
Columns: [src, trg, iso_code_src, region, iso_code_trg]
Index: []

In [22]:
if 'Unnamed: 0' in prt.columns:
    prt = prt.drop(["Unnamed: 0"],axis=1)
prt

             src                         trg iso_code_src  region iso_code_trg
0    Afghanistan                       China          AFG    Asia          CHN
1    Afghanistan  Iran (Islamic Republic of)          AFG    Asia          IRN
2    Afghanistan                    Pakistan          AFG    Asia          PAK
3    Afghanistan                  Tajikistan          AFG    Asia          TJK
4    Afghanistan                Turkmenistan          AFG    Asia          TKM
..           ...                         ...          ...     ...          ...
791       Zambia                    Zimbabwe          ZMB  Africa          ZWE
792     Zimbabwe                    Botswana          ZWE  Africa          BWA
793     Zimbabwe                  Mozambique          ZWE  Africa          MOZ
794     Zimbabwe                South Africa          ZWE  Africa          ZAF
795     Zimbabwe                      Zambia          ZWE  Africa          ZMB

[722 rows x 5 columns]

In [23]:
flt

,src,trg,weighted,log-weight,norm-log-weight
0,Afghanistan,Azerbaijan,1,0.000000,0.000000
1,Afghanistan,India,7,1.945910,0.311347
2,Afghanistan,Iran (Islamic Republic of),5,1.609438,0.257511
3,Afghanistan,Kuwait,1,0.000000,0.000000
4,Afghanistan,Pakistan,4,1.386294,0.221808
...,...,...,...,...,...
4553,Zimbabwe,Malawi,1,0.000000,0.000000
4554,Zimbabwe,Namibia,2,0.693147,0.110904
4555,Zimbabwe,South Africa,9,2.197225,0.351557
4556,Zimbabwe,"Tanzania, United Republic of",1,0.000000,0.000000
4557,Zimbabwe,Zambia,11,2.397895,0.383665

In [24]:
prt.loc[prt['trg'] == 'Netherlands Antilles']

Empty DataFrame
Columns: [src, trg, iso_code_src, region, iso_code_trg]
Index: []

In [39]:
#ISO Naming

#we drop target to avoid conflict on merge, only interested on src and iso code's to join with flt_u
prt_src_named = prt.drop(["trg", "iso_code_trg"], axis=1)
prt_trg_named = prt.drop(["src", "iso_code_src", "region"], axis=1)

def iso_fill(df1,df2,where):
    df3=pd.merge(df1,df2, on=where, how="outer")
    return df3

In [40]:
#updating flights DB
flt_u = iso_fill(flt,prt_src_named,["src"])
flt_u = flt_u.drop_duplicates(subset=['src', 'trg'],keep="first")
flt_u = iso_fill(flt_u,prt_trg_named,["trg"])
flt_u = flt_u.drop_duplicates(subset=['src', 'trg'],keep="first")

#filling iso_codes by src / trg names
flt_u, nan_d1 = replace_df_values_w_dic(flt_u, "src", "iso_code_src", swapped_d)
flt_u, nan_d2 = replace_df_values_w_dic(flt_u, "trg", "iso_code_trg", swapped_d)
flt_u

NaN Alert

,src,trg,weighted,log-weight,norm-log-weight,iso_code_src,region,iso_code_trg
0,Afghanistan,Azerbaijan,1.0,0.000000,0.000000,AFG,Asia,AZE
5,Austria,Azerbaijan,2.0,0.693147,0.110904,AUT,Europe,AZE
10,Belarus,Azerbaijan,1.0,0.000000,0.000000,BLR,Europe,AZE
15,China,Azerbaijan,2.0,0.693147,0.110904,CHN,Asia,AZE
20,Czechia,Azerbaijan,2.0,0.693147,0.110904,CZE,Europe,AZE
...,...,...,...,...,...,...,...,...
19664,South Africa,Lesotho,1.0,0.000000,0.000000,ZAF,Africa,LSO
19665,South Africa,Swaziland,1.0,0.000000,0.000000,ZAF,Africa,SWZ
19667,United Kingdom of Great Britain and Northern I...,Gibraltar,6.0,1.791759,0.286683,GBR,Europe,GIB
19668,United States of America,American Samoa,1.0,0.000000,0.000000,USA,Americas,ASM
19669,NaN,Niue,NaN,NaN,NaN,NaN,NaN,NIU

In [41]:
#verifying that there are non nan's. 

flt_nan_df = flt_u[flt_u.isna().any(axis=1)]
flt_nan_df

,src,trg,weighted,log-weight,norm-log-weight,iso_code_src,region,iso_code_trg
2773,Netherlands Antilles,Germany,1.0,0.000000,0.000000,ANT,NaN,DEU
4648,Netherlands Antilles,Canada,1.0,0.000000,0.000000,ANT,NaN,CAN
6552,Netherlands Antilles,France,7.0,1.945910,0.311347,ANT,NaN,FRA
10018,Netherlands Antilles,United States of America,23.0,3.135494,0.501681,ANT,NaN,USA
10102,Saint Kitts and Nevis,United States of America,2.0,0.693147,0.110904,KNA,NaN,USA
10114,Samoa,United States of America,1.0,0.000000,0.000000,WSM,NaN,USA
11461,Netherlands Antilles,Netherlands,4.0,1.386294,0.221808,ANT,NaN,NLD
11840,Netherlands Antilles,Antigua and Barbuda,1.0,0.000000,0.000000,ANT,NaN,ATG
11844,Saint Kitts and Nevis,Antigua and Barbuda,4.0,1.386294,0.221808,KNA,NaN,ATG
11871,Saint Kitts and Nevis,Netherlands Antilles,3.0,1.098612,0.175779,KNA,NaN,ANT
11898,Netherlands Antilles,Puerto Rico,3.0,1.098612,0.175779,ANT,NaN,PRI
11902,Saint Kitts and Nevis,Puerto Rico,4.0,1.386294,0.221808,KNA,NaN,PRI
11914,Netherlands Antilles,Virgin Islands (British),4.0,1.386294,0.221808,ANT,NaN,VGB
11916,Saint Kitts and Nevis,Virgin Islands (British),1.0,0.000000,0.000000,KNA,NaN,VGB
11920,Netherlands Antilles,Anguilla,2.0,0.693147,0.110904,ANT,NaN,AIA
11938,Netherlands Antilles,Barbados,1.0,0.000000,0.000000,ANT,NaN,BRB
11954,Netherlands Antilles,Dominica,5.0,1.609438,0.257511,ANT,NaN,DMA
11991,Netherlands Antilles,Dominican Republic,6.0,1.791759,0.286683,ANT,NaN,DOM
12020,Netherlands Antilles,Guadeloupe,1.0,0.000000,0.000000,ANT,NaN,GLP
12032,Netherlands Antilles,Jamaica,2.0,0.693147,0.110904,ANT,NaN,JAM
12042,Netherlands Antilles,Saint Kitts and Nevis,3.0,1.098612,0.175779,ANT,NaN,KNA
12053,Netherlands Antilles,Saint Lucia,1.0,0.000000,0.000000,ANT,NaN,LCA
12065,Netherlands Antilles,Trinidad and Tobago,3.0,1.098612,0.175779,ANT,NaN,TTO
12253,Netherlands Antilles,Colombia,2.0,0.693147,0.110904,ANT,NaN,COL
12455,Netherlands Antilles,Panama,2.0,0.693147,0.110904,ANT,NaN,PAN
12687,Netherlands Antilles,Venezuela (Bolivarian Republic of),6.0,1.791759,0.286683,ANT,NaN,VEN
13672,Netherlands Antilles,Suriname,1.0,0.000000,0.000000,ANT,NaN,SUR
13709,Samoa,Fiji,1.0,0.000000,0.000000,WSM,NaN,FJI
14173,Samoa,New Zealand,3.0,1.098612,0.175779,WSM,NaN,NZL
18956,Netherlands Antilles,Aruba,4.0,1.386294,0.221808,ANT,NaN,ABW
18966,Saint Kitts and Nevis,Bahamas,1.0,0.000000,0.000000,KNA,NaN,BHS
19005,Netherlands Antilles,Haiti,1.0,0.000000,0.000000,ANT,NaN,HTI
19669,NaN,Niue,NaN,NaN,NaN,NaN,NaN,NIU

In [42]:
cov_u_trg = cov_u.rename(columns={"iso_code": "iso_code_trg"})
cov_u_trg

      iso_code_trg days_to_first_100_cases
79             AFG                 71 days
206            ALB                 67 days
397            DZA                 63 days
525            AND                 65 days
723            AGO                145 days
...            ...                     ...
30061          VNM                 65 days
30241          ESH                162 days
30297          YEM                119 days
30403          ZMB                104 days
30549          ZWE                131 days

[180 rows x 2 columns]

In [43]:
flt_u = iso_fill(flt_u,cov_u_trg,"iso_code_trg")
flt_u = flt_u.drop_duplicates(subset=['src', 'trg'],keep="first")

#fixing corner cases

flt_u["days_to_first_100_cases"] = flt_u.days_to_first_100_cases.fillna(
    pd.to_datetime("2022-10-13", format='%Y-%m-%d') - pd.to_datetime("2020-01-18", format='%Y-%m-%d'))
flt_u = flt_u.dropna()

In [44]:
# verification
flt_u.isna().values.any()

False

In [45]:
# verification
flt_u.loc[flt_u['src'] == 'Western Sahara']
#flt_u.sort_values(['days_since_100_cases_in_China_2019', 'src'], ascending=[True, False])[-150:]

,src,trg,weighted,log-weight,norm-log-weight,iso_code_src,region,iso_code_trg,days_to_first_100_cases
1277,Western Sahara,Morocco,4.0,1.386294,0.221808,ESH,Africa,MAR,65 days
1596,Western Sahara,Spain,3.0,1.098612,0.175779,ESH,Africa,ESP,44 days

In [35]:
# Do the same with countries_proximity
prt_u = iso_fill(prt,cov_u_trg,"iso_code_trg")
prt_u = prt_u.drop_duplicates(subset=['src', 'trg'],keep="first")

#fixing corner cases

prt_u["days_to_first_100_cases"] = prt_u.days_to_first_100_cases.fillna(
    pd.to_datetime("2022-10-13", format='%Y-%m-%d') - pd.to_datetime("2020-01-18", format='%Y-%m-%d'))
prt_u = prt_u.dropna()

In [36]:
# verification
prt_u.isna().values.any()

False

In [37]:
# verification
#prt_u.isna().values.any()
prt_u.loc[prt_u['iso_code_trg'] == 'MDA']
#prt_u.sort_values(['src', 'days_since_100_cases_in_China_2019'], ascending=[False, True])[-50:]

,src,trg,iso_code_src,region,iso_code_trg,days_to_first_100_cases
526,Romania,"Moldova, Republic of",ROU,Europe,MDA,66 days
676,Ukraine,"Moldova, Republic of",UKR,Europe,MDA,66 days

In [38]:
# id'ing a potential missmatch on countries
to_be_changed(set(prt_u['src']).union(set(prt_u['trg'])), set(flt_u['src']).union(set(flt_u['trg'])))

([],
 ['Cocos (Keeling) Islands',
  'Saint Kitts and Nevis',
  'Samoa',
  'Tuvalu',
  'Wallis and Futuna'])

In [ ]:
found_c = prt_u[prt_u['src'].str.contains('Netherlands Antilles')]
found_c += prt_u[prt_u['trg'].str.contains('Netherlands Antilles')]

print(found_c.count())

In [ ]:
found_c = flt_u[flt_u['src'].str.contains('Netherlands Antilles')]
found_c += flt_u[flt_u['trg'].str.contains('Netherlands Antilles')]

print(found_c.count())

In [ ]:
# FIXING EAST TIMOR ISO CODE ERROR
prt_u.loc[prt_u['iso_code'] == 'TL']
prt_u['iso_code'] = prt_u['iso_code'].replace(['TL'],'TLS')
prt_u

In [ ]:
from datetime import datetime, timedelta

# Converting from timedelta into integer to avoid saving in csv errors
prt_u["days_to_first_100_cases"] = prt_u["days_to_first_100_cases"]/(timedelta (days=1))
flt_u["days_to_first_100_cases"] = flt_u["days_to_first_100_cases"]/(timedelta (days=1))
prt_u

In [ ]:
prt_u["weeks_since_100_cases"] = prt_u["days_to_first_100_cases"].astype(int)//7
flt_u["weeks_since_100_cases"] = flt_u["days_to_first_100_cases"].astype(int)//7
flt_u[flt_u['src']=="Spain"]

In [ ]:
#verifying that only China is patient 0
prt_u[prt_u['weeks_since_100_cases']==0]
flt_u[flt_u['weeks_since_100_cases']==0]

In [ ]:
prt_u.to_csv('./data/0_Golden_Standard/c_proximity_clean_04.csv')
flt_u.to_csv('./data/0_Golden_Standard/c_flights_clean_04.csv')