In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

proximity = "./data/0_Golden_Standard/Country_Borders_source_target_V06.tsv"
flights = "./data/0_Golden_Standard/country_flight_country_weighted.tsv"
covid = "./data/0_Golden_Standard/covid_data_01.csv"

In [2]:
pwd

'/home/jan/Code/MasterThesis'

In [3]:
prt = pd.read_csv(proximity,sep='\t')
flt = pd.read_csv(flights,sep='\t')
cov = pd.read_csv(covid,sep=',')

In [4]:
prt = prt.rename(columns={"iso-alpha-3":"iso_code_src", "Country": "src", "Neighbour":"trg"})
prt

             src                         trg iso_code_src  region
0    Afghanistan                       China          AFG    Asia
1    Afghanistan  Iran (Islamic Republic of)          AFG    Asia
2    Afghanistan                    Pakistan          AFG    Asia
3    Afghanistan                  Tajikistan          AFG    Asia
4    Afghanistan                Turkmenistan          AFG    Asia
..           ...                         ...          ...     ...
791       Zambia                    Zimbabwe          ZMB  Africa
792     Zimbabwe                    Botswana          ZWE  Africa
793     Zimbabwe                  Mozambique          ZWE  Africa
794     Zimbabwe                South Africa          ZWE  Africa
795     Zimbabwe                      Zambia          ZWE  Africa

[796 rows x 4 columns]

In [5]:
prt.loc[prt['iso_code_src'] == 'MDA']

                      src      trg iso_code_src  region
465  Moldova, Republic of  Romania          MDA  Europe
466  Moldova, Republic of  Ukraine          MDA  Europe

In [6]:
flt

              src           trg  weighted
0     Afghanistan    Azerbaijan         1
1     Afghanistan         India         7
2     Afghanistan          Iran         5
3     Afghanistan        Kuwait         1
4     Afghanistan      Pakistan         4
...           ...           ...       ...
4553     Zimbabwe        Malawi         1
4554     Zimbabwe       Namibia         2
4555     Zimbabwe  South Africa         9
4556     Zimbabwe      Tanzania         1
4557     Zimbabwe        Zambia        11

[4558 rows x 3 columns]

In [7]:
cov

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
0,AFG,Asia,Afghanistan,2019-12-31,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
1,AFG,Asia,Afghanistan,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
2,AFG,Asia,Afghanistan,2020-01-02,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
3,AFG,Asia,Afghanistan,2020-01-03,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
4,AFG,Asia,Afghanistan,2020-01-04,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30859,NaN,NaN,International,2020-02-28,705.0,0.0,4.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30860,NaN,NaN,International,2020-02-29,705.0,0.0,6.0,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30861,NaN,NaN,International,2020-03-01,705.0,0.0,6.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30862,NaN,NaN,International,2020-03-02,705.0,0.0,6.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30863,NaN,NaN,International,2020-03-10,696.0,-9.0,7.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#drop irrelevant columns
cov = cov.drop(["new_cases", 
                "total_deaths",
                "new_deaths",
                "new_cases_per_million",
                "total_deaths_per_million",
                "new_deaths_per_million",
                "total_tests",
                "new_tests",
                "total_tests_per_thousand",
                "new_tests_per_thousand",
                "new_tests_smoothed",
                "new_tests_smoothed_per_thousand",
                "tests_units",
                "extreme_poverty",
                "cvd_death_rate",
                "population"], axis=1)

#set 999 days date for countries in which CoVid did not hit
#cov[['date']] = cov[['date']].fillna(pd.to_datetime("2022-10-13", format='%Y-%m-%d'))

#Removing non-country related values

cov = cov[cov.location != "International"]
cov = cov[cov.iso_code.map(len) <= 3]
cov = cov[cov.total_cases > 100]
cov = cov[cov.total_cases <= 500]
cov=cov.drop_duplicates(subset=['location'],keep="first")

#drop potentially useful columns
cov = cov.drop(["location",
                "population_density", 
                "median_age",
                "aged_65_older",
                "aged_70_older",
                "gdp_per_capita",
                "female_smokers",
                "male_smokers",
                "handwashing_facilities",
                "hospital_beds_per_thousand",
                "life_expectancy",
                "diabetes_prevalence"], axis=1)

#building target variable
cov[['date']] = cov['date'].fillna("2020-12-30")
cov['total_cases'] = cov['total_cases'].fillna("0")
cov = cov.rename(columns={"stringency_index": "days_since_100_cases_in_China_2019"})

cov['date'] = pd.to_datetime(cov['date'], format='%Y-%m-%d')


cov['date']

79      2020-03-29
206     2020-03-25
397     2020-03-21
525     2020-03-23
723     2020-06-11
           ...
30061   2020-03-23
30241   2020-06-28
30297   2020-05-16
30403   2020-05-01
30549   2020-05-28
Name: date, Length: 180, dtype: datetime64[ns]

In [9]:
date1 = "2020-01-19"
date_obj= pd.to_datetime("2020-01-18", format='%Y-%m-%d')

cov["days_since_100_cases_in_China_2019"] = cov.apply(lambda row: row.date - date_obj, axis=1)

#dropping date, total_cases and total_cases_per_m and continent
cov_u = cov.drop(["date",
                "total_cases", 
                "total_cases_per_million",
                "continent"], axis=1)

cov_u = cov_u.rename(columns={"days_since_100_cases_in_China_2019" : "days_to_first_100_cases"})
cov_u

      iso_code days_to_first_100_cases
79         AFG                 71 days
206        ALB                 67 days
397        DZA                 63 days
525        AND                 65 days
723        AGO                145 days
...        ...                     ...
30061      VNM                 65 days
30241      ESH                162 days
30297      YEM                119 days
30403      ZMB                104 days
30549      ZWE                131 days

[180 rows x 2 columns]

In [10]:
cov_u.sort_values(by ='days_to_first_100_cases')[0:20]

      iso_code days_to_first_100_cases
5923       CHN                  1 days
25639      KOR                 34 days
14580      JPN                 35 days
14255      ITA                 37 days
13343      IRN                 40 days
10740      DEU                 43 days
24783      SGP                 43 days
25952      ESP                 44 days
9975       FRA                 44 days
29228      USA                 45 days
2871       BEL                 47 days
29031      GBR                 48 days
26918      CHE                 49 days
26718      SWE                 49 days
20947      NOR                 49 days
19892      NLD                 49 days
1703       AUT                 51 days
2218       BHR                 52 days
7664       DNK                 52 days
17440      MYS                 52 days

In [11]:
set_iso = set(prt['src'])
set_fl = set(flt['src'])

In [12]:
def to_be_changed(t1,t2):
    to_add = [i for i in t2 if i not in t1]
    to_review = [i for i in t1 if i not in t2]
    return sorted(to_add), sorted(to_review)

In [13]:
# Common Replacements to set ISO 3166 standard
rep = {'British Virgin Islands': 'Virgin Islands (British)',
  'Burma': 'Myanmar',
  'Cape Verde' : 'Cabo Verde',
  'Congo (Brazzaville)': 'Congo',
  'Congo (Kinshasa)': 'Congo, Democratic Republic of the',
  "Cote d'Ivoire": "CÃ´te d'Ivoire",
  'Czech Republic': "Czechia",
  'Falkland Islands':"Falkland Islands (Malvinas)",
  'Iran':"Iran (Islamic Republic of)",
  'Laos':"Lao People's Democratic Republic",
  'Macau': 'Macao',
  'Macedonia': 'North Macedonia',
  'Micronesia': "Micronesia (Federated States of)",
  'Moldova': "Moldova, Republic of",
  'North Korea':"Korea (Democratic People's Republic of)",
  'Reunion': "RÃ©union",
  'Russia':"Russian Federation",
  'South Korea':"Korea, Republic of",
  'Tanzania':"Tanzania, United Republic of",
  'United Kingdom':"United Kingdom of Great Britain and Northern Ireland",
  'United States':"United States of America",
  'Venezuela':"Venezuela (Bolivarian Republic of)",
  'Vietnam':"Viet Nam",
  'Virgin Islands':"Virgin Islands (British)"}

# Given a dataframes and a replacement list, it searches for the source and target country names in the database 
# and updates its naming with they values from the dict

def common_rep(dfo, dfr):
    for key, value in dfr.items():
        dfo.loc[dfo['src'] == key, 'src'] = value
        dfo.loc[dfo['trg'] == key, 'trg'] = value
    return dfo

flt = common_rep(flt, rep)
to_be_changed(set(prt['src']).union(set(prt['trg'])), set(flt['src']).union(set(flt['trg'])))

([],
 ['Andorra',
  'Antarctica',
  'Antartica',
  'Bonaire, Sint Eustatius and Saba',
  'Bouvet Island',
  'British Indian Ocean Territory',
  'CuraÃ§ao',
  'Eswatini',
  'French Southern Territories',
  'Heard Island and McDonald Islands',
  'Holy See',
  'Kosovo',
  'Liechtenstein',
  'Monaco',
  'Montserrat',
  'Palestine, State of',
  'Pitcairn',
  'Saint BarthÃ©lemy',
  'Saint Helena, Ascension and Tristan da Cunha',
  'Saint Martin (French part)',
  'San Marino',
  'Sint Maarten (Dutch part)',
  'South Georgia and the South Sandwich Islands',
  'Svalbard and Jan Mayen',
  'Syrian Arab Republic',
  'Timor-Leste',
  'Tokelau',
  'United States Minor Outlying Islands',
  'Virgin Islands (U.S.)',
  'Ã…land Islands'])

In [14]:
#verifying flt integrity
flt

              src                           trg  weighted
0     Afghanistan                    Azerbaijan         1
1     Afghanistan                         India         7
2     Afghanistan    Iran (Islamic Republic of)         5
3     Afghanistan                        Kuwait         1
4     Afghanistan                      Pakistan         4
...           ...                           ...       ...
4553     Zimbabwe                        Malawi         1
4554     Zimbabwe                       Namibia         2
4555     Zimbabwe                  South Africa         9
4556     Zimbabwe  Tanzania, United Republic of         1
4557     Zimbabwe                        Zambia        11

[4558 rows x 3 columns]

In [15]:
# REMOVING DUPLICATES

flt.drop_duplicates(keep="first",inplace=True) 
flt

              src                           trg  weighted
0     Afghanistan                    Azerbaijan         1
1     Afghanistan                         India         7
2     Afghanistan    Iran (Islamic Republic of)         5
3     Afghanistan                        Kuwait         1
4     Afghanistan                      Pakistan         4
...           ...                           ...       ...
4553     Zimbabwe                        Malawi         1
4554     Zimbabwe                       Namibia         2
4555     Zimbabwe                  South Africa         9
4556     Zimbabwe  Tanzania, United Republic of         1
4557     Zimbabwe                        Zambia        11

[4556 rows x 3 columns]

In [16]:
# REMOVING BI-DIRECTIONAL LOOPS

def one_source_no_addition(df,s,t,w):
    #df2 = df.copy(deep=True)
    i_protecc = []
    i_to_del = []

    for idx, row in df.iterrows():

        if ((df[t] == row[s]) & (df[s] == row[t])).any():
            #print("Flights from {} to {} = {}".format(row[s], row[t],row[w]))
            
            i_row = df.loc[((df[t] == row[s]) & (df[s] == row[t]))].index[0]
            #print(df2.loc[i_row, w])
            
            #print("Flights from {} to {} = {}".format(df.loc[i_row, s], df.loc[i_row, t], df.loc[i_row, w]))          
            
            new_w = row[w] + df.loc[i_row, w]
            df.at[idx, w] = new_w
            
            i_protecc.append(idx)
            if i_row not in i_protecc:
                i_to_del.append(i_row)
            #print(i_to_del)
            
        else:
            pass
    
    if i_to_del != []:
        df = df.drop(i_to_del)
    return df

In [17]:
flt = one_source_no_addition(flt, "src", "trg", "weighted")
flt

Flights from Afghanistan to Azerbaijan = 1
Flights from Azerbaijan to Afghanistan = 1
Flights from Afghanistan to India = 7
Flights from India to Afghanistan = 7
Flights from Afghanistan to Iran (Islamic Republic of) = 5
Flights from Iran (Islamic Republic of) to Afghanistan = 5
Flights from Afghanistan to Kuwait = 1
Flights from Kuwait to Afghanistan = 1
Flights from Afghanistan to Pakistan = 4
Flights from Pakistan to Afghanistan = 4
Flights from Afghanistan to Turkey = 3
Flights from Turkey to Afghanistan = 2
Flights from Afghanistan to United Arab Emirates = 7
Flights from United Arab Emirates to Afghanistan = 7
Flights from Albania to Austria = 1
Flights from Austria to Albania = 1
Flights from Albania to Germany = 2
Flights from Germany to Albania = 2
Flights from Albania to Greece = 2
Flights from Greece to Albania = 2
Flights from Albania to Italy = 27
Flights from Italy to Albania = 27
Flights from Albania to Slovenia = 1
Flights from Slovenia to Albania = 1
Flights from Albania to Turkey = 2
Flights from Turkey to Albania = 2
Flights from Albania to United Kingdom of Great Britain and Northern Ireland = 1
Flights from United Kingdom of Great Britain and Northern Ireland to Albania = 1
Flights from Algeria to Austria = 1
Flights from Austria to Algeria = 1
Flights from Algeria to Belgium = 1
Flights from Belgium to Algeria = 1
Flights from Algeria to Burkina Faso = 1
Flights from Burkina Faso to Algeria = 1
Flights from Algeria to Canada = 1
Flights from Canada to Algeria = 1
Flights from Algeria to China = 1
Flights from China to Algeria = 1
Flights from Algeria to CÃ´te d'Ivoire = 1
Flights from CÃ´te d'Ivoire to Algeria = 1
Flights from Algeria to Egypt = 2
Flights from Egypt to Algeria = 2
Flights from Algeria to France = 67
Flights from France to Algeria = 67
Flights from Algeria to Germany = 3
Flights from Germany to Algeria = 3
Flights from Algeria to Italy = 4
Flights from Italy to Algeria = 4
Flights from Algeria to Jordan = 2
Flights from Jordan to Algeria = 2
Flights from Algeria to Lebanon = 1
Flights from Lebanon to Algeria = 1
Flights from Algeria to Libya = 2
Flights from Libya to Algeria = 2
Flights from Algeria to Mali = 1
Flights from Mali to Algeria = 1
Flights from Algeria to Malta = 1
Flights from Malta to Algeria = 1
Flights from Algeria to Morocco = 3
Flights from Morocco to Algeria = 3
Flights from Algeria to Niger = 1
Flights from Niger to Algeria = 1
Flights from Algeria to Portugal = 2
Flights from Portugal to Algeria = 2
Flights from Algeria to Qatar = 1
Flights from Qatar to Algeria = 1
Flights from Algeria to Russian Federation = 1
Flights from Russian Federation to Algeria = 1
Flights from Algeria to Saudi Arabia = 2
Flights from Saudi Arabia to Algeria = 2
Flights from Algeria to Senegal = 1
Flights from Senegal to Algeria = 1
Flights from Algeria to Spain = 14
Flights from Spain to Algeria = 14
Flights from Algeria to Switzerland = 1
Flights from Switzerland to Algeria = 1
Flights from Algeria to Tunisia = 3
Flights from Tunisia to Algeria = 3
Flights from Algeria to Turkey = 6
Flights from Turkey to Algeria = 6
Flights from Algeria to United Arab Emirates = 2
Flights from United Arab Emirates to Algeria = 2
Flights from Algeria to United Kingdom of Great Britain and Northern Ireland = 3
Flights from United Kingdom of Great Britain and Northern Ireland to Algeria = 3
Flights from American Samoa to United States of America = 1
Flights from United States of America to American Samoa = 1
Flights from Angola to Brazil = 2
Flights from Brazil to Angola = 2
Flights from Angola to China = 1
Flights from China to Angola = 1
Flights from Angola to Congo = 1
Flights from Congo to Angola = 1
Flights from Angola to Cuba = 1
Flights from Cuba to Angola = 1
Flights from Angola to Ethiopia = 2
Flights from Ethiopia to Angola = 2
Flights from Angola to France = 1
Flights from France to Angola = 1
Flights from Angola to Germany = 1
Flights from Germany to Angola = 1
Flights from Angola to Kenya = 1
Flights from Kenya to Angola = 1
Flights from Angola to Morocco = 1
Flights from Morocco to Angola = 1
Flights from Angola to Mozambique = 1
Flights from Mozambique to Angola = 1
Flights from Angola to Namibia = 3
Flights from Namibia to Angola = 3
Flights from Angola to Netherlands = 1
Flights from Netherlands to Angola = 1
Flights from Angola to Portugal = 3
Flights from Portugal to Angola = 3
Flights from Angola to Sao Tome and Principe = 1
Flights from Sao Tome and Principe to Angola = 1
Flights from Angola to South Africa = 3
Flights from South Africa to Angola = 3
Flights from Angola to Spain = 1
Flights from Spain to Angola = 1
Flights from Angola to United Arab Emirates = 2
Flights from United Arab Emirates to Angola = 2
Flights from Angola to United Kingdom of Great Britain and Northern Ireland = 2
Flights from United Kingdom of Great Britain and Northern Ireland to Angola = 1
Flights from Anguilla to Antigua and Barbuda = 1
Flights from Antigua and Barbuda to Anguilla = 1
Flights from Anguilla to Netherlands Antilles = 2
Flights from Netherlands Antilles to Anguilla = 2
Flights from Anguilla to Puerto Rico = 2
Flights from Puerto Rico to Anguilla = 2
Flights from Anguilla to Virgin Islands (British) = 1
Flights from Virgin Islands (British) to Anguilla = 1
Flights from Antigua and Barbuda to Anguilla = 1
Flights from Anguilla to Antigua and Barbuda = 2
Flights from Antigua and Barbuda to Barbados = 2
Flights from Barbados to Antigua and Barbuda = 2
Flights from Antigua and Barbuda to Canada = 2
Flights from Canada to Antigua and Barbuda = 2
Flights from Antigua and Barbuda to Dominica = 1
Flights from Dominica to Antigua and Barbuda = 1
Flights from Antigua and Barbuda to Dominican Republic = 3
Flights from Dominican Republic to Antigua and Barbuda = 4
Flights from Antigua and Barbuda to France = 2
Flights from France to Antigua and Barbuda = 2
Flights from Antigua and Barbuda to Guadeloupe = 2
Flights from Guadeloupe to Antigua and Barbuda = 2
Flights from Antigua and Barbuda to Jamaica = 1
Flights from Jamaica to Antigua and Barbuda = 1
Flights from Antigua and Barbuda to Netherlands Antilles = 1
Flights from Netherlands Antilles to Antigua and Barbuda = 1
Flights from Antigua and Barbuda to Puerto Rico = 1
Flights from Puerto Rico to Antigua and Barbuda = 1
Flights from Antigua and Barbuda to Saint Kitts and Nevis = 4
Flights from Saint Kitts and Nevis to Antigua and Barbuda = 4
Flights from Antigua and Barbuda to Saint Lucia = 2
Flights from Saint Lucia to Antigua and Barbuda = 2
Flights from Antigua and Barbuda to Trinidad and Tobago = 2
Flights from Trinidad and Tobago to Antigua and Barbuda = 1
Flights from Antigua and Barbuda to United Kingdom of Great Britain and Northern Ireland = 3
Flights from United Kingdom of Great Britain and Northern Ireland to Antigua and Barbuda = 3
Flights from Antigua and Barbuda to United States of America = 7
Flights from United States of America to Antigua and Barbuda = 7
Flights from Argentina to Bolivia = 2
Flights from Bolivia to Argentina = 2
Flights from Argentina to Brazil = 28
Flights from Brazil to Argentina = 29
Flights from Argentina to Chile = 9
Flights from Chile to Argentina = 10
Flights from Argentina to Colombia = 2
Flights from Colombia to Argentina = 2
Flights from Argentina to Cuba = 1
Flights from Cuba to Argentina = 1
Flights from Argentina to Dominican Republic = 1
Flights from Dominican Republic to Argentina = 1
Flights from Argentina to Ecuador = 1
Flights from Ecuador to Argentina = 1
Flights from Argentina to France = 2
Flights from France to Argentina = 2
Flights from Argentina to Germany = 1
Flights from Germany to Argentina = 1
Flights from Argentina to Italy = 2
Flights from Italy to Argentina = 2
Flights from Argentina to Mexico = 2
Flights from Mexico to Argentina = 2
Flights from Argentina to Netherlands = 1
Flights from Netherlands to Argentina = 1
Flights from Argentina to Panama = 2
Flights from Panama to Argentina = 2
Flights from Argentina to Paraguay = 4
Flights from Paraguay to Argentina = 4
Flights from Argentina to Peru = 4
Flights from Peru to Argentina = 4
Flights from Argentina to Spain = 4
Flights from Spain to Argentina = 4
Flights from Argentina to United Kingdom of Great Britain and Northern Ireland = 1
Flights from United Kingdom of Great Britain and Northern Ireland to Argentina = 1
Flights from Argentina to United States of America = 10
Flights from United States of America to Argentina = 10
Flights from Argentina to Uruguay = 9
Flights from Uruguay to Argentina = 9
Flights from Argentina to Venezuela (Bolivarian Republic of) = 2
Flights from Venezuela (Bolivarian Republic of) to Argentina = 2
Flights from Armenia to Austria = 3
Flights from Austria to Armenia = 3
Flights from Armenia to Belarus = 1
Flights from Belarus to Armenia = 1
Flights from Armenia to Czechia = 2
Flights from Czechia to Armenia = 2
Flights from Armenia to France = 3

Flights from France to Armenia = 3
Flights from Armenia to Greece = 1
Flights from Greece to Armenia = 1
Flights from Armenia to Iran (Islamic Republic of) = 1
Flights from Iran (Islamic Republic of) to Armenia = 1
Flights from Armenia to Italy = 1
Flights from Italy to Armenia = 1
Flights from Armenia to Kazakhstan = 1
Flights from Kazakhstan to Armenia = 1
Flights from Armenia to Lebanon = 1
Flights from Lebanon to Armenia = 1
Flights from Armenia to Poland = 1
Flights from Poland to Armenia = 1
Flights from Armenia to Russian Federation = 27
Flights from Russian Federation to Armenia = 27
Flights from Armenia to Ukraine = 2
Flights from Ukraine to Armenia = 2
Flights from Armenia to United Arab Emirates = 2
Flights from United Arab Emirates to Armenia = 2
Flights from Aruba to Canada = 2
Flights from Canada to Aruba = 2
Flights from Aruba to Colombia = 2
Flights from Colombia to Aruba = 2
Flights from Aruba to Dominican Republic = 2
Flights from Dominican Republic to Aruba = 2
Flights from Aruba to Netherlands = 1
Flights from Netherlands to Aruba = 2
Flights from Aruba to Netherlands Antilles = 3
Flights from Netherlands Antilles to Aruba = 4
Flights from Aruba to Panama = 1
Flights from Panama to Aruba = 1
Flights from Aruba to Suriname = 1
Flights from Suriname to Aruba = 1
Flights from Aruba to United States of America = 21
Flights from United States of America to Aruba = 21
Flights from Aruba to Venezuela (Bolivarian Republic of) = 11
Flights from Venezuela (Bolivarian Republic of) to Aruba = 11
Flights from Australia to Brunei = 1
Flights from Brunei to Australia = 1
Flights from Australia to Canada = 1
Flights from Canada to Australia = 1
Flights from Australia to Chile = 2
Flights from Chile to Australia = 2
Flights from Australia to China = 17
Flights from China to Australia = 17
Flights from Australia to Christmas Island = 1
Flights from Christmas Island to Australia = 1
Flights from Australia to Cook Islands = 1
Flights from Cook Islands to Australia = 1
Flights from Australia to East Timor = 2
Flights from East Timor to Australia = 2
Flights from Australia to Fiji = 11
Flights from Fiji to Australia = 11
Flights from Australia to Guam = 1
Flights from Guam to Australia = 1
Flights from Australia to Hong Kong = 16
Flights from Hong Kong to Australia = 15
Flights from Australia to India = 2
Flights from India to Australia = 2
Flights from Australia to Indonesia = 26
Flights from Indonesia to Australia = 26
Flights from Australia to Japan = 15
Flights from Japan to Australia = 15
Flights from Australia to Malaysia = 14
Flights from Malaysia to Australia = 14
Flights from Australia to Mauritius = 1
Flights from Mauritius to Australia = 1
Flights from Australia to Nauru = 1
Flights from Nauru to Australia = 1
Flights from Australia to New Caledonia = 4
Flights from New Caledonia to Australia = 4
Flights from Australia to New Zealand = 77
Flights from New Zealand to Australia = 64
Flights from Australia to Norfolk Island = 2
Flights from Norfolk Island to Australia = 2
Flights from Australia to Papua New Guinea = 9
Flights from Papua New Guinea to Australia = 9
Flights from Australia to Philippines = 4
Flights from Philippines to Australia = 4
Flights from Australia to Qatar = 2
Flights from Qatar to Australia = 2
Flights from Australia to Singapore = 42
Flights from Singapore to Australia = 42
Flights from Australia to Solomon Islands = 2
Flights from Solomon Islands to Australia = 2
Flights from Australia to South Africa = 4
Flights from South Africa to Australia = 4
Flights from Australia to Korea, Republic of = 5
Flights from Korea, Republic of to Australia = 5
Flights from Australia to Taiwan = 3
Flights from Taiwan to Australia = 3
Flights from Australia to Thailand = 14
Flights from Thailand to Australia = 14
Flights from Australia to Tonga = 1
Flights from Tonga to Australia = 1
Flights from Australia to United Arab Emirates = 16
Flights from United Arab Emirates to Australia = 16
Flights from Australia to United States of America = 26
Flights from United States of America to Australia = 26
Flights from Australia to Vanuatu = 7
Flights from Vanuatu to Australia = 7
Flights from Australia to Viet Nam = 4
Flights from Viet Nam to Australia = 4
Flights from Austria to Albania = 1
Flights from Albania to Austria = 2
Flights from Austria to Algeria = 1
Flights from Algeria to Austria = 2
Flights from Austria to Armenia = 3
Flights from Armenia to Austria = 6
Flights from Austria to Azerbaijan = 2
Flights from Azerbaijan to Austria = 2
Flights from Austria to Belarus = 2
Flights from Belarus to Austria = 2
Flights from Austria to Belgium = 2
Flights from Belgium to Austria = 2
Flights from Austria to Bosnia and Herzegovina = 1
Flights from Bosnia and Herzegovina to Austria = 1
Flights from Austria to Bulgaria = 3
Flights from Bulgaria to Austria = 3
Flights from Austria to Canada = 3
Flights from Canada to Austria = 3
Flights from Austria to China = 2
Flights from China to Austria = 2
Flights from Austria to Croatia = 6
Flights from Croatia to Austria = 6
Flights from Austria to Cyprus = 3
Flights from Cyprus to Austria = 3
Flights from Austria to Czechia = 1
Flights from Czechia to Austria = 1
Flights from Austria to Denmark = 5
Flights from Denmark to Austria = 5
Flights from Austria to Egypt = 6
Flights from Egypt to Austria = 6
Flights from Austria to Finland = 2
Flights from Finland to Austria = 2
Flights from Austria to France = 13
Flights from France to Austria = 13
Flights from Austria to Georgia = 2
Flights from Georgia to Austria = 2
Flights from Austria to Germany = 67
Flights from Germany to Austria = 67
Flights from Austria to Greece = 36
Flights from Greece to Austria = 36
Flights from Austria to Hungary = 1
Flights from Hungary to Austria = 1
Flights from Austria to India = 2
Flights from India to Austria = 2
Flights from Austria to Iran (Islamic Republic of) = 2
Flights from Iran (Islamic Republic of) to Austria = 2
Flights from Austria to Iraq = 1
Flights from Iraq to Austria = 1
Flights from Austria to Ireland = 1
Flights from Ireland to Austria = 1
Flights from Austria to Israel = 3
Flights from Israel to Austria = 3
Flights from Austria to Italy = 28
Flights from Italy to Austria = 28
Flights from Austria to Japan = 2
Flights from Japan to Austria = 2
Flights from Austria to Jordan = 3
Flights from Jordan to Austria = 3
Flights from Austria to Kazakhstan = 2
Flights from Kazakhstan to Austria = 2
Flights from Austria to Latvia = 2
Flights from Latvia to Austria = 2
Flights from Austria to Lithuania = 1
Flights from Lithuania to Austria = 1
Flights from Austria to Luxembourg = 2
Flights from Luxembourg to Austria = 2
Flights from Austria to North Macedonia = 1
Flights from North Macedonia to Austria = 1
Flights from Austria to Malta = 4
Flights from Malta to Austria = 4
Flights from Austria to Moldova, Republic of = 1
Flights from Moldova, Republic of to Austria = 1
Flights from Austria to Montenegro = 2
Flights from Montenegro to Austria = 2
Flights from Austria to Netherlands = 5
Flights from Netherlands to Austria = 5
Flights from Austria to Norway = 2
Flights from Norway to Austria = 2
Flights from Austria to Poland = 4
Flights from Poland to Austria = 4
Flights from Austria to Portugal = 6
Flights from Portugal to Austria = 6
Flights from Austria to Qatar = 1
Flights from Qatar to Austria = 1
Flights from Austria to Romania = 8
Flights from Romania to Austria = 8
Flights from Austria to Russian Federation = 13
Flights from Russian Federation to Austria = 13
Flights from Austria to Serbia = 3
Flights from Serbia to Austria = 3
Flights from Austria to Slovakia = 1
Flights from Slovakia to Austria = 1
Flights from Austria to Slovenia = 2
Flights from Slovenia to Austria = 2
Flights from Austria to Spain = 40
Flights from Spain to Austria = 40
Flights from Austria to Sweden = 4
Flights from Sweden to Austria = 4
Flights from Austria to Switzerland = 12
Flights from Switzerland to Austria = 11
Flights from Austria to Taiwan = 1
Flights from Taiwan to Austria = 1
Flights from Austria to Thailand = 3
Flights from Thailand to Austria = 3
Flights from Austria to Tunisia = 1
Flights from Tunisia to Austria = 1
Flights from Austria to Turkey = 19
Flights from Turkey to Austria = 19
Flights from Austria to Ukraine = 10
Flights from Ukraine to Austria = 10
Flights from Austria to United Arab Emirates = 2
Flights from United Arab Emirates to Austria = 2
Flights from Austria to United Kingdom of Great Britain and Northern Ireland = 11
Flights from United Kingdom of Great Britain and Northern Ireland to Austria = 11
Flights from Austria to United States of America = 6
Flights from United States of America to Austria = 6
Flights from Azerbaijan to Afghanistan = 1

Flights from Afghanistan to Azerbaijan = 2
Flights from Azerbaijan to Austria = 2
Flights from Austria to Azerbaijan = 4
Flights from Azerbaijan to Belarus = 1
Flights from Belarus to Azerbaijan = 1
Flights from Azerbaijan to China = 2
Flights from China to Azerbaijan = 2
Flights from Azerbaijan to Czechia = 2
Flights from Czechia to Azerbaijan = 2
Flights from Azerbaijan to France = 2
Flights from France to Azerbaijan = 2
Flights from Azerbaijan to Georgia = 2
Flights from Georgia to Azerbaijan = 2
Flights from Azerbaijan to Germany = 3
Flights from Germany to Azerbaijan = 3
Flights from Azerbaijan to Hungary = 1
Flights from Hungary to Azerbaijan = 1
Flights from Azerbaijan to Iran (Islamic Republic of) = 3
Flights from Iran (Islamic Republic of) to Azerbaijan = 3
Flights from Azerbaijan to Israel = 1
Flights from Israel to Azerbaijan = 1
Flights from Azerbaijan to Italy = 4
Flights from Italy to Azerbaijan = 4
Flights from Azerbaijan to Kazakhstan = 4
Flights from Kazakhstan to Azerbaijan = 4
Flights from Azerbaijan to Latvia = 2
Flights from Latvia to Azerbaijan = 2
Flights from Azerbaijan to Qatar = 2
Flights from Qatar to Azerbaijan = 2
Flights from Azerbaijan to Russian Federation = 21
Flights from Russian Federation to Azerbaijan = 21
Flights from Azerbaijan to Turkey = 6
Flights from Turkey to Azerbaijan = 7
Flights from Azerbaijan to Turkmenistan = 2
Flights from Turkmenistan to Azerbaijan = 2
Flights from Azerbaijan to Ukraine = 3
Flights from Ukraine to Azerbaijan = 3
Flights from Azerbaijan to United Arab Emirates = 2
Flights from United Arab Emirates to Azerbaijan = 2
Flights from Azerbaijan to United Kingdom of Great Britain and Northern Ireland = 2
Flights from United Kingdom of Great Britain and Northern Ireland to Azerbaijan = 2
Flights from Azerbaijan to Uzbekistan = 1
Flights from Uzbekistan to Azerbaijan = 1
Flights from Bahamas to Canada = 3
Flights from Canada to Bahamas = 4
Flights from Bahamas to Cayman Islands = 1
Flights from Cayman Islands to Bahamas = 1
Flights from Bahamas to Cuba = 2
Flights from Cuba to Bahamas = 2
Flights from Bahamas to Jamaica = 1
Flights from Jamaica to Bahamas = 1
Flights from Bahamas to Panama = 1
Flights from Panama to Bahamas = 1
Flights from Bahamas to Turks and Caicos Islands = 4
Flights from Turks and Caicos Islands to Bahamas = 3
Flights from Bahamas to United Kingdom of Great Britain and Northern Ireland = 1
Flights from United Kingdom of Great Britain and Northern Ireland to Bahamas = 1
Flights from Bahamas to United States of America = 72
Flights from United States of America to Bahamas = 72
Flights from Bahrain to Cyprus = 1
Flights from Cyprus to Bahrain = 1
Flights from Bahrain to Egypt = 2
Flights from Egypt to Bahrain = 2
Flights from Bahrain to Ethiopia = 1
Flights from Ethiopia to Bahrain = 1
Flights from Bahrain to France = 1
Flights from France to Bahrain = 1
Flights from Bahrain to Germany = 1
Flights from Germany to Bahrain = 1
Flights from Bahrain to India = 7
Flights from India to Bahrain = 8
Flights from Bahrain to Iran (Islamic Republic of) = 3
Flights from Iran (Islamic Republic of) to Bahrain = 3
Flights from Bahrain to Iraq = 2
Flights from Iraq to Bahrain = 2
Flights from Bahrain to Jordan = 2
Flights from Jordan to Bahrain = 2
Flights from Bahrain to Kuwait = 4
Flights from Kuwait to Bahrain = 4
Flights from Bahrain to Lebanon = 1
Flights from Lebanon to Bahrain = 1
Flights from Bahrain to Oman = 3
Flights from Oman to Bahrain = 3
Flights from Bahrain to Pakistan = 6
Flights from Pakistan to Bahrain = 6
Flights from Bahrain to Philippines = 2
Flights from Philippines to Bahrain = 2
Flights from Bahrain to Qatar = 10
Flights from Qatar to Bahrain = 12
Flights from Bahrain to Saudi Arabia = 8
Flights from Saudi Arabia to Bahrain = 8
Flights from Bahrain to Sri Lanka = 2
Flights from Sri Lanka to Bahrain = 2
Flights from Bahrain to Sudan = 1
Flights from Sudan to Bahrain = 1
Flights from Bahrain to Thailand = 3
Flights from Thailand to Bahrain = 3
Flights from Bahrain to Turkey = 2
Flights from Turkey to Bahrain = 2
Flights from Bahrain to United Arab Emirates = 16
Flights from United Arab Emirates to Bahrain = 15
Flights from Bahrain to United Kingdom of Great Britain and Northern Ireland = 4
Flights from United Kingdom of Great Britain and Northern Ireland to Bahrain = 4
Flights from Bahrain to Yemen = 2
Flights from Yemen to Bahrain = 2
Flights from Bangladesh to Bhutan = 1
Flights from Bhutan to Bangladesh = 1
Flights from Bangladesh to Myanmar = 1
Flights from Myanmar to Bangladesh = 1
Flights from Bangladesh to China = 2
Flights from China to Bangladesh = 2
Flights from Bangladesh to Hong Kong = 3
Flights from Hong Kong to Bangladesh = 3
Flights from Bangladesh to India = 12
Flights from India to Bangladesh = 12
Flights from Bangladesh to Italy = 1
Flights from Italy to Bangladesh = 1
Flights from Bangladesh to Kuwait = 2
Flights from Kuwait to Bangladesh = 3
Flights from Bangladesh to Malaysia = 6
Flights from Malaysia to Bangladesh = 6
Flights from Bangladesh to Nepal = 4
Flights from Nepal to Bangladesh = 4
Flights from Bangladesh to Oman = 5
Flights from Oman to Bangladesh = 4
Flights from Bangladesh to Pakistan = 1
Flights from Pakistan to Bangladesh = 1
Flights from Bangladesh to Qatar = 2
Flights from Qatar to Bangladesh = 1
Flights from Bangladesh to Saudi Arabia = 7
Flights from Saudi Arabia to Bangladesh = 7
Flights from Bangladesh to Singapore = 4
Flights from Singapore to Bangladesh = 4
Flights from Bangladesh to Sri Lanka = 2
Flights from Sri Lanka to Bangladesh = 2
Flights from Bangladesh to Thailand = 7
Flights from Thailand to Bangladesh = 7
Flights from Bangladesh to Turkey = 1
Flights from Turkey to Bangladesh = 1
Flights from Bangladesh to United Arab Emirates = 9
Flights from United Arab Emirates to Bangladesh = 10
Flights from Bangladesh to United Kingdom of Great Britain and Northern Ireland = 1
Flights from United Kingdom of Great Britain and Northern Ireland to Bangladesh = 2
Flights from Barbados to Antigua and Barbuda = 2
Flights from Antigua and Barbuda to Barbados = 4
Flights from Barbados to Brazil = 1
Flights from Brazil to Barbados = 1
Flights from Barbados to Canada = 2
Flights from Canada to Barbados = 2
Flights from Barbados to Dominica = 1
Flights from Dominica to Barbados = 1
Flights from Barbados to Grenada = 1
Flights from Grenada to Barbados = 1
Flights from Barbados to Guyana = 1
Flights from Guyana to Barbados = 1
Flights from Barbados to Jamaica = 1
Flights from Jamaica to Barbados = 1
Flights from Barbados to Martinique = 1
Flights from Martinique to Barbados = 1
Flights from Barbados to Netherlands Antilles = 1
Flights from Netherlands Antilles to Barbados = 1
Flights from Barbados to Saint Lucia = 1
Flights from Saint Lucia to Barbados = 2
Flights from Barbados to Saint Vincent and the Grenadines = 1
Flights from Saint Vincent and the Grenadines to Barbados = 1
Flights from Barbados to Trinidad and Tobago = 1
Flights from Trinidad and Tobago to Barbados = 2
Flights from Barbados to United Kingdom of Great Britain and Northern Ireland = 5
Flights from United Kingdom of Great Britain and Northern Ireland to Barbados = 4
Flights from Barbados to United States of America = 3
Flights from United States of America to Barbados = 3
Flights from Belarus to Armenia = 1
Flights from Armenia to Belarus = 2
Flights from Belarus to Austria = 2
Flights from Austria to Belarus = 4
Flights from Belarus to Azerbaijan = 1
Flights from Azerbaijan to Belarus = 2
Flights from Belarus to Cyprus = 1
Flights from Cyprus to Belarus = 1
Flights from Belarus to Czechia = 2
Flights from Czechia to Belarus = 2
Flights from Belarus to Finland = 2
Flights from Finland to Belarus = 2
Flights from Belarus to France = 2
Flights from France to Belarus = 2
Flights from Belarus to Georgia = 3
Flights from Georgia to Belarus = 3
Flights from Belarus to Germany = 4
Flights from Germany to Belarus = 4
Flights from Belarus to Hungary = 1
Flights from Hungary to Belarus = 1
Flights from Belarus to Iran (Islamic Republic of) = 1
Flights from Iran (Islamic Republic of) to Belarus = 1
Flights from Belarus to Israel = 1
Flights from Israel to Belarus = 1
Flights from Belarus to Italy = 2
Flights from Italy to Belarus = 2
Flights from Belarus to Kazakhstan = 1
Flights from Kazakhstan to Belarus = 1
Flights from Belarus to Latvia = 2
Flights from Latvia to Belarus = 2
Flights from Belarus to Lebanon = 1
Flights from Lebanon to Belarus = 1
Flights from Belarus to Lithuania = 1
Flights from Lithuania to Belarus = 1
Flights from Belarus to Netherlands = 1
Flights from Netherlands to Belarus = 1
Flights from Belarus to Poland = 2
Flights from Poland to Belarus = 2
Flights from Belarus to Russian Federation = 12
Flights from Russian Federation to Belarus = 12
Flights from Belarus to Spain = 1
Flights from Spain to Belarus = 1
Flights from Belarus to Sweden = 1
Flights from Sweden to Belarus = 1
Flights from Belarus to Switzerland = 1
Flights from Switzerland to Belarus = 1
Flights from Belarus to Turkey = 2
Flights from Turkey to Belarus = 2
Flights from Belarus to Turkmenistan = 1
Flights from Turkmenistan to Belarus = 1
Flights from Belarus to Ukraine = 2
Flights from Ukraine to Belarus = 2
Flights from Belarus to United Arab Emirates = 2
Flights from United Arab Emirates to Belarus = 2
Flights from Belarus to United Kingdom of Great Britain and Northern Ireland = 1
Flights from United Kingdom of Great Britain and Northern Ireland to Belarus = 1
Flights from Belgium to Algeria = 1
Flights from Algeria to Belgium = 2
Flights from Belgium to Austria = 2
Flights from Austria to Belgium = 4
Flights from Belgium to Bulgaria = 4
Flights from Bulgaria to Belgium = 4
Flights from Belgium to Burkina Faso = 4
Flights from Burkina Faso to Belgium = 4
Flights from Belgium to Cameroon = 9
Flights from Cameroon to Belgium = 9
Flights from Belgium to Canada = 7
Flights from Canada to Belgium = 6
Flights from Belgium to China = 2
Flights from China to Belgium = 2
Flights from Belgium to Congo, Democratic Republic of the = 1
Flights from Congo, Democratic Republic of the to Belgium = 4
Flights from Belgium to CÃ´te d'Ivoire = 3
Flights from CÃ´te d'Ivoire to Belgium = 4
Flights from Belgium to Croatia = 5
Flights from Croatia to Belgium = 5
Flights from Belgium to Cyprus = 2
Flights from Cyprus to Belgium = 2
Flights from Belgium to Czechia = 4
Flights from Czechia to Belgium = 4
Flights from Belgium to Denmark = 5
Flights from Denmark to Belgium = 5
Flights from Belgium to Egypt = 2
Flights from Egypt to Belgium = 2
Flights from Belgium to Estonia = 2
Flights from Estonia to Belgium = 2
Flights from Belgium to Finland = 1
Flights from Finland to Belgium = 1
Flights from Belgium to France = 37
Flights from France to Belgium = 36
Flights from Belgium to Germany = 15
Flights from Germany to Belgium = 15
Flights from Belgium to Greece = 20
Flights from Greece to Belgium = 18
Flights from Belgium to Hungary = 3
Flights from Hungary to Belgium = 3
Flights from Belgium to Iceland = 1
Flights from Iceland to Belgium = 1
Flights from Belgium to India = 4
Flights from India to Belgium = 5
Flights from Belgium to Ireland = 3
Flights from Ireland to Belgium = 3
Flights from Belgium to Israel = 2
Flights from Israel to Belgium = 2
Flights from Belgium to Italy = 44
Flights from Italy to Belgium = 45
Flights from Belgium to Latvia = 2
Flights from Latvia to Belgium = 2
Flights from Belgium to Lebanon = 1
Flights from Lebanon to Belgium = 1
Flights from Belgium to Lithuania = 5
Flights from Lithuania to Belgium = 5
Flights from Belgium to North Macedonia = 1
Flights from North Macedonia to Belgium = 1
Flights from Belgium to Malta = 2
Flights from Malta to Belgium = 2
Flights from Belgium to Montenegro = 2
Flights from Montenegro to Belgium = 2
Flights from Belgium to Morocco = 22
Flights from Morocco to Belgium = 21
Flights from Belgium to Netherlands = 1
Flights from Netherlands to Belgium = 1
Flights from Belgium to Norway = 3
Flights from Norway to Belgium = 3
Flights from Belgium to Poland = 6
Flights from Poland to Belgium = 6
Flights from Belgium to Portugal = 18
Flights from Portugal to Belgium = 18
Flights from Belgium to Qatar = 1
Flights from Qatar to Belgium = 1
Flights from Belgium to Romania = 4
Flights from Romania to Belgium = 4
Flights from Belgium to Russian Federation = 2
Flights from Russian Federation to Belgium = 2
Flights from Belgium to Rwanda = 5
Flights from Rwanda to Belgium = 1
Flights from Belgium to Senegal = 5
Flights from Senegal to Belgium = 5
Flights from Belgium to Serbia = 2
Flights from Serbia to Belgium = 2
Flights from Belgium to Slovakia = 1
Flights from Slovakia to Belgium = 1
Flights from Belgium to Slovenia = 3
Flights from Slovenia to Belgium = 3
Flights from Belgium to Spain = 57
Flights from Spain to Belgium = 60
Flights from Belgium to Sweden = 7
Flights from Sweden to Belgium = 6
Flights from Belgium to Switzerland = 6
Flights from Switzerland to Belgium = 6
Flights from Belgium to Thailand = 2
Flights from Thailand to Belgium = 2
Flights from Belgium to Tunisia = 4
Flights from Tunisia to Belgium = 4
Flights from Belgium to Turkey = 8
Flights from Turkey to Belgium = 8
Flights from Belgium to Ukraine = 2
Flights from Ukraine to Belgium = 2
Flights from Belgium to United Arab Emirates = 3
Flights from United Arab Emirates to Belgium = 3
Flights from Belgium to United Kingdom of Great Britain and Northern Ireland = 17
Flights from United Kingdom of Great Britain and Northern Ireland to Belgium = 17
Flights from Belgium to United States of America = 21
Flights from United States of America to Belgium = 21
Flights from Belize to El Salvador = 1
Flights from El Salvador to Belize = 1
Flights from Belize to Guatemala = 2
Flights from Guatemala to Belize = 2
Flights from Belize to Honduras = 2
Flights from Honduras to Belize = 2
Flights from Belize to Mexico = 2
Flights from Mexico to Belize = 2
Flights from Belize to United States of America = 10
Flights from United States of America to Belize = 10
Flights from Benin to Burkina Faso = 1
Flights from Burkina Faso to Benin = 1
Flights from Benin to Cameroon = 4
Flights from Cameroon to Benin = 4
Flights from Benin to Congo = 7
Flights from Congo to Benin = 7
Flights from Benin to CÃ´te d'Ivoire = 8
Flights from CÃ´te d'Ivoire to Benin = 3
Flights from Benin to Equatorial Guinea = 2
Flights from Equatorial Guinea to Benin = 2
Flights from Benin to Ethiopia = 1
Flights from Ethiopia to Benin = 1
Flights from Benin to France = 1
Flights from France to Benin = 1
Flights from Benin to Gabon = 3
Flights from Gabon to Benin = 3
Flights from Benin to Ghana = 1
Flights from Ghana to Benin = 1
Flights from Benin to Mali = 3
Flights from Mali to Benin = 3
Flights from Benin to Niger = 1
Flights from Niger to Benin = 1
Flights from Benin to Nigeria = 3
Flights from Nigeria to Benin = 3
Flights from Benin to Senegal = 2
Flights from Senegal to Benin = 2
Flights from Benin to Togo = 3
Flights from Togo to Benin = 2
Flights from Bermuda to Canada = 2
Flights from Canada to Bermuda = 2
Flights from Bermuda to United Kingdom of Great Britain and Northern Ireland = 2
Flights from United Kingdom of Great Britain and Northern Ireland to Bermuda = 2
Flights from Bermuda to United States of America = 11
Flights from United States of America to Bermuda = 11
Flights from Bhutan to Bangladesh = 1
Flights from Bangladesh to Bhutan = 2
Flights from Bhutan to India = 3
Flights from India to Bhutan = 3
Flights from Bhutan to Nepal = 1
Flights from Nepal to Bhutan = 1
Flights from Bolivia to Argentina = 2
Flights from Argentina to Bolivia = 4
Flights from Bolivia to Brazil = 2
Flights from Brazil to Bolivia = 3
Flights from Bolivia to Chile = 3
Flights from Chile to Bolivia = 3
Flights from Bolivia to Colombia = 1
Flights from Colombia to Bolivia = 1
Flights from Bolivia to Panama = 1
Flights from Panama to Bolivia = 1
Flights from Bolivia to Paraguay = 2
Flights from Paraguay to Bolivia = 2
Flights from Bolivia to Peru = 8

Flights from Peru to Bolivia = 8
Flights from Bolivia to Spain = 2
Flights from Spain to Bolivia = 2
Flights from Bolivia to United States of America = 2
Flights from United States of America to Bolivia = 2
Flights from Bosnia and Herzegovina to Austria = 1
Flights from Austria to Bosnia and Herzegovina = 2
Flights from Bosnia and Herzegovina to Croatia = 1
Flights from Croatia to Bosnia and Herzegovina = 1
Flights from Bosnia and Herzegovina to Denmark = 1
Flights from Denmark to Bosnia and Herzegovina = 1
Flights from Bosnia and Herzegovina to Germany = 4
Flights from Germany to Bosnia and Herzegovina = 4
Flights from Bosnia and Herzegovina to Italy = 1
Flights from Italy to Bosnia and Herzegovina = 1
Flights from Bosnia and Herzegovina to Serbia = 3
Flights from Serbia to Bosnia and Herzegovina = 3
Flights from Bosnia and Herzegovina to Slovenia = 1
Flights from Slovenia to Bosnia and Herzegovina = 1
Flights from Bosnia and Herzegovina to Sweden = 1
Flights from Sweden to Bosnia and Herzegovina = 1
Flights from Bosnia and Herzegovina to Switzerland = 1
Flights from Switzerland to Bosnia and Herzegovina = 1
Flights from Bosnia and Herzegovina to Turkey = 4
Flights from Turkey to Bosnia and Herzegovina = 4
Flights from Botswana to Kenya = 1
Flights from Kenya to Botswana = 1
Flights from Botswana to Namibia = 1
Flights from Namibia to Botswana = 1
Flights from Botswana to South Africa = 9
Flights from South Africa to Botswana = 9
Flights from Botswana to Zambia = 1
Flights from Zambia to Botswana = 1
Flights from Botswana to Zimbabwe = 2
Flights from Zimbabwe to Botswana = 2
Flights from Brazil to Angola = 2
Flights from Angola to Brazil = 4
Flights from Brazil to Argentina = 29
Flights from Argentina to Brazil = 57
Flights from Brazil to Barbados = 1
Flights from Barbados to Brazil = 2
Flights from Brazil to Bolivia = 3
Flights from Bolivia to Brazil = 5
Flights from Brazil to Canada = 2
Flights from Canada to Brazil = 2
Flights from Brazil to Cabo Verde = 1
Flights from Cabo Verde to Brazil = 1
Flights from Brazil to Chile = 6
Flights from Chile to Brazil = 6
Flights from Brazil to Colombia = 4
Flights from Colombia to Brazil = 4
Flights from Brazil to Dominican Republic = 4
Flights from Dominican Republic to Brazil = 4
Flights from Brazil to Ecuador = 1
Flights from Ecuador to Brazil = 1
Flights from Brazil to France = 4
Flights from France to Brazil = 4
Flights from Brazil to French Guiana = 1
Flights from French Guiana to Brazil = 1
Flights from Brazil to Germany = 8
Flights from Germany to Brazil = 8
Flights from Brazil to Italy = 4
Flights from Italy to Brazil = 4
Flights from Brazil to Mexico = 2
Flights from Mexico to Brazil = 2
Flights from Brazil to Morocco = 1
Flights from Morocco to Brazil = 1
Flights from Brazil to Netherlands = 2
Flights from Netherlands to Brazil = 2
Flights from Brazil to Panama = 7
Flights from Panama to Brazil = 7
Flights from Brazil to Paraguay = 5
Flights from Paraguay to Brazil = 5
Flights from Brazil to Peru = 10
Flights from Peru to Brazil = 10
Flights from Brazil to Portugal = 12
Flights from Portugal to Brazil = 12
Flights from Brazil to Qatar = 1
Flights from Qatar to Brazil = 1
Flights from Brazil to South Africa = 2
Flights from South Africa to Brazil = 2
Flights from Brazil to Spain = 8
Flights from Spain to Brazil = 8
Flights from Brazil to Suriname = 1
Flights from Suriname to Brazil = 1
Flights from Brazil to Switzerland = 1
Flights from Switzerland to Brazil = 1
Flights from Brazil to Togo = 1
Flights from Togo to Brazil = 1
Flights from Brazil to Turkey = 1
Flights from Turkey to Brazil = 1
Flights from Brazil to United Arab Emirates = 3
Flights from United Arab Emirates to Brazil = 3
Flights from Brazil to United Kingdom of Great Britain and Northern Ireland = 3
Flights from United Kingdom of Great Britain and Northern Ireland to Brazil = 3
Flights from Brazil to United States of America = 58
Flights from United States of America to Brazil = 57
Flights from Brazil to Uruguay = 9
Flights from Uruguay to Brazil = 9
Flights from Brazil to Venezuela (Bolivarian Republic of) = 3
Flights from Venezuela (Bolivarian Republic of) to Brazil = 3
Flights from Virgin Islands (British) to Dominica = 2
Flights from Dominica to Virgin Islands (British) = 2
Flights from Virgin Islands (British) to Netherlands Antilles = 4
Flights from Netherlands Antilles to Virgin Islands (British) = 4
Flights from Virgin Islands (British) to Puerto Rico = 6
Flights from Puerto Rico to Virgin Islands (British) = 7
Flights from Virgin Islands (British) to Saint Kitts and Nevis = 1
Flights from Saint Kitts and Nevis to Virgin Islands (British) = 1
Flights from Virgin Islands (British) to Virgin Islands (British) = 3
Flights from Virgin Islands (British) to Virgin Islands (British) = 3
Flights from Brunei to Australia = 1
Flights from Australia to Brunei = 2
Flights from Brunei to China = 1
Flights from China to Brunei = 1
Flights from Brunei to Hong Kong = 2
Flights from Hong Kong to Brunei = 2
Flights from Brunei to Indonesia = 4
Flights from Indonesia to Brunei = 4
Flights from Brunei to Malaysia = 7
Flights from Malaysia to Brunei = 7
Flights from Brunei to Philippines = 2
Flights from Philippines to Brunei = 2
Flights from Brunei to Saudi Arabia = 1
Flights from Saudi Arabia to Brunei = 1
Flights from Brunei to Singapore = 2
Flights from Singapore to Brunei = 2
Flights from Brunei to Thailand = 2
Flights from Thailand to Brunei = 2
Flights from Brunei to United Arab Emirates = 1
Flights from United Arab Emirates to Brunei = 1
Flights from Bulgaria to Austria = 3
Flights from Austria to Bulgaria = 6
Flights from Bulgaria to Belgium = 4
Flights from Belgium to Bulgaria = 8
Flights from Bulgaria to Cyprus = 4
Flights from Cyprus to Bulgaria = 4
Flights from Bulgaria to Czechia = 2
Flights from Czechia to Bulgaria = 2
Flights from Bulgaria to Denmark = 1
Flights from Denmark to Bulgaria = 1
Flights from Bulgaria to Finland = 1
Flights from Finland to Bulgaria = 1
Flights from Bulgaria to France = 3
Flights from France to Bulgaria = 3
Flights from Bulgaria to Germany = 11
Flights from Germany to Bulgaria = 11
Flights from Bulgaria to Greece = 4
Flights from Greece to Bulgaria = 4
Flights from Bulgaria to Ireland = 1
Flights from Ireland to Bulgaria = 1
Flights from Bulgaria to Israel = 2
Flights from Israel to Bulgaria = 2
Flights from Bulgaria to Italy = 7
Flights from Italy to Bulgaria = 7
Flights from Bulgaria to Luxembourg = 1
Flights from Luxembourg to Bulgaria = 1
Flights from Bulgaria to Netherlands = 2
Flights from Netherlands to Bulgaria = 2
Flights from Bulgaria to Norway = 1
Flights from Norway to Bulgaria = 1
Flights from Bulgaria to Poland = 2
Flights from Poland to Bulgaria = 2
Flights from Bulgaria to Romania = 3
Flights from Romania to Bulgaria = 3
Flights from Bulgaria to Russian Federation = 8
Flights from Russian Federation to Bulgaria = 8
Flights from Bulgaria to Serbia = 2
Flights from Serbia to Bulgaria = 2
Flights from Bulgaria to Spain = 8
Flights from Spain to Bulgaria = 8
Flights from Bulgaria to Switzerland = 1
Flights from Switzerland to Bulgaria = 1
Flights from Bulgaria to Turkey = 1
Flights from Turkey to Bulgaria = 1
Flights from Bulgaria to United Arab Emirates = 1
Flights from United Arab Emirates to Bulgaria = 1
Flights from Bulgaria to United Kingdom of Great Britain and Northern Ireland = 10
Flights from United Kingdom of Great Britain and Northern Ireland to Bulgaria = 10
Flights from Burkina Faso to Algeria = 1
Flights from Algeria to Burkina Faso = 2
Flights from Burkina Faso to Belgium = 4
Flights from Belgium to Burkina Faso = 8
Flights from Burkina Faso to Benin = 1
Flights from Benin to Burkina Faso = 2
Flights from Burkina Faso to CÃ´te d'Ivoire = 8
Flights from CÃ´te d'Ivoire to Burkina Faso = 8
Flights from Burkina Faso to Ethiopia = 1
Flights from Ethiopia to Burkina Faso = 1
Flights from Burkina Faso to France = 1
Flights from France to Burkina Faso = 1
Flights from Burkina Faso to Ghana = 1
Flights from Ghana to Burkina Faso = 1
Flights from Burkina Faso to Mali = 3
Flights from Mali to Burkina Faso = 3
Flights from Burkina Faso to Morocco = 1
Flights from Morocco to Burkina Faso = 1
Flights from Burkina Faso to Niger = 7
Flights from Niger to Burkina Faso = 8
Flights from Burkina Faso to Senegal = 1
Flights from Senegal to Burkina Faso = 1
Flights from Burkina Faso to Togo = 2
Flights from Togo to Burkina Faso = 2
Flights from Burkina Faso to Tunisia = 1
Flights from Tunisia to Burkina Faso = 1
Flights from Myanmar to Bangladesh = 1
Flights from Bangladesh to Myanmar = 2
Flights from Myanmar to Cambodia = 1
Flights from Cambodia to Myanmar = 1
Flights from Myanmar to China = 8
Flights from China to Myanmar = 8
Flights from Myanmar to Hong Kong = 1
Flights from Hong Kong to Myanmar = 1
Flights from Myanmar to India = 1
Flights from India to Myanmar = 1
Flights from Myanmar to Japan = 1
Flights from Japan to Myanmar = 1
Flights from Myanmar to Malaysia = 3
Flights from Malaysia to Myanmar = 3
Flights from Myanmar to Qatar = 1
Flights from Qatar to Myanmar = 1
Flights from Myanmar to Singapore = 6
Flights from Singapore to Myanmar = 6
Flights from Myanmar to Korea, Republic of = 3
Flights from Korea, Republic of to Myanmar = 3
Flights from Myanmar to Taiwan = 1
Flights from Taiwan to Myanmar = 1
Flights from Myanmar to Thailand = 12
Flights from Thailand to Myanmar = 12
Flights from Myanmar to Viet Nam = 2

Flights from Viet Nam to Myanmar = 2
Flights from Burundi to Kenya = 6
Flights from Kenya to Burundi = 2
Flights from Burundi to Rwanda = 6
Flights from Rwanda to Burundi = 7
Flights from Burundi to Uganda = 1
Flights from Uganda to Burundi = 1
Flights from Cambodia to Myanmar = 1
Flights from Myanmar to Cambodia = 2
Flights from Cambodia to China = 10
Flights from China to Cambodia = 11
Flights from Cambodia to Hong Kong = 2
Flights from Hong Kong to Cambodia = 2
Flights from Cambodia to Lao People's Democratic Republic = 5
Flights from Lao People's Democratic Republic to Cambodia = 5
Flights from Cambodia to Malaysia = 4
Flights from Malaysia to Cambodia = 4
Flights from Cambodia to Philippines = 1
Flights from Philippines to Cambodia = 1
Flights from Cambodia to Singapore = 9
Flights from Singapore to Cambodia = 8
Flights from Cambodia to Korea, Republic of = 8
Flights from Korea, Republic of to Cambodia = 8
Flights from Cambodia to Taiwan = 3
Flights from Taiwan to Cambodia = 3
Flights from Cambodia to Thailand = 8
Flights from Thailand to Cambodia = 8
Flights from Cambodia to Viet Nam = 14
Flights from Viet Nam to Cambodia = 14
Flights from Cameroon to Belgium = 9
Flights from Belgium to Cameroon = 18
Flights from Cameroon to Benin = 4
Flights from Benin to Cameroon = 8
Flights from Cameroon to Central African Republic = 2
Flights from Central African Republic to Cameroon = 2
Flights from Cameroon to Chad = 3
Flights from Chad to Cameroon = 3
Flights from Cameroon to Congo = 5
Flights from Congo to Cameroon = 4
Flights from Cameroon to Congo, Democratic Republic of the = 4
Flights from Congo, Democratic Republic of the to Cameroon = 5
Flights from Cameroon to CÃ´te d'Ivoire = 1
Flights from CÃ´te d'Ivoire to Cameroon = 1
Flights from Cameroon to Equatorial Guinea = 5
Flights from Equatorial Guinea to Cameroon = 5
Flights from Cameroon to Ethiopia = 2
Flights from Ethiopia to Cameroon = 2
Flights from Cameroon to France = 4
Flights from France to Cameroon = 4
Flights from Cameroon to Gabon = 5
Flights from Gabon to Cameroon = 4
Flights from Cameroon to Kenya = 2
Flights from Kenya to Cameroon = 2
Flights from Cameroon to Morocco = 2
Flights from Morocco to Cameroon = 2
Flights from Cameroon to Nigeria = 2
Flights from Nigeria to Cameroon = 2
Flights from Cameroon to Senegal = 1
Flights from Senegal to Cameroon = 1
Flights from Cameroon to Togo = 1
Flights from Togo to Cameroon = 1
Flights from Cameroon to Turkey = 1
Flights from Turkey to Cameroon = 2
Flights from Canada to Algeria = 1
Flights from Algeria to Canada = 2
Flights from Canada to Antigua and Barbuda = 2
Flights from Antigua and Barbuda to Canada = 4
Flights from Canada to Aruba = 2
Flights from Aruba to Canada = 4
Flights from Canada to Australia = 1
Flights from Australia to Canada = 2
Flights from Canada to Austria = 3
Flights from Austria to Canada = 6
Flights from Canada to Bahamas = 4
Flights from Bahamas to Canada = 7
Flights from Canada to Barbados = 2
Flights from Barbados to Canada = 4
Flights from Canada to Belgium = 6
Flights from Belgium to Canada = 13
Flights from Canada to Bermuda = 2
Flights from Bermuda to Canada = 4
Flights from Canada to Brazil = 2
Flights from Brazil to Canada = 4
Flights from Canada to Cayman Islands = 2
Flights from Cayman Islands to Canada = 2
Flights from Canada to Chile = 1
Flights from Chile to Canada = 1
Flights from Canada to China = 15
Flights from China to Canada = 15
Flights from Canada to Colombia = 2
Flights from Colombia to Canada = 2
Flights from Canada to Costa Rica = 3
Flights from Costa Rica to Canada = 3
Flights from Canada to Cuba = 27
Flights from Cuba to Canada = 29
Flights from Canada to Denmark = 3
Flights from Denmark to Canada = 3
Flights from Canada to Dominican Republic = 14
Flights from Dominican Republic to Canada = 17
Flights from Canada to Egypt = 1
Flights from Egypt to Canada = 1
Flights from Canada to El Salvador = 1
Flights from El Salvador to Canada = 1
Flights from Canada to France = 19
Flights from France to Canada = 19
Flights from Canada to Germany = 19
Flights from Germany to Canada = 19
Flights from Canada to Greece = 2
Flights from Greece to Canada = 2
Flights from Canada to Grenada = 2
Flights from Grenada to Canada = 2
Flights from Canada to Guadeloupe = 1
Flights from Guadeloupe to Canada = 1
Flights from Canada to Guyana = 2
Flights from Guyana to Canada = 2
Flights from Canada to Haiti = 1
Flights from Haiti to Canada = 1
Flights from Canada to Hong Kong = 4
Flights from Hong Kong to Canada = 4
Flights from Canada to Iceland = 2
Flights from Iceland to Canada = 2
Flights from Canada to Ireland = 3
Flights from Ireland to Canada = 3
Flights from Canada to Israel = 2
Flights from Israel to Canada = 3
Flights from Canada to Italy = 8
Flights from Italy to Canada = 8
Flights from Canada to Jamaica = 10
Flights from Jamaica to Canada = 12
Flights from Canada to Japan = 10
Flights from Japan to Canada = 10
Flights from Canada to Jordan = 3
Flights from Jordan to Canada = 3
Flights from Canada to Martinique = 1
Flights from Martinique to Canada = 1
Flights from Canada to Mexico = 27
Flights from Mexico to Canada = 30
Flights from Canada to Morocco = 1
Flights from Morocco to Canada = 1
Flights from Canada to Netherlands = 10
Flights from Netherlands to Canada = 10
Flights from Canada to Netherlands Antilles = 1
Flights from Netherlands Antilles to Canada = 1
Flights from Canada to Pakistan = 3
Flights from Pakistan to Canada = 3
Flights from Canada to Panama = 1
Flights from Panama to Canada = 1
Flights from Canada to Peru = 1
Flights from Peru to Canada = 1
Flights from Canada to Philippines = 1
Flights from Philippines to Canada = 1
Flights from Canada to Poland = 2
Flights from Poland to Canada = 2
Flights from Canada to Portugal = 9
Flights from Portugal to Canada = 8
Flights from Canada to Puerto Rico = 1
Flights from Puerto Rico to Canada = 1
Flights from Canada to Qatar = 1
Flights from Qatar to Canada = 1
Flights from Canada to Russian Federation = 2
Flights from Russian Federation to Canada = 2
Flights from Canada to Saint Lucia = 2
Flights from Saint Lucia to Canada = 2
Flights from Canada to Saint Pierre and Miquelon = 3
Flights from Saint Pierre and Miquelon to Canada = 3
Flights from Canada to Saudi Arabia = 1
Flights from Saudi Arabia to Canada = 1
Flights from Canada to Korea, Republic of = 4
Flights from Korea, Republic of to Canada = 4
Flights from Canada to Spain = 4
Flights from Spain to Canada = 4
Flights from Canada to Switzerland = 8
Flights from Switzerland to Canada = 8
Flights from Canada to Taiwan = 3
Flights from Taiwan to Canada = 3
Flights from Canada to Trinidad and Tobago = 2
Flights from Trinidad and Tobago to Canada = 2
Flights from Canada to Turkey = 2
Flights from Turkey to Canada = 2
Flights from Canada to Turks and Caicos Islands = 2
Flights from Turks and Caicos Islands to Canada = 3
Flights from Canada to United Arab Emirates = 3
Flights from United Arab Emirates to Canada = 3
Flights from Canada to United Kingdom of Great Britain and Northern Ireland = 41
Flights from United Kingdom of Great Britain and Northern Ireland to Canada = 42
Flights from Canada to United States of America = 363
Flights from United States of America to Canada = 364
Flights from Cabo Verde to Brazil = 1
Flights from Brazil to Cabo Verde = 2
Flights from Cabo Verde to France = 3
Flights from France to Cabo Verde = 4
Flights from Cabo Verde to Gambia = 1
Flights from Gambia to Cabo Verde = 1
Flights from Cabo Verde to Germany = 5
Flights from Germany to Cabo Verde = 5
Flights from Cabo Verde to Guinea-Bissau = 1
Flights from Guinea-Bissau to Cabo Verde = 1
Flights from Cabo Verde to Luxembourg = 1
Flights from Luxembourg to Cabo Verde = 1
Flights from Cabo Verde to Morocco = 1
Flights from Morocco to Cabo Verde = 1
Flights from Cabo Verde to Netherlands = 2
Flights from Netherlands to Cabo Verde = 1
Flights from Cabo Verde to Portugal = 8
Flights from Portugal to Cabo Verde = 9
Flights from Cabo Verde to Sao Tome and Principe = 1
Flights from Sao Tome and Principe to Cabo Verde = 1
Flights from Cabo Verde to Senegal = 2
Flights from Senegal to Cabo Verde = 2
Flights from Cabo Verde to Spain = 1
Flights from Spain to Cabo Verde = 1
Flights from Cabo Verde to United Kingdom of Great Britain and Northern Ireland = 9
Flights from United Kingdom of Great Britain and Northern Ireland to Cabo Verde = 9
Flights from Cabo Verde to United States of America = 1
Flights from United States of America to Cabo Verde = 1
Flights from Cayman Islands to Bahamas = 1
Flights from Bahamas to Cayman Islands = 2
Flights from Cayman Islands to Canada = 2
Flights from Canada to Cayman Islands = 4
Flights from Cayman Islands to Cuba = 1
Flights from Cuba to Cayman Islands = 1
Flights from Cayman Islands to Honduras = 2
Flights from Honduras to Cayman Islands = 2
Flights from Cayman Islands to Jamaica = 1
Flights from Jamaica to Cayman Islands = 2
Flights from Cayman Islands to United States of America = 16
Flights from United States of America to Cayman Islands = 17
Flights from Central African Republic to Cameroon = 2
Flights from Cameroon to Central African Republic = 4
Flights from Chad to Cameroon = 3
Flights from Cameroon to Chad = 6
Flights from Chad to Ethiopia = 1
Flights from Ethiopia to Chad = 1
Flights from Chad to France = 1
Flights from France to Chad = 1
Flights from Chad to Niger = 1
Flights from Niger to Chad = 1
Flights from Chad to Nigeria = 2
Flights from Nigeria to Chad = 2
Flights from Chile to Argentina = 10
Flights from Argentina to Chile = 19
Flights from Chile to Australia = 2
Flights from Australia to Chile = 4
Flights from Chile to Bolivia = 3
Flights from Bolivia to Chile = 6
Flights from Chile to Brazil = 6
Flights from Brazil to Chile = 12
Flights from Chile to Canada = 1
Flights from Canada to Chile = 2
Flights from Chile to Colombia = 2
Flights from Colombia to Chile = 2
Flights from Chile to Dominican Republic = 1
Flights from Dominican Republic to Chile = 1
Flights from Chile to Ecuador = 2
Flights from Ecuador to Chile = 1
Flights from Chile to France = 2
Flights from France to Chile = 2
Flights from Chile to French Polynesia = 1
Flights from French Polynesia to Chile = 1
Flights from Chile to Mexico = 3
Flights from Mexico to Chile = 3
Flights from Chile to New Zealand = 2
Flights from New Zealand to Chile = 2
Flights from Chile to Panama = 1
Flights from Panama to Chile = 1
Flights from Chile to Paraguay = 2
Flights from Paraguay to Chile = 2
Flights from Chile to Peru = 7
Flights from Peru to Chile = 7
Flights from Chile to Spain = 2
Flights from Spain to Chile = 2
Flights from Chile to United States of America = 10
Flights from United States of America to Chile = 10
Flights from Chile to Uruguay = 2
Flights from Uruguay to Chile = 2
Flights from Chile to Venezuela (Bolivarian Republic of) = 1
Flights from Venezuela (Bolivarian Republic of) to Chile = 1
Flights from China to Algeria = 1
Flights from Algeria to China = 2
Flights from China to Angola = 1
Flights from Angola to China = 2
Flights from China to Australia = 17
Flights from Australia to China = 34
Flights from China to Austria = 2
Flights from Austria to China = 4
Flights from China to Azerbaijan = 2
Flights from Azerbaijan to China = 4
Flights from China to Bangladesh = 2
Flights from Bangladesh to China = 4
Flights from China to Belgium = 2
Flights from Belgium to China = 4
Flights from China to Brunei = 1
Flights from Brunei to China = 2
Flights from China to Myanmar = 8
Flights from Myanmar to China = 16
Flights from China to Cambodia = 11
Flights from Cambodia to China = 21
Flights from China to Canada = 15
Flights from Canada to China = 30
Flights from China to Denmark = 3
Flights from Denmark to China = 3
Flights from China to Egypt = 4
Flights from Egypt to China = 4
Flights from China to Ethiopia = 6
Flights from Ethiopia to China = 6
Flights from China to Finland = 6
Flights from Finland to China = 6
Flights from China to France = 10
Flights from France to China = 10
Flights from China to Georgia = 1
Flights from Georgia to China = 1
Flights from China to Germany = 19
Flights from Germany to China = 19
Flights from China to Hong Kong = 118
Flights from Hong Kong to China = 117
Flights from China to India = 6
Flights from India to China = 6
Flights from China to Indonesia = 13
Flights from Indonesia to China = 13
Flights from China to Iran (Islamic Republic of) = 4
Flights from Iran (Islamic Republic of) to China = 4
Flights from China to Israel = 2
Flights from Israel to China = 2
Flights from China to Italy = 5
Flights from Italy to China = 5
Flights from China to Japan = 140
Flights from Japan to China = 140
Flights from China to Kazakhstan = 7
Flights from Kazakhstan to China = 7
Flights from China to Kenya = 2
Flights from Kenya to China = 2
Flights from China to Kyrgyzstan = 5
Flights from Kyrgyzstan to China = 5
Flights from China to Lao People's Democratic Republic = 5
Flights from Lao People's Democratic Republic to China = 5
Flights from China to Macao = 46
Flights from Macao to China = 46
Flights from China to Malaysia = 29
Flights from Malaysia to China = 29
Flights from China to Maldives = 4
Flights from Maldives to China = 4
Flights from China to Mauritius = 2
Flights from Mauritius to China = 2
Flights from China to Mexico = 1
Flights from Mexico to China = 1
Flights from China to Mongolia = 4
Flights from Mongolia to China = 4
Flights from China to Nepal = 4
Flights from Nepal to China = 4
Flights from China to Netherlands = 13
Flights from Netherlands to China = 13
Flights from China to New Zealand = 3
Flights from New Zealand to China = 3
Flights from China to Korea (Democratic People's Republic of) = 3
Flights from Korea (Democratic People's Republic of) to China = 3
Flights from China to Northern Mariana Islands = 3
Flights from Northern Mariana Islands to China = 3
Flights from China to Pakistan = 4
Flights from Pakistan to China = 4
Flights from China to Philippines = 13
Flights from Philippines to China = 13
Flights from China to Poland = 2
Flights from Poland to China = 2
Flights from China to Qatar = 6
Flights from Qatar to China = 6
Flights from China to Russian Federation = 46
Flights from Russian Federation to China = 48
Flights from China to Saudi Arabia = 2
Flights from Saudi Arabia to China = 2
Flights from China to Singapore = 45
Flights from Singapore to China = 44
Flights from China to Korea, Republic of = 152
Flights from Korea, Republic of to China = 151
Flights from China to Spain = 2
Flights from Spain to China = 2
Flights from China to Sri Lanka = 3
Flights from Sri Lanka to China = 5
Flights from China to Sweden = 2
Flights from Sweden to China = 2
Flights from China to Switzerland = 3
Flights from Switzerland to China = 3
Flights from China to Taiwan = 191
Flights from Taiwan to China = 191
Flights from China to Tajikistan = 4
Flights from Tajikistan to China = 4
Flights from China to Thailand = 73
Flights from Thailand to China = 72
Flights from China to Turkey = 7
Flights from Turkey to China = 7
Flights from China to Turkmenistan = 1

Flights from Turkmenistan to China = 1
Flights from China to United Arab Emirates = 14
Flights from United Arab Emirates to China = 16
Flights from China to United Kingdom of Great Britain and Northern Ireland = 11
Flights from United Kingdom of Great Britain and Northern Ireland to China = 11
Flights from China to United States of America = 58
Flights from United States of America to China = 59
Flights from China to Uzbekistan = 4
Flights from Uzbekistan to China = 4
Flights from China to Viet Nam = 23
Flights from Viet Nam to China = 23
Flights from Christmas Island to Australia = 1
Flights from Australia to Christmas Island = 2
Flights from Christmas Island to Cocos (Keeling) Islands = 1
Flights from Cocos (Keeling) Islands to Christmas Island = 1
Flights from Cocos (Keeling) Islands to Christmas Island = 1
Flights from Christmas Island to Cocos (Keeling) Islands = 2
Flights from Colombia to Argentina = 2
Flights from Argentina to Colombia = 4
Flights from Colombia to Aruba = 2
Flights from Aruba to Colombia = 4
Flights from Colombia to Bolivia = 1
Flights from Bolivia to Colombia = 2
Flights from Colombia to Brazil = 4
Flights from Brazil to Colombia = 8
Flights from Colombia to Canada = 2
Flights from Canada to Colombia = 4
Flights from Colombia to Chile = 2
Flights from Chile to Colombia = 4
Flights from Colombia to Costa Rica = 1
Flights from Costa Rica to Colombia = 1
Flights from Colombia to Cuba = 3
Flights from Cuba to Colombia = 3
Flights from Colombia to Dominican Republic = 3
Flights from Dominican Republic to Colombia = 3
Flights from Colombia to Ecuador = 11
Flights from Ecuador to Colombia = 11
Flights from Colombia to El Salvador = 3
Flights from El Salvador to Colombia = 3
Flights from Colombia to France = 1
Flights from France to Colombia = 1
Flights from Colombia to Germany = 2
Flights from Germany to Colombia = 2
Flights from Colombia to Guatemala = 1
Flights from Guatemala to Colombia = 1
Flights from Colombia to Mexico = 6
Flights from Mexico to Colombia = 6
Flights from Colombia to Netherlands Antilles = 2
Flights from Netherlands Antilles to Colombia = 2
Flights from Colombia to Panama = 10
Flights from Panama to Colombia = 10
Flights from Colombia to Peru = 4
Flights from Peru to Colombia = 4
Flights from Colombia to Puerto Rico = 1
Flights from Puerto Rico to Colombia = 1
Flights from Colombia to Spain = 5
Flights from Spain to Colombia = 5
Flights from Colombia to United States of America = 49
Flights from United States of America to Colombia = 49
Flights from Colombia to Venezuela (Bolivarian Republic of) = 5
Flights from Venezuela (Bolivarian Republic of) to Colombia = 5
Flights from Comoros to Djibouti = 1
Flights from Djibouti to Comoros = 1
Flights from Comoros to Kenya = 4
Flights from Kenya to Comoros = 1
Flights from Comoros to Madagascar = 1
Flights from Madagascar to Comoros = 1
Flights from Comoros to Mayotte = 2
Flights from Mayotte to Comoros = 5
Flights from Comoros to RÃ©union = 1
Flights from RÃ©union to Comoros = 1
Flights from Comoros to Tanzania, United Republic of = 1
Flights from Tanzania, United Republic of to Comoros = 1
Flights from Congo to Angola = 1
Flights from Angola to Congo = 2
Flights from Congo to Benin = 7
Flights from Benin to Congo = 14
Flights from Congo to Cameroon = 4
Flights from Cameroon to Congo = 9
Flights from Congo to Congo, Democratic Republic of the = 3
Flights from Congo, Democratic Republic of the to Congo = 4
Flights from Congo to Ethiopia = 2
Flights from Ethiopia to Congo = 1
Flights from Congo to France = 4
Flights from France to Congo = 4
Flights from Congo to Gabon = 6
Flights from Gabon to Congo = 6
Flights from Congo to Kenya = 2
Flights from Kenya to Congo = 2
Flights from Congo to Morocco = 2
Flights from Morocco to Congo = 2
Flights from Congo to Rwanda = 1
Flights from Rwanda to Congo = 1
Flights from Congo to South Africa = 2
Flights from South Africa to Congo = 2
Flights from Congo, Democratic Republic of the to Belgium = 4
Flights from Belgium to Congo, Democratic Republic of the = 5
Flights from Congo, Democratic Republic of the to Cameroon = 5
Flights from Cameroon to Congo, Democratic Republic of the = 9
Flights from Congo, Democratic Republic of the to Congo = 4
Flights from Congo to Congo, Democratic Republic of the = 7
Flights from Congo, Democratic Republic of the to France = 1
Flights from France to Congo, Democratic Republic of the = 1
Flights from Congo, Democratic Republic of the to Gabon = 1
Flights from Gabon to Congo, Democratic Republic of the = 1
Flights from Congo, Democratic Republic of the to Kenya = 4
Flights from Kenya to Congo, Democratic Republic of the = 4
Flights from Congo, Democratic Republic of the to South Africa = 3
Flights from South Africa to Congo, Democratic Republic of the = 3
Flights from Congo, Democratic Republic of the to Turkey = 1
Flights from Turkey to Congo, Democratic Republic of the = 1
Flights from Congo, Democratic Republic of the to Zambia = 3
Flights from Zambia to Congo, Democratic Republic of the = 2
Flights from Cook Islands to Australia = 1
Flights from Australia to Cook Islands = 2
Flights from Cook Islands to French Polynesia = 2
Flights from French Polynesia to Cook Islands = 2
Flights from Cook Islands to New Zealand = 3
Flights from New Zealand to Cook Islands = 2
Flights from Cook Islands to United States of America = 2
Flights from United States of America to Cook Islands = 2
Flights from Costa Rica to Canada = 3
Flights from Canada to Costa Rica = 6
Flights from Costa Rica to Colombia = 1
Flights from Colombia to Costa Rica = 2
Flights from Costa Rica to Dominican Republic = 1
Flights from Dominican Republic to Costa Rica = 1
Flights from Costa Rica to El Salvador = 2
Flights from El Salvador to Costa Rica = 2
Flights from Costa Rica to Guatemala = 4
Flights from Guatemala to Costa Rica = 2
Flights from Costa Rica to Honduras = 5
Flights from Honduras to Costa Rica = 5
Flights from Costa Rica to Mexico = 3
Flights from Mexico to Costa Rica = 3
Flights from Costa Rica to Nicaragua = 3
Flights from Nicaragua to Costa Rica = 4
Flights from Costa Rica to Panama = 7
Flights from Panama to Costa Rica = 7
Flights from Costa Rica to Peru = 1
Flights from Peru to Costa Rica = 1
Flights from Costa Rica to Spain = 1
Flights from Spain to Costa Rica = 1
Flights from Costa Rica to United States of America = 36
Flights from United States of America to Costa Rica = 34
Flights from CÃ´te d'Ivoire to Algeria = 1
Flights from Algeria to CÃ´te d'Ivoire = 2
Flights from CÃ´te d'Ivoire to Belgium = 4
Flights from Belgium to CÃ´te d'Ivoire = 7
Flights from CÃ´te d'Ivoire to Benin = 3
Flights from Benin to CÃ´te d'Ivoire = 11
Flights from CÃ´te d'Ivoire to Burkina Faso = 8
Flights from Burkina Faso to CÃ´te d'Ivoire = 16
Flights from CÃ´te d'Ivoire to Cameroon = 1
Flights from Cameroon to CÃ´te d'Ivoire = 2
Flights from CÃ´te d'Ivoire to France = 3
Flights from France to CÃ´te d'Ivoire = 3
Flights from CÃ´te d'Ivoire to Gabon = 1
Flights from Gabon to CÃ´te d'Ivoire = 1
Flights from CÃ´te d'Ivoire to Ghana = 7
Flights from Ghana to CÃ´te d'Ivoire = 8
Flights from CÃ´te d'Ivoire to Guinea = 2
Flights from Guinea to CÃ´te d'Ivoire = 2
Flights from CÃ´te d'Ivoire to Kenya = 1
Flights from Kenya to CÃ´te d'Ivoire = 1
Flights from CÃ´te d'Ivoire to Liberia = 1
Flights from Liberia to CÃ´te d'Ivoire = 1
Flights from CÃ´te d'Ivoire to Mali = 2
Flights from Mali to CÃ´te d'Ivoire = 3
Flights from CÃ´te d'Ivoire to Morocco = 1
Flights from Morocco to CÃ´te d'Ivoire = 1
Flights from CÃ´te d'Ivoire to Nigeria = 4
Flights from Nigeria to CÃ´te d'Ivoire = 4
Flights from CÃ´te d'Ivoire to Senegal = 3
Flights from Senegal to CÃ´te d'Ivoire = 3
Flights from CÃ´te d'Ivoire to Sierra Leone = 1
Flights from Sierra Leone to CÃ´te d'Ivoire = 1
Flights from CÃ´te d'Ivoire to Togo = 5
Flights from Togo to CÃ´te d'Ivoire = 2
Flights from CÃ´te d'Ivoire to Tunisia = 1
Flights from Tunisia to CÃ´te d'Ivoire = 1
Flights from Croatia to Austria = 6
Flights from Austria to Croatia = 12
Flights from Croatia to Belgium = 5
Flights from Belgium to Croatia = 10
Flights from Croatia to Bosnia and Herzegovina = 1
Flights from Bosnia and Herzegovina to Croatia = 2
Flights from Croatia to Czechia = 2
Flights from Czechia to Croatia = 1
Flights from Croatia to Denmark = 6
Flights from Denmark to Croatia = 6
Flights from Croatia to Estonia = 1
Flights from Estonia to Croatia = 1
Flights from Croatia to Finland = 3
Flights from Finland to Croatia = 3
Flights from Croatia to France = 12
Flights from France to Croatia = 12
Flights from Croatia to Germany = 55
Flights from Germany to Croatia = 57
Flights from Croatia to Greece = 2
Flights from Greece to Croatia = 2
Flights from Croatia to Hungary = 1
Flights from Hungary to Croatia = 1
Flights from Croatia to Ireland = 3
Flights from Ireland to Croatia = 3
Flights from Croatia to Italy = 5
Flights from Italy to Croatia = 5
Flights from Croatia to Luxembourg = 1
Flights from Luxembourg to Croatia = 1
Flights from Croatia to North Macedonia = 1

Flights from North Macedonia to Croatia = 1
Flights from Croatia to Netherlands = 3
Flights from Netherlands to Croatia = 3
Flights from Croatia to Norway = 9
Flights from Norway to Croatia = 9
Flights from Croatia to Poland = 3
Flights from Poland to Croatia = 3
Flights from Croatia to Russian Federation = 2
Flights from Russian Federation to Croatia = 2
Flights from Croatia to Serbia = 2
Flights from Serbia to Croatia = 2
Flights from Croatia to Spain = 5
Flights from Spain to Croatia = 5
Flights from Croatia to Sweden = 9
Flights from Sweden to Croatia = 9
Flights from Croatia to Switzerland = 8
Flights from Switzerland to Croatia = 8
Flights from Croatia to Turkey = 2
Flights from Turkey to Croatia = 2
Flights from Croatia to United Kingdom of Great Britain and Northern Ireland = 35
Flights from United Kingdom of Great Britain and Northern Ireland to Croatia = 35
Flights from Cuba to Angola = 1
Flights from Angola to Cuba = 2
Flights from Cuba to Argentina = 1
Flights from Argentina to Cuba = 2
Flights from Cuba to Bahamas = 2
Flights from Bahamas to Cuba = 4
Flights from Cuba to Canada = 29
Flights from Canada to Cuba = 56
Flights from Cuba to Cayman Islands = 1
Flights from Cayman Islands to Cuba = 2
Flights from Cuba to Colombia = 3
Flights from Colombia to Cuba = 6
Flights from Cuba to Dominican Republic = 2
Flights from Dominican Republic to Cuba = 2
Flights from Cuba to Ecuador = 1
Flights from Ecuador to Cuba = 1
Flights from Cuba to El Salvador = 1
Flights from El Salvador to Cuba = 1
Flights from Cuba to France = 2
Flights from France to Cuba = 2
Flights from Cuba to Germany = 4
Flights from Germany to Cuba = 4
Flights from Cuba to Italy = 5
Flights from Italy to Cuba = 3
Flights from Cuba to Martinique = 1
Flights from Martinique to Cuba = 1
Flights from Cuba to Mexico = 8
Flights from Mexico to Cuba = 5
Flights from Cuba to Netherlands = 1
Flights from Netherlands to Cuba = 3
Flights from Cuba to Panama = 2
Flights from Panama to Cuba = 2
Flights from Cuba to Peru = 2
Flights from Peru to Cuba = 2
Flights from Cuba to Russian Federation = 3
Flights from Russian Federation to Cuba = 3
Flights from Cuba to Spain = 2
Flights from Spain to Cuba = 3
Flights from Cuba to Switzerland = 1
Flights from Switzerland to Cuba = 1
Flights from Cuba to United Kingdom of Great Britain and Northern Ireland = 2
Flights from United Kingdom of Great Britain and Northern Ireland to Cuba = 2
Flights from Cuba to Venezuela (Bolivarian Republic of) = 3
Flights from Venezuela (Bolivarian Republic of) to Cuba = 3
Flights from Cyprus to Austria = 3
Flights from Austria to Cyprus = 6
Flights from Cyprus to Bahrain = 1
Flights from Bahrain to Cyprus = 2
Flights from Cyprus to Belarus = 1
Flights from Belarus to Cyprus = 2
Flights from Cyprus to Belgium = 2
Flights from Belgium to Cyprus = 4
Flights from Cyprus to Bulgaria = 4
Flights from Bulgaria to Cyprus = 8
Flights from Cyprus to Egypt = 2
Flights from Egypt to Cyprus = 2
Flights from Cyprus to France = 3
Flights from France to Cyprus = 3
Flights from Cyprus to Germany = 8
Flights from Germany to Cyprus = 8
Flights from Cyprus to Greece = 12
Flights from Greece to Cyprus = 11
Flights from Cyprus to Hungary = 1
Flights from Hungary to Cyprus = 1
Flights from Cyprus to Israel = 3
Flights from Israel to Cyprus = 3
Flights from Cyprus to Italy = 1
Flights from Italy to Cyprus = 1
Flights from Cyprus to Jordan = 1
Flights from Jordan to Cyprus = 1
Flights from Cyprus to Latvia = 1
Flights from Latvia to Cyprus = 1
Flights from Cyprus to Lebanon = 2
Flights from Lebanon to Cyprus = 2
Flights from Cyprus to Lithuania = 1
Flights from Lithuania to Cyprus = 1
Flights from Cyprus to Malta = 2
Flights from Malta to Cyprus = 2
Flights from Cyprus to Moldova, Republic of = 1
Flights from Moldova, Republic of to Cyprus = 1
Flights from Cyprus to Netherlands = 3
Flights from Netherlands to Cyprus = 3
Flights from Cyprus to Norway = 1
Flights from Norway to Cyprus = 1
Flights from Cyprus to Poland = 2
Flights from Poland to Cyprus = 2
Flights from Cyprus to Qatar = 1
Flights from Qatar to Cyprus = 1
Flights from Cyprus to Romania = 3
Flights from Romania to Cyprus = 3
Flights from Cyprus to Russian Federation = 11
Flights from Russian Federation to Cyprus = 11
Flights from Cyprus to Serbia = 2
Flights from Serbia to Cyprus = 2
Flights from Cyprus to Sweden = 2
Flights from Sweden to Cyprus = 2
Flights from Cyprus to Switzerland = 3
Flights from Switzerland to Cyprus = 3
Flights from Cyprus to Turkey = 14
Flights from Turkey to Cyprus = 14
Flights from Cyprus to Ukraine = 5
Flights from Ukraine to Cyprus = 6
Flights from Cyprus to United Arab Emirates = 3
Flights from United Arab Emirates to Cyprus = 3
Flights from Cyprus to United Kingdom of Great Britain and Northern Ireland = 50
Flights from United Kingdom of Great Britain and Northern Ireland to Cyprus = 55
Flights from Czechia to Armenia = 2
Flights from Armenia to Czechia = 4
Flights from Czechia to Austria = 1
Flights from Austria to Czechia = 2
Flights from Czechia to Azerbaijan = 2
Flights from Azerbaijan to Czechia = 4
Flights from Czechia to Belarus = 2
Flights from Belarus to Czechia = 4
Flights from Czechia to Belgium = 4
Flights from Belgium to Czechia = 8
Flights from Czechia to Bulgaria = 2
Flights from Bulgaria to Czechia = 4
Flights from Czechia to Croatia = 1
Flights from Croatia to Czechia = 3
Flights from Czechia to Denmark = 4
Flights from Denmark to Czechia = 4
Flights from Czechia to Finland = 3
Flights from Finland to Czechia = 3
Flights from Czechia to France = 16
Flights from France to Czechia = 16
Flights from Czechia to Germany = 14
Flights from Germany to Czechia = 14
Flights from Czechia to Greece = 5
Flights from Greece to Czechia = 4
Flights from Czechia to Hungary = 2
Flights from Hungary to Czechia = 2
Flights from Czechia to Ireland = 2
Flights from Ireland to Czechia = 2
Flights from Czechia to Israel = 4
Flights from Israel to Czechia = 4
Flights from Czechia to Italy = 19
Flights from Italy to Czechia = 19
Flights from Czechia to Kazakhstan = 1
Flights from Kazakhstan to Czechia = 1
Flights from Czechia to Latvia = 2
Flights from Latvia to Czechia = 2
Flights from Czechia to Lithuania = 1
Flights from Lithuania to Czechia = 1
Flights from Czechia to Malta = 2
Flights from Malta to Czechia = 2
Flights from Czechia to Netherlands = 5
Flights from Netherlands to Czechia = 5
Flights from Czechia to Norway = 3
Flights from Norway to Czechia = 3
Flights from Czechia to Poland = 3
Flights from Poland to Czechia = 3
Flights from Czechia to Portugal = 2
Flights from Portugal to Czechia = 2
Flights from Czechia to Romania = 5
Flights from Romania to Czechia = 5
Flights from Czechia to Russian Federation = 24
Flights from Russian Federation to Czechia = 24
Flights from Czechia to Serbia = 1
Flights from Serbia to Czechia = 1
Flights from Czechia to Slovakia = 4
Flights from Slovakia to Czechia = 5
Flights from Czechia to Slovenia = 1
Flights from Slovenia to Czechia = 1
Flights from Czechia to Korea, Republic of = 2
Flights from Korea, Republic of to Czechia = 2
Flights from Czechia to Spain = 16
Flights from Spain to Czechia = 16
Flights from Czechia to Sweden = 5
Flights from Sweden to Czechia = 4
Flights from Czechia to Switzerland = 4
Flights from Switzerland to Czechia = 4
Flights from Czechia to Turkey = 2
Flights from Turkey to Czechia = 2
Flights from Czechia to Ukraine = 3
Flights from Ukraine to Czechia = 3
Flights from Czechia to United Arab Emirates = 2
Flights from United Arab Emirates to Czechia = 2
Flights from Czechia to United Kingdom of Great Britain and Northern Ireland = 16
Flights from United Kingdom of Great Britain and Northern Ireland to Czechia = 16
Flights from Czechia to Uzbekistan = 1
Flights from Uzbekistan to Czechia = 2
Flights from Denmark to Austria = 5
Flights from Austria to Denmark = 10
Flights from Denmark to Belgium = 5
Flights from Belgium to Denmark = 10
Flights from Denmark to Bosnia and Herzegovina = 1
Flights from Bosnia and Herzegovina to Denmark = 2
Flights from Denmark to Bulgaria = 1
Flights from Bulgaria to Denmark = 2
Flights from Denmark to Canada = 3
Flights from Canada to Denmark = 6
Flights from Denmark to China = 3
Flights from China to Denmark = 6
Flights from Denmark to Croatia = 6
Flights from Croatia to Denmark = 12
Flights from Denmark to Czechia = 4
Flights from Czechia to Denmark = 8
Flights from Denmark to Egypt = 2

Flights from Egypt to Denmark = 2
Flights from Denmark to Estonia = 2
Flights from Estonia to Denmark = 2
Flights from Denmark to Faroe Islands = 2
Flights from Faroe Islands to Denmark = 2
Flights from Denmark to Finland = 4
Flights from Finland to Denmark = 4
Flights from Denmark to France = 12
Flights from France to Denmark = 12
Flights from Denmark to Germany = 26
Flights from Germany to Denmark = 27
Flights from Denmark to Greece = 7
Flights from Greece to Denmark = 7
Flights from Denmark to Greenland = 1
Flights from Greenland to Denmark = 1
Flights from Denmark to Hungary = 3
Flights from Hungary to Denmark = 3
Flights from Denmark to Iceland = 4
Flights from Iceland to Denmark = 4
Flights from Denmark to Ireland = 3
Flights from Ireland to Denmark = 3
Flights from Denmark to Israel = 2
Flights from Israel to Denmark = 2
Flights from Denmark to Italy = 21
Flights from Italy to Denmark = 21
Flights from Denmark to Japan = 1
Flights from Japan to Denmark = 1
Flights from Denmark to Latvia = 4
Flights from Latvia to Denmark = 4
Flights from Denmark to Lithuania = 3
Flights from Lithuania to Denmark = 3
Flights from Denmark to Luxembourg = 2
Flights from Luxembourg to Denmark = 2
Flights from Denmark to Malta = 2
Flights from Malta to Denmark = 2
Flights from Denmark to Morocco = 2
Flights from Morocco to Denmark = 1
Flights from Denmark to Netherlands = 11
Flights from Netherlands to Denmark = 11
Flights from Denmark to Norway = 30
Flights from Norway to Denmark = 29
Flights from Denmark to Pakistan = 1
Flights from Pakistan to Denmark = 1
Flights from Denmark to Poland = 7
Flights from Poland to Denmark = 8
Flights from Denmark to Portugal = 5
Flights from Portugal to Denmark = 5
Flights from Denmark to Qatar = 1
Flights from Qatar to Denmark = 1
Flights from Denmark to Romania = 1
Flights from Romania to Denmark = 1
Flights from Denmark to Russian Federation = 3
Flights from Russian Federation to Denmark = 3
Flights from Denmark to Serbia = 2
Flights from Serbia to Denmark = 2
Flights from Denmark to Singapore = 2
Flights from Singapore to Denmark = 2
Flights from Denmark to Slovenia = 2
Flights from Slovenia to Denmark = 2
Flights from Denmark to Spain = 31
Flights from Spain to Denmark = 31
Flights from Denmark to Sweden = 9
Flights from Sweden to Denmark = 9
Flights from Denmark to Switzerland = 7
Flights from Switzerland to Denmark = 7
Flights from Denmark to Thailand = 2
Flights from Thailand to Denmark = 2
Flights from Denmark to Turkey = 10
Flights from Turkey to Denmark = 10
Flights from Denmark to United Arab Emirates = 2
Flights from United Arab Emirates to Denmark = 2
Flights from Denmark to United Kingdom of Great Britain and Northern Ireland = 22
Flights from United Kingdom of Great Britain and Northern Ireland to Denmark = 22
Flights from Denmark to United States of America = 7
Flights from United States of America to Denmark = 7
Flights from Djibouti to Comoros = 1
Flights from Comoros to Djibouti = 2
Flights from Djibouti to Ethiopia = 5
Flights from Ethiopia to Djibouti = 5
Flights from Djibouti to France = 1
Flights from France to Djibouti = 1
Flights from Djibouti to Kenya = 2
Flights from Kenya to Djibouti = 2
Flights from Djibouti to Somalia = 5
Flights from Somalia to Djibouti = 4
Flights from Djibouti to Turkey = 1
Flights from Turkey to Djibouti = 1
Flights from Djibouti to United Arab Emirates = 4
Flights from United Arab Emirates to Djibouti = 1
Flights from Djibouti to Yemen = 3
Flights from Yemen to Djibouti = 2
Flights from Dominica to Antigua and Barbuda = 1
Flights from Antigua and Barbuda to Dominica = 2
Flights from Dominica to Barbados = 1
Flights from Barbados to Dominica = 2
Flights from Dominica to Virgin Islands (British) = 2
Flights from Virgin Islands (British) to Dominica = 4
Flights from Dominica to Guadeloupe = 3
Flights from Guadeloupe to Dominica = 3
Flights from Dominica to Netherlands Antilles = 4
Flights from Netherlands Antilles to Dominica = 5
Flights from Dominica to Puerto Rico = 4
Flights from Puerto Rico to Dominica = 4
Flights from Dominica to Virgin Islands (British) = 1
Flights from Virgin Islands (British) to Dominica = 4
Flights from Dominican Republic to Antigua and Barbuda = 4
Flights from Antigua and Barbuda to Dominican Republic = 7
Flights from Dominican Republic to Argentina = 1
Flights from Argentina to Dominican Republic = 2
Flights from Dominican Republic to Aruba = 2
Flights from Aruba to Dominican Republic = 4
Flights from Dominican Republic to Brazil = 4
Flights from Brazil to Dominican Republic = 8
Flights from Dominican Republic to Canada = 17
Flights from Canada to Dominican Republic = 31
Flights from Dominican Republic to Chile = 1
Flights from Chile to Dominican Republic = 2
Flights from Dominican Republic to Colombia = 3
Flights from Colombia to Dominican Republic = 6
Flights from Dominican Republic to Costa Rica = 1
Flights from Costa Rica to Dominican Republic = 2
Flights from Dominican Republic to Cuba = 2
Flights from Cuba to Dominican Republic = 4
Flights from Dominican Republic to France = 10
Flights from France to Dominican Republic = 5
Flights from Dominican Republic to Germany = 7
Flights from Germany to Dominican Republic = 7
Flights from Dominican Republic to Guadeloupe = 3
Flights from Guadeloupe to Dominican Republic = 3
Flights from Dominican Republic to Haiti = 2
Flights from Haiti to Dominican Republic = 3
Flights from Dominican Republic to Italy = 3
Flights from Italy to Dominican Republic = 3
Flights from Dominican Republic to Jamaica = 2
Flights from Jamaica to Dominican Republic = 1
Flights from Dominican Republic to Netherlands = 1
Flights from Netherlands to Dominican Republic = 2
Flights from Dominican Republic to Netherlands Antilles = 5
Flights from Netherlands Antilles to Dominican Republic = 6
Flights from Dominican Republic to Panama = 4
Flights from Panama to Dominican Republic = 4
Flights from Dominican Republic to Peru = 2
Flights from Peru to Dominican Republic = 2
Flights from Dominican Republic to Puerto Rico = 9
Flights from Puerto Rico to Dominican Republic = 9
Flights from Dominican Republic to Russian Federation = 4
Flights from Russian Federation to Dominican Republic = 4
Flights from Dominican Republic to Spain = 5
Flights from Spain to Dominican Republic = 5
Flights from Dominican Republic to Switzerland = 1
Flights from Switzerland to Dominican Republic = 1
Flights from Dominican Republic to Turks and Caicos Islands = 3
Flights from Turks and Caicos Islands to Dominican Republic = 3
Flights from Dominican Republic to United Kingdom of Great Britain and Northern Ireland = 1
Flights from United Kingdom of Great Britain and Northern Ireland to Dominican Republic = 3
Flights from Dominican Republic to United States of America = 61
Flights from United States of America to Dominican Republic = 61
Flights from Dominican Republic to Venezuela (Bolivarian Republic of) = 1
Flights from Venezuela (Bolivarian Republic of) to Dominican Republic = 1
Flights from East Timor to Australia = 2
Flights from Australia to East Timor = 4
Flights from East Timor to Indonesia = 1
Flights from Indonesia to East Timor = 1
Flights from East Timor to Singapore = 1
Flights from Singapore to East Timor = 1
Flights from Ecuador to Argentina = 1
Flights from Argentina to Ecuador = 2
Flights from Ecuador to Brazil = 1
Flights from Brazil to Ecuador = 2
Flights from Ecuador to Chile = 1
Flights from Chile to Ecuador = 3
Flights from Ecuador to Colombia = 11
Flights from Colombia to Ecuador = 22
Flights from Ecuador to Cuba = 1
Flights from Cuba to Ecuador = 2
Flights from Ecuador to El Salvador = 2
Flights from El Salvador to Ecuador = 2
Flights from Ecuador to Mexico = 1
Flights from Mexico to Ecuador = 1
Flights from Ecuador to Netherlands = 2
Flights from Netherlands to Ecuador = 2
Flights from Ecuador to Panama = 3
Flights from Panama to Ecuador = 3
Flights from Ecuador to Peru = 5
Flights from Peru to Ecuador = 6
Flights from Ecuador to Spain = 4
Flights from Spain to Ecuador = 4
Flights from Ecuador to United States of America = 8
Flights from United States of America to Ecuador = 8
Flights from Ecuador to Venezuela (Bolivarian Republic of) = 1
Flights from Venezuela (Bolivarian Republic of) to Ecuador = 1
Flights from Egypt to Algeria = 2
Flights from Algeria to Egypt = 4
Flights from Egypt to Austria = 6
Flights from Austria to Egypt = 12
Flights from Egypt to Bahrain = 2
Flights from Bahrain to Egypt = 4
Flights from Egypt to Belgium = 2
Flights from Belgium to Egypt = 4
Flights from Egypt to Canada = 1
Flights from Canada to Egypt = 2
Flights from Egypt to China = 4
Flights from China to Egypt = 8
Flights from Egypt to Cyprus = 2
Flights from Cyprus to Egypt = 4
Flights from Egypt to Denmark = 2
Flights from Denmark to Egypt = 4
Flights from Egypt to Eritrea = 1
Flights from Eritrea to Egypt = 1
Flights from Egypt to Ethiopia = 2
Flights from Ethiopia to Egypt = 2
Flights from Egypt to France = 5
Flights from France to Egypt = 5
Flights from Egypt to Germany = 18
Flights from Germany to Egypt = 18
Flights from Egypt to Ghana = 1

Flights from Ghana to Egypt = 1
Flights from Egypt to Greece = 4
Flights from Greece to Egypt = 4
Flights from Egypt to Hungary = 1
Flights from Hungary to Egypt = 1
Flights from Egypt to India = 2
Flights from India to Egypt = 2
Flights from Egypt to Indonesia = 1
Flights from Indonesia to Egypt = 1
Flights from Egypt to Iraq = 2
Flights from Iraq to Egypt = 2
Flights from Egypt to Israel = 1
Flights from Israel to Egypt = 1
Flights from Egypt to Italy = 5
Flights from Italy to Egypt = 6
Flights from Egypt to Jordan = 5
Flights from Jordan to Egypt = 5
Flights from Egypt to Kenya = 1
Flights from Kenya to Egypt = 1
Flights from Egypt to Kuwait = 16
Flights from Kuwait to Egypt = 16
Flights from Egypt to Lebanon = 3
Flights from Lebanon to Egypt = 3
Flights from Egypt to Libya = 10
Flights from Libya to Egypt = 10
Flights from Egypt to Morocco = 2
Flights from Morocco to Egypt = 2
Flights from Egypt to Netherlands = 2
Flights from Netherlands to Egypt = 2
Flights from Egypt to Nigeria = 3
Flights from Nigeria to Egypt = 3
Flights from Egypt to Oman = 2
Flights from Oman to Egypt = 2
Flights from Egypt to Qatar = 4
Flights from Qatar to Egypt = 4
Flights from Egypt to Russian Federation = 11
Flights from Russian Federation to Egypt = 11
Flights from Egypt to Saudi Arabia = 57
Flights from Saudi Arabia to Egypt = 54
Flights from Egypt to South Africa = 2
Flights from South Africa to Egypt = 2
Flights from Egypt to South Sudan = 2
Flights from South Sudan to Egypt = 2
Flights from Egypt to Spain = 2
Flights from Spain to Egypt = 2
Flights from Egypt to Sudan = 3
Flights from Sudan to Egypt = 3
Flights from Egypt to Switzerland = 10
Flights from Switzerland to Egypt = 10
Flights from Egypt to Tanzania, United Republic of = 1
Flights from Tanzania, United Republic of to Egypt = 1
Flights from Egypt to Thailand = 3
Flights from Thailand to Egypt = 3
Flights from Egypt to Tunisia = 2
Flights from Tunisia to Egypt = 2
Flights from Egypt to Turkey = 8
Flights from Turkey to Egypt = 8
Flights from Egypt to Uganda = 1
Flights from Uganda to Egypt = 1
Flights from Egypt to United Arab Emirates = 11
Flights from United Arab Emirates to Egypt = 11
Flights from Egypt to United Kingdom of Great Britain and Northern Ireland = 34
Flights from United Kingdom of Great Britain and Northern Ireland to Egypt = 33
Flights from Egypt to United States of America = 2
Flights from United States of America to Egypt = 2
Flights from Egypt to Yemen = 5
Flights from Yemen to Egypt = 6
Flights from El Salvador to Belize = 1
Flights from Belize to El Salvador = 2
Flights from El Salvador to Canada = 1
Flights from Canada to El Salvador = 2
Flights from El Salvador to Colombia = 3
Flights from Colombia to El Salvador = 6
Flights from El Salvador to Costa Rica = 2
Flights from Costa Rica to El Salvador = 4
Flights from El Salvador to Cuba = 1
Flights from Cuba to El Salvador = 2
Flights from El Salvador to Ecuador = 2
Flights from Ecuador to El Salvador = 4
Flights from El Salvador to Guatemala = 1
Flights from Guatemala to El Salvador = 3
Flights from El Salvador to Honduras = 3
Flights from Honduras to El Salvador = 3
Flights from El Salvador to Mexico = 3
Flights from Mexico to El Salvador = 3
Flights from El Salvador to Nicaragua = 2
Flights from Nicaragua to El Salvador = 2
Flights from El Salvador to Panama = 2
Flights from Panama to El Salvador = 2
Flights from El Salvador to Peru = 1
Flights from Peru to El Salvador = 1
Flights from El Salvador to United States of America = 29
Flights from United States of America to El Salvador = 28
Flights from Equatorial Guinea to Benin = 2
Flights from Benin to Equatorial Guinea = 4
Flights from Equatorial Guinea to Cameroon = 5
Flights from Cameroon to Equatorial Guinea = 10
Flights from Equatorial Guinea to Ethiopia = 2
Flights from Ethiopia to Equatorial Guinea = 2
Flights from Equatorial Guinea to Gabon = 2
Flights from Gabon to Equatorial Guinea = 1
Flights from Equatorial Guinea to Morocco = 1
Flights from Morocco to Equatorial Guinea = 1
Flights from Equatorial Guinea to Nigeria = 1
Flights from Nigeria to Equatorial Guinea = 2
Flights from Equatorial Guinea to Spain = 1
Flights from Spain to Equatorial Guinea = 1
Flights from Eritrea to Egypt = 1
Flights from Egypt to Eritrea = 2
Flights from Eritrea to Kenya = 1
Flights from Kenya to Eritrea = 1
Flights from Eritrea to Saudi Arabia = 1
Flights from Saudi Arabia to Eritrea = 1
Flights from Eritrea to Sudan = 1
Flights from Sudan to Eritrea = 1
Flights from Eritrea to Yemen = 2
Flights from Yemen to Eritrea = 2
Flights from Estonia to Belgium = 2
Flights from Belgium to Estonia = 4
Flights from Estonia to Croatia = 1
Flights from Croatia to Estonia = 2
Flights from Estonia to Denmark = 2
Flights from Denmark to Estonia = 4
Flights from Estonia to Finland = 3
Flights from Finland to Estonia = 3
Flights from Estonia to France = 1
Flights from France to Estonia = 1
Flights from Estonia to Germany = 2
Flights from Germany to Estonia = 2
Flights from Estonia to Greece = 1
Flights from Greece to Estonia = 1
Flights from Estonia to Italy = 1
Flights from Italy to Estonia = 1
Flights from Estonia to Latvia = 1
Flights from Latvia to Estonia = 1
Flights from Estonia to Lithuania = 3
Flights from Lithuania to Estonia = 3
Flights from Estonia to Netherlands = 2
Flights from Netherlands to Estonia = 2
Flights from Estonia to Norway = 6
Flights from Norway to Estonia = 6
Flights from Estonia to Poland = 1
Flights from Poland to Estonia = 1
Flights from Estonia to Russian Federation = 3
Flights from Russian Federation to Estonia = 3
Flights from Estonia to Spain = 1
Flights from Spain to Estonia = 1
Flights from Estonia to Sweden = 4
Flights from Sweden to Estonia = 4
Flights from Estonia to Turkey = 1
Flights from Turkey to Estonia = 1
Flights from Estonia to Ukraine = 1
Flights from Ukraine to Estonia = 1
Flights from Estonia to United Kingdom of Great Britain and Northern Ireland = 3
Flights from United Kingdom of Great Britain and Northern Ireland to Estonia = 3
Flights from Ethiopia to Angola = 2
Flights from Angola to Ethiopia = 4
Flights from Ethiopia to Bahrain = 1
Flights from Bahrain to Ethiopia = 2
Flights from Ethiopia to Benin = 1
Flights from Benin to Ethiopia = 2
Flights from Ethiopia to Burkina Faso = 1
Flights from Burkina Faso to Ethiopia = 2
Flights from Ethiopia to Cameroon = 2
Flights from Cameroon to Ethiopia = 4
Flights from Ethiopia to Chad = 1
Flights from Chad to Ethiopia = 2
Flights from Ethiopia to China = 6
Flights from China to Ethiopia = 12
Flights from Ethiopia to Congo = 1
Flights from Congo to Ethiopia = 3
Flights from Ethiopia to Djibouti = 5
Flights from Djibouti to Ethiopia = 10
Flights from Ethiopia to Egypt = 2
Flights from Egypt to Ethiopia = 4
Flights from Ethiopia to Equatorial Guinea = 2
Flights from Equatorial Guinea to Ethiopia = 4
Flights from Ethiopia to France = 1
Flights from France to Ethiopia = 1
Flights from Ethiopia to Gabon = 1
Flights from Gabon to Ethiopia = 1
Flights from Ethiopia to Germany = 2
Flights from Germany to Ethiopia = 2
Flights from Ethiopia to Ghana = 1
Flights from Ghana to Ethiopia = 1
Flights from Ethiopia to Hong Kong = 1
Flights from Hong Kong to Ethiopia = 1
Flights from Ethiopia to India = 4
Flights from India to Ethiopia = 4
Flights from Ethiopia to Israel = 1
Flights from Israel to Ethiopia = 1
Flights from Ethiopia to Italy = 1
Flights from Italy to Ethiopia = 1
Flights from Ethiopia to Kenya = 6
Flights from Kenya to Ethiopia = 6
Flights from Ethiopia to Kuwait = 2
Flights from Kuwait to Ethiopia = 3
Flights from Ethiopia to Lebanon = 1
Flights from Lebanon to Ethiopia = 1
Flights from Ethiopia to Malawi = 1
Flights from Malawi to Ethiopia = 1
Flights from Ethiopia to Mali = 2
Flights from Mali to Ethiopia = 2
Flights from Ethiopia to Mozambique = 1
Flights from Mozambique to Ethiopia = 1
Flights from Ethiopia to Niger = 1
Flights from Niger to Ethiopia = 1
Flights from Ethiopia to Nigeria = 3
Flights from Nigeria to Ethiopia = 3
Flights from Ethiopia to Oman = 2
Flights from Oman to Ethiopia = 2
Flights from Ethiopia to Qatar = 1
Flights from Qatar to Ethiopia = 1
Flights from Ethiopia to Rwanda = 2
Flights from Rwanda to Ethiopia = 2
Flights from Ethiopia to Saudi Arabia = 9
Flights from Saudi Arabia to Ethiopia = 9
Flights from Ethiopia to Somalia = 1
Flights from Somalia to Ethiopia = 1
Flights from Ethiopia to South Africa = 2
Flights from South Africa to Ethiopia = 2
Flights from Ethiopia to South Sudan = 2
Flights from South Sudan to Ethiopia = 2
Flights from Ethiopia to Sudan = 2
Flights from Sudan to Ethiopia = 2
Flights from Ethiopia to Tanzania, United Republic of = 3
Flights from Tanzania, United Republic of to Ethiopia = 4
Flights from Ethiopia to Thailand = 2
Flights from Thailand to Ethiopia = 2
Flights from Ethiopia to Togo = 1
Flights from Togo to Ethiopia = 1
Flights from Ethiopia to Turkey = 1
Flights from Turkey to Ethiopia = 1
Flights from Ethiopia to Uganda = 2
Flights from Uganda to Ethiopia = 1
Flights from Ethiopia to United Arab Emirates = 3
Flights from United Arab Emirates to Ethiopia = 3
Flights from Ethiopia to United Kingdom of Great Britain and Northern Ireland = 1
Flights from United Kingdom of Great Britain and Northern Ireland to Ethiopia = 1
Flights from Ethiopia to Yemen = 1
Flights from Yemen to Ethiopia = 1
Flights from Ethiopia to Zambia = 1
Flights from Zambia to Ethiopia = 2
Flights from Ethiopia to Zimbabwe = 4
Flights from Zimbabwe to Ethiopia = 2
Flights from Faroe Islands to Denmark = 2
Flights from Denmark to Faroe Islands = 4
Flights from Faroe Islands to Norway = 2
Flights from Norway to Faroe Islands = 2
Flights from Fiji to Australia = 11
Flights from Australia to Fiji = 22
Flights from Fiji to Hong Kong = 2
Flights from Hong Kong to Fiji = 2
Flights from Fiji to Kiribati = 3
Flights from Kiribati to Fiji = 3
Flights from Fiji to New Caledonia = 1
Flights from New Caledonia to Fiji = 1
Flights from Fiji to New Zealand = 7
Flights from New Zealand to Fiji = 3
Flights from Fiji to Papua New Guinea = 1
Flights from Papua New Guinea to Fiji = 1
Flights from Fiji to Samoa = 1
Flights from Samoa to Fiji = 1
Flights from Fiji to Solomon Islands = 2
Flights from Solomon Islands to Fiji = 2
Flights from Fiji to Korea, Republic of = 1
Flights from Korea, Republic of to Fiji = 1
Flights from Fiji to Tonga = 2
Flights from Tonga to Fiji = 2
Flights from Fiji to Tuvalu = 1
Flights from Tuvalu to Fiji = 1
Flights from Fiji to United States of America = 6
Flights from United States of America to Fiji = 6
Flights from Fiji to Vanuatu = 2
Flights from Vanuatu to Fiji = 2
Flights from Fiji to Wallis and Futuna = 1
Flights from Wallis and Futuna to Fiji = 1
Flights from Finland to Austria = 2
Flights from Austria to Finland = 4
Flights from Finland to Belarus = 2
Flights from Belarus to Finland = 4
Flights from Finland to Belgium = 1
Flights from Belgium to Finland = 2
Flights from Finland to Bulgaria = 1
Flights from Bulgaria to Finland = 2
Flights from Finland to China = 6
Flights from China to Finland = 12
Flights from Finland to Croatia = 3
Flights from Croatia to Finland = 6
Flights from Finland to Czechia = 3
Flights from Czechia to Finland = 6
Flights from Finland to Denmark = 4
Flights from Denmark to Finland = 8
Flights from Finland to Estonia = 3
Flights from Estonia to Finland = 6
Flights from Finland to France = 6
Flights from France to Finland = 6
Flights from Finland to Germany = 19
Flights from Germany to Finland = 19
Flights from Finland to Greece = 2
Flights from Greece to Finland = 2
Flights from Finland to Hong Kong = 1
Flights from Hong Kong to Finland = 1
Flights from Finland to Hungary = 3
Flights from Hungary to Finland = 3
Flights from Finland to Iceland = 2
Flights from Iceland to Finland = 2
Flights from Finland to India = 1
Flights from India to Finland = 1
Flights from Finland to Ireland = 1
Flights from Ireland to Finland = 1
Flights from Finland to Israel = 1
Flights from Israel to Finland = 1
Flights from Finland to Italy = 5
Flights from Italy to Finland = 5
Flights from Finland to Japan = 6
Flights from Japan to Finland = 6
Flights from Finland to Latvia = 3
Flights from Latvia to Finland = 3
Flights from Finland to Lithuania = 2
Flights from Lithuania to Finland = 2
Flights from Finland to Netherlands = 3
Flights from Netherlands to Finland = 4
Flights from Finland to Norway = 3
Flights from Norway to Finland = 3
Flights from Finland to Poland = 5
Flights from Poland to Finland = 5
Flights from Finland to Portugal = 2
Flights from Portugal to Finland = 2
Flights from Finland to Russian Federation = 9
Flights from Russian Federation to Finland = 9
Flights from Finland to Singapore = 1
Flights from Singapore to Finland = 1
Flights from Finland to Slovenia = 1
Flights from Slovenia to Finland = 1
Flights from Finland to Korea, Republic of = 1
Flights from Korea, Republic of to Finland = 1
Flights from Finland to Spain = 16
Flights from Spain to Finland = 16
Flights from Finland to Sweden = 22
Flights from Sweden to Finland = 22
Flights from Finland to Switzerland = 3
Flights from Switzerland to Finland = 3
Flights from Finland to Thailand = 1
Flights from Thailand to Finland = 1
Flights from Finland to Turkey = 5
Flights from Turkey to Finland = 5
Flights from Finland to Ukraine = 1
Flights from Ukraine to Finland = 1
Flights from Finland to United Kingdom of Great Britain and Northern Ireland = 9
Flights from United Kingdom of Great Britain and Northern Ireland to Finland = 9
Flights from Finland to United States of America = 4
Flights from United States of America to Finland = 4
Flights from France to Algeria = 67
Flights from Algeria to France = 134
Flights from France to Angola = 1
Flights from Angola to France = 2
Flights from France to Antigua and Barbuda = 2
Flights from Antigua and Barbuda to France = 4
Flights from France to Argentina = 2
Flights from Argentina to France = 4
Flights from France to Armenia = 3
Flights from Armenia to France = 6
Flights from France to Austria = 13
Flights from Austria to France = 26
Flights from France to Azerbaijan = 2
Flights from Azerbaijan to France = 4
Flights from France to Bahrain = 1
Flights from Bahrain to France = 2
Flights from France to Belarus = 2
Flights from Belarus to France = 4
Flights from France to Belgium = 36
Flights from Belgium to France = 73
Flights from France to Benin = 1
Flights from Benin to France = 2
Flights from France to Brazil = 4
Flights from Brazil to France = 8
Flights from France to Bulgaria = 3
Flights from Bulgaria to France = 6
Flights from France to Burkina Faso = 1
Flights from Burkina Faso to France = 2
Flights from France to Cameroon = 4
Flights from Cameroon to France = 8
Flights from France to Canada = 19
Flights from Canada to France = 38
Flights from France to Cabo Verde = 4
Flights from Cabo Verde to France = 7
Flights from France to Chad = 1
Flights from Chad to France = 2
Flights from France to Chile = 2
Flights from Chile to France = 4
Flights from France to China = 10
Flights from China to France = 20
Flights from France to Colombia = 1
Flights from Colombia to France = 2
Flights from France to Congo = 4
Flights from Congo to France = 8
Flights from France to Congo, Democratic Republic of the = 1
Flights from Congo, Democratic Republic of the to France = 2
Flights from France to CÃ´te d'Ivoire = 3
Flights from CÃ´te d'Ivoire to France = 6
Flights from France to Croatia = 12
Flights from Croatia to France = 24
Flights from France to Cuba = 2
Flights from Cuba to France = 4
Flights from France to Cyprus = 3
Flights from Cyprus to France = 6
Flights from France to Czechia = 16
Flights from Czechia to France = 32
Flights from France to Denmark = 12
Flights from Denmark to France = 24

Flights from France to Djibouti = 1
Flights from Djibouti to France = 2
Flights from France to Dominican Republic = 5
Flights from Dominican Republic to France = 15
Flights from France to Egypt = 5
Flights from Egypt to France = 10
Flights from France to Estonia = 1
Flights from Estonia to France = 2
Flights from France to Ethiopia = 1
Flights from Ethiopia to France = 2
Flights from France to Finland = 6
Flights from Finland to France = 12
Flights from France to French Guiana = 3
Flights from French Guiana to France = 3
Flights from France to Gabon = 1
Flights from Gabon to France = 1
Flights from France to Georgia = 2
Flights from Georgia to France = 2
Flights from France to Germany = 84
Flights from Germany to France = 84
Flights from France to Greece = 32
Flights from Greece to France = 30
Flights from France to Guadeloupe = 7
Flights from Guadeloupe to France = 6
Flights from France to Guernsey = 1
Flights from Guernsey to France = 1
Flights from France to Guinea = 1
Flights from Guinea to France = 1
Flights from France to Hong Kong = 3
Flights from Hong Kong to France = 3
Flights from France to Hungary = 5
Flights from Hungary to France = 5
Flights from France to Iceland = 4
Flights from Iceland to France = 4
Flights from France to India = 4
Flights from India to France = 4
Flights from France to Iran (Islamic Republic of) = 1
Flights from Iran (Islamic Republic of) to France = 1
Flights from France to Ireland = 23
Flights from Ireland to France = 23
Flights from France to Israel = 9
Flights from Israel to France = 10
Flights from France to Italy = 149
Flights from Italy to France = 148
Flights from France to Japan = 7
Flights from Japan to France = 7
Flights from France to Jersey = 1
Flights from Jersey to France = 1
Flights from France to Jordan = 2
Flights from Jordan to France = 2
Flights from France to Kenya = 2
Flights from Kenya to France = 2
Flights from France to Latvia = 3
Flights from Latvia to France = 3
Flights from France to Lebanon = 2
Flights from Lebanon to France = 2
Flights from France to Lithuania = 3
Flights from Lithuania to France = 3
Flights from France to Luxembourg = 7
Flights from Luxembourg to France = 7
Flights from France to Madagascar = 3
Flights from Madagascar to France = 5
Flights from France to Malaysia = 3
Flights from Malaysia to France = 3
Flights from France to Mali = 2
Flights from Mali to France = 2
Flights from France to Malta = 11
Flights from Malta to France = 11
Flights from France to Martinique = 4
Flights from Martinique to France = 4
Flights from France to Mauritania = 1
Flights from Mauritania to France = 1
Flights from France to Mauritius = 2
Flights from Mauritius to France = 3
Flights from France to Mexico = 4
Flights from Mexico to France = 4
Flights from France to Moldova, Republic of = 1
Flights from Moldova, Republic of to France = 1
Flights from France to Montenegro = 2
Flights from Montenegro to France = 2
Flights from France to Morocco = 79
Flights from Morocco to France = 80
Flights from France to Netherlands = 33
Flights from Netherlands to France = 34
Flights from France to Netherlands Antilles = 8
Flights from Netherlands Antilles to France = 7
Flights from France to Niger = 3
Flights from Niger to France = 3
Flights from France to Nigeria = 4
Flights from Nigeria to France = 4
Flights from France to Norway = 15
Flights from Norway to France = 15
Flights from France to Oman = 1
Flights from Oman to France = 1
Flights from France to Pakistan = 2
Flights from Pakistan to France = 1
Flights from France to Panama = 1
Flights from Panama to France = 1
Flights from France to Peru = 2
Flights from Peru to France = 2
Flights from France to Poland = 15
Flights from Poland to France = 15
Flights from France to Portugal = 53
Flights from Portugal to France = 51
Flights from France to Puerto Rico = 1
Flights from Puerto Rico to France = 1
Flights from France to Qatar = 1
Flights from Qatar to France = 1
Flights from France to RÃ©union = 5
Flights from RÃ©union to France = 5
Flights from France to Romania = 7
Flights from Romania to France = 7
Flights from France to Russian Federation = 11
Flights from Russian Federation to France = 11
Flights from France to Saudi Arabia = 4
Flights from Saudi Arabia to France = 4
Flights from France to Senegal = 3
Flights from Senegal to France = 3
Flights from France to Serbia = 4
Flights from Serbia to France = 4
Flights from France to Singapore = 2
Flights from Singapore to France = 2
Flights from France to Slovakia = 1
Flights from Slovakia to France = 1
Flights from France to Slovenia = 2
Flights from Slovenia to France = 2
Flights from France to South Africa = 2
Flights from South Africa to France = 2
Flights from France to Korea, Republic of = 3
Flights from Korea, Republic of to France = 3
Flights from France to Spain = 149
Flights from Spain to France = 151
Flights from France to Sri Lanka = 1
Flights from Sri Lanka to France = 1
Flights from France to Sweden = 18
Flights from Sweden to France = 17
Flights from France to Switzerland = 21
Flights from Switzerland to France = 21
Flights from France to Taiwan = 1
Flights from Taiwan to France = 1
Flights from France to Thailand = 3
Flights from Thailand to France = 3
Flights from France to Togo = 1
Flights from Togo to France = 1
Flights from France to Tunisia = 45
Flights from Tunisia to France = 44
Flights from France to Turkey = 26
Flights from Turkey to France = 26
Flights from France to Ukraine = 3
Flights from Ukraine to France = 3
Flights from France to United Arab Emirates = 7
Flights from United Arab Emirates to France = 7
Flights from France to United Kingdom of Great Britain and Northern Ireland = 157
Flights from United Kingdom of Great Britain and Northern Ireland to France = 158
Flights from France to United States of America = 91
Flights from United States of America to France = 89
Flights from France to Uzbekistan = 2
Flights from Uzbekistan to France = 1
Flights from France to Venezuela (Bolivarian Republic of) = 1
Flights from Venezuela (Bolivarian Republic of) to France = 1
Flights from France to Viet Nam = 6
Flights from Viet Nam to France = 6
Flights from France to Virgin Islands (British) = 1
Flights from Virgin Islands (British) to France = 1
Flights from French Guiana to Brazil = 1
Flights from Brazil to French Guiana = 2
Flights from French Guiana to France = 3
Flights from France to French Guiana = 6
Flights from French Guiana to Martinique = 2
Flights from Martinique to French Guiana = 2
Flights from French Guiana to Suriname = 1
Flights from Suriname to French Guiana = 1
Flights from French Polynesia to Chile = 1
Flights from Chile to French Polynesia = 2
Flights from French Polynesia to Cook Islands = 2
Flights from Cook Islands to French Polynesia = 4
Flights from French Polynesia to Japan = 2
Flights from Japan to French Polynesia = 2
Flights from French Polynesia to New Caledonia = 1
Flights from New Caledonia to French Polynesia = 1
Flights from French Polynesia to New Zealand = 4
Flights from New Zealand to French Polynesia = 4
Flights from French Polynesia to United States of America = 7
Flights from United States of America to French Polynesia = 7
Flights from Gabon to Benin = 3
Flights from Benin to Gabon = 6
Flights from Gabon to Cameroon = 4
Flights from Cameroon to Gabon = 9
Flights from Gabon to Congo = 6
Flights from Congo to Gabon = 12
Flights from Gabon to Congo, Democratic Republic of the = 1
Flights from Congo, Democratic Republic of the to Gabon = 2
Flights from Gabon to CÃ´te d'Ivoire = 1
Flights from CÃ´te d'Ivoire to Gabon = 2
Flights from Gabon to Equatorial Guinea = 1
Flights from Equatorial Guinea to Gabon = 3
Flights from Gabon to Ethiopia = 1
Flights from Ethiopia to Gabon = 2
Flights from Gabon to France = 1
Flights from France to Gabon = 2
Flights from Gabon to Morocco = 1
Flights from Morocco to Gabon = 1
Flights from Gabon to Nigeria = 2
Flights from Nigeria to Gabon = 1
Flights from Gabon to Rwanda = 1
Flights from Rwanda to Gabon = 1
Flights from Gabon to South Africa = 1
Flights from South Africa to Gabon = 1
Flights from Gabon to Togo = 1
Flights from Togo to Gabon = 1
Flights from Gambia to Cabo Verde = 1
Flights from Cabo Verde to Gambia = 2
Flights from Gambia to Guinea-Bissau = 1
Flights from Guinea-Bissau to Gambia = 1
Flights from Gambia to Morocco = 1
Flights from Morocco to Gambia = 1
Flights from Gambia to Senegal = 4
Flights from Senegal to Gambia = 4
Flights from Gambia to Sierra Leone = 2
Flights from Sierra Leone to Gambia = 2
Flights from Gambia to Spain = 4
Flights from Spain to Gambia = 4
Flights from Georgia to Austria = 2
Flights from Austria to Georgia = 4
Flights from Georgia to Azerbaijan = 2
Flights from Azerbaijan to Georgia = 4
Flights from Georgia to Belarus = 3
Flights from Belarus to Georgia = 6
Flights from Georgia to China = 1
Flights from China to Georgia = 2
Flights from Georgia to France = 2
Flights from France to Georgia = 4
Flights from Georgia to Germany = 1
Flights from Germany to Georgia = 1
Flights from Georgia to Greece = 1
Flights from Greece to Georgia = 1
Flights from Georgia to Iraq = 2
Flights from Iraq to Georgia = 2
Flights from Georgia to Israel = 3
Flights from Israel to Georgia = 3
Flights from Georgia to Italy = 1
Flights from Italy to Georgia = 1
Flights from Georgia to Kazakhstan = 2
Flights from Kazakhstan to Georgia = 2
Flights from Georgia to Latvia = 2
Flights from Latvia to Georgia = 2
Flights from Georgia to Lithuania = 1
Flights from Lithuania to Georgia = 1
Flights from Georgia to Netherlands = 2
Flights from Netherlands to Georgia = 2
Flights from Georgia to Poland = 3
Flights from Poland to Georgia = 3
Flights from Georgia to Russian Federation = 4
Flights from Russian Federation to Georgia = 5
Flights from Georgia to Turkey = 5
Flights from Turkey to Georgia = 5
Flights from Georgia to Ukraine = 7
Flights from Ukraine to Georgia = 7
Flights from Georgia to United Arab Emirates = 1
Flights from United Arab Emirates to Georgia = 1
Flights from Germany to Albania = 2
Flights from Albania to Germany = 4
Flights from Germany to Algeria = 3
Flights from Algeria to Germany = 6
Flights from Germany to Angola = 1
Flights from Angola to Germany = 2
Flights from Germany to Argentina = 1
Flights from Argentina to Germany = 2
Flights from Germany to Austria = 67
Flights from Austria to Germany = 134
Flights from Germany to Azerbaijan = 3
Flights from Azerbaijan to Germany = 6
Flights from Germany to Bahrain = 1
Flights from Bahrain to Germany = 2
Flights from Germany to Belarus = 4
Flights from Belarus to Germany = 8
Flights from Germany to Belgium = 15
Flights from Belgium to Germany = 30
Flights from Germany to Bosnia and Herzegovina = 4
Flights from Bosnia and Herzegovina to Germany = 8
Flights from Germany to Brazil = 8
Flights from Brazil to Germany = 16
Flights from Germany to Bulgaria = 11
Flights from Bulgaria to Germany = 22
Flights from Germany to Canada = 19
Flights from Canada to Germany = 38
Flights from Germany to Cabo Verde = 5
Flights from Cabo Verde to Germany = 10
Flights from Germany to China = 19
Flights from China to Germany = 38
Flights from Germany to Colombia = 2
Flights from Colombia to Germany = 4
Flights from Germany to Croatia = 57
Flights from Croatia to Germany = 112
Flights from Germany to Cuba = 4
Flights from Cuba to Germany = 8
Flights from Germany to Cyprus = 8
Flights from Cyprus to Germany = 16
Flights from Germany to Czechia = 14
Flights from Czechia to Germany = 28
Flights from Germany to Denmark = 27
Flights from Denmark to Germany = 53
Flights from Germany to Dominican Republic = 7
Flights from Dominican Republic to Germany = 14
Flights from Germany to Egypt = 18
Flights from Egypt to Germany = 36
Flights from Germany to Estonia = 2
Flights from Estonia to Germany = 4
Flights from Germany to Ethiopia = 2
Flights from Ethiopia to Germany = 4
Flights from Germany to Finland = 19
Flights from Finland to Germany = 38
Flights from Germany to France = 84
Flights from France to Germany = 168
Flights from Germany to Georgia = 1
Flights from Georgia to Germany = 2
Flights from Germany to Ghana = 1
Flights from Ghana to Germany = 1
Flights from Germany to Greece = 176
Flights from Greece to Germany = 166
Flights from Germany to Guernsey = 2
Flights from Guernsey to Germany = 1
Flights from Germany to Hong Kong = 3
Flights from Hong Kong to Germany = 3
Flights from Germany to Hungary = 11
Flights from Hungary to Germany = 12
Flights from Germany to Iceland = 4
Flights from Iceland to Germany = 4
Flights from Germany to India = 14
Flights from India to Germany = 12
Flights from Germany to Iran (Islamic Republic of) = 5
Flights from Iran (Islamic Republic of) to Germany = 5
Flights from Germany to Iraq = 5
Flights from Iraq to Germany = 5
Flights from Germany to Ireland = 19
Flights from Ireland to Germany = 19
Flights from Germany to Israel = 12
Flights from Israel to Germany = 12
Flights from Germany to Italy = 221
Flights from Italy to Germany = 221
Flights from Germany to Jamaica = 1
Flights from Jamaica to Germany = 1
Flights from Germany to Japan = 11
Flights from Japan to Germany = 11
Flights from Germany to Jersey = 3
Flights from Jersey to Germany = 4
Flights from Germany to Jordan = 7
Flights from Jordan to Germany = 7
Flights from Germany to Kazakhstan = 4
Flights from Kazakhstan to Germany = 4
Flights from Germany to Kenya = 2
Flights from Kenya to Germany = 1
Flights from Germany to Kuwait = 2
Flights from Kuwait to Germany = 2
Flights from Germany to Latvia = 14
Flights from Latvia to Germany = 14
Flights from Germany to Lebanon = 3
Flights from Lebanon to Germany = 3
Flights from Germany to Lithuania = 7
Flights from Lithuania to Germany = 7
Flights from Germany to Luxembourg = 9
Flights from Luxembourg to Germany = 9
Flights from Germany to North Macedonia = 5
Flights from North Macedonia to Germany = 5
Flights from Germany to Malaysia = 3
Flights from Malaysia to Germany = 3
Flights from Germany to Maldives = 1
Flights from Maldives to Germany = 1
Flights from Germany to Malta = 8
Flights from Malta to Germany = 8
Flights from Germany to Mauritius = 1
Flights from Mauritius to Germany = 1
Flights from Germany to Mexico = 4
Flights from Mexico to Germany = 4
Flights from Germany to Moldova, Republic of = 2
Flights from Moldova, Republic of to Germany = 2
Flights from Germany to Montenegro = 2
Flights from Montenegro to Germany = 2
Flights from Germany to Morocco = 20
Flights from Morocco to Germany = 21
Flights from Germany to Namibia = 1
Flights from Namibia to Germany = 1
Flights from Germany to Netherlands = 27
Flights from Netherlands to Germany = 25

Flights from Germany to Netherlands Antilles = 1
Flights from Netherlands Antilles to Germany = 1
Flights from Germany to Nigeria = 4
Flights from Nigeria to Germany = 4
Flights from Germany to Norway = 26
Flights from Norway to Germany = 26
Flights from Germany to Oman = 2
Flights from Oman to Germany = 2
Flights from Germany to Poland = 44
Flights from Poland to Germany = 44
Flights from Germany to Portugal = 64
Flights from Portugal to Germany = 62
Flights from Germany to Puerto Rico = 1
Flights from Puerto Rico to Germany = 1
Flights from Germany to Qatar = 9
Flights from Qatar to Germany = 9
Flights from Germany to Romania = 15
Flights from Romania to Germany = 16
Flights from Germany to Russian Federation = 46
Flights from Russian Federation to Germany = 47
Flights from Germany to Saudi Arabia = 10
Flights from Saudi Arabia to Germany = 10
Flights from Germany to Serbia = 25
Flights from Serbia to Germany = 25
Flights from Germany to Seychelles = 1
Flights from Seychelles to Germany = 1
Flights from Germany to Singapore = 7
Flights from Singapore to Germany = 7
Flights from Germany to Slovenia = 4
Flights from Slovenia to Germany = 4
Flights from Germany to South Africa = 6
Flights from South Africa to Germany = 6
Flights from Germany to Korea, Republic of = 4
Flights from Korea, Republic of to Germany = 4
Flights from Germany to Spain = 354
Flights from Spain to Germany = 353
Flights from Germany to Sri Lanka = 1
Flights from Sri Lanka to Germany = 1
Flights from Germany to Sweden = 29
Flights from Sweden to Germany = 29
Flights from Germany to Switzerland = 42
Flights from Switzerland to Germany = 42
Flights from Germany to Taiwan = 1
Flights from Taiwan to Germany = 1
Flights from Germany to Tajikistan = 1
Flights from Tajikistan to Germany = 1
Flights from Germany to Thailand = 4
Flights from Thailand to Germany = 4
Flights from Germany to Tunisia = 32
Flights from Tunisia to Germany = 32
Flights from Germany to Turkey = 128
Flights from Turkey to Germany = 128
Flights from Germany to Turkmenistan = 1
Flights from Turkmenistan to Germany = 1
Flights from Germany to Ukraine = 12
Flights from Ukraine to Germany = 12
Flights from Germany to United Arab Emirates = 23
Flights from United Arab Emirates to Germany = 23
Flights from Germany to United Kingdom of Great Britain and Northern Ireland = 103
Flights from United Kingdom of Great Britain and Northern Ireland to Germany = 103
Flights from Germany to United States of America = 115
Flights from United States of America to Germany = 114
Flights from Germany to Uzbekistan = 1
Flights from Uzbekistan to Germany = 1
Flights from Germany to Venezuela (Bolivarian Republic of) = 1
Flights from Venezuela (Bolivarian Republic of) to Germany = 1
Flights from Germany to Viet Nam = 4
Flights from Viet Nam to Germany = 4
Flights from Ghana to Benin = 1
Flights from Benin to Ghana = 2
Flights from Ghana to Burkina Faso = 1
Flights from Burkina Faso to Ghana = 2
Flights from Ghana to CÃ´te d'Ivoire = 8
Flights from CÃ´te d'Ivoire to Ghana = 15
Flights from Ghana to Egypt = 1
Flights from Egypt to Ghana = 2
Flights from Ghana to Ethiopia = 1
Flights from Ethiopia to Ghana = 2
Flights from Ghana to Germany = 1
Flights from Germany to Ghana = 2
Flights from Ghana to Kenya = 1
Flights from Kenya to Ghana = 1
Flights from Ghana to Lebanon = 1
Flights from Lebanon to Ghana = 1
Flights from Ghana to Liberia = 5
Flights from Liberia to Ghana = 5
Flights from Ghana to Namibia = 1
Flights from Namibia to Ghana = 1
Flights from Ghana to Netherlands = 1
Flights from Netherlands to Ghana = 1
Flights from Ghana to Nigeria = 5
Flights from Nigeria to Ghana = 6
Flights from Ghana to Portugal = 1
Flights from Portugal to Ghana = 1
Flights from Ghana to Senegal = 3
Flights from Senegal to Ghana = 3
Flights from Ghana to Sierra Leone = 3
Flights from Sierra Leone to Ghana = 3
Flights from Ghana to South Africa = 1
Flights from South Africa to Ghana = 1
Flights from Ghana to Spain = 1
Flights from Spain to Ghana = 1
Flights from Ghana to Togo = 1
Flights from Togo to Ghana = 2
Flights from Ghana to Turkey = 1
Flights from Turkey to Ghana = 1
Flights from Ghana to United Arab Emirates = 1
Flights from United Arab Emirates to Ghana = 1
Flights from Ghana to United Kingdom of Great Britain and Northern Ireland = 2
Flights from United Kingdom of Great Britain and Northern Ireland to Ghana = 2
Flights from Ghana to United States of America = 1
Flights from United States of America to Ghana = 1
Flights from Gibraltar to United Kingdom of Great Britain and Northern Ireland = 6
Flights from United Kingdom of Great Britain and Northern Ireland to Gibraltar = 6
Flights from Greece to Albania = 2
Flights from Albania to Greece = 4
Flights from Greece to Armenia = 1
Flights from Armenia to Greece = 2
Flights from Greece to Austria = 36
Flights from Austria to Greece = 72
Flights from Greece to Belgium = 18
Flights from Belgium to Greece = 38
Flights from Greece to Bulgaria = 4
Flights from Bulgaria to Greece = 8
Flights from Greece to Canada = 2
Flights from Canada to Greece = 4
Flights from Greece to Croatia = 2
Flights from Croatia to Greece = 4
Flights from Greece to Cyprus = 11
Flights from Cyprus to Greece = 23
Flights from Greece to Czechia = 4
Flights from Czechia to Greece = 9
Flights from Greece to Denmark = 7
Flights from Denmark to Greece = 14
Flights from Greece to Egypt = 4
Flights from Egypt to Greece = 8
Flights from Greece to Estonia = 1
Flights from Estonia to Greece = 2
Flights from Greece to Finland = 2
Flights from Finland to Greece = 4
Flights from Greece to France = 30
Flights from France to Greece = 62
Flights from Greece to Georgia = 1
Flights from Georgia to Greece = 2
Flights from Greece to Germany = 166
Flights from Germany to Greece = 342
Flights from Greece to Hungary = 2
Flights from Hungary to Greece = 2
Flights from Greece to Ireland = 3
Flights from Ireland to Greece = 3
Flights from Greece to Israel = 3
Flights from Israel to Greece = 3
Flights from Greece to Italy = 24
Flights from Italy to Greece = 25
Flights from Greece to Jordan = 1
Flights from Jordan to Greece = 1
Flights from Greece to Latvia = 2
Flights from Latvia to Greece = 2
Flights from Greece to Lebanon = 1
Flights from Lebanon to Greece = 1
Flights from Greece to Lithuania = 4
Flights from Lithuania to Greece = 4
Flights from Greece to Luxembourg = 4
Flights from Luxembourg to Greece = 4
Flights from Greece to Malta = 1
Flights from Malta to Greece = 1
Flights from Greece to Moldova, Republic of = 1
Flights from Moldova, Republic of to Greece = 1
Flights from Greece to Netherlands = 21
Flights from Netherlands to Greece = 21
Flights from Greece to Norway = 11
Flights from Norway to Greece = 11
Flights from Greece to Poland = 7
Flights from Poland to Greece = 7
Flights from Greece to Qatar = 2
Flights from Qatar to Greece = 2
Flights from Greece to Romania = 4
Flights from Romania to Greece = 4
Flights from Greece to Russian Federation = 28
Flights from Russian Federation to Greece = 28
Flights from Greece to Serbia = 4
Flights from Serbia to Greece = 4
Flights from Greece to Spain = 7
Flights from Spain to Greece = 7
Flights from Greece to Sweden = 10
Flights from Sweden to Greece = 10
Flights from Greece to Switzerland = 9
Flights from Switzerland to Greece = 9
Flights from Greece to Turkey = 6
Flights from Turkey to Greece = 6
Flights from Greece to Ukraine = 5
Flights from Ukraine to Greece = 5
Flights from Greece to United Arab Emirates = 3
Flights from United Arab Emirates to Greece = 3
Flights from Greece to United Kingdom of Great Britain and Northern Ireland = 95
Flights from United Kingdom of Great Britain and Northern Ireland to Greece = 105
Flights from Greece to United States of America = 3
Flights from United States of America to Greece = 3
Flights from Greenland to Denmark = 1
Flights from Denmark to Greenland = 2
Flights from Greenland to Iceland = 2
Flights from Iceland to Greenland = 2
Flights from Grenada to Barbados = 1
Flights from Barbados to Grenada = 2
Flights from Grenada to Canada = 2
Flights from Canada to Grenada = 4
Flights from Grenada to Saint Lucia = 2
Flights from Saint Lucia to Grenada = 3
Flights from Grenada to Saint Vincent and the Grenadines = 1
Flights from Saint Vincent and the Grenadines to Grenada = 1
Flights from Grenada to Trinidad and Tobago = 3
Flights from Trinidad and Tobago to Grenada = 3
Flights from Grenada to United States of America = 4
Flights from United States of America to Grenada = 4
Flights from Grenada to Venezuela (Bolivarian Republic of) = 1
Flights from Venezuela (Bolivarian Republic of) to Grenada = 1
Flights from Guadeloupe to Antigua and Barbuda = 2
Flights from Antigua and Barbuda to Guadeloupe = 4
Flights from Guadeloupe to Canada = 1
Flights from Canada to Guadeloupe = 2
Flights from Guadeloupe to Dominica = 3
Flights from Dominica to Guadeloupe = 6
Flights from Guadeloupe to Dominican Republic = 3
Flights from Dominican Republic to Guadeloupe = 6
Flights from Guadeloupe to France = 6
Flights from France to Guadeloupe = 13
Flights from Guadeloupe to Haiti = 2
Flights from Haiti to Guadeloupe = 2
Flights from Guadeloupe to Martinique = 5
Flights from Martinique to Guadeloupe = 4
Flights from Guadeloupe to Netherlands Antilles = 1
Flights from Netherlands Antilles to Guadeloupe = 1
Flights from Guadeloupe to Puerto Rico = 2
Flights from Puerto Rico to Guadeloupe = 2
Flights from Guadeloupe to United States of America = 2
Flights from United States of America to Guadeloupe = 2
Flights from Guam to Australia = 1
Flights from Australia to Guam = 2
Flights from Guam to Hong Kong = 1
Flights from Hong Kong to Guam = 1
Flights from Guam to Japan = 19
Flights from Japan to Guam = 19
Flights from Guam to Micronesia (Federated States of) = 2
Flights from Micronesia (Federated States of) to Guam = 2
Flights from Guam to Northern Mariana Islands = 2
Flights from Northern Mariana Islands to Guam = 2
Flights from Guam to Palau = 1
Flights from Palau to Guam = 1
Flights from Guam to Philippines = 2
Flights from Philippines to Guam = 2
Flights from Guam to Korea, Republic of = 4
Flights from Korea, Republic of to Guam = 4
Flights from Guam to Taiwan = 2
Flights from Taiwan to Guam = 2
Flights from Guam to United States of America = 1
Flights from United States of America to Guam = 1
Flights from Guatemala to Belize = 2
Flights from Belize to Guatemala = 4
Flights from Guatemala to Colombia = 1
Flights from Colombia to Guatemala = 2
Flights from Guatemala to Costa Rica = 2
Flights from Costa Rica to Guatemala = 6
Flights from Guatemala to El Salvador = 3
Flights from El Salvador to Guatemala = 4
Flights from Guatemala to Honduras = 8
Flights from Honduras to Guatemala = 10
Flights from Guatemala to Mexico = 3
Flights from Mexico to Guatemala = 3
Flights from Guatemala to Nicaragua = 1
Flights from Nicaragua to Guatemala = 1
Flights from Guatemala to Panama = 1
Flights from Panama to Guatemala = 1
Flights from Guatemala to United States of America = 17
Flights from United States of America to Guatemala = 17
Flights from Guernsey to France = 1
Flights from France to Guernsey = 2
Flights from Guernsey to Germany = 1
Flights from Germany to Guernsey = 3
Flights from Guernsey to Jersey = 4
Flights from Jersey to Guernsey = 3
Flights from Guernsey to Netherlands = 1
Flights from Netherlands to Guernsey = 1
Flights from Guernsey to United Kingdom of Great Britain and Northern Ireland = 11
Flights from United Kingdom of Great Britain and Northern Ireland to Guernsey = 11
Flights from Guinea to CÃ´te d'Ivoire = 2
Flights from CÃ´te d'Ivoire to Guinea = 4
Flights from Guinea to France = 1
Flights from France to Guinea = 2
Flights from Guinea to Guinea-Bissau = 2
Flights from Guinea-Bissau to Guinea = 2
Flights from Guinea to Mali = 2
Flights from Mali to Guinea = 2
Flights from Guinea to Mauritania = 1
Flights from Mauritania to Guinea = 1
Flights from Guinea to Morocco = 1
Flights from Morocco to Guinea = 1
Flights from Guinea to Senegal = 8
Flights from Senegal to Guinea = 8
Flights from Guinea to Togo = 1
Flights from Togo to Guinea = 1
Flights from Guinea-Bissau to Cabo Verde = 1
Flights from Cabo Verde to Guinea-Bissau = 2
Flights from Guinea-Bissau to Gambia = 1
Flights from Gambia to Guinea-Bissau = 2
Flights from Guinea-Bissau to Guinea = 2
Flights from Guinea to Guinea-Bissau = 4
Flights from Guinea-Bissau to Morocco = 1
Flights from Morocco to Guinea-Bissau = 1
Flights from Guinea-Bissau to Senegal = 2
Flights from Senegal to Guinea-Bissau = 2
Flights from Guyana to Barbados = 1
Flights from Barbados to Guyana = 2
Flights from Guyana to Canada = 2
Flights from Canada to Guyana = 4
Flights from Guyana to Jamaica = 1
Flights from Jamaica to Guyana = 1
Flights from Guyana to Suriname = 1
Flights from Suriname to Guyana = 1
Flights from Guyana to Trinidad and Tobago = 1
Flights from Trinidad and Tobago to Guyana = 1
Flights from Guyana to United States of America = 2
Flights from United States of America to Guyana = 2
Flights from Guyana to Venezuela (Bolivarian Republic of) = 1
Flights from Venezuela (Bolivarian Republic of) to Guyana = 1
Flights from Haiti to Canada = 1
Flights from Canada to Haiti = 2
Flights from Haiti to Dominican Republic = 3
Flights from Dominican Republic to Haiti = 5
Flights from Haiti to Guadeloupe = 2
Flights from Guadeloupe to Haiti = 4
Flights from Haiti to Netherlands Antilles = 1
Flights from Netherlands Antilles to Haiti = 1
Flights from Haiti to Panama = 2
Flights from Panama to Haiti = 2
Flights from Haiti to Turks and Caicos Islands = 3
Flights from Turks and Caicos Islands to Haiti = 3
Flights from Haiti to United States of America = 13
Flights from United States of America to Haiti = 13
Flights from Honduras to Belize = 2
Flights from Belize to Honduras = 4
Flights from Honduras to Cayman Islands = 2
Flights from Cayman Islands to Honduras = 4
Flights from Honduras to Costa Rica = 5
Flights from Costa Rica to Honduras = 10
Flights from Honduras to El Salvador = 3
Flights from El Salvador to Honduras = 6
Flights from Honduras to Guatemala = 10
Flights from Guatemala to Honduras = 18
Flights from Honduras to Mexico = 1
Flights from Mexico to Honduras = 1
Flights from Honduras to Panama = 2
Flights from Panama to Honduras = 2
Flights from Honduras to United States of America = 19
Flights from United States of America to Honduras = 19
Flights from Hong Kong to Australia = 15
Flights from Australia to Hong Kong = 31
Flights from Hong Kong to Bangladesh = 3
Flights from Bangladesh to Hong Kong = 6
Flights from Hong Kong to Brunei = 2
Flights from Brunei to Hong Kong = 4
Flights from Hong Kong to Myanmar = 1
Flights from Myanmar to Hong Kong = 2
Flights from Hong Kong to Cambodia = 2
Flights from Cambodia to Hong Kong = 4
Flights from Hong Kong to Canada = 4
Flights from Canada to Hong Kong = 8
Flights from Hong Kong to China = 117
Flights from China to Hong Kong = 235
Flights from Hong Kong to Ethiopia = 1
Flights from Ethiopia to Hong Kong = 2
Flights from Hong Kong to Fiji = 2
Flights from Fiji to Hong Kong = 4
Flights from Hong Kong to Finland = 1
Flights from Finland to Hong Kong = 2
Flights from Hong Kong to France = 3
Flights from France to Hong Kong = 6
Flights from Hong Kong to Germany = 3
Flights from Germany to Hong Kong = 6
Flights from Hong Kong to Guam = 1
Flights from Guam to Hong Kong = 2
Flights from Hong Kong to India = 13
Flights from India to Hong Kong = 13
Flights from Hong Kong to Indonesia = 10
Flights from Indonesia to Hong Kong = 10
Flights from Hong Kong to Israel = 1
Flights from Israel to Hong Kong = 1
Flights from Hong Kong to Italy = 2
Flights from Italy to Hong Kong = 2
Flights from Hong Kong to Japan = 27
Flights from Japan to Hong Kong = 27
Flights from Hong Kong to Kazakhstan = 1
Flights from Kazakhstan to Hong Kong = 1
Flights from Hong Kong to Malaysia = 11
Flights from Malaysia to Hong Kong = 11
Flights from Hong Kong to Maldives = 2
Flights from Maldives to Hong Kong = 2
Flights from Hong Kong to Mauritius = 1
Flights from Mauritius to Hong Kong = 1
Flights from Hong Kong to Mongolia = 2
Flights from Mongolia to Hong Kong = 2
Flights from Hong Kong to Nepal = 1
Flights from Nepal to Hong Kong = 1
Flights from Hong Kong to Netherlands = 2
Flights from Netherlands to Hong Kong = 2
Flights from Hong Kong to New Zealand = 3
Flights from New Zealand to Hong Kong = 2

Flights from Hong Kong to Papua New Guinea = 1
Flights from Papua New Guinea to Hong Kong = 1
Flights from Hong Kong to Philippines = 11
Flights from Philippines to Hong Kong = 11
Flights from Hong Kong to Qatar = 2
Flights from Qatar to Hong Kong = 2
Flights from Hong Kong to Russian Federation = 9
Flights from Russian Federation to Hong Kong = 9
Flights from Hong Kong to Saudi Arabia = 1
Flights from Saudi Arabia to Hong Kong = 1
Flights from Hong Kong to Singapore = 8
Flights from Singapore to Hong Kong = 8
Flights from Hong Kong to South Africa = 2
Flights from South Africa to Hong Kong = 2
Flights from Hong Kong to Korea, Republic of = 16
Flights from Korea, Republic of to Hong Kong = 16
Flights from Hong Kong to Switzerland = 1
Flights from Switzerland to Hong Kong = 1
Flights from Hong Kong to Taiwan = 13
Flights from Taiwan to Hong Kong = 13
Flights from Hong Kong to Thailand = 24
Flights from Thailand to Hong Kong = 24
Flights from Hong Kong to Turkey = 1
Flights from Turkey to Hong Kong = 1
Flights from Hong Kong to United Arab Emirates = 5
Flights from United Arab Emirates to Hong Kong = 4
Flights from Hong Kong to United Kingdom of Great Britain and Northern Ireland = 3
Flights from United Kingdom of Great Britain and Northern Ireland to Hong Kong = 3
Flights from Hong Kong to United States of America = 16
Flights from United States of America to Hong Kong = 16
Flights from Hong Kong to Viet Nam = 10
Flights from Viet Nam to Hong Kong = 10
Flights from Hungary to Austria = 1
Flights from Austria to Hungary = 2
Flights from Hungary to Azerbaijan = 1
Flights from Azerbaijan to Hungary = 2
Flights from Hungary to Belarus = 1
Flights from Belarus to Hungary = 2
Flights from Hungary to Belgium = 3
Flights from Belgium to Hungary = 6
Flights from Hungary to Croatia = 1
Flights from Croatia to Hungary = 2
Flights from Hungary to Cyprus = 1
Flights from Cyprus to Hungary = 2
Flights from Hungary to Czechia = 2
Flights from Czechia to Hungary = 4
Flights from Hungary to Denmark = 3
Flights from Denmark to Hungary = 6
Flights from Hungary to Egypt = 1
Flights from Egypt to Hungary = 2
Flights from Hungary to Finland = 3
Flights from Finland to Hungary = 6
Flights from Hungary to France = 5
Flights from France to Hungary = 10
Flights from Hungary to Germany = 12
Flights from Germany to Hungary = 23
Flights from Hungary to Greece = 2
Flights from Greece to Hungary = 4
Flights from Hungary to Ireland = 2
Flights from Ireland to Hungary = 2
Flights from Hungary to Israel = 2
Flights from Israel to Hungary = 2
Flights from Hungary to Italy = 11
Flights from Italy to Hungary = 11
Flights from Hungary to Latvia = 1
Flights from Latvia to Hungary = 1
Flights from Hungary to Malta = 2
Flights from Malta to Hungary = 2
Flights from Hungary to Netherlands = 4
Flights from Netherlands to Hungary = 4
Flights from Hungary to Norway = 1
Flights from Norway to Hungary = 1
Flights from Hungary to Poland = 2
Flights from Poland to Hungary = 2
Flights from Hungary to Portugal = 1
Flights from Portugal to Hungary = 1
Flights from Hungary to Qatar = 1
Flights from Qatar to Hungary = 1
Flights from Hungary to Romania = 1
Flights from Romania to Hungary = 1
Flights from Hungary to Russian Federation = 4
Flights from Russian Federation to Hungary = 4
Flights from Hungary to Serbia = 2
Flights from Serbia to Hungary = 2
Flights from Hungary to Spain = 5
Flights from Spain to Hungary = 5
Flights from Hungary to Sweden = 4
Flights from Sweden to Hungary = 4
Flights from Hungary to Switzerland = 2
Flights from Switzerland to Hungary = 2
Flights from Hungary to Turkey = 2
Flights from Turkey to Hungary = 2
Flights from Hungary to Ukraine = 1
Flights from Ukraine to Hungary = 1
Flights from Hungary to United Arab Emirates = 1
Flights from United Arab Emirates to Hungary = 1
Flights from Hungary to United Kingdom of Great Britain and Northern Ireland = 15
Flights from United Kingdom of Great Britain and Northern Ireland to Hungary = 15
Flights from Iceland to Belgium = 1
Flights from Belgium to Iceland = 2
Flights from Iceland to Canada = 2
Flights from Canada to Iceland = 4
Flights from Iceland to Denmark = 4
Flights from Denmark to Iceland = 8
Flights from Iceland to Finland = 2
Flights from Finland to Iceland = 4
Flights from Iceland to France = 4
Flights from France to Iceland = 8
Flights from Iceland to Germany = 4
Flights from Germany to Iceland = 8
Flights from Iceland to Greenland = 2
Flights from Greenland to Iceland = 4
Flights from Iceland to Netherlands = 1
Flights from Netherlands to Iceland = 1
Flights from Iceland to Norway = 5
Flights from Norway to Iceland = 6
Flights from Iceland to Spain = 2
Flights from Spain to Iceland = 2
Flights from Iceland to Sweden = 1
Flights from Sweden to Iceland = 1
Flights from Iceland to Switzerland = 1
Flights from Switzerland to Iceland = 1
Flights from Iceland to United Kingdom of Great Britain and Northern Ireland = 10
Flights from United Kingdom of Great Britain and Northern Ireland to Iceland = 10
Flights from Iceland to United States of America = 7
Flights from United States of America to Iceland = 7
Flights from India to Afghanistan = 7
Flights from Afghanistan to India = 14
Flights from India to Australia = 2
Flights from Australia to India = 4
Flights from India to Austria = 2
Flights from Austria to India = 4
Flights from India to Bahrain = 8
Flights from Bahrain to India = 15
Flights from India to Bangladesh = 12
Flights from Bangladesh to India = 24
Flights from India to Belgium = 5
Flights from Belgium to India = 9
Flights from India to Bhutan = 3
Flights from Bhutan to India = 6
Flights from India to Myanmar = 1
Flights from Myanmar to India = 2
Flights from India to China = 6
Flights from China to India = 12
Flights from India to Egypt = 2
Flights from Egypt to India = 4
Flights from India to Ethiopia = 4
Flights from Ethiopia to India = 8
Flights from India to Finland = 1
Flights from Finland to India = 2
Flights from India to France = 4
Flights from France to India = 8
Flights from India to Germany = 12
Flights from Germany to India = 26
Flights from India to Hong Kong = 13
Flights from Hong Kong to India = 26
Flights from India to Iran (Islamic Republic of) = 2
Flights from Iran (Islamic Republic of) to India = 2
Flights from India to Israel = 1
Flights from Israel to India = 1
Flights from India to Italy = 2
Flights from Italy to India = 2
Flights from India to Japan = 5
Flights from Japan to India = 5
Flights from India to Jordan = 2
Flights from Jordan to India = 2
Flights from India to Kazakhstan = 1
Flights from Kazakhstan to India = 1
Flights from India to Kenya = 3
Flights from Kenya to India = 3
Flights from India to Kuwait = 9
Flights from Kuwait to India = 9
Flights from India to Malaysia = 20
Flights from Malaysia to India = 20
Flights from India to Maldives = 5
Flights from Maldives to India = 5
Flights from India to Mauritius = 6
Flights from Mauritius to India = 6
Flights from India to Nepal = 8
Flights from Nepal to India = 8
Flights from India to Netherlands = 3
Flights from Netherlands to India = 3
Flights from India to Oman = 21
Flights from Oman to India = 22
Flights from India to Pakistan = 3
Flights from Pakistan to India = 3
Flights from India to Qatar = 16
Flights from Qatar to India = 16
Flights from India to RÃ©union = 1
Flights from RÃ©union to India = 1
Flights from India to Russian Federation = 2
Flights from Russian Federation to India = 2
Flights from India to Saudi Arabia = 35
Flights from Saudi Arabia to India = 35
Flights from India to Singapore = 34
Flights from Singapore to India = 34
Flights from India to South Africa = 3
Flights from South Africa to India = 3
Flights from India to Korea, Republic of = 3
Flights from Korea, Republic of to India = 3
Flights from India to Sri Lanka = 24
Flights from Sri Lanka to India = 22
Flights from India to Switzerland = 4
Flights from Switzerland to India = 4
Flights from India to Taiwan = 2
Flights from Taiwan to India = 2
Flights from India to Tajikistan = 1
Flights from Tajikistan to India = 1
Flights from India to Thailand = 17
Flights from Thailand to India = 17
Flights from India to Turkey = 4
Flights from Turkey to India = 4
Flights from India to Turkmenistan = 2
Flights from Turkmenistan to India = 2
Flights from India to United Arab Emirates = 81
Flights from United Arab Emirates to India = 81
Flights from India to United Kingdom of Great Britain and Northern Ireland = 15
Flights from United Kingdom of Great Britain and Northern Ireland to India = 15
Flights from India to United States of America = 5
Flights from United States of America to India = 5
Flights from India to Uzbekistan = 2
Flights from Uzbekistan to India = 2
Flights from India to Yemen = 2
Flights from Yemen to India = 1
Flights from Indonesia to Australia = 26
Flights from Australia to Indonesia = 52
Flights from Indonesia to Brunei = 4
Flights from Brunei to Indonesia = 8
Flights from Indonesia to China = 13
Flights from China to Indonesia = 26
Flights from Indonesia to East Timor = 1
Flights from East Timor to Indonesia = 2
Flights from Indonesia to Egypt = 1
Flights from Egypt to Indonesia = 2
Flights from Indonesia to Hong Kong = 10
Flights from Hong Kong to Indonesia = 20
Flights from Indonesia to Japan = 13
Flights from Japan to Indonesia = 13
Flights from Indonesia to Malaysia = 46
Flights from Malaysia to Indonesia = 46
Flights from Indonesia to Papua New Guinea = 1
Flights from Papua New Guinea to Indonesia = 1
Flights from Indonesia to Philippines = 5
Flights from Philippines to Indonesia = 5
Flights from Indonesia to Qatar = 1
Flights from Qatar to Indonesia = 1
Flights from Indonesia to Saudi Arabia = 7
Flights from Saudi Arabia to Indonesia = 6
Flights from Indonesia to Singapore = 63
Flights from Singapore to Indonesia = 62
Flights from Indonesia to Korea, Republic of = 6
Flights from Korea, Republic of to Indonesia = 6
Flights from Indonesia to Sri Lanka = 2
Flights from Sri Lanka to Indonesia = 2
Flights from Indonesia to Taiwan = 7
Flights from Taiwan to Indonesia = 7
Flights from Indonesia to Thailand = 8
Flights from Thailand to Indonesia = 8
Flights from Indonesia to United Arab Emirates = 5
Flights from United Arab Emirates to Indonesia = 5
Flights from Indonesia to Viet Nam = 1
Flights from Viet Nam to Indonesia = 1
Flights from Iran (Islamic Republic of) to Afghanistan = 5
Flights from Afghanistan to Iran (Islamic Republic of) = 10
Flights from Iran (Islamic Republic of) to Armenia = 1
Flights from Armenia to Iran (Islamic Republic of) = 2
Flights from Iran (Islamic Republic of) to Austria = 2
Flights from Austria to Iran (Islamic Republic of) = 4
Flights from Iran (Islamic Republic of) to Azerbaijan = 3
Flights from Azerbaijan to Iran (Islamic Republic of) = 6
Flights from Iran (Islamic Republic of) to Bahrain = 3
Flights from Bahrain to Iran (Islamic Republic of) = 6
Flights from Iran (Islamic Republic of) to Belarus = 1
Flights from Belarus to Iran (Islamic Republic of) = 2
Flights from Iran (Islamic Republic of) to China = 4
Flights from China to Iran (Islamic Republic of) = 8
Flights from Iran (Islamic Republic of) to France = 1
Flights from France to Iran (Islamic Republic of) = 2
Flights from Iran (Islamic Republic of) to Germany = 5
Flights from Germany to Iran (Islamic Republic of) = 10
Flights from Iran (Islamic Republic of) to India = 2
Flights from India to Iran (Islamic Republic of) = 4
Flights from Iran (Islamic Republic of) to Iraq = 4
Flights from Iraq to Iran (Islamic Republic of) = 4
Flights from Iran (Islamic Republic of) to Italy = 3
Flights from Italy to Iran (Islamic Republic of) = 3
Flights from Iran (Islamic Republic of) to Kazakhstan = 1
Flights from Kazakhstan to Iran (Islamic Republic of) = 1
Flights from Iran (Islamic Republic of) to Kuwait = 10
Flights from Kuwait to Iran (Islamic Republic of) = 10
Flights from Iran (Islamic Republic of) to Lebanon = 2
Flights from Lebanon to Iran (Islamic Republic of) = 2
Flights from Iran (Islamic Republic of) to Malaysia = 2
Flights from Malaysia to Iran (Islamic Republic of) = 2
Flights from Iran (Islamic Republic of) to Netherlands = 1
Flights from Netherlands to Iran (Islamic Republic of) = 1
Flights from Iran (Islamic Republic of) to Oman = 3
Flights from Oman to Iran (Islamic Republic of) = 3
Flights from Iran (Islamic Republic of) to Pakistan = 3
Flights from Pakistan to Iran (Islamic Republic of) = 3
Flights from Iran (Islamic Republic of) to Qatar = 5
Flights from Qatar to Iran (Islamic Republic of) = 5
Flights from Iran (Islamic Republic of) to Russian Federation = 1
Flights from Russian Federation to Iran (Islamic Republic of) = 2
Flights from Iran (Islamic Republic of) to Saudi Arabia = 12
Flights from Saudi Arabia to Iran (Islamic Republic of) = 12
Flights from Iran (Islamic Republic of) to Sweden = 3
Flights from Sweden to Iran (Islamic Republic of) = 3
Flights from Iran (Islamic Republic of) to Tajikistan = 3
Flights from Tajikistan to Iran (Islamic Republic of) = 3
Flights from Iran (Islamic Republic of) to Thailand = 1
Flights from Thailand to Iran (Islamic Republic of) = 1
Flights from Iran (Islamic Republic of) to Turkey = 14
Flights from Turkey to Iran (Islamic Republic of) = 14
Flights from Iran (Islamic Republic of) to United Arab Emirates = 22
Flights from United Arab Emirates to Iran (Islamic Republic of) = 23
Flights from Iran (Islamic Republic of) to United Kingdom of Great Britain and Northern Ireland = 1
Flights from United Kingdom of Great Britain and Northern Ireland to Iran (Islamic Republic of) = 1
Flights from Iran (Islamic Republic of) to Uzbekistan = 1
Flights from Uzbekistan to Iran (Islamic Republic of) = 1
Flights from Iraq to Austria = 1
Flights from Austria to Iraq = 2
Flights from Iraq to Bahrain = 2
Flights from Bahrain to Iraq = 4
Flights from Iraq to Egypt = 2
Flights from Egypt to Iraq = 4
Flights from Iraq to Georgia = 2
Flights from Georgia to Iraq = 4
Flights from Iraq to Germany = 5
Flights from Germany to Iraq = 10
Flights from Iraq to Iran (Islamic Republic of) = 4
Flights from Iran (Islamic Republic of) to Iraq = 8
Flights from Iraq to Jordan = 7
Flights from Jordan to Iraq = 6
Flights from Iraq to Kuwait = 2
Flights from Kuwait to Iraq = 2
Flights from Iraq to Lebanon = 5
Flights from Lebanon to Iraq = 5
Flights from Iraq to Netherlands = 1
Flights from Netherlands to Iraq = 1
Flights from Iraq to Qatar = 5
Flights from Qatar to Iraq = 5
Flights from Iraq to Sweden = 7
Flights from Sweden to Iraq = 7
Flights from Iraq to Turkey = 15
Flights from Turkey to Iraq = 15
Flights from Iraq to United Arab Emirates = 15
Flights from United Arab Emirates to Iraq = 15
Flights from Ireland to Austria = 1
Flights from Austria to Ireland = 2
Flights from Ireland to Belgium = 3
Flights from Belgium to Ireland = 6
Flights from Ireland to Bulgaria = 1
Flights from Bulgaria to Ireland = 2
Flights from Ireland to Canada = 3
Flights from Canada to Ireland = 6
Flights from Ireland to Croatia = 3
Flights from Croatia to Ireland = 6
Flights from Ireland to Czechia = 2
Flights from Czechia to Ireland = 4
Flights from Ireland to Denmark = 3
Flights from Denmark to Ireland = 6
Flights from Ireland to Finland = 1
Flights from Finland to Ireland = 2
Flights from Ireland to France = 23
Flights from France to Ireland = 46
Flights from Ireland to Germany = 19
Flights from Germany to Ireland = 38
Flights from Ireland to Greece = 3
Flights from Greece to Ireland = 6
Flights from Ireland to Hungary = 2
Flights from Hungary to Ireland = 4
Flights from Ireland to Isle of Man = 1
Flights from Isle of Man to Ireland = 1
Flights from Ireland to Italy = 16
Flights from Italy to Ireland = 16
Flights from Ireland to Jersey = 2
Flights from Jersey to Ireland = 2
Flights from Ireland to Latvia = 1
Flights from Latvia to Ireland = 1
Flights from Ireland to Lithuania = 4
Flights from Lithuania to Ireland = 4
Flights from Ireland to Luxembourg = 1
Flights from Luxembourg to Ireland = 1
Flights from Ireland to Malta = 1
Flights from Malta to Ireland = 1
Flights from Ireland to Moldova, Republic of = 1
Flights from Moldova, Republic of to Ireland = 1
Flights from Ireland to Morocco = 1
Flights from Morocco to Ireland = 1
Flights from Ireland to Netherlands = 4
Flights from Netherlands to Ireland = 4
Flights from Ireland to Norway = 3
Flights from Norway to Ireland = 3
Flights from Ireland to Poland = 15
Flights from Poland to Ireland = 15
Flights from Ireland to Portugal = 12
Flights from Portugal to Ireland = 12
Flights from Ireland to Romania = 2
Flights from Romania to Ireland = 2
Flights from Ireland to Slovakia = 1
Flights from Slovakia to Ireland = 1
Flights from Ireland to Spain = 53
Flights from Spain to Ireland = 53
Flights from Ireland to Sweden = 2
Flights from Sweden to Ireland = 2
Flights from Ireland to Switzerland = 3
Flights from Switzerland to Ireland = 3
Flights from Ireland to Turkey = 2
Flights from Turkey to Ireland = 2
Flights from Ireland to United Arab Emirates = 4
Flights from United Arab Emirates to Ireland = 4
Flights from Ireland to United Kingdom of Great Britain and Northern Ireland = 63
Flights from United Kingdom of Great Britain and Northern Ireland to Ireland = 63
Flights from Ireland to United States of America = 35
Flights from United States of America to Ireland = 35
Flights from Isle of Man to Ireland = 1
Flights from Ireland to Isle of Man = 2
Flights from Isle of Man to United Kingdom of Great Britain and Northern Ireland = 10

Flights from United Kingdom of Great Britain and Northern Ireland to Isle of Man = 10
Flights from Israel to Austria = 3
Flights from Austria to Israel = 6
Flights from Israel to Azerbaijan = 1
Flights from Azerbaijan to Israel = 2
Flights from Israel to Belarus = 1
Flights from Belarus to Israel = 2
Flights from Israel to Belgium = 2
Flights from Belgium to Israel = 4
Flights from Israel to Bulgaria = 2
Flights from Bulgaria to Israel = 4
Flights from Israel to Canada = 3
Flights from Canada to Israel = 5
Flights from Israel to China = 2
Flights from China to Israel = 4
Flights from Israel to Cyprus = 3
Flights from Cyprus to Israel = 6
Flights from Israel to Czechia = 4
Flights from Czechia to Israel = 8
Flights from Israel to Denmark = 2
Flights from Denmark to Israel = 4
Flights from Israel to Egypt = 1
Flights from Egypt to Israel = 2
Flights from Israel to Ethiopia = 1
Flights from Ethiopia to Israel = 2
Flights from Israel to Finland = 1
Flights from Finland to Israel = 2
Flights from Israel to France = 10
Flights from France to Israel = 19
Flights from Israel to Georgia = 3
Flights from Georgia to Israel = 6
Flights from Israel to Germany = 12
Flights from Germany to Israel = 24
Flights from Israel to Greece = 3
Flights from Greece to Israel = 6
Flights from Israel to Hong Kong = 1
Flights from Hong Kong to Israel = 2
Flights from Israel to Hungary = 2
Flights from Hungary to Israel = 4
Flights from Israel to India = 1
Flights from India to Israel = 2
Flights from Israel to Italy = 9
Flights from Italy to Israel = 9
Flights from Israel to Jordan = 2
Flights from Jordan to Israel = 2
Flights from Israel to Latvia = 1
Flights from Latvia to Israel = 1
Flights from Israel to Lithuania = 1
Flights from Lithuania to Israel = 1
Flights from Israel to Netherlands = 4
Flights from Netherlands to Israel = 4
Flights from Israel to Poland = 4
Flights from Poland to Israel = 4
Flights from Israel to Romania = 5
Flights from Romania to Israel = 5
Flights from Israel to Russian Federation = 10
Flights from Russian Federation to Israel = 10
Flights from Israel to Serbia = 1
Flights from Serbia to Israel = 1
Flights from Israel to South Africa = 1
Flights from South Africa to Israel = 1
Flights from Israel to Korea, Republic of = 1
Flights from Korea, Republic of to Israel = 1
Flights from Israel to Spain = 6
Flights from Spain to Israel = 6
Flights from Israel to Sweden = 1
Flights from Sweden to Israel = 1
Flights from Israel to Switzerland = 5
Flights from Switzerland to Israel = 5
Flights from Israel to Thailand = 2
Flights from Thailand to Israel = 2
Flights from Israel to Turkey = 3
Flights from Turkey to Israel = 3
Flights from Israel to Ukraine = 7
Flights from Ukraine to Israel = 7
Flights from Israel to United Kingdom of Great Britain and Northern Ireland = 6
Flights from United Kingdom of Great Britain and Northern Ireland to Israel = 6
Flights from Israel to United States of America = 7
Flights from United States of America to Israel = 7
Flights from Israel to Uzbekistan = 1
Flights from Uzbekistan to Israel = 1
Flights from Italy to Albania = 27
Flights from Albania to Italy = 54
Flights from Italy to Algeria = 4
Flights from Algeria to Italy = 8
Flights from Italy to Argentina = 2
Flights from Argentina to Italy = 4
Flights from Italy to Armenia = 1
Flights from Armenia to Italy = 2
Flights from Italy to Austria = 28
Flights from Austria to Italy = 56
Flights from Italy to Azerbaijan = 4
Flights from Azerbaijan to Italy = 8
Flights from Italy to Bangladesh = 1
Flights from Bangladesh to Italy = 2
Flights from Italy to Belarus = 2
Flights from Belarus to Italy = 4
Flights from Italy to Belgium = 45
Flights from Belgium to Italy = 89
Flights from Italy to Bosnia and Herzegovina = 1
Flights from Bosnia and Herzegovina to Italy = 2
Flights from Italy to Brazil = 4
Flights from Brazil to Italy = 8
Flights from Italy to Bulgaria = 7
Flights from Bulgaria to Italy = 14
Flights from Italy to Canada = 8
Flights from Canada to Italy = 16
Flights from Italy to China = 5
Flights from China to Italy = 10
Flights from Italy to Croatia = 5
Flights from Croatia to Italy = 10
Flights from Italy to Cuba = 3
Flights from Cuba to Italy = 8
Flights from Italy to Cyprus = 1
Flights from Cyprus to Italy = 2
Flights from Italy to Czechia = 19
Flights from Czechia to Italy = 38
Flights from Italy to Denmark = 21
Flights from Denmark to Italy = 42
Flights from Italy to Dominican Republic = 3
Flights from Dominican Republic to Italy = 6
Flights from Italy to Egypt = 6
Flights from Egypt to Italy = 11
Flights from Italy to Estonia = 1
Flights from Estonia to Italy = 2
Flights from Italy to Ethiopia = 1
Flights from Ethiopia to Italy = 2
Flights from Italy to Finland = 5
Flights from Finland to Italy = 10
Flights from Italy to France = 148
Flights from France to Italy = 297
Flights from Italy to Georgia = 1
Flights from Georgia to Italy = 2
Flights from Italy to Germany = 221
Flights from Germany to Italy = 442
Flights from Italy to Greece = 25
Flights from Greece to Italy = 49
Flights from Italy to Hong Kong = 2
Flights from Hong Kong to Italy = 4
Flights from Italy to Hungary = 11
Flights from Hungary to Italy = 22
Flights from Italy to India = 2
Flights from India to Italy = 4
Flights from Italy to Iran (Islamic Republic of) = 3
Flights from Iran (Islamic Republic of) to Italy = 6
Flights from Italy to Ireland = 16
Flights from Ireland to Italy = 32
Flights from Italy to Israel = 9
Flights from Israel to Italy = 18
Flights from Italy to Japan = 4
Flights from Japan to Italy = 4
Flights from Italy to Jordan = 3
Flights from Jordan to Italy = 3
Flights from Italy to Kuwait = 2
Flights from Kuwait to Italy = 2
Flights from Italy to Latvia = 9
Flights from Latvia to Italy = 9
Flights from Italy to Lebanon = 4
Flights from Lebanon to Italy = 4
Flights from Italy to Libya = 2
Flights from Libya to Italy = 2
Flights from Italy to Lithuania = 7
Flights from Lithuania to Italy = 7
Flights from Italy to Luxembourg = 7
Flights from Luxembourg to Italy = 8
Flights from Italy to North Macedonia = 3
Flights from North Macedonia to Italy = 3
Flights from Italy to Malta = 16
Flights from Malta to Italy = 15
Flights from Italy to Mauritius = 1
Flights from Mauritius to Italy = 1
Flights from Italy to Mexico = 1
Flights from Mexico to Italy = 3
Flights from Italy to Moldova, Republic of = 12
Flights from Moldova, Republic of to Italy = 12
Flights from Italy to Montenegro = 2
Flights from Montenegro to Italy = 2
Flights from Italy to Morocco = 17
Flights from Morocco to Italy = 17
Flights from Italy to Netherlands = 41
Flights from Netherlands to Italy = 42
Flights from Italy to Norway = 14
Flights from Norway to Italy = 14
Flights from Italy to Oman = 1
Flights from Oman to Italy = 1
Flights from Italy to Pakistan = 1
Flights from Pakistan to Italy = 2
Flights from Italy to Poland = 29
Flights from Poland to Italy = 29
Flights from Italy to Portugal = 20
Flights from Portugal to Italy = 18
Flights from Italy to Qatar = 4
Flights from Qatar to Italy = 4
Flights from Italy to Romania = 34
Flights from Romania to Italy = 34
Flights from Italy to Russian Federation = 34
Flights from Russian Federation to Italy = 34
Flights from Italy to Saudi Arabia = 8
Flights from Saudi Arabia to Italy = 8
Flights from Italy to Senegal = 1
Flights from Senegal to Italy = 1
Flights from Italy to Serbia = 6
Flights from Serbia to Italy = 6
Flights from Italy to Singapore = 2
Flights from Singapore to Italy = 2
Flights from Italy to Slovakia = 4
Flights from Slovakia to Italy = 4
Flights from Italy to Korea, Republic of = 2
Flights from Korea, Republic of to Italy = 2
Flights from Italy to Spain = 120
Flights from Spain to Italy = 120
Flights from Italy to Sri Lanka = 3
Flights from Sri Lanka to Italy = 3
Flights from Italy to Sweden = 19
Flights from Sweden to Italy = 19
Flights from Italy to Switzerland = 38
Flights from Switzerland to Italy = 38
Flights from Italy to Thailand = 2
Flights from Thailand to Italy = 2
Flights from Italy to Tunisia = 8
Flights from Tunisia to Italy = 8
Flights from Italy to Turkey = 12
Flights from Turkey to Italy = 12
Flights from Italy to Ukraine = 10
Flights from Ukraine to Italy = 10
Flights from Italy to United Arab Emirates = 8
Flights from United Arab Emirates to Italy = 8
Flights from Italy to United Kingdom of Great Britain and Northern Ireland = 141
Flights from United Kingdom of Great Britain and Northern Ireland to Italy = 141
Flights from Italy to United States of America = 53
Flights from United States of America to Italy = 53
Flights from Italy to Uzbekistan = 2
Flights from Uzbekistan to Italy = 2
Flights from Italy to Venezuela (Bolivarian Republic of) = 1
Flights from Venezuela (Bolivarian Republic of) to Italy = 1
Flights from Jamaica to Antigua and Barbuda = 1
Flights from Antigua and Barbuda to Jamaica = 2
Flights from Jamaica to Bahamas = 1
Flights from Bahamas to Jamaica = 2
Flights from Jamaica to Barbados = 1
Flights from Barbados to Jamaica = 2
Flights from Jamaica to Canada = 12
Flights from Canada to Jamaica = 22
Flights from Jamaica to Cayman Islands = 2
Flights from Cayman Islands to Jamaica = 3
Flights from Jamaica to Dominican Republic = 1
Flights from Dominican Republic to Jamaica = 3
Flights from Jamaica to Germany = 1
Flights from Germany to Jamaica = 2
Flights from Jamaica to Guyana = 1
Flights from Guyana to Jamaica = 2
Flights from Jamaica to Netherlands Antilles = 2
Flights from Netherlands Antilles to Jamaica = 2
Flights from Jamaica to Panama = 3
Flights from Panama to Jamaica = 2
Flights from Jamaica to Trinidad and Tobago = 1
Flights from Trinidad and Tobago to Jamaica = 1
Flights from Jamaica to Turks and Caicos Islands = 1
Flights from Turks and Caicos Islands to Jamaica = 1
Flights from Jamaica to United Kingdom of Great Britain and Northern Ireland = 3
Flights from United Kingdom of Great Britain and Northern Ireland to Jamaica = 4
Flights from Jamaica to United States of America = 41
Flights from United States of America to Jamaica = 40
Flights from Japan to Australia = 15
Flights from Australia to Japan = 30
Flights from Japan to Austria = 2
Flights from Austria to Japan = 4
Flights from Japan to Myanmar = 1
Flights from Myanmar to Japan = 2
Flights from Japan to Canada = 10
Flights from Canada to Japan = 20
Flights from Japan to China = 140
Flights from China to Japan = 280
Flights from Japan to Denmark = 1
Flights from Denmark to Japan = 2
Flights from Japan to Finland = 6
Flights from Finland to Japan = 12
Flights from Japan to France = 7
Flights from France to Japan = 14
Flights from Japan to French Polynesia = 2
Flights from French Polynesia to Japan = 4
Flights from Japan to Germany = 11
Flights from Germany to Japan = 22
Flights from Japan to Guam = 19
Flights from Guam to Japan = 38
Flights from Japan to Hong Kong = 27
Flights from Hong Kong to Japan = 54
Flights from Japan to India = 5
Flights from India to Japan = 10
Flights from Japan to Indonesia = 13
Flights from Indonesia to Japan = 26
Flights from Japan to Italy = 4
Flights from Italy to Japan = 8
Flights from Japan to Macao = 6
Flights from Macao to Japan = 6
Flights from Japan to Malaysia = 10
Flights from Malaysia to Japan = 10
Flights from Japan to Mexico = 1
Flights from Mexico to Japan = 2
Flights from Japan to Mongolia = 1
Flights from Mongolia to Japan = 1
Flights from Japan to Netherlands = 3
Flights from Netherlands to Japan = 3
Flights from Japan to New Caledonia = 2
Flights from New Caledonia to Japan = 2
Flights from Japan to New Zealand = 3
Flights from New Zealand to Japan = 3
Flights from Japan to Northern Mariana Islands = 3
Flights from Northern Mariana Islands to Japan = 3
Flights from Japan to Palau = 2
Flights from Palau to Japan = 3
Flights from Japan to Papua New Guinea = 1
Flights from Papua New Guinea to Japan = 1
Flights from Japan to Philippines = 15
Flights from Philippines to Japan = 15
Flights from Japan to Qatar = 6
Flights from Qatar to Japan = 6
Flights from Japan to Russian Federation = 9
Flights from Russian Federation to Japan = 9
Flights from Japan to Singapore = 18
Flights from Singapore to Japan = 18
Flights from Japan to Korea, Republic of = 104
Flights from Korea, Republic of to Japan = 105
Flights from Japan to Sri Lanka = 1
Flights from Sri Lanka to Japan = 1
Flights from Japan to Switzerland = 2
Flights from Switzerland to Japan = 2
Flights from Japan to Taiwan = 67
Flights from Taiwan to Japan = 68
Flights from Japan to Thailand = 22
Flights from Thailand to Japan = 21
Flights from Japan to Turkey = 4
Flights from Turkey to Japan = 4
Flights from Japan to United Arab Emirates = 8
Flights from United Arab Emirates to Japan = 8
Flights from Japan to United Kingdom of Great Britain and Northern Ireland = 8
Flights from United Kingdom of Great Britain and Northern Ireland to Japan = 8
Flights from Japan to United States of America = 78
Flights from United States of America to Japan = 80
Flights from Japan to Uzbekistan = 1
Flights from Uzbekistan to Japan = 1
Flights from Japan to Viet Nam = 20
Flights from Viet Nam to Japan = 20
Flights from Jersey to France = 1
Flights from France to Jersey = 2
Flights from Jersey to Germany = 4
Flights from Germany to Jersey = 7
Flights from Jersey to Guernsey = 3
Flights from Guernsey to Jersey = 7
Flights from Jersey to Ireland = 2
Flights from Ireland to Jersey = 4
Flights from Jersey to Netherlands = 1
Flights from Netherlands to Jersey = 1
Flights from Jersey to Switzerland = 2
Flights from Switzerland to Jersey = 2
Flights from Jersey to United Kingdom of Great Britain and Northern Ireland = 25
Flights from United Kingdom of Great Britain and Northern Ireland to Jersey = 25
Flights from Jordan to Algeria = 2
Flights from Algeria to Jordan = 4
Flights from Jordan to Austria = 3
Flights from Austria to Jordan = 6
Flights from Jordan to Bahrain = 2
Flights from Bahrain to Jordan = 4
Flights from Jordan to Canada = 3
Flights from Canada to Jordan = 6
Flights from Jordan to Cyprus = 1
Flights from Cyprus to Jordan = 2
Flights from Jordan to Egypt = 5
Flights from Egypt to Jordan = 10
Flights from Jordan to France = 2
Flights from France to Jordan = 4
Flights from Jordan to Germany = 7
Flights from Germany to Jordan = 14
Flights from Jordan to Greece = 1
Flights from Greece to Jordan = 2
Flights from Jordan to India = 2
Flights from India to Jordan = 4
Flights from Jordan to Iraq = 6
Flights from Iraq to Jordan = 13
Flights from Jordan to Israel = 2
Flights from Israel to Jordan = 4
Flights from Jordan to Italy = 3
Flights from Italy to Jordan = 6
Flights from Jordan to Kuwait = 3
Flights from Kuwait to Jordan = 3
Flights from Jordan to Lebanon = 3
Flights from Lebanon to Jordan = 3
Flights from Jordan to Libya = 6
Flights from Libya to Jordan = 6
Flights from Jordan to Netherlands = 1
Flights from Netherlands to Jordan = 1
Flights from Jordan to Nigeria = 1
Flights from Nigeria to Jordan = 1
Flights from Jordan to Oman = 2
Flights from Oman to Jordan = 2
Flights from Jordan to Qatar = 2
Flights from Qatar to Jordan = 2
Flights from Jordan to Romania = 2
Flights from Romania to Jordan = 2
Flights from Jordan to Russian Federation = 2
Flights from Russian Federation to Jordan = 2
Flights from Jordan to Saudi Arabia = 11
Flights from Saudi Arabia to Jordan = 10
Flights from Jordan to Spain = 4
Flights from Spain to Jordan = 4
Flights from Jordan to Sudan = 1
Flights from Sudan to Jordan = 2
Flights from Jordan to Switzerland = 2
Flights from Switzerland to Jordan = 2
Flights from Jordan to Thailand = 2
Flights from Thailand to Jordan = 2
Flights from Jordan to Tunisia = 1
Flights from Tunisia to Jordan = 1

Flights from Jordan to Turkey = 3
Flights from Turkey to Jordan = 3
Flights from Jordan to Ukraine = 1
Flights from Ukraine to Jordan = 1
Flights from Jordan to United Arab Emirates = 9
Flights from United Arab Emirates to Jordan = 9
Flights from Jordan to United Kingdom of Great Britain and Northern Ireland = 2
Flights from United Kingdom of Great Britain and Northern Ireland to Jordan = 2
Flights from Jordan to United States of America = 6
Flights from United States of America to Jordan = 6
Flights from Jordan to Yemen = 5
Flights from Yemen to Jordan = 5
Flights from Kazakhstan to Armenia = 1
Flights from Armenia to Kazakhstan = 2
Flights from Kazakhstan to Austria = 2
Flights from Austria to Kazakhstan = 4
Flights from Kazakhstan to Azerbaijan = 4
Flights from Azerbaijan to Kazakhstan = 8
Flights from Kazakhstan to Belarus = 1
Flights from Belarus to Kazakhstan = 2
Flights from Kazakhstan to China = 7
Flights from China to Kazakhstan = 14
Flights from Kazakhstan to Czechia = 1
Flights from Czechia to Kazakhstan = 2
Flights from Kazakhstan to Georgia = 2
Flights from Georgia to Kazakhstan = 4
Flights from Kazakhstan to Germany = 4
Flights from Germany to Kazakhstan = 8
Flights from Kazakhstan to Hong Kong = 1
Flights from Hong Kong to Kazakhstan = 2
Flights from Kazakhstan to India = 1
Flights from India to Kazakhstan = 2
Flights from Kazakhstan to Iran (Islamic Republic of) = 1
Flights from Iran (Islamic Republic of) to Kazakhstan = 2
Flights from Kazakhstan to Kyrgyzstan = 3
Flights from Kyrgyzstan to Kazakhstan = 3
Flights from Kazakhstan to Malaysia = 1
Flights from Malaysia to Kazakhstan = 1
Flights from Kazakhstan to Netherlands = 2
Flights from Netherlands to Kazakhstan = 2
Flights from Kazakhstan to Russian Federation = 38
Flights from Russian Federation to Kazakhstan = 35
Flights from Kazakhstan to Korea, Republic of = 2
Flights from Korea, Republic of to Kazakhstan = 2
Flights from Kazakhstan to Tajikistan = 3
Flights from Tajikistan to Kazakhstan = 4
Flights from Kazakhstan to Thailand = 1
Flights from Thailand to Kazakhstan = 1
Flights from Kazakhstan to Turkey = 7
Flights from Turkey to Kazakhstan = 7
Flights from Kazakhstan to Ukraine = 4
Flights from Ukraine to Kazakhstan = 4
Flights from Kazakhstan to United Arab Emirates = 7
Flights from United Arab Emirates to Kazakhstan = 7
Flights from Kazakhstan to United Kingdom of Great Britain and Northern Ireland = 3
Flights from United Kingdom of Great Britain and Northern Ireland to Kazakhstan = 3
Flights from Kazakhstan to Uzbekistan = 4
Flights from Uzbekistan to Kazakhstan = 4
Flights from Kazakhstan to Viet Nam = 1
Flights from Viet Nam to Kazakhstan = 1
Flights from Kenya to Angola = 1
Flights from Angola to Kenya = 2
Flights from Kenya to Botswana = 1
Flights from Botswana to Kenya = 2
Flights from Kenya to Burundi = 2
Flights from Burundi to Kenya = 8
Flights from Kenya to Cameroon = 2
Flights from Cameroon to Kenya = 4
Flights from Kenya to China = 2
Flights from China to Kenya = 4
Flights from Kenya to Comoros = 1
Flights from Comoros to Kenya = 5
Flights from Kenya to Congo = 2
Flights from Congo to Kenya = 4
Flights from Kenya to Congo, Democratic Republic of the = 4
Flights from Congo, Democratic Republic of the to Kenya = 8
Flights from Kenya to CÃ´te d'Ivoire = 1
Flights from CÃ´te d'Ivoire to Kenya = 2
Flights from Kenya to Djibouti = 2
Flights from Djibouti to Kenya = 4
Flights from Kenya to Egypt = 1
Flights from Egypt to Kenya = 2
Flights from Kenya to Eritrea = 1
Flights from Eritrea to Kenya = 2
Flights from Kenya to Ethiopia = 6
Flights from Ethiopia to Kenya = 12
Flights from Kenya to France = 2
Flights from France to Kenya = 4
Flights from Kenya to Germany = 1
Flights from Germany to Kenya = 3
Flights from Kenya to Ghana = 1
Flights from Ghana to Kenya = 2
Flights from Kenya to India = 3
Flights from India to Kenya = 6
Flights from Kenya to Madagascar = 1
Flights from Madagascar to Kenya = 1
Flights from Kenya to Malawi = 4
Flights from Malawi to Kenya = 4
Flights from Kenya to Mali = 1
Flights from Mali to Kenya = 1
Flights from Kenya to Mauritius = 2
Flights from Mauritius to Kenya = 2
Flights from Kenya to Mozambique = 4
Flights from Mozambique to Kenya = 4
Flights from Kenya to Netherlands = 3
Flights from Netherlands to Kenya = 3
Flights from Kenya to Nigeria = 1
Flights from Nigeria to Kenya = 1
Flights from Kenya to Qatar = 1
Flights from Qatar to Kenya = 1
Flights from Kenya to Rwanda = 5
Flights from Rwanda to Kenya = 8
Flights from Kenya to Saudi Arabia = 2
Flights from Saudi Arabia to Kenya = 2
Flights from Kenya to Seychelles = 1
Flights from Seychelles to Kenya = 1
Flights from Kenya to Somalia = 7
Flights from Somalia to Kenya = 6
Flights from Kenya to South Africa = 2
Flights from South Africa to Kenya = 2
Flights from Kenya to Korea, Republic of = 2
Flights from Korea, Republic of to Kenya = 2
Flights from Kenya to South Sudan = 2
Flights from South Sudan to Kenya = 2
Flights from Kenya to Sudan = 1
Flights from Sudan to Kenya = 1
Flights from Kenya to Switzerland = 3
Flights from Switzerland to Kenya = 3
Flights from Kenya to Tanzania, United Republic of = 17
Flights from Tanzania, United Republic of to Kenya = 16
Flights from Kenya to Thailand = 3
Flights from Thailand to Kenya = 3
Flights from Kenya to Turkey = 3
Flights from Turkey to Kenya = 2
Flights from Kenya to Uganda = 3
Flights from Uganda to Kenya = 3
Flights from Kenya to United Arab Emirates = 9
Flights from United Arab Emirates to Kenya = 9
Flights from Kenya to United Kingdom of Great Britain and Northern Ireland = 3
Flights from United Kingdom of Great Britain and Northern Ireland to Kenya = 3
Flights from Kenya to Yemen = 1
Flights from Yemen to Kenya = 1
Flights from Kenya to Zambia = 9
Flights from Zambia to Kenya = 6
Flights from Kenya to Zimbabwe = 3
Flights from Zimbabwe to Kenya = 3
Flights from Kiribati to Fiji = 3
Flights from Fiji to Kiribati = 6
Flights from Kiribati to Marshall Islands = 1
Flights from Marshall Islands to Kiribati = 1
Flights from Kiribati to Nauru = 1
Flights from Nauru to Kiribati = 1
Flights from Kiribati to United States of America = 2
Flights from United States of America to Kiribati = 2
Flights from Kuwait to Afghanistan = 1
Flights from Afghanistan to Kuwait = 2
Flights from Kuwait to Bahrain = 4
Flights from Bahrain to Kuwait = 8
Flights from Kuwait to Bangladesh = 3
Flights from Bangladesh to Kuwait = 5
Flights from Kuwait to Egypt = 16
Flights from Egypt to Kuwait = 32
Flights from Kuwait to Ethiopia = 3
Flights from Ethiopia to Kuwait = 5
Flights from Kuwait to Germany = 2
Flights from Germany to Kuwait = 4
Flights from Kuwait to India = 9
Flights from India to Kuwait = 18
Flights from Kuwait to Iran (Islamic Republic of) = 10
Flights from Iran (Islamic Republic of) to Kuwait = 20
Flights from Kuwait to Iraq = 2
Flights from Iraq to Kuwait = 4
Flights from Kuwait to Italy = 2
Flights from Italy to Kuwait = 4
Flights from Kuwait to Jordan = 3
Flights from Jordan to Kuwait = 6
Flights from Kuwait to Lebanon = 3
Flights from Lebanon to Kuwait = 3
Flights from Kuwait to Malaysia = 1
Flights from Malaysia to Kuwait = 1
Flights from Kuwait to Netherlands = 3
Flights from Netherlands to Kuwait = 3
Flights from Kuwait to Oman = 2
Flights from Oman to Kuwait = 2
Flights from Kuwait to Pakistan = 6
Flights from Pakistan to Kuwait = 6
Flights from Kuwait to Qatar = 3
Flights from Qatar to Kuwait = 2
Flights from Kuwait to Saudi Arabia = 18
Flights from Saudi Arabia to Kuwait = 17
Flights from Kuwait to Sri Lanka = 3
Flights from Sri Lanka to Kuwait = 3
Flights from Kuwait to Thailand = 1
Flights from Thailand to Kuwait = 1
Flights from Kuwait to Tunisia = 1
Flights from Tunisia to Kuwait = 1
Flights from Kuwait to Turkey = 6
Flights from Turkey to Kuwait = 6
Flights from Kuwait to United Arab Emirates = 11
Flights from United Arab Emirates to Kuwait = 12
Flights from Kuwait to United Kingdom of Great Britain and Northern Ireland = 3
Flights from United Kingdom of Great Britain and Northern Ireland to Kuwait = 3
Flights from Kuwait to United States of America = 2
Flights from United States of America to Kuwait = 2
Flights from Kuwait to Yemen = 1
Flights from Yemen to Kuwait = 3
Flights from Kyrgyzstan to China = 5
Flights from China to Kyrgyzstan = 10
Flights from Kyrgyzstan to Kazakhstan = 3
Flights from Kazakhstan to Kyrgyzstan = 6
Flights from Kyrgyzstan to Mongolia = 1
Flights from Mongolia to Kyrgyzstan = 1
Flights from Kyrgyzstan to Russian Federation = 51
Flights from Russian Federation to Kyrgyzstan = 49
Flights from Kyrgyzstan to Tajikistan = 2
Flights from Tajikistan to Kyrgyzstan = 2
Flights from Kyrgyzstan to Turkey = 5
Flights from Turkey to Kyrgyzstan = 5
Flights from Kyrgyzstan to United Arab Emirates = 1
Flights from United Arab Emirates to Kyrgyzstan = 1
Flights from Kyrgyzstan to Uzbekistan = 2
Flights from Uzbekistan to Kyrgyzstan = 2
Flights from Lao People's Democratic Republic to Cambodia = 5
Flights from Cambodia to Lao People's Democratic Republic = 10
Flights from Lao People's Democratic Republic to China = 5
Flights from China to Lao People's Democratic Republic = 10
Flights from Lao People's Democratic Republic to Malaysia = 1
Flights from Malaysia to Lao People's Democratic Republic = 1
Flights from Lao People's Democratic Republic to Singapore = 1
Flights from Singapore to Lao People's Democratic Republic = 1
Flights from Lao People's Democratic Republic to Korea, Republic of = 2
Flights from Korea, Republic of to Lao People's Democratic Republic = 2
Flights from Lao People's Democratic Republic to Thailand = 10
Flights from Thailand to Lao People's Democratic Republic = 10
Flights from Lao People's Democratic Republic to Viet Nam = 6
Flights from Viet Nam to Lao People's Democratic Republic = 6
Flights from Latvia to Austria = 2
Flights from Austria to Latvia = 4
Flights from Latvia to Azerbaijan = 2
Flights from Azerbaijan to Latvia = 4
Flights from Latvia to Belarus = 2
Flights from Belarus to Latvia = 4
Flights from Latvia to Belgium = 2
Flights from Belgium to Latvia = 4
Flights from Latvia to Cyprus = 1
Flights from Cyprus to Latvia = 2
Flights from Latvia to Czechia = 2
Flights from Czechia to Latvia = 4
Flights from Latvia to Denmark = 4
Flights from Denmark to Latvia = 8
Flights from Latvia to Estonia = 1
Flights from Estonia to Latvia = 2
Flights from Latvia to Finland = 3
Flights from Finland to Latvia = 6
Flights from Latvia to France = 3
Flights from France to Latvia = 6
Flights from Latvia to Georgia = 2
Flights from Georgia to Latvia = 4
Flights from Latvia to Germany = 14
Flights from Germany to Latvia = 28
Flights from Latvia to Greece = 2
Flights from Greece to Latvia = 4
Flights from Latvia to Hungary = 1
Flights from Hungary to Latvia = 2
Flights from Latvia to Ireland = 1
Flights from Ireland to Latvia = 2
Flights from Latvia to Israel = 1
Flights from Israel to Latvia = 2
Flights from Latvia to Italy = 9
Flights from Italy to Latvia = 18
Flights from Latvia to Lithuania = 2
Flights from Lithuania to Latvia = 2
Flights from Latvia to Malta = 1
Flights from Malta to Latvia = 1
Flights from Latvia to Moldova, Republic of = 1
Flights from Moldova, Republic of to Latvia = 1
Flights from Latvia to Netherlands = 3
Flights from Netherlands to Latvia = 3
Flights from Latvia to Norway = 10
Flights from Norway to Latvia = 10
Flights from Latvia to Poland = 2
Flights from Poland to Latvia = 2
Flights from Latvia to Russian Federation = 8
Flights from Russian Federation to Latvia = 8
Flights from Latvia to Spain = 3
Flights from Spain to Latvia = 3
Flights from Latvia to Sweden = 4
Flights from Sweden to Latvia = 4
Flights from Latvia to Switzerland = 1
Flights from Switzerland to Latvia = 1
Flights from Latvia to Turkey = 2
Flights from Turkey to Latvia = 2
Flights from Latvia to Ukraine = 2
Flights from Ukraine to Latvia = 2
Flights from Latvia to United Kingdom of Great Britain and Northern Ireland = 7
Flights from United Kingdom of Great Britain and Northern Ireland to Latvia = 7
Flights from Latvia to United States of America = 1
Flights from United States of America to Latvia = 1
Flights from Latvia to Uzbekistan = 2
Flights from Uzbekistan to Latvia = 2
Flights from Lebanon to Algeria = 1
Flights from Algeria to Lebanon = 2
Flights from Lebanon to Armenia = 1
Flights from Armenia to Lebanon = 2
Flights from Lebanon to Bahrain = 1
Flights from Bahrain to Lebanon = 2
Flights from Lebanon to Belarus = 1
Flights from Belarus to Lebanon = 2
Flights from Lebanon to Belgium = 1
Flights from Belgium to Lebanon = 2
Flights from Lebanon to Cyprus = 2
Flights from Cyprus to Lebanon = 4
Flights from Lebanon to Egypt = 3
Flights from Egypt to Lebanon = 6
Flights from Lebanon to Ethiopia = 1
Flights from Ethiopia to Lebanon = 2
Flights from Lebanon to France = 2
Flights from France to Lebanon = 4
Flights from Lebanon to Germany = 3
Flights from Germany to Lebanon = 6
Flights from Lebanon to Ghana = 1
Flights from Ghana to Lebanon = 2
Flights from Lebanon to Greece = 1
Flights from Greece to Lebanon = 2
Flights from Lebanon to Iran (Islamic Republic of) = 2
Flights from Iran (Islamic Republic of) to Lebanon = 4
Flights from Lebanon to Iraq = 5
Flights from Iraq to Lebanon = 10
Flights from Lebanon to Italy = 4
Flights from Italy to Lebanon = 8
Flights from Lebanon to Jordan = 3
Flights from Jordan to Lebanon = 6
Flights from Lebanon to Kuwait = 3
Flights from Kuwait to Lebanon = 6
Flights from Lebanon to Morocco = 1
Flights from Morocco to Lebanon = 1
Flights from Lebanon to Nigeria = 2
Flights from Nigeria to Lebanon = 2
Flights from Lebanon to Oman = 1
Flights from Oman to Lebanon = 1
Flights from Lebanon to Qatar = 2
Flights from Qatar to Lebanon = 2
Flights from Lebanon to Romania = 2
Flights from Romania to Lebanon = 2
Flights from Lebanon to Russian Federation = 2
Flights from Russian Federation to Lebanon = 2
Flights from Lebanon to Saudi Arabia = 7
Flights from Saudi Arabia to Lebanon = 5
Flights from Lebanon to Switzerland = 1
Flights from Switzerland to Lebanon = 1
Flights from Lebanon to Tunisia = 2
Flights from Tunisia to Lebanon = 2
Flights from Lebanon to Turkey = 3
Flights from Turkey to Lebanon = 3
Flights from Lebanon to United Arab Emirates = 6
Flights from United Arab Emirates to Lebanon = 6
Flights from Lebanon to United Kingdom of Great Britain and Northern Ireland = 2
Flights from United Kingdom of Great Britain and Northern Ireland to Lebanon = 3
Flights from Lebanon to Yemen = 1
Flights from Yemen to Lebanon = 1
Flights from Lesotho to South Africa = 1
Flights from South Africa to Lesotho = 1
Flights from Liberia to CÃ´te d'Ivoire = 1
Flights from CÃ´te d'Ivoire to Liberia = 2
Flights from Liberia to Ghana = 5
Flights from Ghana to Liberia = 10
Flights from Liberia to Morocco = 1
Flights from Morocco to Liberia = 1
Flights from Liberia to Nigeria = 1
Flights from Nigeria to Liberia = 1
Flights from Liberia to Sierra Leone = 7
Flights from Sierra Leone to Liberia = 8
Flights from Libya to Algeria = 2
Flights from Algeria to Libya = 4
Flights from Libya to Egypt = 10
Flights from Egypt to Libya = 20
Flights from Libya to Italy = 2
Flights from Italy to Libya = 4
Flights from Libya to Jordan = 6
Flights from Jordan to Libya = 12
Flights from Libya to Malta = 3
Flights from Malta to Libya = 4
Flights from Libya to Morocco = 5
Flights from Morocco to Libya = 5
Flights from Libya to Saudi Arabia = 2
Flights from Saudi Arabia to Libya = 2
Flights from Libya to Spain = 1
Flights from Spain to Libya = 1
Flights from Libya to Tunisia = 22
Flights from Tunisia to Libya = 21
Flights from Libya to Turkey = 6
Flights from Turkey to Libya = 6
Flights from Libya to United Arab Emirates = 1
Flights from United Arab Emirates to Libya = 1
Flights from Libya to United Kingdom of Great Britain and Northern Ireland = 3

Flights from United Kingdom of Great Britain and Northern Ireland to Libya = 3
Flights from Lithuania to Austria = 1
Flights from Austria to Lithuania = 2
Flights from Lithuania to Belarus = 1
Flights from Belarus to Lithuania = 2
Flights from Lithuania to Belgium = 5
Flights from Belgium to Lithuania = 10
Flights from Lithuania to Cyprus = 1
Flights from Cyprus to Lithuania = 2
Flights from Lithuania to Czechia = 1
Flights from Czechia to Lithuania = 2
Flights from Lithuania to Denmark = 3
Flights from Denmark to Lithuania = 6
Flights from Lithuania to Estonia = 3
Flights from Estonia to Lithuania = 6
Flights from Lithuania to Finland = 2
Flights from Finland to Lithuania = 4
Flights from Lithuania to France = 3
Flights from France to Lithuania = 6
Flights from Lithuania to Georgia = 1
Flights from Georgia to Lithuania = 2
Flights from Lithuania to Germany = 7
Flights from Germany to Lithuania = 14
Flights from Lithuania to Greece = 4
Flights from Greece to Lithuania = 8
Flights from Lithuania to Ireland = 4
Flights from Ireland to Lithuania = 8
Flights from Lithuania to Israel = 1
Flights from Israel to Lithuania = 2
Flights from Lithuania to Italy = 7
Flights from Italy to Lithuania = 14
Flights from Lithuania to Latvia = 2
Flights from Latvia to Lithuania = 4
Flights from Lithuania to Malta = 1
Flights from Malta to Lithuania = 1
Flights from Lithuania to Netherlands = 1
Flights from Netherlands to Lithuania = 1
Flights from Lithuania to Norway = 8
Flights from Norway to Lithuania = 8
Flights from Lithuania to Poland = 1
Flights from Poland to Lithuania = 1
Flights from Lithuania to Russian Federation = 4
Flights from Russian Federation to Lithuania = 4
Flights from Lithuania to Spain = 4
Flights from Spain to Lithuania = 4
Flights from Lithuania to Sweden = 2
Flights from Sweden to Lithuania = 2
Flights from Lithuania to Turkey = 1
Flights from Turkey to Lithuania = 1
Flights from Lithuania to Ukraine = 2
Flights from Ukraine to Lithuania = 2
Flights from Lithuania to United Kingdom of Great Britain and Northern Ireland = 10
Flights from United Kingdom of Great Britain and Northern Ireland to Lithuania = 10
Flights from Luxembourg to Austria = 2
Flights from Austria to Luxembourg = 4
Flights from Luxembourg to Bulgaria = 1
Flights from Bulgaria to Luxembourg = 2
Flights from Luxembourg to Cabo Verde = 1
Flights from Cabo Verde to Luxembourg = 2
Flights from Luxembourg to Croatia = 1
Flights from Croatia to Luxembourg = 2
Flights from Luxembourg to Denmark = 2
Flights from Denmark to Luxembourg = 4
Flights from Luxembourg to France = 7
Flights from France to Luxembourg = 14
Flights from Luxembourg to Germany = 9
Flights from Germany to Luxembourg = 18
Flights from Luxembourg to Greece = 4
Flights from Greece to Luxembourg = 8
Flights from Luxembourg to Ireland = 1
Flights from Ireland to Luxembourg = 2
Flights from Luxembourg to Italy = 8
Flights from Italy to Luxembourg = 15
Flights from Luxembourg to Malta = 1
Flights from Malta to Luxembourg = 1
Flights from Luxembourg to Morocco = 2
Flights from Morocco to Luxembourg = 2
Flights from Luxembourg to Netherlands = 1
Flights from Netherlands to Luxembourg = 1
Flights from Luxembourg to Portugal = 7
Flights from Portugal to Luxembourg = 7
Flights from Luxembourg to Spain = 12
Flights from Spain to Luxembourg = 12
Flights from Luxembourg to Sweden = 1
Flights from Sweden to Luxembourg = 1
Flights from Luxembourg to Switzerland = 2
Flights from Switzerland to Luxembourg = 2
Flights from Luxembourg to Tunisia = 1
Flights from Tunisia to Luxembourg = 2
Flights from Luxembourg to Turkey = 3
Flights from Turkey to Luxembourg = 3
Flights from Luxembourg to United Kingdom of Great Britain and Northern Ireland = 4
Flights from United Kingdom of Great Britain and Northern Ireland to Luxembourg = 4
Flights from Macao to China = 46
Flights from China to Macao = 92
Flights from Macao to Japan = 6
Flights from Japan to Macao = 12
Flights from Macao to Malaysia = 1
Flights from Malaysia to Macao = 1
Flights from Macao to Philippines = 5
Flights from Philippines to Macao = 5
Flights from Macao to Singapore = 1
Flights from Singapore to Macao = 1
Flights from Macao to Korea, Republic of = 6
Flights from Korea, Republic of to Macao = 6
Flights from Macao to Taiwan = 8
Flights from Taiwan to Macao = 8
Flights from Macao to Thailand = 4
Flights from Thailand to Macao = 4
Flights from Macao to Viet Nam = 2
Flights from Viet Nam to Macao = 2
Flights from North Macedonia to Austria = 1
Flights from Austria to North Macedonia = 2
Flights from North Macedonia to Belgium = 1
Flights from Belgium to North Macedonia = 2
Flights from North Macedonia to Croatia = 1
Flights from Croatia to North Macedonia = 2
Flights from North Macedonia to Germany = 5
Flights from Germany to North Macedonia = 10
Flights from North Macedonia to Italy = 3
Flights from Italy to North Macedonia = 6
Flights from North Macedonia to Netherlands = 1
Flights from Netherlands to North Macedonia = 1
Flights from North Macedonia to Serbia = 1
Flights from Serbia to North Macedonia = 1
Flights from North Macedonia to Slovenia = 1
Flights from Slovenia to North Macedonia = 1
Flights from North Macedonia to Sweden = 3
Flights from Sweden to North Macedonia = 3
Flights from North Macedonia to Switzerland = 2
Flights from Switzerland to North Macedonia = 2
Flights from North Macedonia to Turkey = 2
Flights from Turkey to North Macedonia = 2
Flights from North Macedonia to United Arab Emirates = 1
Flights from United Arab Emirates to North Macedonia = 1
Flights from North Macedonia to United Kingdom of Great Britain and Northern Ireland = 1
Flights from United Kingdom of Great Britain and Northern Ireland to North Macedonia = 1
Flights from Madagascar to Comoros = 1
Flights from Comoros to Madagascar = 2
Flights from Madagascar to France = 5
Flights from France to Madagascar = 8
Flights from Madagascar to Kenya = 1
Flights from Kenya to Madagascar = 2
Flights from Madagascar to Mauritius = 2
Flights from Mauritius to Madagascar = 2
Flights from Madagascar to Mayotte = 5
Flights from Mayotte to Madagascar = 7
Flights from Madagascar to RÃ©union = 7
Flights from RÃ©union to Madagascar = 6
Flights from Madagascar to South Africa = 2
Flights from South Africa to Madagascar = 2
Flights from Madagascar to Thailand = 2
Flights from Thailand to Madagascar = 2
Flights from Malawi to Ethiopia = 1
Flights from Ethiopia to Malawi = 2
Flights from Malawi to Kenya = 4
Flights from Kenya to Malawi = 8
Flights from Malawi to South Africa = 3
Flights from South Africa to Malawi = 3
Flights from Malawi to Tanzania, United Republic of = 1
Flights from Tanzania, United Republic of to Malawi = 1
Flights from Malawi to Zambia = 5
Flights from Zambia to Malawi = 6
Flights from Malawi to Zimbabwe = 1
Flights from Zimbabwe to Malawi = 1
Flights from Malaysia to Australia = 14
Flights from Australia to Malaysia = 28
Flights from Malaysia to Bangladesh = 6
Flights from Bangladesh to Malaysia = 12
Flights from Malaysia to Brunei = 7
Flights from Brunei to Malaysia = 14
Flights from Malaysia to Myanmar = 3
Flights from Myanmar to Malaysia = 6
Flights from Malaysia to Cambodia = 4
Flights from Cambodia to Malaysia = 8
Flights from Malaysia to China = 29
Flights from China to Malaysia = 58
Flights from Malaysia to France = 3
Flights from France to Malaysia = 6
Flights from Malaysia to Germany = 3
Flights from Germany to Malaysia = 6
Flights from Malaysia to Hong Kong = 11
Flights from Hong Kong to Malaysia = 22
Flights from Malaysia to India = 20
Flights from India to Malaysia = 40
Flights from Malaysia to Indonesia = 46
Flights from Indonesia to Malaysia = 92
Flights from Malaysia to Iran (Islamic Republic of) = 2
Flights from Iran (Islamic Republic of) to Malaysia = 4
Flights from Malaysia to Japan = 10
Flights from Japan to Malaysia = 20
Flights from Malaysia to Kazakhstan = 1
Flights from Kazakhstan to Malaysia = 2
Flights from Malaysia to Kuwait = 1
Flights from Kuwait to Malaysia = 2
Flights from Malaysia to Lao People's Democratic Republic = 1
Flights from Lao People's Democratic Republic to Malaysia = 2
Flights from Malaysia to Macao = 1
Flights from Macao to Malaysia = 2
Flights from Malaysia to Maldives = 1
Flights from Maldives to Malaysia = 1
Flights from Malaysia to Mauritius = 2
Flights from Mauritius to Malaysia = 2
Flights from Malaysia to Nepal = 3
Flights from Nepal to Malaysia = 3
Flights from Malaysia to Netherlands = 3
Flights from Netherlands to Malaysia = 3
Flights from Malaysia to New Zealand = 1
Flights from New Zealand to Malaysia = 1
Flights from Malaysia to Korea (Democratic People's Republic of) = 1
Flights from Korea (Democratic People's Republic of) to Malaysia = 1
Flights from Malaysia to Oman = 2
Flights from Oman to Malaysia = 2
Flights from Malaysia to Pakistan = 3
Flights from Pakistan to Malaysia = 3
Flights from Malaysia to Philippines = 9
Flights from Philippines to Malaysia = 9
Flights from Malaysia to Qatar = 2
Flights from Qatar to Malaysia = 2
Flights from Malaysia to Saudi Arabia = 6
Flights from Saudi Arabia to Malaysia = 5
Flights from Malaysia to Singapore = 39
Flights from Singapore to Malaysia = 39
Flights from Malaysia to Korea, Republic of = 8
Flights from Korea, Republic of to Malaysia = 8
Flights from Malaysia to Sri Lanka = 4
Flights from Sri Lanka to Malaysia = 4
Flights from Malaysia to Taiwan = 7
Flights from Taiwan to Malaysia = 7
Flights from Malaysia to Thailand = 33
Flights from Thailand to Malaysia = 33
Flights from Malaysia to Turkey = 2
Flights from Turkey to Malaysia = 2
Flights from Malaysia to United Arab Emirates = 7
Flights from United Arab Emirates to Malaysia = 8
Flights from Malaysia to United Kingdom of Great Britain and Northern Ireland = 2
Flights from United Kingdom of Great Britain and Northern Ireland to Malaysia = 2
Flights from Malaysia to Uzbekistan = 2
Flights from Uzbekistan to Malaysia = 2
Flights from Malaysia to Viet Nam = 6
Flights from Viet Nam to Malaysia = 6
Flights from Maldives to China = 4
Flights from China to Maldives = 8
Flights from Maldives to Germany = 1
Flights from Germany to Maldives = 2
Flights from Maldives to Hong Kong = 2
Flights from Hong Kong to Maldives = 4
Flights from Maldives to India = 5
Flights from India to Maldives = 10
Flights from Maldives to Malaysia = 1
Flights from Malaysia to Maldives = 2
Flights from Maldives to Oman = 1
Flights from Oman to Maldives = 1
Flights from Maldives to Qatar = 1
Flights from Qatar to Maldives = 1
Flights from Maldives to Russian Federation = 2
Flights from Russian Federation to Maldives = 2
Flights from Maldives to Singapore = 2
Flights from Singapore to Maldives = 2
Flights from Maldives to Sri Lanka = 13
Flights from Sri Lanka to Maldives = 11
Flights from Maldives to Thailand = 1
Flights from Thailand to Maldives = 1
Flights from Maldives to Turkey = 1
Flights from Turkey to Maldives = 1
Flights from Maldives to United Arab Emirates = 4
Flights from United Arab Emirates to Maldives = 4
Flights from Maldives to United Kingdom of Great Britain and Northern Ireland = 1
Flights from United Kingdom of Great Britain and Northern Ireland to Maldives = 1
Flights from Mali to Algeria = 1
Flights from Algeria to Mali = 2
Flights from Mali to Benin = 3
Flights from Benin to Mali = 6
Flights from Mali to Burkina Faso = 3
Flights from Burkina Faso to Mali = 6
Flights from Mali to CÃ´te d'Ivoire = 3
Flights from CÃ´te d'Ivoire to Mali = 5
Flights from Mali to Ethiopia = 2
Flights from Ethiopia to Mali = 4
Flights from Mali to France = 2
Flights from France to Mali = 4
Flights from Mali to Guinea = 2
Flights from Guinea to Mali = 4
Flights from Mali to Kenya = 1
Flights from Kenya to Mali = 2
Flights from Mali to Mauritania = 1
Flights from Mauritania to Mali = 1
Flights from Mali to Morocco = 1
Flights from Morocco to Mali = 1
Flights from Mali to Nigeria = 1
Flights from Nigeria to Mali = 1
Flights from Mali to Portugal = 1
Flights from Portugal to Mali = 1
Flights from Mali to Senegal = 5
Flights from Senegal to Mali = 5
Flights from Mali to Togo = 1
Flights from Togo to Mali = 1
Flights from Mali to Tunisia = 1
Flights from Tunisia to Mali = 1
Flights from Malta to Algeria = 1
Flights from Algeria to Malta = 2
Flights from Malta to Austria = 4
Flights from Austria to Malta = 8
Flights from Malta to Belgium = 2
Flights from Belgium to Malta = 4
Flights from Malta to Cyprus = 2
Flights from Cyprus to Malta = 4
Flights from Malta to Czechia = 2
Flights from Czechia to Malta = 4
Flights from Malta to Denmark = 2
Flights from Denmark to Malta = 4
Flights from Malta to France = 11
Flights from France to Malta = 22
Flights from Malta to Germany = 8
Flights from Germany to Malta = 16
Flights from Malta to Greece = 1
Flights from Greece to Malta = 2
Flights from Malta to Hungary = 2
Flights from Hungary to Malta = 4
Flights from Malta to Ireland = 1
Flights from Ireland to Malta = 2
Flights from Malta to Italy = 15
Flights from Italy to Malta = 31
Flights from Malta to Latvia = 1
Flights from Latvia to Malta = 2
Flights from Malta to Libya = 4
Flights from Libya to Malta = 7
Flights from Malta to Lithuania = 1
Flights from Lithuania to Malta = 2
Flights from Malta to Luxembourg = 1
Flights from Luxembourg to Malta = 2
Flights from Malta to Netherlands = 3
Flights from Netherlands to Malta = 3
Flights from Malta to Norway = 2
Flights from Norway to Malta = 2
Flights from Malta to Poland = 2
Flights from Poland to Malta = 2
Flights from Malta to Russian Federation = 4
Flights from Russian Federation to Malta = 4
Flights from Malta to Spain = 4
Flights from Spain to Malta = 4
Flights from Malta to Sweden = 3
Flights from Sweden to Malta = 3
Flights from Malta to Switzerland = 3
Flights from Switzerland to Malta = 3
Flights from Malta to Tunisia = 2
Flights from Tunisia to Malta = 1
Flights from Malta to Turkey = 4
Flights from Turkey to Malta = 4
Flights from Malta to United Kingdom of Great Britain and Northern Ireland = 28
Flights from United Kingdom of Great Britain and Northern Ireland to Malta = 28
Flights from Marshall Islands to Kiribati = 1
Flights from Kiribati to Marshall Islands = 2
Flights from Marshall Islands to Micronesia (Federated States of) = 2
Flights from Micronesia (Federated States of) to Marshall Islands = 2
Flights from Marshall Islands to Nauru = 1
Flights from Nauru to Marshall Islands = 1
Flights from Marshall Islands to United States of America = 1
Flights from United States of America to Marshall Islands = 1
Flights from Martinique to Barbados = 1
Flights from Barbados to Martinique = 2
Flights from Martinique to Canada = 1
Flights from Canada to Martinique = 2
Flights from Martinique to Cuba = 1
Flights from Cuba to Martinique = 2
Flights from Martinique to France = 4
Flights from France to Martinique = 8
Flights from Martinique to French Guiana = 2
Flights from French Guiana to Martinique = 4
Flights from Martinique to Guadeloupe = 4
Flights from Guadeloupe to Martinique = 9
Flights from Martinique to Puerto Rico = 2
Flights from Puerto Rico to Martinique = 2
Flights from Martinique to Saint Lucia = 4
Flights from Saint Lucia to Martinique = 5
Flights from Martinique to United States of America = 2
Flights from United States of America to Martinique = 2
Flights from Mauritania to France = 1
Flights from France to Mauritania = 2
Flights from Mauritania to Guinea = 1
Flights from Guinea to Mauritania = 2
Flights from Mauritania to Mali = 1
Flights from Mali to Mauritania = 2
Flights from Mauritania to Morocco = 3
Flights from Morocco to Mauritania = 3
Flights from Mauritania to Senegal = 3
Flights from Senegal to Mauritania = 2
Flights from Mauritania to Spain = 3
Flights from Spain to Mauritania = 3
Flights from Mauritania to Tunisia = 1

Flights from Tunisia to Mauritania = 1
Flights from Mauritius to Australia = 1
Flights from Australia to Mauritius = 2
Flights from Mauritius to China = 2
Flights from China to Mauritius = 4
Flights from Mauritius to France = 3
Flights from France to Mauritius = 5
Flights from Mauritius to Germany = 1
Flights from Germany to Mauritius = 2
Flights from Mauritius to Hong Kong = 1
Flights from Hong Kong to Mauritius = 2
Flights from Mauritius to India = 6
Flights from India to Mauritius = 12
Flights from Mauritius to Italy = 1
Flights from Italy to Mauritius = 2
Flights from Mauritius to Kenya = 2
Flights from Kenya to Mauritius = 4
Flights from Mauritius to Madagascar = 2
Flights from Madagascar to Mauritius = 4
Flights from Mauritius to Malaysia = 2
Flights from Malaysia to Mauritius = 4
Flights from Mauritius to RÃ©union = 7
Flights from RÃ©union to Mauritius = 7
Flights from Mauritius to Russian Federation = 1
Flights from Russian Federation to Mauritius = 1
Flights from Mauritius to Seychelles = 1
Flights from Seychelles to Mauritius = 1
Flights from Mauritius to South Africa = 5
Flights from South Africa to Mauritius = 5
Flights from Mauritius to United Arab Emirates = 2
Flights from United Arab Emirates to Mauritius = 2
Flights from Mauritius to United Kingdom of Great Britain and Northern Ireland = 3
Flights from United Kingdom of Great Britain and Northern Ireland to Mauritius = 4
Flights from Mayotte to Comoros = 5
Flights from Comoros to Mayotte = 7
Flights from Mayotte to Madagascar = 7
Flights from Madagascar to Mayotte = 12
Flights from Mayotte to RÃ©union = 2
Flights from RÃ©union to Mayotte = 1
Flights from Mayotte to Tanzania, United Republic of = 1
Flights from Tanzania, United Republic of to Mayotte = 1
Flights from Mexico to Argentina = 2
Flights from Argentina to Mexico = 4
Flights from Mexico to Belize = 2
Flights from Belize to Mexico = 4
Flights from Mexico to Brazil = 2
Flights from Brazil to Mexico = 4
Flights from Mexico to Canada = 30
Flights from Canada to Mexico = 57
Flights from Mexico to Chile = 3
Flights from Chile to Mexico = 6
Flights from Mexico to China = 1
Flights from China to Mexico = 2
Flights from Mexico to Colombia = 6
Flights from Colombia to Mexico = 12
Flights from Mexico to Costa Rica = 3
Flights from Costa Rica to Mexico = 6
Flights from Mexico to Cuba = 5
Flights from Cuba to Mexico = 13
Flights from Mexico to Ecuador = 1
Flights from Ecuador to Mexico = 2
Flights from Mexico to El Salvador = 3
Flights from El Salvador to Mexico = 6
Flights from Mexico to France = 4
Flights from France to Mexico = 8
Flights from Mexico to Germany = 4
Flights from Germany to Mexico = 8
Flights from Mexico to Guatemala = 3
Flights from Guatemala to Mexico = 6
Flights from Mexico to Honduras = 1
Flights from Honduras to Mexico = 2
Flights from Mexico to Italy = 3
Flights from Italy to Mexico = 4
Flights from Mexico to Japan = 2
Flights from Japan to Mexico = 3
Flights from Mexico to Netherlands = 2
Flights from Netherlands to Mexico = 1
Flights from Mexico to Panama = 8
Flights from Panama to Mexico = 8
Flights from Mexico to Peru = 4
Flights from Peru to Mexico = 4
Flights from Mexico to Russian Federation = 1
Flights from Russian Federation to Mexico = 1
Flights from Mexico to Spain = 8
Flights from Spain to Mexico = 8
Flights from Mexico to United Kingdom of Great Britain and Northern Ireland = 12
Flights from United Kingdom of Great Britain and Northern Ireland to Mexico = 14
Flights from Mexico to United States of America = 373
Flights from United States of America to Mexico = 369
Flights from Mexico to Venezuela (Bolivarian Republic of) = 1
Flights from Venezuela (Bolivarian Republic of) to Mexico = 1
Flights from Micronesia (Federated States of) to Guam = 2
Flights from Guam to Micronesia (Federated States of) = 4
Flights from Micronesia (Federated States of) to Marshall Islands = 2
Flights from Marshall Islands to Micronesia (Federated States of) = 4
Flights from Micronesia (Federated States of) to Palau = 1
Flights from Palau to Micronesia (Federated States of) = 1
Flights from Moldova, Republic of to Austria = 1
Flights from Austria to Moldova, Republic of = 2
Flights from Moldova, Republic of to Cyprus = 1
Flights from Cyprus to Moldova, Republic of = 2
Flights from Moldova, Republic of to France = 1
Flights from France to Moldova, Republic of = 2
Flights from Moldova, Republic of to Germany = 2
Flights from Germany to Moldova, Republic of = 4
Flights from Moldova, Republic of to Greece = 1
Flights from Greece to Moldova, Republic of = 2
Flights from Moldova, Republic of to Ireland = 1
Flights from Ireland to Moldova, Republic of = 2
Flights from Moldova, Republic of to Italy = 12
Flights from Italy to Moldova, Republic of = 24
Flights from Moldova, Republic of to Latvia = 1
Flights from Latvia to Moldova, Republic of = 2
Flights from Moldova, Republic of to Portugal = 1
Flights from Portugal to Moldova, Republic of = 1
Flights from Moldova, Republic of to Romania = 3
Flights from Romania to Moldova, Republic of = 3
Flights from Moldova, Republic of to Russian Federation = 5
Flights from Russian Federation to Moldova, Republic of = 5
Flights from Moldova, Republic of to Turkey = 2
Flights from Turkey to Moldova, Republic of = 2
Flights from Moldova, Republic of to Ukraine = 1
Flights from Ukraine to Moldova, Republic of = 1
Flights from Moldova, Republic of to United Arab Emirates = 1
Flights from United Arab Emirates to Moldova, Republic of = 1
Flights from Moldova, Republic of to United Kingdom of Great Britain and Northern Ireland = 1
Flights from United Kingdom of Great Britain and Northern Ireland to Moldova, Republic of = 1
Flights from Mongolia to China = 4
Flights from China to Mongolia = 8
Flights from Mongolia to Hong Kong = 2
Flights from Hong Kong to Mongolia = 4
Flights from Mongolia to Japan = 1
Flights from Japan to Mongolia = 2
Flights from Mongolia to Kyrgyzstan = 1
Flights from Kyrgyzstan to Mongolia = 2
Flights from Mongolia to Russian Federation = 2
Flights from Russian Federation to Mongolia = 2
Flights from Mongolia to Korea, Republic of = 2
Flights from Korea, Republic of to Mongolia = 2
Flights from Mongolia to Thailand = 1
Flights from Thailand to Mongolia = 1
Flights from Montenegro to Austria = 2
Flights from Austria to Montenegro = 4
Flights from Montenegro to Belgium = 2
Flights from Belgium to Montenegro = 4
Flights from Montenegro to France = 2
Flights from France to Montenegro = 4
Flights from Montenegro to Germany = 2
Flights from Germany to Montenegro = 4
Flights from Montenegro to Italy = 2
Flights from Italy to Montenegro = 4
Flights from Montenegro to Russian Federation = 7
Flights from Russian Federation to Montenegro = 7
Flights from Montenegro to Serbia = 4
Flights from Serbia to Montenegro = 4
Flights from Montenegro to Slovenia = 2
Flights from Slovenia to Montenegro = 2
Flights from Montenegro to Switzerland = 1
Flights from Switzerland to Montenegro = 1
Flights from Montenegro to Turkey = 1
Flights from Turkey to Montenegro = 1
Flights from Montenegro to United Kingdom of Great Britain and Northern Ireland = 2
Flights from United Kingdom of Great Britain and Northern Ireland to Montenegro = 2
Flights from Morocco to Algeria = 3
Flights from Algeria to Morocco = 6
Flights from Morocco to Angola = 1
Flights from Angola to Morocco = 2
Flights from Morocco to Belgium = 21
Flights from Belgium to Morocco = 43
Flights from Morocco to Brazil = 1
Flights from Brazil to Morocco = 2
Flights from Morocco to Burkina Faso = 1
Flights from Burkina Faso to Morocco = 2
Flights from Morocco to Cameroon = 2
Flights from Cameroon to Morocco = 4
Flights from Morocco to Canada = 1
Flights from Canada to Morocco = 2
Flights from Morocco to Cabo Verde = 1
Flights from Cabo Verde to Morocco = 2
Flights from Morocco to Congo = 2
Flights from Congo to Morocco = 4
Flights from Morocco to CÃ´te d'Ivoire = 1
Flights from CÃ´te d'Ivoire to Morocco = 2
Flights from Morocco to Denmark = 1
Flights from Denmark to Morocco = 3
Flights from Morocco to Egypt = 2
Flights from Egypt to Morocco = 4
Flights from Morocco to Equatorial Guinea = 1
Flights from Equatorial Guinea to Morocco = 2
Flights from Morocco to France = 80
Flights from France to Morocco = 159
Flights from Morocco to Gabon = 1
Flights from Gabon to Morocco = 2
Flights from Morocco to Gambia = 1
Flights from Gambia to Morocco = 2
Flights from Morocco to Germany = 21
Flights from Germany to Morocco = 41
Flights from Morocco to Guinea = 1
Flights from Guinea to Morocco = 2
Flights from Morocco to Guinea-Bissau = 1
Flights from Guinea-Bissau to Morocco = 2
Flights from Morocco to Ireland = 1

Flights from Ireland to Morocco = 2
Flights from Morocco to Italy = 17
Flights from Italy to Morocco = 34
Flights from Morocco to Lebanon = 1
Flights from Lebanon to Morocco = 2
Flights from Morocco to Liberia = 1
Flights from Liberia to Morocco = 2
Flights from Morocco to Libya = 5
Flights from Libya to Morocco = 10
Flights from Morocco to Luxembourg = 2
Flights from Luxembourg to Morocco = 4
Flights from Morocco to Mali = 1
Flights from Mali to Morocco = 2
Flights from Morocco to Mauritania = 3
Flights from Mauritania to Morocco = 6
Flights from Morocco to Netherlands = 11
Flights from Netherlands to Morocco = 10
Flights from Morocco to Niger = 1
Flights from Niger to Morocco = 1
Flights from Morocco to Norway = 1
Flights from Norway to Morocco = 1
Flights from Morocco to Portugal = 4
Flights from Portugal to Morocco = 4
Flights from Morocco to Qatar = 1
Flights from Qatar to Morocco = 1
Flights from Morocco to Russian Federation = 2
Flights from Russian Federation to Morocco = 2
Flights from Morocco to Saudi Arabia = 4
Flights from Saudi Arabia to Morocco = 4
Flights from Morocco to Senegal = 1
Flights from Senegal to Morocco = 1
Flights from Morocco to Sierra Leone = 1
Flights from Sierra Leone to Morocco = 1
Flights from Morocco to Spain = 39
Flights from Spain to Morocco = 39
Flights from Morocco to Sweden = 1
Flights from Sweden to Morocco = 1
Flights from Morocco to Switzerland = 5
Flights from Switzerland to Morocco = 5
Flights from Morocco to Tunisia = 2
Flights from Tunisia to Morocco = 2
Flights from Morocco to Turkey = 3
Flights from Turkey to Morocco = 3
Flights from Morocco to United Arab Emirates = 4
Flights from United Arab Emirates to Morocco = 4
Flights from Morocco to United Kingdom of Great Britain and Northern Ireland = 26
Flights from United Kingdom of Great Britain and Northern Ireland to Morocco = 26
Flights from Morocco to United States of America = 1
Flights from United States of America to Morocco = 1
Flights from Morocco to Western Sahara = 4
Flights from Western Sahara to Morocco = 4
Flights from Mozambique to Angola = 1
Flights from Angola to Mozambique = 2
Flights from Mozambique to Ethiopia = 1
Flights from Ethiopia to Mozambique = 2
Flights from Mozambique to Kenya = 4
Flights from Kenya to Mozambique = 8
Flights from Mozambique to Portugal = 1
Flights from Portugal to Mozambique = 1
Flights from Mozambique to South Africa = 15
Flights from South Africa to Mozambique = 15
Flights from Mozambique to Tanzania, United Republic of = 1
Flights from Tanzania, United Republic of to Mozambique = 1
Flights from Namibia to Angola = 3
Flights from Angola to Namibia = 6
Flights from Namibia to Botswana = 1
Flights from Botswana to Namibia = 2
Flights from Namibia to Germany = 1
Flights from Germany to Namibia = 2
Flights from Namibia to Ghana = 1
Flights from Ghana to Namibia = 2
Flights from Namibia to South Africa = 9
Flights from South Africa to Namibia = 9
Flights from Namibia to Zambia = 2
Flights from Zambia to Namibia = 2
Flights from Namibia to Zimbabwe = 2
Flights from Zimbabwe to Namibia = 2
Flights from Nauru to Australia = 1
Flights from Australia to Nauru = 2
Flights from Nauru to Kiribati = 1
Flights from Kiribati to Nauru = 2
Flights from Nauru to Marshall Islands = 1
Flights from Marshall Islands to Nauru = 2
Flights from Nepal to Bangladesh = 4
Flights from Bangladesh to Nepal = 8
Flights from Nepal to Bhutan = 1
Flights from Bhutan to Nepal = 2
Flights from Nepal to China = 4
Flights from China to Nepal = 8
Flights from Nepal to Hong Kong = 1
Flights from Hong Kong to Nepal = 2
Flights from Nepal to India = 8
Flights from India to Nepal = 16
Flights from Nepal to Malaysia = 3
Flights from Malaysia to Nepal = 6
Flights from Nepal to Oman = 1
Flights from Oman to Nepal = 1
Flights from Nepal to Pakistan = 1
Flights from Pakistan to Nepal = 1
Flights from Nepal to Qatar = 2
Flights from Qatar to Nepal = 2
Flights from Nepal to Singapore = 2
Flights from Singapore to Nepal = 2
Flights from Nepal to Korea, Republic of = 1
Flights from Korea, Republic of to Nepal = 1
Flights from Nepal to Thailand = 2
Flights from Thailand to Nepal = 2
Flights from Nepal to Turkey = 1
Flights from Turkey to Nepal = 1
Flights from Nepal to United Arab Emirates = 4
Flights from United Arab Emirates to Nepal = 4
Flights from Netherlands to Angola = 1
Flights from Angola to Netherlands = 2
Flights from Netherlands to Argentina = 1
Flights from Argentina to Netherlands = 2
Flights from Netherlands to Aruba = 2
Flights from Aruba to Netherlands = 3
Flights from Netherlands to Austria = 5
Flights from Austria to Netherlands = 10
Flights from Netherlands to Belarus = 1
Flights from Belarus to Netherlands = 2
Flights from Netherlands to Belgium = 1
Flights from Belgium to Netherlands = 2
Flights from Netherlands to Brazil = 2
Flights from Brazil to Netherlands = 4
Flights from Netherlands to Bulgaria = 2
Flights from Bulgaria to Netherlands = 4
Flights from Netherlands to Canada = 10
Flights from Canada to Netherlands = 20
Flights from Netherlands to Cabo Verde = 1
Flights from Cabo Verde to Netherlands = 3
Flights from Netherlands to China = 13
Flights from China to Netherlands = 26
Flights from Netherlands to Croatia = 3
Flights from Croatia to Netherlands = 6
Flights from Netherlands to Cuba = 3
Flights from Cuba to Netherlands = 4
Flights from Netherlands to Cyprus = 3
Flights from Cyprus to Netherlands = 6
Flights from Netherlands to Czechia = 5
Flights from Czechia to Netherlands = 10
Flights from Netherlands to Denmark = 11
Flights from Denmark to Netherlands = 22
Flights from Netherlands to Dominican Republic = 2
Flights from Dominican Republic to Netherlands = 3
Flights from Netherlands to Ecuador = 2
Flights from Ecuador to Netherlands = 4
Flights from Netherlands to Egypt = 2
Flights from Egypt to Netherlands = 4
Flights from Netherlands to Estonia = 2
Flights from Estonia to Netherlands = 4
Flights from Netherlands to Finland = 4
Flights from Finland to Netherlands = 7
Flights from Netherlands to France = 34
Flights from France to Netherlands = 67
Flights from Netherlands to Georgia = 2
Flights from Georgia to Netherlands = 4
Flights from Netherlands to Germany = 25
Flights from Germany to Netherlands = 52
Flights from Netherlands to Ghana = 1
Flights from Ghana to Netherlands = 2
Flights from Netherlands to Greece = 21
Flights from Greece to Netherlands = 42
Flights from Netherlands to Guernsey = 1
Flights from Guernsey to Netherlands = 2
Flights from Netherlands to Hong Kong = 2
Flights from Hong Kong to Netherlands = 4
Flights from Netherlands to Hungary = 4
Flights from Hungary to Netherlands = 8
Flights from Netherlands to Iceland = 1
Flights from Iceland to Netherlands = 2
Flights from Netherlands to India = 3
Flights from India to Netherlands = 6
Flights from Netherlands to Iran (Islamic Republic of) = 1
Flights from Iran (Islamic Republic of) to Netherlands = 2
Flights from Netherlands to Iraq = 1
Flights from Iraq to Netherlands = 2
Flights from Netherlands to Ireland = 4
Flights from Ireland to Netherlands = 8
Flights from Netherlands to Israel = 4
Flights from Israel to Netherlands = 8
Flights from Netherlands to Italy = 42
Flights from Italy to Netherlands = 83
Flights from Netherlands to Japan = 3
Flights from Japan to Netherlands = 6
Flights from Netherlands to Jersey = 1
Flights from Jersey to Netherlands = 2
Flights from Netherlands to Jordan = 1
Flights from Jordan to Netherlands = 2
Flights from Netherlands to Kazakhstan = 2
Flights from Kazakhstan to Netherlands = 4
Flights from Netherlands to Kenya = 3
Flights from Kenya to Netherlands = 6
Flights from Netherlands to Kuwait = 3
Flights from Kuwait to Netherlands = 6
Flights from Netherlands to Latvia = 3
Flights from Latvia to Netherlands = 6
Flights from Netherlands to Lithuania = 1
Flights from Lithuania to Netherlands = 2
Flights from Netherlands to Luxembourg = 1
Flights from Luxembourg to Netherlands = 2
Flights from Netherlands to North Macedonia = 1
Flights from North Macedonia to Netherlands = 2
Flights from Netherlands to Malaysia = 3
Flights from Malaysia to Netherlands = 6
Flights from Netherlands to Malta = 3
Flights from Malta to Netherlands = 6
Flights from Netherlands to Mexico = 1
Flights from Mexico to Netherlands = 3
Flights from Netherlands to Morocco = 10
Flights from Morocco to Netherlands = 21
Flights from Netherlands to Netherlands Antilles = 4
Flights from Netherlands Antilles to Netherlands = 4
Flights from Netherlands to Nigeria = 1
Flights from Nigeria to Netherlands = 1
Flights from Netherlands to Norway = 15
Flights from Norway to Netherlands = 15
Flights from Netherlands to Panama = 2
Flights from Panama to Netherlands = 2
Flights from Netherlands to Peru = 2
Flights from Peru to Netherlands = 2
Flights from Netherlands to Poland = 9
Flights from Poland to Netherlands = 9
Flights from Netherlands to Portugal = 23
Flights from Portugal to Netherlands = 22
Flights from Netherlands to Qatar = 3
Flights from Qatar to Netherlands = 3
Flights from Netherlands to Romania = 4
Flights from Romania to Netherlands = 4
Flights from Netherlands to Russian Federation = 4
Flights from Russian Federation to Netherlands = 4
Flights from Netherlands to Saudi Arabia = 3
Flights from Saudi Arabia to Netherlands = 3
Flights from Netherlands to Serbia = 3
Flights from Serbia to Netherlands = 3
Flights from Netherlands to Singapore = 2
Flights from Singapore to Netherlands = 3
Flights from Netherlands to Slovenia = 1
Flights from Slovenia to Netherlands = 1
Flights from Netherlands to South Africa = 3
Flights from South Africa to Netherlands = 3
Flights from Netherlands to Korea, Republic of = 2
Flights from Korea, Republic of to Netherlands = 2
Flights from Netherlands to Spain = 68
Flights from Spain to Netherlands = 68
Flights from Netherlands to Suriname = 2
Flights from Suriname to Netherlands = 2
Flights from Netherlands to Sweden = 7
Flights from Sweden to Netherlands = 7
Flights from Netherlands to Switzerland = 6
Flights from Switzerland to Netherlands = 5
Flights from Netherlands to Taiwan = 2
Flights from Taiwan to Netherlands = 2
Flights from Netherlands to Tanzania, United Republic of = 3
Flights from Tanzania, United Republic of to Netherlands = 3
Flights from Netherlands to Thailand = 3
Flights from Thailand to Netherlands = 3
Flights from Netherlands to Tunisia = 1
Flights from Tunisia to Netherlands = 2
Flights from Netherlands to Turkey = 24
Flights from Turkey to Netherlands = 22
Flights from Netherlands to Ukraine = 2
Flights from Ukraine to Netherlands = 2
Flights from Netherlands to United Arab Emirates = 10
Flights from United Arab Emirates to Netherlands = 10
Flights from Netherlands to United Kingdom of Great Britain and Northern Ireland = 54
Flights from United Kingdom of Great Britain and Northern Ireland to Netherlands = 53
Flights from Netherlands to United States of America = 39
Flights from United States of America to Netherlands = 39
Flights from Netherlands Antilles to Anguilla = 2
Flights from Anguilla to Netherlands Antilles = 4
Flights from Netherlands Antilles to Antigua and Barbuda = 1
Flights from Antigua and Barbuda to Netherlands Antilles = 2
Flights from Netherlands Antilles to Aruba = 4
Flights from Aruba to Netherlands Antilles = 7
Flights from Netherlands Antilles to Barbados = 1
Flights from Barbados to Netherlands Antilles = 2
Flights from Netherlands Antilles to Virgin Islands (British) = 4
Flights from Virgin Islands (British) to Netherlands Antilles = 8
Flights from Netherlands Antilles to Canada = 1
Flights from Canada to Netherlands Antilles = 2
Flights from Netherlands Antilles to Colombia = 2
Flights from Colombia to Netherlands Antilles = 4
Flights from Netherlands Antilles to Dominica = 5
Flights from Dominica to Netherlands Antilles = 9
Flights from Netherlands Antilles to Dominican Republic = 6
Flights from Dominican Republic to Netherlands Antilles = 11
Flights from Netherlands Antilles to France = 7
Flights from France to Netherlands Antilles = 15
Flights from Netherlands Antilles to Germany = 1
Flights from Germany to Netherlands Antilles = 2
Flights from Netherlands Antilles to Guadeloupe = 1
Flights from Guadeloupe to Netherlands Antilles = 2
Flights from Netherlands Antilles to Haiti = 1
Flights from Haiti to Netherlands Antilles = 2
Flights from Netherlands Antilles to Jamaica = 2
Flights from Jamaica to Netherlands Antilles = 4
Flights from Netherlands Antilles to Netherlands = 4
Flights from Netherlands to Netherlands Antilles = 8
Flights from Netherlands Antilles to Panama = 2
Flights from Panama to Netherlands Antilles = 2
Flights from Netherlands Antilles to Puerto Rico = 3
Flights from Puerto Rico to Netherlands Antilles = 3
Flights from Netherlands Antilles to Saint Kitts and Nevis = 3
Flights from Saint Kitts and Nevis to Netherlands Antilles = 3
Flights from Netherlands Antilles to Suriname = 1
Flights from Suriname to Netherlands Antilles = 1
Flights from Netherlands Antilles to Trinidad and Tobago = 3
Flights from Trinidad and Tobago to Netherlands Antilles = 3
Flights from Netherlands Antilles to United States of America = 23
Flights from United States of America to Netherlands Antilles = 24
Flights from Netherlands Antilles to Venezuela (Bolivarian Republic of) = 6
Flights from Venezuela (Bolivarian Republic of) to Netherlands Antilles = 6
Flights from Netherlands Antilles to Virgin Islands (British) = 3
Flights from Virgin Islands (British) to Netherlands Antilles = 8
Flights from New Caledonia to Australia = 4
Flights from Australia to New Caledonia = 8
Flights from New Caledonia to Fiji = 1
Flights from Fiji to New Caledonia = 2
Flights from New Caledonia to French Polynesia = 1
Flights from French Polynesia to New Caledonia = 2
Flights from New Caledonia to Japan = 2
Flights from Japan to New Caledonia = 4
Flights from New Caledonia to New Zealand = 2
Flights from New Zealand to New Caledonia = 2
Flights from New Caledonia to Vanuatu = 2
Flights from Vanuatu to New Caledonia = 2
Flights from New Caledonia to Wallis and Futuna = 1
Flights from Wallis and Futuna to New Caledonia = 1
Flights from New Zealand to Australia = 64
Flights from Australia to New Zealand = 141
Flights from New Zealand to Chile = 2
Flights from Chile to New Zealand = 4
Flights from New Zealand to China = 3
Flights from China to New Zealand = 6
Flights from New Zealand to Cook Islands = 2
Flights from Cook Islands to New Zealand = 5
Flights from New Zealand to Fiji = 3
Flights from Fiji to New Zealand = 10
Flights from New Zealand to French Polynesia = 4
Flights from French Polynesia to New Zealand = 8
Flights from New Zealand to Hong Kong = 2
Flights from Hong Kong to New Zealand = 5
Flights from New Zealand to Japan = 3
Flights from Japan to New Zealand = 6
Flights from New Zealand to Malaysia = 1
Flights from Malaysia to New Zealand = 2
Flights from New Zealand to New Caledonia = 2
Flights from New Caledonia to New Zealand = 4
Flights from New Zealand to Samoa = 2
Flights from Samoa to New Zealand = 3
Flights from New Zealand to Singapore = 5
Flights from Singapore to New Zealand = 5
Flights from New Zealand to Korea, Republic of = 1
Flights from Korea, Republic of to New Zealand = 1
Flights from New Zealand to Thailand = 2
Flights from Thailand to New Zealand = 2
Flights from New Zealand to Tonga = 2
Flights from Tonga to New Zealand = 2
Flights from New Zealand to United States of America = 4
Flights from United States of America to New Zealand = 10
Flights from New Zealand to Vanuatu = 2
Flights from Vanuatu to New Zealand = 2
Flights from Nicaragua to Costa Rica = 4
Flights from Costa Rica to Nicaragua = 7
Flights from Nicaragua to El Salvador = 2
Flights from El Salvador to Nicaragua = 4
Flights from Nicaragua to Guatemala = 1
Flights from Guatemala to Nicaragua = 2
Flights from Nicaragua to Panama = 2
Flights from Panama to Nicaragua = 2
Flights from Nicaragua to United States of America = 6
Flights from United States of America to Nicaragua = 6
Flights from Niger to Algeria = 1
Flights from Algeria to Niger = 2
Flights from Niger to Benin = 1
Flights from Benin to Niger = 2

Flights from Niger to Burkina Faso = 8
Flights from Burkina Faso to Niger = 15
Flights from Niger to Chad = 1
Flights from Chad to Niger = 2
Flights from Niger to Ethiopia = 1
Flights from Ethiopia to Niger = 2
Flights from Niger to France = 3
Flights from France to Niger = 6
Flights from Niger to Morocco = 1
Flights from Morocco to Niger = 2
Flights from Niger to Nigeria = 1
Flights from Nigeria to Niger = 1
Flights from Nigeria to Benin = 3
Flights from Benin to Nigeria = 6
Flights from Nigeria to Cameroon = 2
Flights from Cameroon to Nigeria = 4
Flights from Nigeria to Chad = 2
Flights from Chad to Nigeria = 4
Flights from Nigeria to CÃ´te d'Ivoire = 4
Flights from CÃ´te d'Ivoire to Nigeria = 8
Flights from Nigeria to Egypt = 3
Flights from Egypt to Nigeria = 6
Flights from Nigeria to Equatorial Guinea = 2
Flights from Equatorial Guinea to Nigeria = 3
Flights from Nigeria to Ethiopia = 3
Flights from Ethiopia to Nigeria = 6
Flights from Nigeria to France = 4
Flights from France to Nigeria = 8
Flights from Nigeria to Gabon = 1
Flights from Gabon to Nigeria = 3
Flights from Nigeria to Germany = 4
Flights from Germany to Nigeria = 8
Flights from Nigeria to Ghana = 6
Flights from Ghana to Nigeria = 11
Flights from Nigeria to Jordan = 1
Flights from Jordan to Nigeria = 2
Flights from Nigeria to Kenya = 1
Flights from Kenya to Nigeria = 2
Flights from Nigeria to Lebanon = 2
Flights from Lebanon to Nigeria = 4
Flights from Nigeria to Liberia = 1
Flights from Liberia to Nigeria = 2
Flights from Nigeria to Mali = 1
Flights from Mali to Nigeria = 2
Flights from Nigeria to Netherlands = 1
Flights from Netherlands to Nigeria = 2
Flights from Nigeria to Niger = 1
Flights from Niger to Nigeria = 2
Flights from Nigeria to Qatar = 1
Flights from Qatar to Nigeria = 1
Flights from Nigeria to Rwanda = 1
Flights from Rwanda to Nigeria = 1
Flights from Nigeria to Saudi Arabia = 1
Flights from Saudi Arabia to Nigeria = 1
Flights from Nigeria to Senegal = 1
Flights from Senegal to Nigeria = 1
Flights from Nigeria to Sierra Leone = 1
Flights from Sierra Leone to Nigeria = 1
Flights from Nigeria to South Africa = 2
Flights from South Africa to Nigeria = 2
Flights from Nigeria to Spain = 1
Flights from Spain to Nigeria = 1
Flights from Nigeria to Togo = 2
Flights from Togo to Nigeria = 2
Flights from Nigeria to Turkey = 1
Flights from Turkey to Nigeria = 2
Flights from Nigeria to United Arab Emirates = 2
Flights from United Arab Emirates to Nigeria = 2
Flights from Nigeria to United Kingdom of Great Britain and Northern Ireland = 4
Flights from United Kingdom of Great Britain and Northern Ireland to Nigeria = 4
Flights from Nigeria to United States of America = 3
Flights from United States of America to Nigeria = 3
Flights from Norfolk Island to Australia = 2
Flights from Australia to Norfolk Island = 4
Flights from Korea (Democratic People's Republic of) to China = 3
Flights from China to Korea (Democratic People's Republic of) = 6
Flights from Korea (Democratic People's Republic of) to Malaysia = 1
Flights from Malaysia to Korea (Democratic People's Republic of) = 2
Flights from Korea (Democratic People's Republic of) to Russian Federation = 1
Flights from Russian Federation to Korea (Democratic People's Republic of) = 1
Flights from Northern Mariana Islands to China = 3
Flights from China to Northern Mariana Islands = 6
Flights from Northern Mariana Islands to Guam = 2
Flights from Guam to Northern Mariana Islands = 4
Flights from Northern Mariana Islands to Japan = 3
Flights from Japan to Northern Mariana Islands = 6
Flights from Northern Mariana Islands to Korea, Republic of = 2
Flights from Korea, Republic of to Northern Mariana Islands = 2
Flights from Norway to Austria = 2
Flights from Austria to Norway = 4
Flights from Norway to Belgium = 3
Flights from Belgium to Norway = 6
Flights from Norway to Bulgaria = 1
Flights from Bulgaria to Norway = 2
Flights from Norway to Croatia = 9
Flights from Croatia to Norway = 18
Flights from Norway to Cyprus = 1
Flights from Cyprus to Norway = 2
Flights from Norway to Czechia = 3
Flights from Czechia to Norway = 6
Flights from Norway to Denmark = 29
Flights from Denmark to Norway = 59
Flights from Norway to Estonia = 6
Flights from Estonia to Norway = 12
Flights from Norway to Faroe Islands = 2
Flights from Faroe Islands to Norway = 4
Flights from Norway to Finland = 3
Flights from Finland to Norway = 6
Flights from Norway to France = 15
Flights from France to Norway = 30
Flights from Norway to Germany = 26
Flights from Germany to Norway = 52
Flights from Norway to Greece = 11
Flights from Greece to Norway = 22
Flights from Norway to Hungary = 1
Flights from Hungary to Norway = 2
Flights from Norway to Iceland = 6
Flights from Iceland to Norway = 11
Flights from Norway to Ireland = 3
Flights from Ireland to Norway = 6
Flights from Norway to Italy = 14
Flights from Italy to Norway = 28
Flights from Norway to Latvia = 10
Flights from Latvia to Norway = 20
Flights from Norway to Lithuania = 8
Flights from Lithuania to Norway = 16
Flights from Norway to Malta = 2
Flights from Malta to Norway = 4
Flights from Norway to Morocco = 1
Flights from Morocco to Norway = 2
Flights from Norway to Netherlands = 15
Flights from Netherlands to Norway = 30
Flights from Norway to Pakistan = 1
Flights from Pakistan to Norway = 1
Flights from Norway to Poland = 31
Flights from Poland to Norway = 31
Flights from Norway to Portugal = 3
Flights from Portugal to Norway = 3
Flights from Norway to Qatar = 1
Flights from Qatar to Norway = 1
Flights from Norway to Romania = 1
Flights from Romania to Norway = 1
Flights from Norway to Russian Federation = 4
Flights from Russian Federation to Norway = 4
Flights from Norway to Serbia = 2
Flights from Serbia to Norway = 2
Flights from Norway to Slovakia = 1
Flights from Slovakia to Norway = 1
Flights from Norway to Spain = 52
Flights from Spain to Norway = 52
Flights from Norway to Sweden = 13
Flights from Sweden to Norway = 13
Flights from Norway to Switzerland = 3
Flights from Switzerland to Norway = 3
Flights from Norway to Thailand = 3
Flights from Thailand to Norway = 3
Flights from Norway to Turkey = 7
Flights from Turkey to Norway = 7
Flights from Norway to Ukraine = 1
Flights from Ukraine to Norway = 1
Flights from Norway to United Kingdom of Great Britain and Northern Ireland = 42
Flights from United Kingdom of Great Britain and Northern Ireland to Norway = 42
Flights from Norway to United States of America = 5
Flights from United States of America to Norway = 5
Flights from Oman to Bahrain = 3
Flights from Bahrain to Oman = 6
Flights from Oman to Bangladesh = 4
Flights from Bangladesh to Oman = 9
Flights from Oman to Egypt = 2
Flights from Egypt to Oman = 4
Flights from Oman to Ethiopia = 2
Flights from Ethiopia to Oman = 4
Flights from Oman to France = 1
Flights from France to Oman = 2
Flights from Oman to Germany = 2
Flights from Germany to Oman = 4
Flights from Oman to India = 22
Flights from India to Oman = 43
Flights from Oman to Iran (Islamic Republic of) = 3
Flights from Iran (Islamic Republic of) to Oman = 6
Flights from Oman to Italy = 1
Flights from Italy to Oman = 2
Flights from Oman to Jordan = 2
Flights from Jordan to Oman = 4
Flights from Oman to Kuwait = 2
Flights from Kuwait to Oman = 4
Flights from Oman to Lebanon = 1
Flights from Lebanon to Oman = 2
Flights from Oman to Malaysia = 2
Flights from Malaysia to Oman = 4
Flights from Oman to Maldives = 1
Flights from Maldives to Oman = 2
Flights from Oman to Nepal = 1
Flights from Nepal to Oman = 2
Flights from Oman to Pakistan = 14
Flights from Pakistan to Oman = 13
Flights from Oman to Qatar = 6
Flights from Qatar to Oman = 6
Flights from Oman to Saudi Arabia = 7
Flights from Saudi Arabia to Oman = 7
Flights from Oman to Sri Lanka = 3
Flights from Sri Lanka to Oman = 3
Flights from Oman to Switzerland = 2
Flights from Switzerland to Oman = 2
Flights from Oman to Tanzania, United Republic of = 1
Flights from Tanzania, United Republic of to Oman = 1
Flights from Oman to Thailand = 1
Flights from Thailand to Oman = 1
Flights from Oman to Turkey = 2
Flights from Turkey to Oman = 2
Flights from Oman to United Arab Emirates = 20
Flights from United Arab Emirates to Oman = 21
Flights from Oman to United Kingdom of Great Britain and Northern Ireland = 1
Flights from United Kingdom of Great Britain and Northern Ireland to Oman = 1
Flights from Pakistan to Afghanistan = 4
Flights from Afghanistan to Pakistan = 8
Flights from Pakistan to Bahrain = 6
Flights from Bahrain to Pakistan = 12
Flights from Pakistan to Bangladesh = 1
Flights from Bangladesh to Pakistan = 2
Flights from Pakistan to Canada = 3
Flights from Canada to Pakistan = 6
Flights from Pakistan to China = 4
Flights from China to Pakistan = 8
Flights from Pakistan to Denmark = 1
Flights from Denmark to Pakistan = 2
Flights from Pakistan to France = 1
Flights from France to Pakistan = 3
Flights from Pakistan to India = 3
Flights from India to Pakistan = 6
Flights from Pakistan to Iran (Islamic Republic of) = 3
Flights from Iran (Islamic Republic of) to Pakistan = 6
Flights from Pakistan to Italy = 2
Flights from Italy to Pakistan = 3
Flights from Pakistan to Kuwait = 6
Flights from Kuwait to Pakistan = 12
Flights from Pakistan to Malaysia = 3
Flights from Malaysia to Pakistan = 6
Flights from Pakistan to Nepal = 1
Flights from Nepal to Pakistan = 2
Flights from Pakistan to Norway = 1
Flights from Norway to Pakistan = 2
Flights from Pakistan to Oman = 13
Flights from Oman to Pakistan = 27
Flights from Pakistan to Qatar = 6
Flights from Qatar to Pakistan = 5
Flights from Pakistan to Saudi Arabia = 39
Flights from Saudi Arabia to Pakistan = 40
Flights from Pakistan to Spain = 2
Flights from Spain to Pakistan = 2
Flights from Pakistan to Sri Lanka = 2
Flights from Sri Lanka to Pakistan = 2
Flights from Pakistan to Thailand = 4
Flights from Thailand to Pakistan = 4
Flights from Pakistan to Turkey = 3
Flights from Turkey to Pakistan = 3
Flights from Pakistan to United Arab Emirates = 51
Flights from United Arab Emirates to Pakistan = 51
Flights from Pakistan to United Kingdom of Great Britain and Northern Ireland = 7
Flights from United Kingdom of Great Britain and Northern Ireland to Pakistan = 7
Flights from Palau to Guam = 1
Flights from Guam to Palau = 2
Flights from Palau to Japan = 3
Flights from Japan to Palau = 5
Flights from Palau to Micronesia (Federated States of) = 1
Flights from Micronesia (Federated States of) to Palau = 2
Flights from Palau to Philippines = 1
Flights from Philippines to Palau = 1
Flights from Palau to Korea, Republic of = 2
Flights from Korea, Republic of to Palau = 2
Flights from Palau to Taiwan = 2
Flights from Taiwan to Palau = 2
Flights from Panama to Argentina = 2
Flights from Argentina to Panama = 4
Flights from Panama to Aruba = 1
Flights from Aruba to Panama = 2
Flights from Panama to Bahamas = 1
Flights from Bahamas to Panama = 2
Flights from Panama to Bolivia = 1
Flights from Bolivia to Panama = 2
Flights from Panama to Brazil = 7
Flights from Brazil to Panama = 14
Flights from Panama to Canada = 1
Flights from Canada to Panama = 2
Flights from Panama to Chile = 1
Flights from Chile to Panama = 2
Flights from Panama to Colombia = 10
Flights from Colombia to Panama = 20
Flights from Panama to Costa Rica = 7
Flights from Costa Rica to Panama = 14
Flights from Panama to Cuba = 2
Flights from Cuba to Panama = 4
Flights from Panama to Dominican Republic = 4
Flights from Dominican Republic to Panama = 8
Flights from Panama to Ecuador = 3
Flights from Ecuador to Panama = 6
Flights from Panama to El Salvador = 2
Flights from El Salvador to Panama = 4
Flights from Panama to France = 1
Flights from France to Panama = 2
Flights from Panama to Guatemala = 1
Flights from Guatemala to Panama = 2
Flights from Panama to Haiti = 2
Flights from Haiti to Panama = 4
Flights from Panama to Honduras = 2
Flights from Honduras to Panama = 4
Flights from Panama to Jamaica = 2
Flights from Jamaica to Panama = 5
Flights from Panama to Mexico = 8
Flights from Mexico to Panama = 16
Flights from Panama to Netherlands = 2
Flights from Netherlands to Panama = 4
Flights from Panama to Netherlands Antilles = 2
Flights from Netherlands Antilles to Panama = 4
Flights from Panama to Nicaragua = 2
Flights from Nicaragua to Panama = 4
Flights from Panama to Paraguay = 1
Flights from Paraguay to Panama = 1
Flights from Panama to Peru = 2
Flights from Peru to Panama = 2
Flights from Panama to Puerto Rico = 1
Flights from Puerto Rico to Panama = 1
Flights from Panama to Spain = 1
Flights from Spain to Panama = 1
Flights from Panama to Trinidad and Tobago = 2
Flights from Trinidad and Tobago to Panama = 2
Flights from Panama to United States of America = 30
Flights from United States of America to Panama = 29
Flights from Panama to Uruguay = 1
Flights from Uruguay to Panama = 1
Flights from Panama to Venezuela (Bolivarian Republic of) = 6
Flights from Venezuela (Bolivarian Republic of) to Panama = 6
Flights from Papua New Guinea to Australia = 9
Flights from Australia to Papua New Guinea = 18
Flights from Papua New Guinea to Fiji = 1
Flights from Fiji to Papua New Guinea = 2
Flights from Papua New Guinea to Hong Kong = 1
Flights from Hong Kong to Papua New Guinea = 2
Flights from Papua New Guinea to Indonesia = 1
Flights from Indonesia to Papua New Guinea = 2
Flights from Papua New Guinea to Japan = 1
Flights from Japan to Papua New Guinea = 2
Flights from Papua New Guinea to Philippines = 2
Flights from Philippines to Papua New Guinea = 2
Flights from Papua New Guinea to Singapore = 1
Flights from Singapore to Papua New Guinea = 1
Flights from Papua New Guinea to Solomon Islands = 1
Flights from Solomon Islands to Papua New Guinea = 1
Flights from Paraguay to Argentina = 4
Flights from Argentina to Paraguay = 8
Flights from Paraguay to Bolivia = 2
Flights from Bolivia to Paraguay = 4
Flights from Paraguay to Brazil = 5
Flights from Brazil to Paraguay = 10
Flights from Paraguay to Chile = 2
Flights from Chile to Paraguay = 4
Flights from Paraguay to Panama = 1
Flights from Panama to Paraguay = 2
Flights from Paraguay to Peru = 1
Flights from Peru to Paraguay = 1
Flights from Paraguay to United States of America = 2
Flights from United States of America to Paraguay = 2
Flights from Paraguay to Uruguay = 1
Flights from Uruguay to Paraguay = 1

Flights from Peru to Argentina = 4
Flights from Argentina to Peru = 8
Flights from Peru to Bolivia = 8
Flights from Bolivia to Peru = 16
Flights from Peru to Brazil = 10
Flights from Brazil to Peru = 20
Flights from Peru to Canada = 1
Flights from Canada to Peru = 2
Flights from Peru to Chile = 7
Flights from Chile to Peru = 14
Flights from Peru to Colombia = 4
Flights from Colombia to Peru = 8
Flights from Peru to Costa Rica = 1
Flights from Costa Rica to Peru = 2
Flights from Peru to Cuba = 2
Flights from Cuba to Peru = 4
Flights from Peru to Dominican Republic = 2
Flights from Dominican Republic to Peru = 4
Flights from Peru to Ecuador = 6
Flights from Ecuador to Peru = 11
Flights from Peru to El Salvador = 1
Flights from El Salvador to Peru = 2
Flights from Peru to France = 2
Flights from France to Peru = 4
Flights from Peru to Mexico = 4
Flights from Mexico to Peru = 8
Flights from Peru to Netherlands = 2
Flights from Netherlands to Peru = 4
Flights from Peru to Panama = 2
Flights from Panama to Peru = 4
Flights from Peru to Paraguay = 1
Flights from Paraguay to Peru = 2
Flights from Peru to Spain = 3
Flights from Spain to Peru = 3
Flights from Peru to United States of America = 21
Flights from United States of America to Peru = 21
Flights from Peru to Uruguay = 1
Flights from Uruguay to Peru = 1
Flights from Peru to Venezuela (Bolivarian Republic of) = 2
Flights from Venezuela (Bolivarian Republic of) to Peru = 2
Flights from Philippines to Australia = 4
Flights from Australia to Philippines = 8
Flights from Philippines to Bahrain = 2
Flights from Bahrain to Philippines = 4
Flights from Philippines to Brunei = 2
Flights from Brunei to Philippines = 4
Flights from Philippines to Cambodia = 1
Flights from Cambodia to Philippines = 2
Flights from Philippines to Canada = 1
Flights from Canada to Philippines = 2
Flights from Philippines to China = 13
Flights from China to Philippines = 26
Flights from Philippines to Guam = 2
Flights from Guam to Philippines = 4
Flights from Philippines to Hong Kong = 11
Flights from Hong Kong to Philippines = 22
Flights from Philippines to Indonesia = 5
Flights from Indonesia to Philippines = 10
Flights from Philippines to Japan = 15
Flights from Japan to Philippines = 30
Flights from Philippines to Macao = 5
Flights from Macao to Philippines = 10
Flights from Philippines to Malaysia = 9
Flights from Malaysia to Philippines = 18
Flights from Philippines to Palau = 1
Flights from Palau to Philippines = 2
Flights from Philippines to Papua New Guinea = 2
Flights from Papua New Guinea to Philippines = 4
Flights from Philippines to Qatar = 3
Flights from Qatar to Philippines = 3
Flights from Philippines to Saudi Arabia = 5
Flights from Saudi Arabia to Philippines = 5
Flights from Philippines to Singapore = 17
Flights from Singapore to Philippines = 17
Flights from Philippines to Korea, Republic of = 27
Flights from Korea, Republic of to Philippines = 26
Flights from Philippines to Taiwan = 9
Flights from Taiwan to Philippines = 9
Flights from Philippines to Thailand = 6
Flights from Thailand to Philippines = 6
Flights from Philippines to United Arab Emirates = 7
Flights from United Arab Emirates to Philippines = 7
Flights from Philippines to United Kingdom of Great Britain and Northern Ireland = 1
Flights from United Kingdom of Great Britain and Northern Ireland to Philippines = 1
Flights from Philippines to United States of America = 3
Flights from United States of America to Philippines = 3
Flights from Philippines to Viet Nam = 4
Flights from Viet Nam to Philippines = 4
Flights from Poland to Armenia = 1
Flights from Armenia to Poland = 2
Flights from Poland to Austria = 4
Flights from Austria to Poland = 8
Flights from Poland to Belarus = 2
Flights from Belarus to Poland = 4
Flights from Poland to Belgium = 6
Flights from Belgium to Poland = 12
Flights from Poland to Bulgaria = 2
Flights from Bulgaria to Poland = 4
Flights from Poland to Canada = 2
Flights from Canada to Poland = 4
Flights from Poland to China = 2
Flights from China to Poland = 4
Flights from Poland to Croatia = 3
Flights from Croatia to Poland = 6
Flights from Poland to Cyprus = 2
Flights from Cyprus to Poland = 4
Flights from Poland to Czechia = 3
Flights from Czechia to Poland = 6
Flights from Poland to Denmark = 8
Flights from Denmark to Poland = 15
Flights from Poland to Estonia = 1
Flights from Estonia to Poland = 2
Flights from Poland to Finland = 5
Flights from Finland to Poland = 10
Flights from Poland to France = 15
Flights from France to Poland = 30
Flights from Poland to Georgia = 3
Flights from Georgia to Poland = 6
Flights from Poland to Germany = 44
Flights from Germany to Poland = 88
Flights from Poland to Greece = 7
Flights from Greece to Poland = 14
Flights from Poland to Hungary = 2
Flights from Hungary to Poland = 4
Flights from Poland to Ireland = 15
Flights from Ireland to Poland = 30
Flights from Poland to Israel = 4
Flights from Israel to Poland = 8
Flights from Poland to Italy = 29
Flights from Italy to Poland = 58
Flights from Poland to Latvia = 2
Flights from Latvia to Poland = 4
Flights from Poland to Lithuania = 1
Flights from Lithuania to Poland = 2
Flights from Poland to Malta = 2
Flights from Malta to Poland = 4
Flights from Poland to Netherlands = 9
Flights from Netherlands to Poland = 18
Flights from Poland to Norway = 31
Flights from Norway to Poland = 62
Flights from Poland to Portugal = 2
Flights from Portugal to Poland = 2
Flights from Poland to Qatar = 1
Flights from Qatar to Poland = 1
Flights from Poland to Romania = 2
Flights from Romania to Poland = 2
Flights from Poland to Russian Federation = 4
Flights from Russian Federation to Poland = 4
Flights from Poland to Serbia = 2
Flights from Serbia to Poland = 2
Flights from Poland to Slovenia = 2
Flights from Slovenia to Poland = 2
Flights from Poland to Spain = 22
Flights from Spain to Poland = 22
Flights from Poland to Sweden = 13
Flights from Sweden to Poland = 13
Flights from Poland to Switzerland = 7
Flights from Switzerland to Poland = 7
Flights from Poland to Turkey = 2
Flights from Turkey to Poland = 2
Flights from Poland to Ukraine = 6
Flights from Ukraine to Poland = 6
Flights from Poland to United Arab Emirates = 2
Flights from United Arab Emirates to Poland = 2
Flights from Poland to United Kingdom of Great Britain and Northern Ireland = 67
Flights from United Kingdom of Great Britain and Northern Ireland to Poland = 67
Flights from Poland to United States of America = 2
Flights from United States of America to Poland = 2
Flights from Portugal to Algeria = 2
Flights from Algeria to Portugal = 4
Flights from Portugal to Angola = 3
Flights from Angola to Portugal = 6
Flights from Portugal to Austria = 6
Flights from Austria to Portugal = 12
Flights from Portugal to Belgium = 18
Flights from Belgium to Portugal = 36
Flights from Portugal to Brazil = 12
Flights from Brazil to Portugal = 24
Flights from Portugal to Canada = 8
Flights from Canada to Portugal = 17
Flights from Portugal to Cabo Verde = 9
Flights from Cabo Verde to Portugal = 17
Flights from Portugal to Czechia = 2
Flights from Czechia to Portugal = 4
Flights from Portugal to Denmark = 5
Flights from Denmark to Portugal = 10
Flights from Portugal to Finland = 2
Flights from Finland to Portugal = 4
Flights from Portugal to France = 51
Flights from France to Portugal = 104
Flights from Portugal to Germany = 62
Flights from Germany to Portugal = 126
Flights from Portugal to Ghana = 1
Flights from Ghana to Portugal = 2
Flights from Portugal to Hungary = 1
Flights from Hungary to Portugal = 2
Flights from Portugal to Ireland = 12
Flights from Ireland to Portugal = 24
Flights from Portugal to Italy = 18
Flights from Italy to Portugal = 38
Flights from Portugal to Luxembourg = 7
Flights from Luxembourg to Portugal = 14
Flights from Portugal to Mali = 1
Flights from Mali to Portugal = 2
Flights from Portugal to Moldova, Republic of = 1
Flights from Moldova, Republic of to Portugal = 2
Flights from Portugal to Morocco = 4
Flights from Morocco to Portugal = 8
Flights from Portugal to Mozambique = 1
Flights from Mozambique to Portugal = 2
Flights from Portugal to Netherlands = 22
Flights from Netherlands to Portugal = 45
Flights from Portugal to Norway = 3
Flights from Norway to Portugal = 6
Flights from Portugal to Poland = 2
Flights from Poland to Portugal = 4
Flights from Portugal to Romania = 1
Flights from Romania to Portugal = 1
Flights from Portugal to Russian Federation = 2
Flights from Russian Federation to Portugal = 2
Flights from Portugal to Sao Tome and Principe = 2
Flights from Sao Tome and Principe to Portugal = 1
Flights from Portugal to Senegal = 1
Flights from Senegal to Portugal = 1
Flights from Portugal to Spain = 43
Flights from Spain to Portugal = 43
Flights from Portugal to Sweden = 4
Flights from Sweden to Portugal = 3
Flights from Portugal to Switzerland = 17
Flights from Switzerland to Portugal = 21
Flights from Portugal to Tunisia = 1
Flights from Tunisia to Portugal = 1
Flights from Portugal to Turkey = 2
Flights from Turkey to Portugal = 2
Flights from Portugal to Ukraine = 2
Flights from Ukraine to Portugal = 2
Flights from Portugal to United Arab Emirates = 2
Flights from United Arab Emirates to Portugal = 2
Flights from Portugal to United Kingdom of Great Britain and Northern Ireland = 82
Flights from United Kingdom of Great Britain and Northern Ireland to Portugal = 84
Flights from Portugal to United States of America = 14
Flights from United States of America to Portugal = 14
Flights from Portugal to Venezuela (Bolivarian Republic of) = 3
Flights from Venezuela (Bolivarian Republic of) to Portugal = 3
Flights from Puerto Rico to Anguilla = 2
Flights from Anguilla to Puerto Rico = 4
Flights from Puerto Rico to Antigua and Barbuda = 1
Flights from Antigua and Barbuda to Puerto Rico = 2
Flights from Puerto Rico to Virgin Islands (British) = 7
Flights from Virgin Islands (British) to Puerto Rico = 13
Flights from Puerto Rico to Canada = 1
Flights from Canada to Puerto Rico = 2
Flights from Puerto Rico to Colombia = 1
Flights from Colombia to Puerto Rico = 2
Flights from Puerto Rico to Dominica = 4
Flights from Dominica to Puerto Rico = 8
Flights from Puerto Rico to Dominican Republic = 9
Flights from Dominican Republic to Puerto Rico = 18
Flights from Puerto Rico to France = 1
Flights from France to Puerto Rico = 2
Flights from Puerto Rico to Germany = 1
Flights from Germany to Puerto Rico = 2
Flights from Puerto Rico to Guadeloupe = 2
Flights from Guadeloupe to Puerto Rico = 4
Flights from Puerto Rico to Martinique = 2
Flights from Martinique to Puerto Rico = 4
Flights from Puerto Rico to Netherlands Antilles = 3
Flights from Netherlands Antilles to Puerto Rico = 6
Flights from Puerto Rico to Panama = 1
Flights from Panama to Puerto Rico = 2
Flights from Puerto Rico to Saint Kitts and Nevis = 4
Flights from Saint Kitts and Nevis to Puerto Rico = 4
Flights from Puerto Rico to Turks and Caicos Islands = 1
Flights from Turks and Caicos Islands to Puerto Rico = 1
Flights from Puerto Rico to United States of America = 53
Flights from United States of America to Puerto Rico = 53
Flights from Puerto Rico to Venezuela (Bolivarian Republic of) = 1
Flights from Venezuela (Bolivarian Republic of) to Puerto Rico = 1
Flights from Puerto Rico to Virgin Islands (British) = 8
Flights from Virgin Islands (British) to Puerto Rico = 13
Flights from Qatar to Algeria = 1
Flights from Algeria to Qatar = 2
Flights from Qatar to Australia = 2
Flights from Australia to Qatar = 4
Flights from Qatar to Austria = 1
Flights from Austria to Qatar = 2
Flights from Qatar to Azerbaijan = 2
Flights from Azerbaijan to Qatar = 4
Flights from Qatar to Bahrain = 12
Flights from Bahrain to Qatar = 22
Flights from Qatar to Bangladesh = 1
Flights from Bangladesh to Qatar = 3
Flights from Qatar to Belgium = 1
Flights from Belgium to Qatar = 2
Flights from Qatar to Brazil = 1
Flights from Brazil to Qatar = 2
Flights from Qatar to Myanmar = 1
Flights from Myanmar to Qatar = 2
Flights from Qatar to Canada = 1
Flights from Canada to Qatar = 2
Flights from Qatar to China = 6
Flights from China to Qatar = 12
Flights from Qatar to Cyprus = 1
Flights from Cyprus to Qatar = 2
Flights from Qatar to Denmark = 1
Flights from Denmark to Qatar = 2
Flights from Qatar to Egypt = 4
Flights from Egypt to Qatar = 8
Flights from Qatar to Ethiopia = 1
Flights from Ethiopia to Qatar = 2
Flights from Qatar to France = 1
Flights from France to Qatar = 2
Flights from Qatar to Germany = 9
Flights from Germany to Qatar = 18
Flights from Qatar to Greece = 2
Flights from Greece to Qatar = 4
Flights from Qatar to Hong Kong = 2
Flights from Hong Kong to Qatar = 4
Flights from Qatar to Hungary = 1
Flights from Hungary to Qatar = 2
Flights from Qatar to India = 16
Flights from India to Qatar = 32
Flights from Qatar to Indonesia = 1
Flights from Indonesia to Qatar = 2
Flights from Qatar to Iran (Islamic Republic of) = 5
Flights from Iran (Islamic Republic of) to Qatar = 10
Flights from Qatar to Iraq = 5
Flights from Iraq to Qatar = 10
Flights from Qatar to Italy = 4
Flights from Italy to Qatar = 8
Flights from Qatar to Japan = 6
Flights from Japan to Qatar = 12
Flights from Qatar to Jordan = 2
Flights from Jordan to Qatar = 4
Flights from Qatar to Kenya = 1
Flights from Kenya to Qatar = 2
Flights from Qatar to Kuwait = 2
Flights from Kuwait to Qatar = 5
Flights from Qatar to Lebanon = 2
Flights from Lebanon to Qatar = 4
Flights from Qatar to Malaysia = 2
Flights from Malaysia to Qatar = 4
Flights from Qatar to Maldives = 1
Flights from Maldives to Qatar = 2
Flights from Qatar to Morocco = 1
Flights from Morocco to Qatar = 2
Flights from Qatar to Nepal = 2
Flights from Nepal to Qatar = 4
Flights from Qatar to Netherlands = 3
Flights from Netherlands to Qatar = 6
Flights from Qatar to Nigeria = 1
Flights from Nigeria to Qatar = 2
Flights from Qatar to Norway = 1
Flights from Norway to Qatar = 2
Flights from Qatar to Oman = 6
Flights from Oman to Qatar = 12
Flights from Qatar to Pakistan = 5
Flights from Pakistan to Qatar = 11
Flights from Qatar to Philippines = 3
Flights from Philippines to Qatar = 6
Flights from Qatar to Poland = 1
Flights from Poland to Qatar = 2
Flights from Qatar to Romania = 1
Flights from Romania to Qatar = 1
Flights from Qatar to Russian Federation = 1
Flights from Russian Federation to Qatar = 1
Flights from Qatar to Saudi Arabia = 9
Flights from Saudi Arabia to Qatar = 9
Flights from Qatar to Singapore = 1
Flights from Singapore to Qatar = 1
Flights from Qatar to South Africa = 1
Flights from South Africa to Qatar = 2
Flights from Qatar to Korea, Republic of = 2
Flights from Korea, Republic of to Qatar = 2
Flights from Qatar to Spain = 6
Flights from Spain to Qatar = 5
Flights from Qatar to Sri Lanka = 2
Flights from Sri Lanka to Qatar = 2
Flights from Qatar to Sudan = 2
Flights from Sudan to Qatar = 2
Flights from Qatar to Sweden = 1
Flights from Sweden to Qatar = 1
Flights from Qatar to Switzerland = 3
Flights from Switzerland to Qatar = 3
Flights from Qatar to Tanzania, United Republic of = 1
Flights from Tanzania, United Republic of to Qatar = 1
Flights from Qatar to Thailand = 1
Flights from Thailand to Qatar = 1
Flights from Qatar to Tunisia = 1
Flights from Tunisia to Qatar = 1
Flights from Qatar to Turkey = 4
Flights from Turkey to Qatar = 4
Flights from Qatar to Uganda = 1
Flights from Uganda to Qatar = 1

Flights from Qatar to United Arab Emirates = 11
Flights from United Arab Emirates to Qatar = 10
Flights from Qatar to United Kingdom of Great Britain and Northern Ireland = 4
Flights from United Kingdom of Great Britain and Northern Ireland to Qatar = 4
Flights from Qatar to United States of America = 11
Flights from United States of America to Qatar = 11
Flights from Qatar to Viet Nam = 1
Flights from Viet Nam to Qatar = 1
Flights from Qatar to Yemen = 3
Flights from Yemen to Qatar = 2
Flights from RÃ©union to Comoros = 1
Flights from Comoros to RÃ©union = 2
Flights from RÃ©union to France = 5
Flights from France to RÃ©union = 10
Flights from RÃ©union to India = 1
Flights from India to RÃ©union = 2
Flights from RÃ©union to Madagascar = 6
Flights from Madagascar to RÃ©union = 13
Flights from RÃ©union to Mauritius = 7
Flights from Mauritius to RÃ©union = 14
Flights from RÃ©union to Mayotte = 1
Flights from Mayotte to RÃ©union = 3
Flights from RÃ©union to South Africa = 1
Flights from South Africa to RÃ©union = 1
Flights from Romania to Austria = 8
Flights from Austria to Romania = 16
Flights from Romania to Belgium = 4
Flights from Belgium to Romania = 8
Flights from Romania to Bulgaria = 3
Flights from Bulgaria to Romania = 6
Flights from Romania to Cyprus = 3
Flights from Cyprus to Romania = 6
Flights from Romania to Czechia = 5
Flights from Czechia to Romania = 10
Flights from Romania to Denmark = 1
Flights from Denmark to Romania = 2
Flights from Romania to France = 7
Flights from France to Romania = 14
Flights from Romania to Germany = 16
Flights from Germany to Romania = 31
Flights from Romania to Greece = 4
Flights from Greece to Romania = 8
Flights from Romania to Hungary = 1
Flights from Hungary to Romania = 2
Flights from Romania to Ireland = 2
Flights from Ireland to Romania = 4
Flights from Romania to Israel = 5
Flights from Israel to Romania = 10
Flights from Romania to Italy = 34
Flights from Italy to Romania = 68
Flights from Romania to Jordan = 2
Flights from Jordan to Romania = 4
Flights from Romania to Lebanon = 2
Flights from Lebanon to Romania = 4
Flights from Romania to Moldova, Republic of = 3
Flights from Moldova, Republic of to Romania = 6
Flights from Romania to Netherlands = 4
Flights from Netherlands to Romania = 8
Flights from Romania to Norway = 1
Flights from Norway to Romania = 2
Flights from Romania to Poland = 2
Flights from Poland to Romania = 4
Flights from Romania to Portugal = 1
Flights from Portugal to Romania = 2
Flights from Romania to Qatar = 1
Flights from Qatar to Romania = 2
Flights from Romania to Russian Federation = 2
Flights from Russian Federation to Romania = 2
Flights from Romania to Serbia = 2
Flights from Serbia to Romania = 2
Flights from Romania to Spain = 17
Flights from Spain to Romania = 17
Flights from Romania to Switzerland = 3
Flights from Switzerland to Romania = 3
Flights from Romania to Turkey = 4
Flights from Turkey to Romania = 4
Flights from Romania to United Arab Emirates = 3
Flights from United Arab Emirates to Romania = 3
Flights from Romania to United Kingdom of Great Britain and Northern Ireland = 11
Flights from United Kingdom of Great Britain and Northern Ireland to Romania = 11
Flights from Russian Federation to Algeria = 1
Flights from Algeria to Russian Federation = 2
Flights from Russian Federation to Armenia = 27
Flights from Armenia to Russian Federation = 54
Flights from Russian Federation to Austria = 13
Flights from Austria to Russian Federation = 26
Flights from Russian Federation to Azerbaijan = 21
Flights from Azerbaijan to Russian Federation = 42
Flights from Russian Federation to Belarus = 12
Flights from Belarus to Russian Federation = 24
Flights from Russian Federation to Belgium = 2
Flights from Belgium to Russian Federation = 4
Flights from Russian Federation to Bulgaria = 8
Flights from Bulgaria to Russian Federation = 16
Flights from Russian Federation to Canada = 2
Flights from Canada to Russian Federation = 4
Flights from Russian Federation to China = 48
Flights from China to Russian Federation = 94
Flights from Russian Federation to Croatia = 2
Flights from Croatia to Russian Federation = 4
Flights from Russian Federation to Cuba = 3
Flights from Cuba to Russian Federation = 6
Flights from Russian Federation to Cyprus = 11
Flights from Cyprus to Russian Federation = 22
Flights from Russian Federation to Czechia = 24
Flights from Czechia to Russian Federation = 48
Flights from Russian Federation to Denmark = 3
Flights from Denmark to Russian Federation = 6
Flights from Russian Federation to Dominican Republic = 4
Flights from Dominican Republic to Russian Federation = 8
Flights from Russian Federation to Egypt = 11
Flights from Egypt to Russian Federation = 22
Flights from Russian Federation to Estonia = 3
Flights from Estonia to Russian Federation = 6
Flights from Russian Federation to Finland = 9
Flights from Finland to Russian Federation = 18
Flights from Russian Federation to France = 11
Flights from France to Russian Federation = 22
Flights from Russian Federation to Georgia = 5
Flights from Georgia to Russian Federation = 9
Flights from Russian Federation to Germany = 47
Flights from Germany to Russian Federation = 93
Flights from Russian Federation to Greece = 28
Flights from Greece to Russian Federation = 56
Flights from Russian Federation to Hong Kong = 9
Flights from Hong Kong to Russian Federation = 18
Flights from Russian Federation to Hungary = 4
Flights from Hungary to Russian Federation = 8
Flights from Russian Federation to India = 2
Flights from India to Russian Federation = 4
Flights from Russian Federation to Iran (Islamic Republic of) = 2
Flights from Iran (Islamic Republic of) to Russian Federation = 3
Flights from Russian Federation to Israel = 10
Flights from Israel to Russian Federation = 20
Flights from Russian Federation to Italy = 34
Flights from Italy to Russian Federation = 68
Flights from Russian Federation to Japan = 9
Flights from Japan to Russian Federation = 18
Flights from Russian Federation to Jordan = 2
Flights from Jordan to Russian Federation = 4
Flights from Russian Federation to Kazakhstan = 35
Flights from Kazakhstan to Russian Federation = 73
Flights from Russian Federation to Kyrgyzstan = 49
Flights from Kyrgyzstan to Russian Federation = 100
Flights from Russian Federation to Latvia = 8
Flights from Latvia to Russian Federation = 16
Flights from Russian Federation to Lebanon = 2
Flights from Lebanon to Russian Federation = 4
Flights from Russian Federation to Lithuania = 4
Flights from Lithuania to Russian Federation = 8
Flights from Russian Federation to Maldives = 2
Flights from Maldives to Russian Federation = 4
Flights from Russian Federation to Malta = 4
Flights from Malta to Russian Federation = 8
Flights from Russian Federation to Mauritius = 1
Flights from Mauritius to Russian Federation = 2
Flights from Russian Federation to Mexico = 1
Flights from Mexico to Russian Federation = 2
Flights from Russian Federation to Moldova, Republic of = 5
Flights from Moldova, Republic of to Russian Federation = 10
Flights from Russian Federation to Mongolia = 2
Flights from Mongolia to Russian Federation = 4
Flights from Russian Federation to Montenegro = 7
Flights from Montenegro to Russian Federation = 14
Flights from Russian Federation to Morocco = 2
Flights from Morocco to Russian Federation = 4
Flights from Russian Federation to Netherlands = 4
Flights from Netherlands to Russian Federation = 8
Flights from Russian Federation to Korea (Democratic People's Republic of) = 1
Flights from Korea (Democratic People's Republic of) to Russian Federation = 2
Flights from Russian Federation to Norway = 4
Flights from Norway to Russian Federation = 8
Flights from Russian Federation to Poland = 4
Flights from Poland to Russian Federation = 8
Flights from Russian Federation to Portugal = 2
Flights from Portugal to Russian Federation = 4
Flights from Russian Federation to Qatar = 1
Flights from Qatar to Russian Federation = 2
Flights from Russian Federation to Romania = 2
Flights from Romania to Russian Federation = 4
Flights from Russian Federation to Serbia = 2
Flights from Serbia to Russian Federation = 2
Flights from Russian Federation to Seychelles = 1
Flights from Seychelles to Russian Federation = 1
Flights from Russian Federation to Singapore = 2
Flights from Singapore to Russian Federation = 2
Flights from Russian Federation to Slovenia = 2
Flights from Slovenia to Russian Federation = 2
Flights from Russian Federation to Korea, Republic of = 13
Flights from Korea, Republic of to Russian Federation = 14
Flights from Russian Federation to Spain = 28
Flights from Spain to Russian Federation = 28
Flights from Russian Federation to Sri Lanka = 1
Flights from Sri Lanka to Russian Federation = 1
Flights from Russian Federation to Sweden = 4

Flights from Sweden to Russian Federation = 4
Flights from Russian Federation to Switzerland = 6
Flights from Switzerland to Russian Federation = 6
Flights from Russian Federation to Tajikistan = 72
Flights from Tajikistan to Russian Federation = 71
Flights from Russian Federation to Thailand = 11
Flights from Thailand to Russian Federation = 13
Flights from Russian Federation to Tunisia = 6
Flights from Tunisia to Russian Federation = 6
Flights from Russian Federation to Turkey = 32
Flights from Turkey to Russian Federation = 31
Flights from Russian Federation to Turkmenistan = 2
Flights from Turkmenistan to Russian Federation = 2
Flights from Russian Federation to Ukraine = 38
Flights from Ukraine to Russian Federation = 39
Flights from Russian Federation to United Arab Emirates = 35
Flights from United Arab Emirates to Russian Federation = 39
Flights from Russian Federation to United Kingdom of Great Britain and Northern Ireland = 8
Flights from United Kingdom of Great Britain and Northern Ireland to Russian Federation = 8
Flights from Russian Federation to United States of America = 13
Flights from United States of America to Russian Federation = 13
Flights from Russian Federation to Uzbekistan = 81
Flights from Uzbekistan to Russian Federation = 82
Flights from Russian Federation to Viet Nam = 6
Flights from Viet Nam to Russian Federation = 6
Flights from Rwanda to Belgium = 1
Flights from Belgium to Rwanda = 6
Flights from Rwanda to Burundi = 7
Flights from Burundi to Rwanda = 13
Flights from Rwanda to Congo = 1
Flights from Congo to Rwanda = 2
Flights from Rwanda to Ethiopia = 2
Flights from Ethiopia to Rwanda = 4
Flights from Rwanda to Gabon = 1
Flights from Gabon to Rwanda = 2
Flights from Rwanda to Kenya = 8
Flights from Kenya to Rwanda = 13
Flights from Rwanda to Nigeria = 1
Flights from Nigeria to Rwanda = 2
Flights from Rwanda to South Africa = 2
Flights from South Africa to Rwanda = 2
Flights from Rwanda to South Sudan = 1
Flights from South Sudan to Rwanda = 1
Flights from Rwanda to Tanzania, United Republic of = 2
Flights from Tanzania, United Republic of to Rwanda = 2
Flights from Rwanda to Turkey = 1
Flights from Turkey to Rwanda = 2
Flights from Rwanda to Uganda = 11
Flights from Uganda to Rwanda = 5
Flights from Rwanda to United Arab Emirates = 1
Flights from United Arab Emirates to Rwanda = 1
Flights from Saint Kitts and Nevis to Antigua and Barbuda = 4
Flights from Antigua and Barbuda to Saint Kitts and Nevis = 8
Flights from Saint Kitts and Nevis to Netherlands Antilles = 3
Flights from Netherlands Antilles to Saint Kitts and Nevis = 6
Flights from Saint Kitts and Nevis to Puerto Rico = 4
Flights from Puerto Rico to Saint Kitts and Nevis = 8
Flights from Saint Kitts and Nevis to United States of America = 2
Flights from United States of America to Saint Kitts and Nevis = 3
Flights from Saint Kitts and Nevis to Virgin Islands (British) = 1
Flights from Virgin Islands (British) to Saint Kitts and Nevis = 2
Flights from Saint Lucia to Antigua and Barbuda = 2
Flights from Antigua and Barbuda to Saint Lucia = 4
Flights from Saint Lucia to Barbados = 2
Flights from Barbados to Saint Lucia = 3
Flights from Saint Lucia to Canada = 2
Flights from Canada to Saint Lucia = 4
Flights from Saint Lucia to Grenada = 3
Flights from Grenada to Saint Lucia = 5
Flights from Saint Lucia to Martinique = 5
Flights from Martinique to Saint Lucia = 9
Flights from Saint Lucia to Saint Vincent and the Grenadines = 1
Flights from Saint Vincent and the Grenadines to Saint Lucia = 1
Flights from Saint Lucia to Trinidad and Tobago = 4
Flights from Trinidad and Tobago to Saint Lucia = 4
Flights from Saint Lucia to United Kingdom of Great Britain and Northern Ireland = 3
Flights from United Kingdom of Great Britain and Northern Ireland to Saint Lucia = 4
Flights from Saint Lucia to United States of America = 7
Flights from United States of America to Saint Lucia = 7
Flights from Saint Pierre and Miquelon to Canada = 3
Flights from Canada to Saint Pierre and Miquelon = 6
Flights from Saint Vincent and the Grenadines to Barbados = 1
Flights from Barbados to Saint Vincent and the Grenadines = 2
Flights from Saint Vincent and the Grenadines to Grenada = 1
Flights from Grenada to Saint Vincent and the Grenadines = 2
Flights from Saint Vincent and the Grenadines to Saint Lucia = 1
Flights from Saint Lucia to Saint Vincent and the Grenadines = 2
Flights from Saint Vincent and the Grenadines to Trinidad and Tobago = 1
Flights from Trinidad and Tobago to Saint Vincent and the Grenadines = 1
Flights from Samoa to Fiji = 1
Flights from Fiji to Samoa = 2
Flights from Samoa to New Zealand = 3
Flights from New Zealand to Samoa = 5
Flights from Samoa to United States of America = 1
Flights from United States of America to Samoa = 1
Flights from Sao Tome and Principe to Angola = 1
Flights from Angola to Sao Tome and Principe = 2
Flights from Sao Tome and Principe to Cabo Verde = 1
Flights from Cabo Verde to Sao Tome and Principe = 2
Flights from Sao Tome and Principe to Portugal = 1
Flights from Portugal to Sao Tome and Principe = 3
Flights from Saudi Arabia to Algeria = 2
Flights from Algeria to Saudi Arabia = 4
Flights from Saudi Arabia to Bahrain = 8
Flights from Bahrain to Saudi Arabia = 16
Flights from Saudi Arabia to Bangladesh = 7
Flights from Bangladesh to Saudi Arabia = 14
Flights from Saudi Arabia to Brunei = 1
Flights from Brunei to Saudi Arabia = 2
Flights from Saudi Arabia to Canada = 1
Flights from Canada to Saudi Arabia = 2
Flights from Saudi Arabia to China = 2
Flights from China to Saudi Arabia = 4
Flights from Saudi Arabia to Egypt = 54
Flights from Egypt to Saudi Arabia = 111
Flights from Saudi Arabia to Eritrea = 1
Flights from Eritrea to Saudi Arabia = 2
Flights from Saudi Arabia to Ethiopia = 9
Flights from Ethiopia to Saudi Arabia = 18
Flights from Saudi Arabia to France = 4
Flights from France to Saudi Arabia = 8
Flights from Saudi Arabia to Germany = 10
Flights from Germany to Saudi Arabia = 20
Flights from Saudi Arabia to Hong Kong = 1
Flights from Hong Kong to Saudi Arabia = 2
Flights from Saudi Arabia to India = 35
Flights from India to Saudi Arabia = 70
Flights from Saudi Arabia to Indonesia = 6
Flights from Indonesia to Saudi Arabia = 13
Flights from Saudi Arabia to Iran (Islamic Republic of) = 12
Flights from Iran (Islamic Republic of) to Saudi Arabia = 24
Flights from Saudi Arabia to Italy = 8
Flights from Italy to Saudi Arabia = 16
Flights from Saudi Arabia to Jordan = 10
Flights from Jordan to Saudi Arabia = 21
Flights from Saudi Arabia to Kenya = 2
Flights from Kenya to Saudi Arabia = 4
Flights from Saudi Arabia to Kuwait = 17
Flights from Kuwait to Saudi Arabia = 35
Flights from Saudi Arabia to Lebanon = 5
Flights from Lebanon to Saudi Arabia = 12
Flights from Saudi Arabia to Libya = 2
Flights from Libya to Saudi Arabia = 4
Flights from Saudi Arabia to Malaysia = 5
Flights from Malaysia to Saudi Arabia = 11
Flights from Saudi Arabia to Morocco = 4
Flights from Morocco to Saudi Arabia = 8
Flights from Saudi Arabia to Netherlands = 3
Flights from Netherlands to Saudi Arabia = 6
Flights from Saudi Arabia to Nigeria = 1
Flights from Nigeria to Saudi Arabia = 2
Flights from Saudi Arabia to Oman = 7
Flights from Oman to Saudi Arabia = 14
Flights from Saudi Arabia to Pakistan = 40
Flights from Pakistan to Saudi Arabia = 79
Flights from Saudi Arabia to Philippines = 5
Flights from Philippines to Saudi Arabia = 10
Flights from Saudi Arabia to Qatar = 9
Flights from Qatar to Saudi Arabia = 18
Flights from Saudi Arabia to Singapore = 3
Flights from Singapore to Saudi Arabia = 3
Flights from Saudi Arabia to South Africa = 1
Flights from South Africa to Saudi Arabia = 1
Flights from Saudi Arabia to Korea, Republic of = 1
Flights from Korea, Republic of to Saudi Arabia = 1
Flights from Saudi Arabia to Spain = 2
Flights from Spain to Saudi Arabia = 2
Flights from Saudi Arabia to Sri Lanka = 9
Flights from Sri Lanka to Saudi Arabia = 11
Flights from Saudi Arabia to Sudan = 8
Flights from Sudan to Saudi Arabia = 8
Flights from Saudi Arabia to Switzerland = 2
Flights from Switzerland to Saudi Arabia = 2
Flights from Saudi Arabia to Tunisia = 3
Flights from Tunisia to Saudi Arabia = 3
Flights from Saudi Arabia to Turkey = 20
Flights from Turkey to Saudi Arabia = 18
Flights from Saudi Arabia to United Arab Emirates = 46
Flights from United Arab Emirates to Saudi Arabia = 47
Flights from Saudi Arabia to United Kingdom of Great Britain and Northern Ireland = 7
Flights from United Kingdom of Great Britain and Northern Ireland to Saudi Arabia = 8
Flights from Saudi Arabia to United States of America = 5
Flights from United States of America to Saudi Arabia = 5
Flights from Saudi Arabia to Yemen = 15
Flights from Yemen to Saudi Arabia = 16
Flights from Senegal to Algeria = 1
Flights from Algeria to Senegal = 2
Flights from Senegal to Belgium = 5
Flights from Belgium to Senegal = 10
Flights from Senegal to Benin = 2
Flights from Benin to Senegal = 4
Flights from Senegal to Burkina Faso = 1
Flights from Burkina Faso to Senegal = 2
Flights from Senegal to Cameroon = 1
Flights from Cameroon to Senegal = 2
Flights from Senegal to Cabo Verde = 2
Flights from Cabo Verde to Senegal = 4
Flights from Senegal to CÃ´te d'Ivoire = 3
Flights from CÃ´te d'Ivoire to Senegal = 6
Flights from Senegal to France = 3
Flights from France to Senegal = 6
Flights from Senegal to Gambia = 4
Flights from Gambia to Senegal = 8
Flights from Senegal to Ghana = 3
Flights from Ghana to Senegal = 6
Flights from Senegal to Guinea = 8

Flights from Guinea to Senegal = 16
Flights from Senegal to Guinea-Bissau = 2
Flights from Guinea-Bissau to Senegal = 4
Flights from Senegal to Italy = 1
Flights from Italy to Senegal = 2
Flights from Senegal to Mali = 5
Flights from Mali to Senegal = 10
Flights from Senegal to Mauritania = 2
Flights from Mauritania to Senegal = 5
Flights from Senegal to Morocco = 1
Flights from Morocco to Senegal = 2
Flights from Senegal to Nigeria = 1
Flights from Nigeria to Senegal = 2
Flights from Senegal to Portugal = 1
Flights from Portugal to Senegal = 2
Flights from Senegal to Sierra Leone = 2
Flights from Sierra Leone to Senegal = 2
Flights from Senegal to South Africa = 3
Flights from South Africa to Senegal = 3
Flights from Senegal to Spain = 8
Flights from Spain to Senegal = 7
Flights from Senegal to Tunisia = 1
Flights from Tunisia to Senegal = 1
Flights from Senegal to United Arab Emirates = 1
Flights from United Arab Emirates to Senegal = 1
Flights from Senegal to United States of America = 4
Flights from United States of America to Senegal = 4
Flights from Serbia to Austria = 3
Flights from Austria to Serbia = 6
Flights from Serbia to Belgium = 2
Flights from Belgium to Serbia = 4
Flights from Serbia to Bosnia and Herzegovina = 3
Flights from Bosnia and Herzegovina to Serbia = 6
Flights from Serbia to Bulgaria = 2
Flights from Bulgaria to Serbia = 4
Flights from Serbia to Croatia = 2
Flights from Croatia to Serbia = 4
Flights from Serbia to Cyprus = 2
Flights from Cyprus to Serbia = 4
Flights from Serbia to Czechia = 1
Flights from Czechia to Serbia = 2
Flights from Serbia to Denmark = 2
Flights from Denmark to Serbia = 4
Flights from Serbia to France = 4
Flights from France to Serbia = 8
Flights from Serbia to Germany = 25
Flights from Germany to Serbia = 50
Flights from Serbia to Greece = 4
Flights from Greece to Serbia = 8
Flights from Serbia to Hungary = 2
Flights from Hungary to Serbia = 4
Flights from Serbia to Israel = 1
Flights from Israel to Serbia = 2
Flights from Serbia to Italy = 6
Flights from Italy to Serbia = 12
Flights from Serbia to North Macedonia = 1
Flights from North Macedonia to Serbia = 2
Flights from Serbia to Montenegro = 4
Flights from Montenegro to Serbia = 8
Flights from Serbia to Netherlands = 3
Flights from Netherlands to Serbia = 6
Flights from Serbia to Norway = 2
Flights from Norway to Serbia = 4
Flights from Serbia to Poland = 2
Flights from Poland to Serbia = 4
Flights from Serbia to Romania = 2
Flights from Romania to Serbia = 4
Flights from Serbia to Russian Federation = 2
Flights from Russian Federation to Serbia = 4
Flights from Serbia to Slovenia = 2
Flights from Slovenia to Serbia = 2
Flights from Serbia to Sweden = 6
Flights from Sweden to Serbia = 6
Flights from Serbia to Switzerland = 9
Flights from Switzerland to Serbia = 9
Flights from Serbia to Tunisia = 1
Flights from Tunisia to Serbia = 1
Flights from Serbia to Turkey = 6
Flights from Turkey to Serbia = 6
Flights from Serbia to United Arab Emirates = 3
Flights from United Arab Emirates to Serbia = 3
Flights from Serbia to United Kingdom of Great Britain and Northern Ireland = 4
Flights from United Kingdom of Great Britain and Northern Ireland to Serbia = 3
Flights from Seychelles to Germany = 1
Flights from Germany to Seychelles = 2
Flights from Seychelles to Kenya = 1
Flights from Kenya to Seychelles = 2
Flights from Seychelles to Mauritius = 1
Flights from Mauritius to Seychelles = 2
Flights from Seychelles to Russian Federation = 1
Flights from Russian Federation to Seychelles = 2
Flights from Seychelles to South Africa = 2
Flights from South Africa to Seychelles = 2
Flights from Seychelles to Sri Lanka = 2
Flights from Sri Lanka to Seychelles = 2
Flights from Seychelles to United Arab Emirates = 4
Flights from United Arab Emirates to Seychelles = 4
Flights from Sierra Leone to CÃ´te d'Ivoire = 1
Flights from CÃ´te d'Ivoire to Sierra Leone = 2
Flights from Sierra Leone to Gambia = 2
Flights from Gambia to Sierra Leone = 4
Flights from Sierra Leone to Ghana = 3
Flights from Ghana to Sierra Leone = 6
Flights from Sierra Leone to Liberia = 8
Flights from Liberia to Sierra Leone = 15
Flights from Sierra Leone to Morocco = 1
Flights from Morocco to Sierra Leone = 2
Flights from Sierra Leone to Nigeria = 1
Flights from Nigeria to Sierra Leone = 2
Flights from Sierra Leone to Senegal = 2
Flights from Senegal to Sierra Leone = 4
Flights from Sierra Leone to United Kingdom of Great Britain and Northern Ireland = 2
Flights from United Kingdom of Great Britain and Northern Ireland to Sierra Leone = 2
Flights from Singapore to Australia = 42
Flights from Australia to Singapore = 84
Flights from Singapore to Bangladesh = 4
Flights from Bangladesh to Singapore = 8
Flights from Singapore to Brunei = 2
Flights from Brunei to Singapore = 4
Flights from Singapore to Myanmar = 6
Flights from Myanmar to Singapore = 12
Flights from Singapore to Cambodia = 8
Flights from Cambodia to Singapore = 17
Flights from Singapore to China = 44
Flights from China to Singapore = 89
Flights from Singapore to Denmark = 2
Flights from Denmark to Singapore = 4
Flights from Singapore to East Timor = 1
Flights from East Timor to Singapore = 2
Flights from Singapore to Finland = 1
Flights from Finland to Singapore = 2
Flights from Singapore to France = 2
Flights from France to Singapore = 4
Flights from Singapore to Germany = 7
Flights from Germany to Singapore = 14
Flights from Singapore to Hong Kong = 8
Flights from Hong Kong to Singapore = 16
Flights from Singapore to India = 34
Flights from India to Singapore = 68
Flights from Singapore to Indonesia = 62
Flights from Indonesia to Singapore = 125
Flights from Singapore to Italy = 2
Flights from Italy to Singapore = 4
Flights from Singapore to Japan = 18
Flights from Japan to Singapore = 36
Flights from Singapore to Lao People's Democratic Republic = 1
Flights from Lao People's Democratic Republic to Singapore = 2
Flights from Singapore to Macao = 1
Flights from Macao to Singapore = 2
Flights from Singapore to Malaysia = 39
Flights from Malaysia to Singapore = 78
Flights from Singapore to Maldives = 2
Flights from Maldives to Singapore = 4
Flights from Singapore to Nepal = 2
Flights from Nepal to Singapore = 4
Flights from Singapore to Netherlands = 3
Flights from Netherlands to Singapore = 5
Flights from Singapore to New Zealand = 5
Flights from New Zealand to Singapore = 10
Flights from Singapore to Papua New Guinea = 1
Flights from Papua New Guinea to Singapore = 2
Flights from Singapore to Philippines = 17
Flights from Philippines to Singapore = 34
Flights from Singapore to Qatar = 1
Flights from Qatar to Singapore = 2
Flights from Singapore to Russian Federation = 2
Flights from Russian Federation to Singapore = 4
Flights from Singapore to Saudi Arabia = 3
Flights from Saudi Arabia to Singapore = 6
Flights from Singapore to South Africa = 4
Flights from South Africa to Singapore = 4
Flights from Singapore to Korea, Republic of = 5
Flights from Korea, Republic of to Singapore = 5
Flights from Singapore to Spain = 1
Flights from Spain to Singapore = 1
Flights from Singapore to Sri Lanka = 5
Flights from Sri Lanka to Singapore = 5
Flights from Singapore to Switzerland = 3
Flights from Switzerland to Singapore = 3
Flights from Singapore to Taiwan = 8
Flights from Taiwan to Singapore = 9
Flights from Singapore to Thailand = 27
Flights from Thailand to Singapore = 28
Flights from Singapore to Turkey = 3
Flights from Turkey to Singapore = 3
Flights from Singapore to United Arab Emirates = 11
Flights from United Arab Emirates to Singapore = 11
Flights from Singapore to United Kingdom of Great Britain and Northern Ireland = 4
Flights from United Kingdom of Great Britain and Northern Ireland to Singapore = 4
Flights from Singapore to Uzbekistan = 2
Flights from Uzbekistan to Singapore = 2
Flights from Singapore to Viet Nam = 12
Flights from Viet Nam to Singapore = 12
Flights from Slovakia to Austria = 1
Flights from Austria to Slovakia = 2
Flights from Slovakia to Belgium = 1
Flights from Belgium to Slovakia = 2
Flights from Slovakia to Czechia = 5
Flights from Czechia to Slovakia = 9
Flights from Slovakia to France = 1
Flights from France to Slovakia = 2
Flights from Slovakia to Ireland = 1
Flights from Ireland to Slovakia = 2
Flights from Slovakia to Italy = 4
Flights from Italy to Slovakia = 8
Flights from Slovakia to Norway = 1
Flights from Norway to Slovakia = 2
Flights from Slovakia to Spain = 3
Flights from Spain to Slovakia = 3
Flights from Slovakia to United Kingdom of Great Britain and Northern Ireland = 6
Flights from United Kingdom of Great Britain and Northern Ireland to Slovakia = 6
Flights from Slovenia to Albania = 1
Flights from Albania to Slovenia = 2
Flights from Slovenia to Austria = 2
Flights from Austria to Slovenia = 4
Flights from Slovenia to Belgium = 3
Flights from Belgium to Slovenia = 6
Flights from Slovenia to Bosnia and Herzegovina = 1
Flights from Bosnia and Herzegovina to Slovenia = 2
Flights from Slovenia to Czechia = 1
Flights from Czechia to Slovenia = 2
Flights from Slovenia to Denmark = 2
Flights from Denmark to Slovenia = 4
Flights from Slovenia to Finland = 1
Flights from Finland to Slovenia = 2
Flights from Slovenia to France = 2
Flights from France to Slovenia = 4
Flights from Slovenia to Germany = 4
Flights from Germany to Slovenia = 8
Flights from Slovenia to North Macedonia = 1
Flights from North Macedonia to Slovenia = 2
Flights from Slovenia to Montenegro = 2
Flights from Montenegro to Slovenia = 4
Flights from Slovenia to Netherlands = 1
Flights from Netherlands to Slovenia = 2
Flights from Slovenia to Poland = 2
Flights from Poland to Slovenia = 4
Flights from Slovenia to Russian Federation = 2
Flights from Russian Federation to Slovenia = 4
Flights from Slovenia to Serbia = 2
Flights from Serbia to Slovenia = 4
Flights from Slovenia to Switzerland = 2
Flights from Switzerland to Slovenia = 2
Flights from Slovenia to Turkey = 2
Flights from Turkey to Slovenia = 2
Flights from Slovenia to United Kingdom of Great Britain and Northern Ireland = 2
Flights from United Kingdom of Great Britain and Northern Ireland to Slovenia = 2
Flights from Solomon Islands to Australia = 2
Flights from Australia to Solomon Islands = 4
Flights from Solomon Islands to Fiji = 2
Flights from Fiji to Solomon Islands = 4
Flights from Solomon Islands to Papua New Guinea = 1
Flights from Papua New Guinea to Solomon Islands = 2
Flights from Solomon Islands to Vanuatu = 3
Flights from Vanuatu to Solomon Islands = 3
Flights from Somalia to Djibouti = 4
Flights from Djibouti to Somalia = 9
Flights from Somalia to Ethiopia = 1
Flights from Ethiopia to Somalia = 2
Flights from Somalia to Kenya = 6
Flights from Kenya to Somalia = 13
Flights from Somalia to Uganda = 1
Flights from Uganda to Somalia = 1
Flights from Somalia to United Arab Emirates = 2
Flights from United Arab Emirates to Somalia = 5
Flights from Somalia to Yemen = 1
Flights from Yemen to Somalia = 2
Flights from South Africa to Angola = 3
Flights from Angola to South Africa = 6
Flights from South Africa to Australia = 4
Flights from Australia to South Africa = 8
Flights from South Africa to Botswana = 9
Flights from Botswana to South Africa = 18
Flights from South Africa to Brazil = 2
Flights from Brazil to South Africa = 4
Flights from South Africa to Congo = 2
Flights from Congo to South Africa = 4
Flights from South Africa to Congo, Democratic Republic of the = 3
Flights from Congo, Democratic Republic of the to South Africa = 6
Flights from South Africa to Egypt = 2
Flights from Egypt to South Africa = 4
Flights from South Africa to Ethiopia = 2
Flights from Ethiopia to South Africa = 4
Flights from South Africa to France = 2
Flights from France to South Africa = 4
Flights from South Africa to Gabon = 1
Flights from Gabon to South Africa = 2
Flights from South Africa to Germany = 6
Flights from Germany to South Africa = 12
Flights from South Africa to Ghana = 1
Flights from Ghana to South Africa = 2
Flights from South Africa to Hong Kong = 2
Flights from Hong Kong to South Africa = 4
Flights from South Africa to India = 3
Flights from India to South Africa = 6
Flights from South Africa to Israel = 1
Flights from Israel to South Africa = 2
Flights from South Africa to Kenya = 2
Flights from Kenya to South Africa = 4
Flights from South Africa to Lesotho = 1
Flights from Lesotho to South Africa = 2
Flights from South Africa to Madagascar = 2
Flights from Madagascar to South Africa = 4
Flights from South Africa to Malawi = 3
Flights from Malawi to South Africa = 6
Flights from South Africa to Mauritius = 5
Flights from Mauritius to South Africa = 10
Flights from South Africa to Mozambique = 15
Flights from Mozambique to South Africa = 30
Flights from South Africa to Namibia = 9
Flights from Namibia to South Africa = 18
Flights from South Africa to Netherlands = 3
Flights from Netherlands to South Africa = 6
Flights from South Africa to Nigeria = 2
Flights from Nigeria to South Africa = 4
Flights from South Africa to Qatar = 2
Flights from Qatar to South Africa = 3
Flights from South Africa to RÃ©union = 1
Flights from RÃ©union to South Africa = 2
Flights from South Africa to Rwanda = 2
Flights from Rwanda to South Africa = 4
Flights from South Africa to Saudi Arabia = 1
Flights from Saudi Arabia to South Africa = 2
Flights from South Africa to Senegal = 3
Flights from Senegal to South Africa = 6
Flights from South Africa to Seychelles = 2
Flights from Seychelles to South Africa = 4
Flights from South Africa to Singapore = 4
Flights from Singapore to South Africa = 8
Flights from South Africa to Swaziland = 1
Flights from Swaziland to South Africa = 1
Flights from South Africa to Switzerland = 2
Flights from Switzerland to South Africa = 2
Flights from South Africa to Tanzania, United Republic of = 2
Flights from Tanzania, United Republic of to South Africa = 2
Flights from South Africa to Thailand = 2
Flights from Thailand to South Africa = 2
Flights from South Africa to Turkey = 1
Flights from Turkey to South Africa = 1
Flights from South Africa to Uganda = 1
Flights from Uganda to South Africa = 1
Flights from South Africa to United Arab Emirates = 10
Flights from United Arab Emirates to South Africa = 10
Flights from South Africa to United Kingdom of Great Britain and Northern Ireland = 9
Flights from United Kingdom of Great Britain and Northern Ireland to South Africa = 8
Flights from South Africa to United States of America = 5
Flights from United States of America to South Africa = 5
Flights from South Africa to Zambia = 7
Flights from Zambia to South Africa = 7
Flights from South Africa to Zimbabwe = 9
Flights from Zimbabwe to South Africa = 9
Flights from Korea, Republic of to Australia = 5
Flights from Australia to Korea, Republic of = 10
Flights from Korea, Republic of to Myanmar = 3
Flights from Myanmar to Korea, Republic of = 6
Flights from Korea, Republic of to Cambodia = 8
Flights from Cambodia to Korea, Republic of = 16
Flights from Korea, Republic of to Canada = 4
Flights from Canada to Korea, Republic of = 8
Flights from Korea, Republic of to China = 151
Flights from China to Korea, Republic of = 303
Flights from Korea, Republic of to Czechia = 2
Flights from Czechia to Korea, Republic of = 4
Flights from Korea, Republic of to Fiji = 1
Flights from Fiji to Korea, Republic of = 2
Flights from Korea, Republic of to Finland = 1
Flights from Finland to Korea, Republic of = 2
Flights from Korea, Republic of to France = 3
Flights from France to Korea, Republic of = 6
Flights from Korea, Republic of to Germany = 4

Flights from Germany to Korea, Republic of = 8
Flights from Korea, Republic of to Guam = 4
Flights from Guam to Korea, Republic of = 8
Flights from Korea, Republic of to Hong Kong = 16
Flights from Hong Kong to Korea, Republic of = 32
Flights from Korea, Republic of to India = 3
Flights from India to Korea, Republic of = 6
Flights from Korea, Republic of to Indonesia = 6
Flights from Indonesia to Korea, Republic of = 12
Flights from Korea, Republic of to Israel = 1
Flights from Israel to Korea, Republic of = 2
Flights from Korea, Republic of to Italy = 2
Flights from Italy to Korea, Republic of = 4
Flights from Korea, Republic of to Japan = 105
Flights from Japan to Korea, Republic of = 209
Flights from Korea, Republic of to Kazakhstan = 2
Flights from Kazakhstan to Korea, Republic of = 4
Flights from Korea, Republic of to Kenya = 2
Flights from Kenya to Korea, Republic of = 4
Flights from Korea, Republic of to Lao People's Democratic Republic = 2
Flights from Lao People's Democratic Republic to Korea, Republic of = 4
Flights from Korea, Republic of to Macao = 6
Flights from Macao to Korea, Republic of = 12
Flights from Korea, Republic of to Malaysia = 8
Flights from Malaysia to Korea, Republic of = 16
Flights from Korea, Republic of to Mongolia = 2
Flights from Mongolia to Korea, Republic of = 4
Flights from Korea, Republic of to Nepal = 1
Flights from Nepal to Korea, Republic of = 2
Flights from Korea, Republic of to Netherlands = 2
Flights from Netherlands to Korea, Republic of = 4
Flights from Korea, Republic of to New Zealand = 1
Flights from New Zealand to Korea, Republic of = 2
Flights from Korea, Republic of to Northern Mariana Islands = 2
Flights from Northern Mariana Islands to Korea, Republic of = 4
Flights from Korea, Republic of to Palau = 2
Flights from Palau to Korea, Republic of = 4
Flights from Korea, Republic of to Philippines = 26
Flights from Philippines to Korea, Republic of = 53
Flights from Korea, Republic of to Qatar = 2
Flights from Qatar to Korea, Republic of = 4
Flights from Korea, Republic of to Russian Federation = 14
Flights from Russian Federation to Korea, Republic of = 27
Flights from Korea, Republic of to Saudi Arabia = 1
Flights from Saudi Arabia to Korea, Republic of = 2
Flights from Korea, Republic of to Singapore = 5
Flights from Singapore to Korea, Republic of = 10
Flights from Korea, Republic of to Spain = 1
Flights from Spain to Korea, Republic of = 1
Flights from Korea, Republic of to Sri Lanka = 1
Flights from Sri Lanka to Korea, Republic of = 1
Flights from Korea, Republic of to Taiwan = 18
Flights from Taiwan to Korea, Republic of = 18
Flights from Korea, Republic of to Thailand = 21
Flights from Thailand to Korea, Republic of = 21
Flights from Korea, Republic of to Turkey = 3
Flights from Turkey to Korea, Republic of = 3
Flights from Korea, Republic of to United Arab Emirates = 5
Flights from United Arab Emirates to Korea, Republic of = 5
Flights from Korea, Republic of to United Kingdom of Great Britain and Northern Ireland = 3
Flights from United Kingdom of Great Britain and Northern Ireland to Korea, Republic of = 3
Flights from Korea, Republic of to United States of America = 39
Flights from United States of America to Korea, Republic of = 39
Flights from Korea, Republic of to Uzbekistan = 3
Flights from Uzbekistan to Korea, Republic of = 3
Flights from Korea, Republic of to Viet Nam = 13
Flights from Viet Nam to Korea, Republic of = 13
Flights from South Sudan to Egypt = 2
Flights from Egypt to South Sudan = 4
Flights from South Sudan to Ethiopia = 2
Flights from Ethiopia to South Sudan = 4
Flights from South Sudan to Kenya = 2
Flights from Kenya to South Sudan = 4
Flights from South Sudan to Rwanda = 1
Flights from Rwanda to South Sudan = 2
Flights from South Sudan to Sudan = 2
Flights from Sudan to South Sudan = 2
Flights from South Sudan to Uganda = 2
Flights from Uganda to South Sudan = 1
Flights from South Sudan to United Arab Emirates = 1
Flights from United Arab Emirates to South Sudan = 1
Flights from Spain to Algeria = 14
Flights from Algeria to Spain = 28
Flights from Spain to Angola = 1
Flights from Angola to Spain = 2
Flights from Spain to Argentina = 4
Flights from Argentina to Spain = 8
Flights from Spain to Austria = 40
Flights from Austria to Spain = 80
Flights from Spain to Belarus = 1
Flights from Belarus to Spain = 2
Flights from Spain to Belgium = 60
Flights from Belgium to Spain = 117
Flights from Spain to Bolivia = 2
Flights from Bolivia to Spain = 4
Flights from Spain to Brazil = 8
Flights from Brazil to Spain = 16
Flights from Spain to Bulgaria = 8
Flights from Bulgaria to Spain = 16
Flights from Spain to Canada = 4
Flights from Canada to Spain = 8
Flights from Spain to Cabo Verde = 1
Flights from Cabo Verde to Spain = 2
Flights from Spain to Chile = 2
Flights from Chile to Spain = 4
Flights from Spain to China = 2
Flights from China to Spain = 4
Flights from Spain to Colombia = 5
Flights from Colombia to Spain = 10
Flights from Spain to Costa Rica = 1
Flights from Costa Rica to Spain = 2
Flights from Spain to Croatia = 5
Flights from Croatia to Spain = 10
Flights from Spain to Cuba = 3
Flights from Cuba to Spain = 5
Flights from Spain to Czechia = 16
Flights from Czechia to Spain = 32
Flights from Spain to Denmark = 31
Flights from Denmark to Spain = 62
Flights from Spain to Dominican Republic = 5
Flights from Dominican Republic to Spain = 10
Flights from Spain to Ecuador = 4
Flights from Ecuador to Spain = 8
Flights from Spain to Egypt = 2
Flights from Egypt to Spain = 4
Flights from Spain to Equatorial Guinea = 1
Flights from Equatorial Guinea to Spain = 2
Flights from Spain to Estonia = 1
Flights from Estonia to Spain = 2
Flights from Spain to Finland = 16
Flights from Finland to Spain = 32
Flights from Spain to France = 151
Flights from France to Spain = 300
Flights from Spain to Gambia = 4
Flights from Gambia to Spain = 8
Flights from Spain to Germany = 353
Flights from Germany to Spain = 707
Flights from Spain to Ghana = 1
Flights from Ghana to Spain = 2
Flights from Spain to Greece = 7
Flights from Greece to Spain = 14
Flights from Spain to Hungary = 5
Flights from Hungary to Spain = 10
Flights from Spain to Iceland = 2
Flights from Iceland to Spain = 4
Flights from Spain to Ireland = 53
Flights from Ireland to Spain = 106
Flights from Spain to Israel = 6
Flights from Israel to Spain = 12
Flights from Spain to Italy = 120
Flights from Italy to Spain = 240
Flights from Spain to Jordan = 4
Flights from Jordan to Spain = 8
Flights from Spain to Latvia = 3
Flights from Latvia to Spain = 6
Flights from Spain to Libya = 1
Flights from Libya to Spain = 2
Flights from Spain to Lithuania = 4
Flights from Lithuania to Spain = 8
Flights from Spain to Luxembourg = 12
Flights from Luxembourg to Spain = 24
Flights from Spain to Malta = 4
Flights from Malta to Spain = 8
Flights from Spain to Mauritania = 3
Flights from Mauritania to Spain = 6
Flights from Spain to Mexico = 8
Flights from Mexico to Spain = 16
Flights from Spain to Morocco = 39
Flights from Morocco to Spain = 78
Flights from Spain to Netherlands = 68
Flights from Netherlands to Spain = 136
Flights from Spain to Nigeria = 1
Flights from Nigeria to Spain = 2
Flights from Spain to Norway = 52
Flights from Norway to Spain = 104
Flights from Spain to Pakistan = 2
Flights from Pakistan to Spain = 4
Flights from Spain to Panama = 1
Flights from Panama to Spain = 2
Flights from Spain to Peru = 3
Flights from Peru to Spain = 6
Flights from Spain to Poland = 22
Flights from Poland to Spain = 44
Flights from Spain to Portugal = 43
Flights from Portugal to Spain = 86
Flights from Spain to Qatar = 5
Flights from Qatar to Spain = 11
Flights from Spain to Romania = 17
Flights from Romania to Spain = 34
Flights from Spain to Russian Federation = 28
Flights from Russian Federation to Spain = 56
Flights from Spain to Saudi Arabia = 2
Flights from Saudi Arabia to Spain = 4
Flights from Spain to Senegal = 7
Flights from Senegal to Spain = 15
Flights from Spain to Singapore = 1
Flights from Singapore to Spain = 2
Flights from Spain to Slovakia = 3
Flights from Slovakia to Spain = 6
Flights from Spain to Korea, Republic of = 1
Flights from Korea, Republic of to Spain = 2
Flights from Spain to Sweden = 34
Flights from Sweden to Spain = 34
Flights from Spain to Switzerland = 42
Flights from Switzerland to Spain = 42
Flights from Spain to Thailand = 1
Flights from Thailand to Spain = 1
Flights from Spain to Tunisia = 3
Flights from Tunisia to Spain = 2
Flights from Spain to Turkey = 7
Flights from Turkey to Spain = 7
Flights from Spain to Ukraine = 11
Flights from Ukraine to Spain = 11
Flights from Spain to United Arab Emirates = 2
Flights from United Arab Emirates to Spain = 2
Flights from Spain to United Kingdom of Great Britain and Northern Ireland = 512
Flights from United Kingdom of Great Britain and Northern Ireland to Spain = 518
Flights from Spain to United States of America = 57
Flights from United States of America to Spain = 57
Flights from Spain to Uruguay = 1
Flights from Uruguay to Spain = 1
Flights from Spain to Venezuela (Bolivarian Republic of) = 4
Flights from Venezuela (Bolivarian Republic of) to Spain = 4
Flights from Spain to Western Sahara = 3
Flights from Western Sahara to Spain = 3
Flights from Sri Lanka to Bahrain = 2
Flights from Bahrain to Sri Lanka = 4
Flights from Sri Lanka to Bangladesh = 2
Flights from Bangladesh to Sri Lanka = 4
Flights from Sri Lanka to China = 5
Flights from China to Sri Lanka = 8
Flights from Sri Lanka to France = 1
Flights from France to Sri Lanka = 2
Flights from Sri Lanka to Germany = 1
Flights from Germany to Sri Lanka = 2
Flights from Sri Lanka to India = 22
Flights from India to Sri Lanka = 46
Flights from Sri Lanka to Indonesia = 2
Flights from Indonesia to Sri Lanka = 4
Flights from Sri Lanka to Italy = 3
Flights from Italy to Sri Lanka = 6
Flights from Sri Lanka to Japan = 1
Flights from Japan to Sri Lanka = 2
Flights from Sri Lanka to Kuwait = 3
Flights from Kuwait to Sri Lanka = 6
Flights from Sri Lanka to Malaysia = 4
Flights from Malaysia to Sri Lanka = 8
Flights from Sri Lanka to Maldives = 11
Flights from Maldives to Sri Lanka = 24
Flights from Sri Lanka to Oman = 3
Flights from Oman to Sri Lanka = 6
Flights from Sri Lanka to Pakistan = 2
Flights from Pakistan to Sri Lanka = 4
Flights from Sri Lanka to Qatar = 2
Flights from Qatar to Sri Lanka = 4
Flights from Sri Lanka to Russian Federation = 1
Flights from Russian Federation to Sri Lanka = 2
Flights from Sri Lanka to Saudi Arabia = 11
Flights from Saudi Arabia to Sri Lanka = 20
Flights from Sri Lanka to Seychelles = 2
Flights from Seychelles to Sri Lanka = 4
Flights from Sri Lanka to Singapore = 5
Flights from Singapore to Sri Lanka = 10
Flights from Sri Lanka to Korea, Republic of = 1
Flights from Korea, Republic of to Sri Lanka = 2
Flights from Sri Lanka to Thailand = 4
Flights from Thailand to Sri Lanka = 4
Flights from Sri Lanka to United Arab Emirates = 12
Flights from United Arab Emirates to Sri Lanka = 12
Flights from Sri Lanka to United Kingdom of Great Britain and Northern Ireland = 1
Flights from United Kingdom of Great Britain and Northern Ireland to Sri Lanka = 1
Flights from Sudan to Bahrain = 1
Flights from Bahrain to Sudan = 2
Flights from Sudan to Egypt = 3
Flights from Egypt to Sudan = 6
Flights from Sudan to Eritrea = 1
Flights from Eritrea to Sudan = 2
Flights from Sudan to Ethiopia = 2
Flights from Ethiopia to Sudan = 4
Flights from Sudan to Jordan = 2
Flights from Jordan to Sudan = 3
Flights from Sudan to Kenya = 1
Flights from Kenya to Sudan = 2
Flights from Sudan to Qatar = 2
Flights from Qatar to Sudan = 4
Flights from Sudan to Saudi Arabia = 8
Flights from Saudi Arabia to Sudan = 16
Flights from Sudan to South Sudan = 2
Flights from South Sudan to Sudan = 4
Flights from Sudan to Turkey = 1
Flights from Turkey to Sudan = 1
Flights from Sudan to United Arab Emirates = 10
Flights from United Arab Emirates to Sudan = 10
Flights from Sudan to Yemen = 1
Flights from Yemen to Sudan = 1
Flights from Suriname to Aruba = 1
Flights from Aruba to Suriname = 2
Flights from Suriname to Brazil = 1
Flights from Brazil to Suriname = 2
Flights from Suriname to French Guiana = 1
Flights from French Guiana to Suriname = 2
Flights from Suriname to Guyana = 1
Flights from Guyana to Suriname = 2
Flights from Suriname to Netherlands = 2
Flights from Netherlands to Suriname = 4
Flights from Suriname to Netherlands Antilles = 1
Flights from Netherlands Antilles to Suriname = 2
Flights from Suriname to Trinidad and Tobago = 3
Flights from Trinidad and Tobago to Suriname = 3
Flights from Swaziland to South Africa = 1
Flights from South Africa to Swaziland = 2
Flights from Sweden to Austria = 4
Flights from Austria to Sweden = 8
Flights from Sweden to Belarus = 1
Flights from Belarus to Sweden = 2
Flights from Sweden to Belgium = 6
Flights from Belgium to Sweden = 13
Flights from Sweden to Bosnia and Herzegovina = 1
Flights from Bosnia and Herzegovina to Sweden = 2
Flights from Sweden to China = 2
Flights from China to Sweden = 4
Flights from Sweden to Croatia = 9
Flights from Croatia to Sweden = 18
Flights from Sweden to Cyprus = 2
Flights from Cyprus to Sweden = 4
Flights from Sweden to Czechia = 4
Flights from Czechia to Sweden = 9
Flights from Sweden to Denmark = 9
Flights from Denmark to Sweden = 18
Flights from Sweden to Estonia = 4
Flights from Estonia to Sweden = 8
Flights from Sweden to Finland = 22
Flights from Finland to Sweden = 44
Flights from Sweden to France = 17
Flights from France to Sweden = 35
Flights from Sweden to Germany = 29
Flights from Germany to Sweden = 58
Flights from Sweden to Greece = 10
Flights from Greece to Sweden = 20
Flights from Sweden to Hungary = 4
Flights from Hungary to Sweden = 8
Flights from Sweden to Iceland = 1
Flights from Iceland to Sweden = 2
Flights from Sweden to Iran (Islamic Republic of) = 3
Flights from Iran (Islamic Republic of) to Sweden = 6
Flights from Sweden to Iraq = 7
Flights from Iraq to Sweden = 14
Flights from Sweden to Ireland = 2
Flights from Ireland to Sweden = 4
Flights from Sweden to Israel = 1
Flights from Israel to Sweden = 2
Flights from Sweden to Italy = 19
Flights from Italy to Sweden = 38
Flights from Sweden to Latvia = 4
Flights from Latvia to Sweden = 8
Flights from Sweden to Lithuania = 2
Flights from Lithuania to Sweden = 4
Flights from Sweden to Luxembourg = 1
Flights from Luxembourg to Sweden = 2
Flights from Sweden to North Macedonia = 3
Flights from North Macedonia to Sweden = 6
Flights from Sweden to Malta = 3
Flights from Malta to Sweden = 6
Flights from Sweden to Morocco = 1
Flights from Morocco to Sweden = 2
Flights from Sweden to Netherlands = 7
Flights from Netherlands to Sweden = 14
Flights from Sweden to Norway = 13
Flights from Norway to Sweden = 26
Flights from Sweden to Poland = 13
Flights from Poland to Sweden = 26
Flights from Sweden to Portugal = 3
Flights from Portugal to Sweden = 7
Flights from Sweden to Qatar = 1
Flights from Qatar to Sweden = 2
Flights from Sweden to Russian Federation = 4
Flights from Russian Federation to Sweden = 8
Flights from Sweden to Serbia = 6
Flights from Serbia to Sweden = 12
Flights from Sweden to Spain = 34
Flights from Spain to Sweden = 68
Flights from Sweden to Switzerland = 6
Flights from Switzerland to Sweden = 6
Flights from Sweden to Thailand = 3
Flights from Thailand to Sweden = 3
Flights from Sweden to Turkey = 6
Flights from Turkey to Sweden = 6
Flights from Sweden to United Arab Emirates = 2
Flights from United Arab Emirates to Sweden = 2
Flights from Sweden to United Kingdom of Great Britain and Northern Ireland = 27
Flights from United Kingdom of Great Britain and Northern Ireland to Sweden = 27
Flights from Sweden to United States of America = 7
Flights from United States of America to Sweden = 7
Flights from Switzerland to Algeria = 1
Flights from Algeria to Switzerland = 2

Flights from Switzerland to Austria = 11
Flights from Austria to Switzerland = 23
Flights from Switzerland to Belarus = 1
Flights from Belarus to Switzerland = 2
Flights from Switzerland to Belgium = 6
Flights from Belgium to Switzerland = 12
Flights from Switzerland to Bosnia and Herzegovina = 1
Flights from Bosnia and Herzegovina to Switzerland = 2
Flights from Switzerland to Brazil = 1
Flights from Brazil to Switzerland = 2
Flights from Switzerland to Bulgaria = 1
Flights from Bulgaria to Switzerland = 2
Flights from Switzerland to Canada = 8
Flights from Canada to Switzerland = 16
Flights from Switzerland to China = 3
Flights from China to Switzerland = 6
Flights from Switzerland to Croatia = 8
Flights from Croatia to Switzerland = 16
Flights from Switzerland to Cuba = 1
Flights from Cuba to Switzerland = 2
Flights from Switzerland to Cyprus = 3
Flights from Cyprus to Switzerland = 6
Flights from Switzerland to Czechia = 4
Flights from Czechia to Switzerland = 8
Flights from Switzerland to Denmark = 7
Flights from Denmark to Switzerland = 14
Flights from Switzerland to Dominican Republic = 1
Flights from Dominican Republic to Switzerland = 2
Flights from Switzerland to Egypt = 10
Flights from Egypt to Switzerland = 20
Flights from Switzerland to Finland = 3
Flights from Finland to Switzerland = 6
Flights from Switzerland to France = 21
Flights from France to Switzerland = 42
Flights from Switzerland to Germany = 42
Flights from Germany to Switzerland = 84
Flights from Switzerland to Greece = 9
Flights from Greece to Switzerland = 18
Flights from Switzerland to Hong Kong = 1
Flights from Hong Kong to Switzerland = 2
Flights from Switzerland to Hungary = 2
Flights from Hungary to Switzerland = 4
Flights from Switzerland to Iceland = 1
Flights from Iceland to Switzerland = 2
Flights from Switzerland to India = 4
Flights from India to Switzerland = 8
Flights from Switzerland to Ireland = 3
Flights from Ireland to Switzerland = 6
Flights from Switzerland to Israel = 5
Flights from Israel to Switzerland = 10
Flights from Switzerland to Italy = 38
Flights from Italy to Switzerland = 76
Flights from Switzerland to Japan = 2
Flights from Japan to Switzerland = 4
Flights from Switzerland to Jersey = 2
Flights from Jersey to Switzerland = 4
Flights from Switzerland to Jordan = 2
Flights from Jordan to Switzerland = 4
Flights from Switzerland to Kenya = 3
Flights from Kenya to Switzerland = 6
Flights from Switzerland to Latvia = 1
Flights from Latvia to Switzerland = 2
Flights from Switzerland to Lebanon = 1
Flights from Lebanon to Switzerland = 2
Flights from Switzerland to Luxembourg = 2
Flights from Luxembourg to Switzerland = 4
Flights from Switzerland to North Macedonia = 2
Flights from North Macedonia to Switzerland = 4
Flights from Switzerland to Malta = 3
Flights from Malta to Switzerland = 6
Flights from Switzerland to Montenegro = 1
Flights from Montenegro to Switzerland = 2
Flights from Switzerland to Morocco = 5
Flights from Morocco to Switzerland = 10
Flights from Switzerland to Netherlands = 5
Flights from Netherlands to Switzerland = 11
Flights from Switzerland to Norway = 3
Flights from Norway to Switzerland = 6
Flights from Switzerland to Oman = 2
Flights from Oman to Switzerland = 4
Flights from Switzerland to Poland = 7
Flights from Poland to Switzerland = 14
Flights from Switzerland to Portugal = 21
Flights from Portugal to Switzerland = 38
Flights from Switzerland to Qatar = 3
Flights from Qatar to Switzerland = 6
Flights from Switzerland to Romania = 3
Flights from Romania to Switzerland = 6
Flights from Switzerland to Russian Federation = 6
Flights from Russian Federation to Switzerland = 12
Flights from Switzerland to Saudi Arabia = 2
Flights from Saudi Arabia to Switzerland = 4
Flights from Switzerland to Serbia = 9
Flights from Serbia to Switzerland = 18
Flights from Switzerland to Singapore = 3
Flights from Singapore to Switzerland = 6
Flights from Switzerland to Slovenia = 2
Flights from Slovenia to Switzerland = 4
Flights from Switzerland to South Africa = 2
Flights from South Africa to Switzerland = 4
Flights from Switzerland to Spain = 42
Flights from Spain to Switzerland = 84
Flights from Switzerland to Sweden = 6
Flights from Sweden to Switzerland = 12
Flights from Switzerland to Thailand = 2
Flights from Thailand to Switzerland = 2
Flights from Switzerland to Tunisia = 6
Flights from Tunisia to Switzerland = 6
Flights from Switzerland to Turkey = 11
Flights from Turkey to Switzerland = 11
Flights from Switzerland to Ukraine = 3
Flights from Ukraine to Switzerland = 3
Flights from Switzerland to United Arab Emirates = 7
Flights from United Arab Emirates to Switzerland = 7
Flights from Switzerland to United Kingdom of Great Britain and Northern Ireland = 24
Flights from United Kingdom of Great Britain and Northern Ireland to Switzerland = 24
Flights from Switzerland to United States of America = 29
Flights from United States of America to Switzerland = 29
Flights from Taiwan to Australia = 3
Flights from Australia to Taiwan = 6
Flights from Taiwan to Austria = 1
Flights from Austria to Taiwan = 2
Flights from Taiwan to Myanmar = 1
Flights from Myanmar to Taiwan = 2
Flights from Taiwan to Cambodia = 3
Flights from Cambodia to Taiwan = 6
Flights from Taiwan to Canada = 3
Flights from Canada to Taiwan = 6
Flights from Taiwan to China = 191
Flights from China to Taiwan = 382
Flights from Taiwan to France = 1
Flights from France to Taiwan = 2
Flights from Taiwan to Germany = 1
Flights from Germany to Taiwan = 2
Flights from Taiwan to Guam = 2
Flights from Guam to Taiwan = 4
Flights from Taiwan to Hong Kong = 13
Flights from Hong Kong to Taiwan = 26
Flights from Taiwan to India = 2
Flights from India to Taiwan = 4
Flights from Taiwan to Indonesia = 7
Flights from Indonesia to Taiwan = 14
Flights from Taiwan to Japan = 68
Flights from Japan to Taiwan = 135
Flights from Taiwan to Macao = 8
Flights from Macao to Taiwan = 16
Flights from Taiwan to Malaysia = 7
Flights from Malaysia to Taiwan = 14
Flights from Taiwan to Netherlands = 2
Flights from Netherlands to Taiwan = 4
Flights from Taiwan to Palau = 2
Flights from Palau to Taiwan = 4
Flights from Taiwan to Philippines = 9
Flights from Philippines to Taiwan = 18
Flights from Taiwan to Singapore = 9
Flights from Singapore to Taiwan = 17
Flights from Taiwan to Korea, Republic of = 18
Flights from Korea, Republic of to Taiwan = 36
Flights from Taiwan to Thailand = 8
Flights from Thailand to Taiwan = 8
Flights from Taiwan to United Arab Emirates = 1
Flights from United Arab Emirates to Taiwan = 1
Flights from Taiwan to United States of America = 14
Flights from United States of America to Taiwan = 14
Flights from Taiwan to Viet Nam = 13
Flights from Viet Nam to Taiwan = 13
Flights from Tajikistan to China = 4
Flights from China to Tajikistan = 8
Flights from Tajikistan to Germany = 1
Flights from Germany to Tajikistan = 2
Flights from Tajikistan to India = 1
Flights from India to Tajikistan = 2
Flights from Tajikistan to Iran (Islamic Republic of) = 3
Flights from Iran (Islamic Republic of) to Tajikistan = 6
Flights from Tajikistan to Kazakhstan = 4
Flights from Kazakhstan to Tajikistan = 7
Flights from Tajikistan to Kyrgyzstan = 2
Flights from Kyrgyzstan to Tajikistan = 4
Flights from Tajikistan to Russian Federation = 71
Flights from Russian Federation to Tajikistan = 143
Flights from Tajikistan to Turkey = 3
Flights from Turkey to Tajikistan = 3
Flights from Tajikistan to United Arab Emirates = 3
Flights from United Arab Emirates to Tajikistan = 3
Flights from Tanzania, United Republic of to Comoros = 1
Flights from Comoros to Tanzania, United Republic of = 2
Flights from Tanzania, United Republic of to Egypt = 1
Flights from Egypt to Tanzania, United Republic of = 2
Flights from Tanzania, United Republic of to Ethiopia = 4
Flights from Ethiopia to Tanzania, United Republic of = 7
Flights from Tanzania, United Republic of to Kenya = 16
Flights from Kenya to Tanzania, United Republic of = 33
Flights from Tanzania, United Republic of to Malawi = 1
Flights from Malawi to Tanzania, United Republic of = 2
Flights from Tanzania, United Republic of to Mayotte = 1
Flights from Mayotte to Tanzania, United Republic of = 2

Flights from Tanzania, United Republic of to Mozambique = 1
Flights from Mozambique to Tanzania, United Republic of = 2
Flights from Tanzania, United Republic of to Netherlands = 3
Flights from Netherlands to Tanzania, United Republic of = 6
Flights from Tanzania, United Republic of to Oman = 1
Flights from Oman to Tanzania, United Republic of = 2
Flights from Tanzania, United Republic of to Qatar = 1
Flights from Qatar to Tanzania, United Republic of = 2
Flights from Tanzania, United Republic of to Rwanda = 2
Flights from Rwanda to Tanzania, United Republic of = 4
Flights from Tanzania, United Republic of to South Africa = 2
Flights from South Africa to Tanzania, United Republic of = 4
Flights from Tanzania, United Republic of to Turkey = 1
Flights from Turkey to Tanzania, United Republic of = 2
Flights from Tanzania, United Republic of to Uganda = 4
Flights from Uganda to Tanzania, United Republic of = 4
Flights from Tanzania, United Republic of to United Arab Emirates = 1
Flights from United Arab Emirates to Tanzania, United Republic of = 1
Flights from Tanzania, United Republic of to Zimbabwe = 1
Flights from Zimbabwe to Tanzania, United Republic of = 1
Flights from Thailand to Australia = 14
Flights from Australia to Thailand = 28
Flights from Thailand to Austria = 3
Flights from Austria to Thailand = 6
Flights from Thailand to Bahrain = 3
Flights from Bahrain to Thailand = 6
Flights from Thailand to Bangladesh = 7
Flights from Bangladesh to Thailand = 14
Flights from Thailand to Belgium = 2
Flights from Belgium to Thailand = 4
Flights from Thailand to Brunei = 2
Flights from Brunei to Thailand = 4
Flights from Thailand to Myanmar = 12
Flights from Myanmar to Thailand = 24
Flights from Thailand to Cambodia = 8
Flights from Cambodia to Thailand = 16
Flights from Thailand to China = 72
Flights from China to Thailand = 145
Flights from Thailand to Denmark = 2
Flights from Denmark to Thailand = 4
Flights from Thailand to Egypt = 3
Flights from Egypt to Thailand = 6
Flights from Thailand to Ethiopia = 2
Flights from Ethiopia to Thailand = 4
Flights from Thailand to Finland = 1
Flights from Finland to Thailand = 2
Flights from Thailand to France = 3
Flights from France to Thailand = 6
Flights from Thailand to Germany = 4
Flights from Germany to Thailand = 8
Flights from Thailand to Hong Kong = 24
Flights from Hong Kong to Thailand = 48
Flights from Thailand to India = 17
Flights from India to Thailand = 34
Flights from Thailand to Indonesia = 8
Flights from Indonesia to Thailand = 16
Flights from Thailand to Iran (Islamic Republic of) = 1
Flights from Iran (Islamic Republic of) to Thailand = 2
Flights from Thailand to Israel = 2
Flights from Israel to Thailand = 4
Flights from Thailand to Italy = 2
Flights from Italy to Thailand = 4
Flights from Thailand to Japan = 21
Flights from Japan to Thailand = 43
Flights from Thailand to Jordan = 2
Flights from Jordan to Thailand = 4
Flights from Thailand to Kazakhstan = 1
Flights from Kazakhstan to Thailand = 2
Flights from Thailand to Kenya = 3
Flights from Kenya to Thailand = 6
Flights from Thailand to Kuwait = 1
Flights from Kuwait to Thailand = 2
Flights from Thailand to Lao People's Democratic Republic = 10
Flights from Lao People's Democratic Republic to Thailand = 20
Flights from Thailand to Macao = 4
Flights from Macao to Thailand = 8
Flights from Thailand to Madagascar = 2
Flights from Madagascar to Thailand = 4
Flights from Thailand to Malaysia = 33
Flights from Malaysia to Thailand = 66
Flights from Thailand to Maldives = 1
Flights from Maldives to Thailand = 2
Flights from Thailand to Mongolia = 1
Flights from Mongolia to Thailand = 2
Flights from Thailand to Nepal = 2
Flights from Nepal to Thailand = 4
Flights from Thailand to Netherlands = 3
Flights from Netherlands to Thailand = 6
Flights from Thailand to New Zealand = 2
Flights from New Zealand to Thailand = 4
Flights from Thailand to Norway = 3
Flights from Norway to Thailand = 6
Flights from Thailand to Oman = 1
Flights from Oman to Thailand = 2
Flights from Thailand to Pakistan = 4
Flights from Pakistan to Thailand = 8
Flights from Thailand to Philippines = 6
Flights from Philippines to Thailand = 12
Flights from Thailand to Qatar = 1
Flights from Qatar to Thailand = 2
Flights from Thailand to Russian Federation = 13
Flights from Russian Federation to Thailand = 24
Flights from Thailand to Singapore = 28
Flights from Singapore to Thailand = 55
Flights from Thailand to South Africa = 2
Flights from South Africa to Thailand = 4
Flights from Thailand to Korea, Republic of = 21
Flights from Korea, Republic of to Thailand = 42
Flights from Thailand to Spain = 1
Flights from Spain to Thailand = 2
Flights from Thailand to Sri Lanka = 4
Flights from Sri Lanka to Thailand = 8
Flights from Thailand to Sweden = 3
Flights from Sweden to Thailand = 6
Flights from Thailand to Switzerland = 2
Flights from Switzerland to Thailand = 4
Flights from Thailand to Taiwan = 8
Flights from Taiwan to Thailand = 16
Flights from Thailand to Turkey = 2
Flights from Turkey to Thailand = 2
Flights from Thailand to Ukraine = 1
Flights from Ukraine to Thailand = 1
Flights from Thailand to United Arab Emirates = 9
Flights from United Arab Emirates to Thailand = 9
Flights from Thailand to United Kingdom of Great Britain and Northern Ireland = 4
Flights from United Kingdom of Great Britain and Northern Ireland to Thailand = 4
Flights from Thailand to Uzbekistan = 1
Flights from Uzbekistan to Thailand = 1
Flights from Thailand to Viet Nam = 10
Flights from Viet Nam to Thailand = 10
Flights from Togo to Benin = 2
Flights from Benin to Togo = 5
Flights from Togo to Brazil = 1
Flights from Brazil to Togo = 2
Flights from Togo to Burkina Faso = 2
Flights from Burkina Faso to Togo = 4
Flights from Togo to Cameroon = 1
Flights from Cameroon to Togo = 2
Flights from Togo to CÃ´te d'Ivoire = 2
Flights from CÃ´te d'Ivoire to Togo = 7
Flights from Togo to Ethiopia = 1
Flights from Ethiopia to Togo = 2
Flights from Togo to France = 1
Flights from France to Togo = 2
Flights from Togo to Gabon = 1
Flights from Gabon to Togo = 2
Flights from Togo to Ghana = 2
Flights from Ghana to Togo = 3
Flights from Togo to Guinea = 1
Flights from Guinea to Togo = 2
Flights from Togo to Mali = 1
Flights from Mali to Togo = 2
Flights from Togo to Nigeria = 2
Flights from Nigeria to Togo = 4
Flights from Tonga to Australia = 1
Flights from Australia to Tonga = 2
Flights from Tonga to Fiji = 2
Flights from Fiji to Tonga = 4
Flights from Tonga to New Zealand = 2
Flights from New Zealand to Tonga = 4
Flights from Trinidad and Tobago to Antigua and Barbuda = 1
Flights from Antigua and Barbuda to Trinidad and Tobago = 3
Flights from Trinidad and Tobago to Barbados = 2
Flights from Barbados to Trinidad and Tobago = 3
Flights from Trinidad and Tobago to Canada = 2
Flights from Canada to Trinidad and Tobago = 4
Flights from Trinidad and Tobago to Grenada = 3
Flights from Grenada to Trinidad and Tobago = 6
Flights from Trinidad and Tobago to Guyana = 1
Flights from Guyana to Trinidad and Tobago = 2
Flights from Trinidad and Tobago to Jamaica = 1
Flights from Jamaica to Trinidad and Tobago = 2
Flights from Trinidad and Tobago to Netherlands Antilles = 3
Flights from Netherlands Antilles to Trinidad and Tobago = 6
Flights from Trinidad and Tobago to Panama = 2
Flights from Panama to Trinidad and Tobago = 4
Flights from Trinidad and Tobago to Saint Lucia = 4
Flights from Saint Lucia to Trinidad and Tobago = 8
Flights from Trinidad and Tobago to Saint Vincent and the Grenadines = 1
Flights from Saint Vincent and the Grenadines to Trinidad and Tobago = 2
Flights from Trinidad and Tobago to Suriname = 3
Flights from Suriname to Trinidad and Tobago = 6
Flights from Trinidad and Tobago to United Kingdom of Great Britain and Northern Ireland = 1
Flights from United Kingdom of Great Britain and Northern Ireland to Trinidad and Tobago = 1
Flights from Trinidad and Tobago to United States of America = 11
Flights from United States of America to Trinidad and Tobago = 11
Flights from Trinidad and Tobago to Venezuela (Bolivarian Republic of) = 2
Flights from Venezuela (Bolivarian Republic of) to Trinidad and Tobago = 2
Flights from Tunisia to Algeria = 3
Flights from Algeria to Tunisia = 6
Flights from Tunisia to Austria = 1
Flights from Austria to Tunisia = 2
Flights from Tunisia to Belgium = 4
Flights from Belgium to Tunisia = 8
Flights from Tunisia to Burkina Faso = 1
Flights from Burkina Faso to Tunisia = 2
Flights from Tunisia to CÃ´te d'Ivoire = 1
Flights from CÃ´te d'Ivoire to Tunisia = 2
Flights from Tunisia to Egypt = 2
Flights from Egypt to Tunisia = 4
Flights from Tunisia to France = 44
Flights from France to Tunisia = 89
Flights from Tunisia to Germany = 32

Flights from Germany to Tunisia = 64
Flights from Tunisia to Italy = 8
Flights from Italy to Tunisia = 16
Flights from Tunisia to Jordan = 1
Flights from Jordan to Tunisia = 2
Flights from Tunisia to Kuwait = 1
Flights from Kuwait to Tunisia = 2
Flights from Tunisia to Lebanon = 2
Flights from Lebanon to Tunisia = 4
Flights from Tunisia to Libya = 21
Flights from Libya to Tunisia = 43
Flights from Tunisia to Luxembourg = 2
Flights from Luxembourg to Tunisia = 3
Flights from Tunisia to Mali = 1
Flights from Mali to Tunisia = 2
Flights from Tunisia to Malta = 1
Flights from Malta to Tunisia = 3
Flights from Tunisia to Mauritania = 1
Flights from Mauritania to Tunisia = 2
Flights from Tunisia to Morocco = 2
Flights from Morocco to Tunisia = 4
Flights from Tunisia to Netherlands = 2
Flights from Netherlands to Tunisia = 3
Flights from Tunisia to Portugal = 1
Flights from Portugal to Tunisia = 2
Flights from Tunisia to Qatar = 1
Flights from Qatar to Tunisia = 2
Flights from Tunisia to Russian Federation = 6
Flights from Russian Federation to Tunisia = 12
Flights from Tunisia to Saudi Arabia = 3
Flights from Saudi Arabia to Tunisia = 6
Flights from Tunisia to Senegal = 1
Flights from Senegal to Tunisia = 2
Flights from Tunisia to Serbia = 1
Flights from Serbia to Tunisia = 2
Flights from Tunisia to Spain = 2
Flights from Spain to Tunisia = 5
Flights from Tunisia to Switzerland = 6
Flights from Switzerland to Tunisia = 12
Flights from Tunisia to Turkey = 2
Flights from Turkey to Tunisia = 2
Flights from Tunisia to United Arab Emirates = 2
Flights from United Arab Emirates to Tunisia = 2
Flights from Tunisia to United Kingdom of Great Britain and Northern Ireland = 22
Flights from United Kingdom of Great Britain and Northern Ireland to Tunisia = 22
Flights from Turkey to Afghanistan = 2
Flights from Afghanistan to Turkey = 5
Flights from Turkey to Albania = 2
Flights from Albania to Turkey = 4
Flights from Turkey to Algeria = 6
Flights from Algeria to Turkey = 12
Flights from Turkey to Austria = 19
Flights from Austria to Turkey = 38
Flights from Turkey to Azerbaijan = 7
Flights from Azerbaijan to Turkey = 13
Flights from Turkey to Bahrain = 2
Flights from Bahrain to Turkey = 4
Flights from Turkey to Bangladesh = 1
Flights from Bangladesh to Turkey = 2
Flights from Turkey to Belarus = 2
Flights from Belarus to Turkey = 4
Flights from Turkey to Belgium = 8
Flights from Belgium to Turkey = 16
Flights from Turkey to Bosnia and Herzegovina = 4
Flights from Bosnia and Herzegovina to Turkey = 8
Flights from Turkey to Brazil = 1
Flights from Brazil to Turkey = 2
Flights from Turkey to Bulgaria = 1
Flights from Bulgaria to Turkey = 2
Flights from Turkey to Cameroon = 2
Flights from Cameroon to Turkey = 3
Flights from Turkey to Canada = 2
Flights from Canada to Turkey = 4
Flights from Turkey to China = 7
Flights from China to Turkey = 14
Flights from Turkey to Congo, Democratic Republic of the = 1
Flights from Congo, Democratic Republic of the to Turkey = 2
Flights from Turkey to Croatia = 2
Flights from Croatia to Turkey = 4
Flights from Turkey to Cyprus = 14
Flights from Cyprus to Turkey = 28
Flights from Turkey to Czechia = 2
Flights from Czechia to Turkey = 4
Flights from Turkey to Denmark = 10
Flights from Denmark to Turkey = 20
Flights from Turkey to Djibouti = 1
Flights from Djibouti to Turkey = 2
Flights from Turkey to Egypt = 8
Flights from Egypt to Turkey = 16
Flights from Turkey to Estonia = 1
Flights from Estonia to Turkey = 2
Flights from Turkey to Ethiopia = 1
Flights from Ethiopia to Turkey = 2
Flights from Turkey to Finland = 5
Flights from Finland to Turkey = 10
Flights from Turkey to France = 26
Flights from France to Turkey = 52
Flights from Turkey to Georgia = 5
Flights from Georgia to Turkey = 10
Flights from Turkey to Germany = 128
Flights from Germany to Turkey = 256
Flights from Turkey to Ghana = 1
Flights from Ghana to Turkey = 2
Flights from Turkey to Greece = 6
Flights from Greece to Turkey = 12
Flights from Turkey to Hong Kong = 1
Flights from Hong Kong to Turkey = 2
Flights from Turkey to Hungary = 2
Flights from Hungary to Turkey = 4
Flights from Turkey to India = 4
Flights from India to Turkey = 8
Flights from Turkey to Iran (Islamic Republic of) = 14
Flights from Iran (Islamic Republic of) to Turkey = 28
Flights from Turkey to Iraq = 15
Flights from Iraq to Turkey = 30
Flights from Turkey to Ireland = 2
Flights from Ireland to Turkey = 4
Flights from Turkey to Israel = 3
Flights from Israel to Turkey = 6
Flights from Turkey to Italy = 12
Flights from Italy to Turkey = 24
Flights from Turkey to Japan = 4
Flights from Japan to Turkey = 8
Flights from Turkey to Jordan = 3
Flights from Jordan to Turkey = 6
Flights from Turkey to Kazakhstan = 7
Flights from Kazakhstan to Turkey = 14
Flights from Turkey to Kenya = 2
Flights from Kenya to Turkey = 5
Flights from Turkey to Kuwait = 6
Flights from Kuwait to Turkey = 12
Flights from Turkey to Kyrgyzstan = 5
Flights from Kyrgyzstan to Turkey = 10
Flights from Turkey to Latvia = 2
Flights from Latvia to Turkey = 4
Flights from Turkey to Lebanon = 3
Flights from Lebanon to Turkey = 6
Flights from Turkey to Libya = 6
Flights from Libya to Turkey = 12
Flights from Turkey to Lithuania = 1
Flights from Lithuania to Turkey = 2
Flights from Turkey to Luxembourg = 3
Flights from Luxembourg to Turkey = 6
Flights from Turkey to North Macedonia = 2
Flights from North Macedonia to Turkey = 4
Flights from Turkey to Malaysia = 2
Flights from Malaysia to Turkey = 4
Flights from Turkey to Maldives = 1
Flights from Maldives to Turkey = 2
Flights from Turkey to Malta = 4
Flights from Malta to Turkey = 8
Flights from Turkey to Moldova, Republic of = 2
Flights from Moldova, Republic of to Turkey = 4
Flights from Turkey to Montenegro = 1
Flights from Montenegro to Turkey = 2
Flights from Turkey to Morocco = 3
Flights from Morocco to Turkey = 6
Flights from Turkey to Nepal = 1
Flights from Nepal to Turkey = 2
Flights from Turkey to Netherlands = 22
Flights from Netherlands to Turkey = 46
Flights from Turkey to Nigeria = 2
Flights from Nigeria to Turkey = 3
Flights from Turkey to Norway = 7
Flights from Norway to Turkey = 14
Flights from Turkey to Oman = 2
Flights from Oman to Turkey = 4
Flights from Turkey to Pakistan = 3
Flights from Pakistan to Turkey = 6
Flights from Turkey to Poland = 2
Flights from Poland to Turkey = 4
Flights from Turkey to Portugal = 2
Flights from Portugal to Turkey = 4
Flights from Turkey to Qatar = 4
Flights from Qatar to Turkey = 8
Flights from Turkey to Romania = 4
Flights from Romania to Turkey = 8
Flights from Turkey to Russian Federation = 31
Flights from Russian Federation to Turkey = 63
Flights from Turkey to Rwanda = 2
Flights from Rwanda to Turkey = 3
Flights from Turkey to Saudi Arabia = 18
Flights from Saudi Arabia to Turkey = 38
Flights from Turkey to Serbia = 6
Flights from Serbia to Turkey = 12
Flights from Turkey to Singapore = 3
Flights from Singapore to Turkey = 6
Flights from Turkey to Slovenia = 2
Flights from Slovenia to Turkey = 4
Flights from Turkey to South Africa = 1
Flights from South Africa to Turkey = 2
Flights from Turkey to Korea, Republic of = 3
Flights from Korea, Republic of to Turkey = 6
Flights from Turkey to Spain = 7
Flights from Spain to Turkey = 14
Flights from Turkey to Sudan = 1
Flights from Sudan to Turkey = 2
Flights from Turkey to Sweden = 6
Flights from Sweden to Turkey = 12
Flights from Turkey to Switzerland = 11
Flights from Switzerland to Turkey = 22
Flights from Turkey to Tajikistan = 3
Flights from Tajikistan to Turkey = 6
Flights from Turkey to Tanzania, United Republic of = 2
Flights from Tanzania, United Republic of to Turkey = 3
Flights from Turkey to Thailand = 2
Flights from Thailand to Turkey = 4
Flights from Turkey to Tunisia = 2
Flights from Tunisia to Turkey = 4
Flights from Turkey to Turkmenistan = 2
Flights from Turkmenistan to Turkey = 2
Flights from Turkey to Ukraine = 20
Flights from Ukraine to Turkey = 20
Flights from Turkey to United Arab Emirates = 8
Flights from United Arab Emirates to Turkey = 8
Flights from Turkey to United Kingdom of Great Britain and Northern Ireland = 89
Flights from United Kingdom of Great Britain and Northern Ireland to Turkey = 91
Flights from Turkey to United States of America = 10
Flights from United States of America to Turkey = 10
Flights from Turkey to Uzbekistan = 2
Flights from Uzbekistan to Turkey = 2
Flights from Turkey to Yemen = 1
Flights from Yemen to Turkey = 1
Flights from Turkmenistan to Azerbaijan = 2
Flights from Azerbaijan to Turkmenistan = 4
Flights from Turkmenistan to Belarus = 1
Flights from Belarus to Turkmenistan = 2
Flights from Turkmenistan to China = 1
Flights from China to Turkmenistan = 2
Flights from Turkmenistan to Germany = 1
Flights from Germany to Turkmenistan = 2
Flights from Turkmenistan to India = 2
Flights from India to Turkmenistan = 4
Flights from Turkmenistan to Russian Federation = 2
Flights from Russian Federation to Turkmenistan = 4
Flights from Turkmenistan to Turkey = 2
Flights from Turkey to Turkmenistan = 4
Flights from Turkmenistan to United Arab Emirates = 2
Flights from United Arab Emirates to Turkmenistan = 2
Flights from Turkmenistan to United Kingdom of Great Britain and Northern Ireland = 2
Flights from United Kingdom of Great Britain and Northern Ireland to Turkmenistan = 2
Flights from Turks and Caicos Islands to Bahamas = 3
Flights from Bahamas to Turks and Caicos Islands = 7
Flights from Turks and Caicos Islands to Canada = 3
Flights from Canada to Turks and Caicos Islands = 5
Flights from Turks and Caicos Islands to Dominican Republic = 3
Flights from Dominican Republic to Turks and Caicos Islands = 6
Flights from Turks and Caicos Islands to Haiti = 3
Flights from Haiti to Turks and Caicos Islands = 6
Flights from Turks and Caicos Islands to Jamaica = 1
Flights from Jamaica to Turks and Caicos Islands = 2
Flights from Turks and Caicos Islands to Puerto Rico = 1
Flights from Puerto Rico to Turks and Caicos Islands = 2
Flights from Turks and Caicos Islands to United States of America = 14
Flights from United States of America to Turks and Caicos Islands = 14
Flights from Tuvalu to Fiji = 1
Flights from Fiji to Tuvalu = 2
Flights from Uganda to Burundi = 1
Flights from Burundi to Uganda = 2
Flights from Uganda to Egypt = 1
Flights from Egypt to Uganda = 2
Flights from Uganda to Ethiopia = 1
Flights from Ethiopia to Uganda = 3
Flights from Uganda to Kenya = 3
Flights from Kenya to Uganda = 6
Flights from Uganda to Qatar = 1
Flights from Qatar to Uganda = 2
Flights from Uganda to Rwanda = 5
Flights from Rwanda to Uganda = 16
Flights from Uganda to Somalia = 1
Flights from Somalia to Uganda = 2
Flights from Uganda to South Africa = 1
Flights from South Africa to Uganda = 2
Flights from Uganda to South Sudan = 1
Flights from South Sudan to Uganda = 3
Flights from Uganda to Tanzania, United Republic of = 4
Flights from Tanzania, United Republic of to Uganda = 8
Flights from Uganda to United Arab Emirates = 1
Flights from United Arab Emirates to Uganda = 1
Flights from Uganda to United Kingdom of Great Britain and Northern Ireland = 2
Flights from United Kingdom of Great Britain and Northern Ireland to Uganda = 2
Flights from Ukraine to Armenia = 2
Flights from Armenia to Ukraine = 4
Flights from Ukraine to Austria = 10
Flights from Austria to Ukraine = 20
Flights from Ukraine to Azerbaijan = 3
Flights from Azerbaijan to Ukraine = 6
Flights from Ukraine to Belarus = 2
Flights from Belarus to Ukraine = 4
Flights from Ukraine to Belgium = 2
Flights from Belgium to Ukraine = 4
Flights from Ukraine to Cyprus = 6
Flights from Cyprus to Ukraine = 11
Flights from Ukraine to Czechia = 3
Flights from Czechia to Ukraine = 6
Flights from Ukraine to Estonia = 1
Flights from Estonia to Ukraine = 2
Flights from Ukraine to Finland = 1
Flights from Finland to Ukraine = 2
Flights from Ukraine to France = 3
Flights from France to Ukraine = 6
Flights from Ukraine to Georgia = 7
Flights from Georgia to Ukraine = 14
Flights from Ukraine to Germany = 12
Flights from Germany to Ukraine = 24
Flights from Ukraine to Greece = 5
Flights from Greece to Ukraine = 10
Flights from Ukraine to Hungary = 1
Flights from Hungary to Ukraine = 2
Flights from Ukraine to Israel = 7
Flights from Israel to Ukraine = 14
Flights from Ukraine to Italy = 10
Flights from Italy to Ukraine = 20
Flights from Ukraine to Jordan = 1
Flights from Jordan to Ukraine = 2
Flights from Ukraine to Kazakhstan = 4
Flights from Kazakhstan to Ukraine = 8
Flights from Ukraine to Latvia = 2
Flights from Latvia to Ukraine = 4
Flights from Ukraine to Lithuania = 2
Flights from Lithuania to Ukraine = 4
Flights from Ukraine to Moldova, Republic of = 1
Flights from Moldova, Republic of to Ukraine = 2
Flights from Ukraine to Netherlands = 2
Flights from Netherlands to Ukraine = 4
Flights from Ukraine to Norway = 1
Flights from Norway to Ukraine = 2
Flights from Ukraine to Poland = 6
Flights from Poland to Ukraine = 12
Flights from Ukraine to Portugal = 2
Flights from Portugal to Ukraine = 4
Flights from Ukraine to Russian Federation = 39
Flights from Russian Federation to Ukraine = 77
Flights from Ukraine to Spain = 11
Flights from Spain to Ukraine = 22
Flights from Ukraine to Switzerland = 3
Flights from Switzerland to Ukraine = 6
Flights from Ukraine to Thailand = 1
Flights from Thailand to Ukraine = 2
Flights from Ukraine to Turkey = 20
Flights from Turkey to Ukraine = 40
Flights from Ukraine to United Arab Emirates = 10
Flights from United Arab Emirates to Ukraine = 10
Flights from Ukraine to United Kingdom of Great Britain and Northern Ireland = 3
Flights from United Kingdom of Great Britain and Northern Ireland to Ukraine = 3
Flights from Ukraine to United States of America = 1
Flights from United States of America to Ukraine = 1
Flights from Ukraine to Uzbekistan = 1
Flights from Uzbekistan to Ukraine = 1
Flights from United Arab Emirates to Afghanistan = 7
Flights from Afghanistan to United Arab Emirates = 14
Flights from United Arab Emirates to Algeria = 2
Flights from Algeria to United Arab Emirates = 4
Flights from United Arab Emirates to Angola = 2
Flights from Angola to United Arab Emirates = 4
Flights from United Arab Emirates to Armenia = 2
Flights from Armenia to United Arab Emirates = 4
Flights from United Arab Emirates to Australia = 16
Flights from Australia to United Arab Emirates = 32
Flights from United Arab Emirates to Austria = 2
Flights from Austria to United Arab Emirates = 4
Flights from United Arab Emirates to Azerbaijan = 2
Flights from Azerbaijan to United Arab Emirates = 4
Flights from United Arab Emirates to Bahrain = 15
Flights from Bahrain to United Arab Emirates = 31
Flights from United Arab Emirates to Bangladesh = 10
Flights from Bangladesh to United Arab Emirates = 19
Flights from United Arab Emirates to Belarus = 2
Flights from Belarus to United Arab Emirates = 4
Flights from United Arab Emirates to Belgium = 3
Flights from Belgium to United Arab Emirates = 6
Flights from United Arab Emirates to Brazil = 3
Flights from Brazil to United Arab Emirates = 6
Flights from United Arab Emirates to Brunei = 1
Flights from Brunei to United Arab Emirates = 2
Flights from United Arab Emirates to Bulgaria = 1
Flights from Bulgaria to United Arab Emirates = 2
Flights from United Arab Emirates to Canada = 3
Flights from Canada to United Arab Emirates = 6
Flights from United Arab Emirates to China = 16
Flights from China to United Arab Emirates = 30
Flights from United Arab Emirates to Cyprus = 3
Flights from Cyprus to United Arab Emirates = 6
Flights from United Arab Emirates to Czechia = 2
Flights from Czechia to United Arab Emirates = 4
Flights from United Arab Emirates to Denmark = 2
Flights from Denmark to United Arab Emirates = 4
Flights from United Arab Emirates to Djibouti = 1
Flights from Djibouti to United Arab Emirates = 5
Flights from United Arab Emirates to Egypt = 11
Flights from Egypt to United Arab Emirates = 22
Flights from United Arab Emirates to Ethiopia = 3
Flights from Ethiopia to United Arab Emirates = 6
Flights from United Arab Emirates to France = 7
Flights from France to United Arab Emirates = 14
Flights from United Arab Emirates to Georgia = 1
Flights from Georgia to United Arab Emirates = 2
Flights from United Arab Emirates to Germany = 23
Flights from Germany to United Arab Emirates = 46
Flights from United Arab Emirates to Ghana = 1
Flights from Ghana to United Arab Emirates = 2
Flights from United Arab Emirates to Greece = 3
Flights from Greece to United Arab Emirates = 6
Flights from United Arab Emirates to Hong Kong = 4
Flights from Hong Kong to United Arab Emirates = 9
Flights from United Arab Emirates to Hungary = 1
Flights from Hungary to United Arab Emirates = 2
Flights from United Arab Emirates to India = 81
Flights from India to United Arab Emirates = 162
Flights from United Arab Emirates to Indonesia = 5

Flights from Indonesia to United Arab Emirates = 10
Flights from United Arab Emirates to Iran (Islamic Republic of) = 23
Flights from Iran (Islamic Republic of) to United Arab Emirates = 45
Flights from United Arab Emirates to Iraq = 15
Flights from Iraq to United Arab Emirates = 30
Flights from United Arab Emirates to Ireland = 4
Flights from Ireland to United Arab Emirates = 8
Flights from United Arab Emirates to Italy = 8
Flights from Italy to United Arab Emirates = 16
Flights from United Arab Emirates to Japan = 8
Flights from Japan to United Arab Emirates = 16
Flights from United Arab Emirates to Jordan = 9
Flights from Jordan to United Arab Emirates = 18
Flights from United Arab Emirates to Kazakhstan = 7
Flights from Kazakhstan to United Arab Emirates = 14
Flights from United Arab Emirates to Kenya = 9
Flights from Kenya to United Arab Emirates = 18
Flights from United Arab Emirates to Kuwait = 12
Flights from Kuwait to United Arab Emirates = 23
Flights from United Arab Emirates to Kyrgyzstan = 1
Flights from Kyrgyzstan to United Arab Emirates = 2
Flights from United Arab Emirates to Lebanon = 6
Flights from Lebanon to United Arab Emirates = 12
Flights from United Arab Emirates to Libya = 1
Flights from Libya to United Arab Emirates = 2
Flights from United Arab Emirates to North Macedonia = 1
Flights from North Macedonia to United Arab Emirates = 2
Flights from United Arab Emirates to Malaysia = 8
Flights from Malaysia to United Arab Emirates = 15
Flights from United Arab Emirates to Maldives = 4
Flights from Maldives to United Arab Emirates = 8
Flights from United Arab Emirates to Mauritius = 2
Flights from Mauritius to United Arab Emirates = 4
Flights from United Arab Emirates to Moldova, Republic of = 1
Flights from Moldova, Republic of to United Arab Emirates = 2
Flights from United Arab Emirates to Morocco = 4
Flights from Morocco to United Arab Emirates = 8
Flights from United Arab Emirates to Nepal = 4
Flights from Nepal to United Arab Emirates = 8
Flights from United Arab Emirates to Netherlands = 10
Flights from Netherlands to United Arab Emirates = 20
Flights from United Arab Emirates to Nigeria = 2
Flights from Nigeria to United Arab Emirates = 4
Flights from United Arab Emirates to Oman = 21
Flights from Oman to United Arab Emirates = 41
Flights from United Arab Emirates to Pakistan = 51
Flights from Pakistan to United Arab Emirates = 102
Flights from United Arab Emirates to Philippines = 7
Flights from Philippines to United Arab Emirates = 14
Flights from United Arab Emirates to Poland = 2
Flights from Poland to United Arab Emirates = 4
Flights from United Arab Emirates to Portugal = 2
Flights from Portugal to United Arab Emirates = 4
Flights from United Arab Emirates to Qatar = 10
Flights from Qatar to United Arab Emirates = 21
Flights from United Arab Emirates to Romania = 3
Flights from Romania to United Arab Emirates = 6
Flights from United Arab Emirates to Russian Federation = 39
Flights from Russian Federation to United Arab Emirates = 74
Flights from United Arab Emirates to Rwanda = 1
Flights from Rwanda to United Arab Emirates = 2
Flights from United Arab Emirates to Saudi Arabia = 47
Flights from Saudi Arabia to United Arab Emirates = 93
Flights from United Arab Emirates to Senegal = 1
Flights from Senegal to United Arab Emirates = 2
Flights from United Arab Emirates to Serbia = 3
Flights from Serbia to United Arab Emirates = 6
Flights from United Arab Emirates to Seychelles = 4
Flights from Seychelles to United Arab Emirates = 8
Flights from United Arab Emirates to Singapore = 11
Flights from Singapore to United Arab Emirates = 22
Flights from United Arab Emirates to Somalia = 5
Flights from Somalia to United Arab Emirates = 7
Flights from United Arab Emirates to South Africa = 10
Flights from South Africa to United Arab Emirates = 20
Flights from United Arab Emirates to Korea, Republic of = 5
Flights from Korea, Republic of to United Arab Emirates = 10
Flights from United Arab Emirates to South Sudan = 1
Flights from South Sudan to United Arab Emirates = 2
Flights from United Arab Emirates to Spain = 2
Flights from Spain to United Arab Emirates = 4
Flights from United Arab Emirates to Sri Lanka = 12
Flights from Sri Lanka to United Arab Emirates = 24
Flights from United Arab Emirates to Sudan = 10
Flights from Sudan to United Arab Emirates = 20
Flights from United Arab Emirates to Sweden = 2
Flights from Sweden to United Arab Emirates = 4
Flights from United Arab Emirates to Switzerland = 7
Flights from Switzerland to United Arab Emirates = 14
Flights from United Arab Emirates to Taiwan = 1
Flights from Taiwan to United Arab Emirates = 2
Flights from United Arab Emirates to Tajikistan = 3
Flights from Tajikistan to United Arab Emirates = 6
Flights from United Arab Emirates to Tanzania, United Republic of = 1
Flights from Tanzania, United Republic of to United Arab Emirates = 2
Flights from United Arab Emirates to Thailand = 9
Flights from Thailand to United Arab Emirates = 18
Flights from United Arab Emirates to Tunisia = 2
Flights from Tunisia to United Arab Emirates = 4
Flights from United Arab Emirates to Turkey = 8
Flights from Turkey to United Arab Emirates = 16
Flights from United Arab Emirates to Turkmenistan = 2
Flights from Turkmenistan to United Arab Emirates = 4
Flights from United Arab Emirates to Uganda = 1
Flights from Uganda to United Arab Emirates = 2
Flights from United Arab Emirates to Ukraine = 10
Flights from Ukraine to United Arab Emirates = 20
Flights from United Arab Emirates to United Kingdom of Great Britain and Northern Ireland = 22
Flights from United Kingdom of Great Britain and Northern Ireland to United Arab Emirates = 21
Flights from United Arab Emirates to United States of America = 24
Flights from United States of America to United Arab Emirates = 24
Flights from United Arab Emirates to Uzbekistan = 2
Flights from Uzbekistan to United Arab Emirates = 2
Flights from United Arab Emirates to Viet Nam = 3
Flights from Viet Nam to United Arab Emirates = 3
Flights from United Arab Emirates to Yemen = 11
Flights from Yemen to United Arab Emirates = 12
Flights from United Arab Emirates to Zambia = 1
Flights from Zambia to United Arab Emirates = 1
Flights from United Kingdom of Great Britain and Northern Ireland to Albania = 1
Flights from Albania to United Kingdom of Great Britain and Northern Ireland = 2
Flights from United Kingdom of Great Britain and Northern Ireland to Algeria = 3
Flights from Algeria to United Kingdom of Great Britain and Northern Ireland = 6
Flights from United Kingdom of Great Britain and Northern Ireland to Angola = 1
Flights from Angola to United Kingdom of Great Britain and Northern Ireland = 3
Flights from United Kingdom of Great Britain and Northern Ireland to Antigua and Barbuda = 3
Flights from Antigua and Barbuda to United Kingdom of Great Britain and Northern Ireland = 6
Flights from United Kingdom of Great Britain and Northern Ireland to Argentina = 1
Flights from Argentina to United Kingdom of Great Britain and Northern Ireland = 2
Flights from United Kingdom of Great Britain and Northern Ireland to Austria = 11
Flights from Austria to United Kingdom of Great Britain and Northern Ireland = 22
Flights from United Kingdom of Great Britain and Northern Ireland to Azerbaijan = 2
Flights from Azerbaijan to United Kingdom of Great Britain and Northern Ireland = 4
Flights from United Kingdom of Great Britain and Northern Ireland to Bahamas = 1
Flights from Bahamas to United Kingdom of Great Britain and Northern Ireland = 2
Flights from United Kingdom of Great Britain and Northern Ireland to Bahrain = 4
Flights from Bahrain to United Kingdom of Great Britain and Northern Ireland = 8
Flights from United Kingdom of Great Britain and Northern Ireland to Bangladesh = 2
Flights from Bangladesh to United Kingdom of Great Britain and Northern Ireland = 3
Flights from United Kingdom of Great Britain and Northern Ireland to Barbados = 4
Flights from Barbados to United Kingdom of Great Britain and Northern Ireland = 9
Flights from United Kingdom of Great Britain and Northern Ireland to Belarus = 1
Flights from Belarus to United Kingdom of Great Britain and Northern Ireland = 2
Flights from United Kingdom of Great Britain and Northern Ireland to Belgium = 17
Flights from Belgium to United Kingdom of Great Britain and Northern Ireland = 34
Flights from United Kingdom of Great Britain and Northern Ireland to Bermuda = 2
Flights from Bermuda to United Kingdom of Great Britain and Northern Ireland = 4
Flights from United Kingdom of Great Britain and Northern Ireland to Brazil = 3
Flights from Brazil to United Kingdom of Great Britain and Northern Ireland = 6
Flights from United Kingdom of Great Britain and Northern Ireland to Bulgaria = 10
Flights from Bulgaria to United Kingdom of Great Britain and Northern Ireland = 20
Flights from United Kingdom of Great Britain and Northern Ireland to Canada = 42
Flights from Canada to United Kingdom of Great Britain and Northern Ireland = 83
Flights from United Kingdom of Great Britain and Northern Ireland to Cabo Verde = 9
Flights from Cabo Verde to United Kingdom of Great Britain and Northern Ireland = 18
Flights from United Kingdom of Great Britain and Northern Ireland to China = 11
Flights from China to United Kingdom of Great Britain and Northern Ireland = 22
Flights from United Kingdom of Great Britain and Northern Ireland to Croatia = 35
Flights from Croatia to United Kingdom of Great Britain and Northern Ireland = 70
Flights from United Kingdom of Great Britain and Northern Ireland to Cuba = 2
Flights from Cuba to United Kingdom of Great Britain and Northern Ireland = 4
Flights from United Kingdom of Great Britain and Northern Ireland to Cyprus = 55
Flights from Cyprus to United Kingdom of Great Britain and Northern Ireland = 105
Flights from United Kingdom of Great Britain and Northern Ireland to Czechia = 16
Flights from Czechia to United Kingdom of Great Britain and Northern Ireland = 32
Flights from United Kingdom of Great Britain and Northern Ireland to Denmark = 22
Flights from Denmark to United Kingdom of Great Britain and Northern Ireland = 44
Flights from United Kingdom of Great Britain and Northern Ireland to Dominican Republic = 3
Flights from Dominican Republic to United Kingdom of Great Britain and Northern Ireland = 4
Flights from United Kingdom of Great Britain and Northern Ireland to Egypt = 33
Flights from Egypt to United Kingdom of Great Britain and Northern Ireland = 67
Flights from United Kingdom of Great Britain and Northern Ireland to Estonia = 3
Flights from Estonia to United Kingdom of Great Britain and Northern Ireland = 6
Flights from United Kingdom of Great Britain and Northern Ireland to Ethiopia = 1
Flights from Ethiopia to United Kingdom of Great Britain and Northern Ireland = 2
Flights from United Kingdom of Great Britain and Northern Ireland to Finland = 9
Flights from Finland to United Kingdom of Great Britain and Northern Ireland = 18
Flights from United Kingdom of Great Britain and Northern Ireland to France = 158
Flights from France to United Kingdom of Great Britain and Northern Ireland = 315
Flights from United Kingdom of Great Britain and Northern Ireland to Germany = 103
Flights from Germany to United Kingdom of Great Britain and Northern Ireland = 206
Flights from United Kingdom of Great Britain and Northern Ireland to Ghana = 2
Flights from Ghana to United Kingdom of Great Britain and Northern Ireland = 4
Flights from United Kingdom of Great Britain and Northern Ireland to Gibraltar = 6
Flights from Gibraltar to United Kingdom of Great Britain and Northern Ireland = 12
Flights from United Kingdom of Great Britain and Northern Ireland to Greece = 105
Flights from Greece to United Kingdom of Great Britain and Northern Ireland = 200
Flights from United Kingdom of Great Britain and Northern Ireland to Guernsey = 11
Flights from Guernsey to United Kingdom of Great Britain and Northern Ireland = 22
Flights from United Kingdom of Great Britain and Northern Ireland to Hong Kong = 3
Flights from Hong Kong to United Kingdom of Great Britain and Northern Ireland = 6
Flights from United Kingdom of Great Britain and Northern Ireland to Hungary = 15
Flights from Hungary to United Kingdom of Great Britain and Northern Ireland = 30
Flights from United Kingdom of Great Britain and Northern Ireland to Iceland = 10
Flights from Iceland to United Kingdom of Great Britain and Northern Ireland = 20
Flights from United Kingdom of Great Britain and Northern Ireland to India = 15
Flights from India to United Kingdom of Great Britain and Northern Ireland = 30
Flights from United Kingdom of Great Britain and Northern Ireland to Iran (Islamic Republic of) = 1
Flights from Iran (Islamic Republic of) to United Kingdom of Great Britain and Northern Ireland = 2
Flights from United Kingdom of Great Britain and Northern Ireland to Ireland = 63
Flights from Ireland to United Kingdom of Great Britain and Northern Ireland = 126

Flights from United Kingdom of Great Britain and Northern Ireland to Isle of Man = 10
Flights from Isle of Man to United Kingdom of Great Britain and Northern Ireland = 20
Flights from United Kingdom of Great Britain and Northern Ireland to Israel = 6
Flights from Israel to United Kingdom of Great Britain and Northern Ireland = 12
Flights from United Kingdom of Great Britain and Northern Ireland to Italy = 141
Flights from Italy to United Kingdom of Great Britain and Northern Ireland = 282
Flights from United Kingdom of Great Britain and Northern Ireland to Jamaica = 4
Flights from Jamaica to United Kingdom of Great Britain and Northern Ireland = 7
Flights from United Kingdom of Great Britain and Northern Ireland to Japan = 8
Flights from Japan to United Kingdom of Great Britain and Northern Ireland = 16
Flights from United Kingdom of Great Britain and Northern Ireland to Jersey = 25
Flights from Jersey to United Kingdom of Great Britain and Northern Ireland = 50
Flights from United Kingdom of Great Britain and Northern Ireland to Jordan = 2
Flights from Jordan to United Kingdom of Great Britain and Northern Ireland = 4
Flights from United Kingdom of Great Britain and Northern Ireland to Kazakhstan = 3
Flights from Kazakhstan to United Kingdom of Great Britain and Northern Ireland = 6
Flights from United Kingdom of Great Britain and Northern Ireland to Kenya = 3
Flights from Kenya to United Kingdom of Great Britain and Northern Ireland = 6
Flights from United Kingdom of Great Britain and Northern Ireland to Kuwait = 3
Flights from Kuwait to United Kingdom of Great Britain and Northern Ireland = 6
Flights from United Kingdom of Great Britain and Northern Ireland to Latvia = 7
Flights from Latvia to United Kingdom of Great Britain and Northern Ireland = 14
Flights from United Kingdom of Great Britain and Northern Ireland to Lebanon = 3
Flights from Lebanon to United Kingdom of Great Britain and Northern Ireland = 5
Flights from United Kingdom of Great Britain and Northern Ireland to Libya = 3
Flights from Libya to United Kingdom of Great Britain and Northern Ireland = 6
Flights from United Kingdom of Great Britain and Northern Ireland to Lithuania = 10
Flights from Lithuania to United Kingdom of Great Britain and Northern Ireland = 20
Flights from United Kingdom of Great Britain and Northern Ireland to Luxembourg = 4
Flights from Luxembourg to United Kingdom of Great Britain and Northern Ireland = 8
Flights from United Kingdom of Great Britain and Northern Ireland to North Macedonia = 1
Flights from North Macedonia to United Kingdom of Great Britain and Northern Ireland = 2
Flights from United Kingdom of Great Britain and Northern Ireland to Malaysia = 2
Flights from Malaysia to United Kingdom of Great Britain and Northern Ireland = 4
Flights from United Kingdom of Great Britain and Northern Ireland to Maldives = 1
Flights from Maldives to United Kingdom of Great Britain and Northern Ireland = 2
Flights from United Kingdom of Great Britain and Northern Ireland to Malta = 28
Flights from Malta to United Kingdom of Great Britain and Northern Ireland = 56
Flights from United Kingdom of Great Britain and Northern Ireland to Mauritius = 4
Flights from Mauritius to United Kingdom of Great Britain and Northern Ireland = 7
Flights from United Kingdom of Great Britain and Northern Ireland to Mexico = 14
Flights from Mexico to United Kingdom of Great Britain and Northern Ireland = 26
Flights from United Kingdom of Great Britain and Northern Ireland to Moldova, Republic of = 1
Flights from Moldova, Republic of to United Kingdom of Great Britain and Northern Ireland = 2
Flights from United Kingdom of Great Britain and Northern Ireland to Montenegro = 2
Flights from Montenegro to United Kingdom of Great Britain and Northern Ireland = 4
Flights from United Kingdom of Great Britain and Northern Ireland to Morocco = 26
Flights from Morocco to United Kingdom of Great Britain and Northern Ireland = 52
Flights from United Kingdom of Great Britain and Northern Ireland to Netherlands = 53
Flights from Netherlands to United Kingdom of Great Britain and Northern Ireland = 107
Flights from United Kingdom of Great Britain and Northern Ireland to Nigeria = 4
Flights from Nigeria to United Kingdom of Great Britain and Northern Ireland = 8
Flights from United Kingdom of Great Britain and Northern Ireland to Norway = 42
Flights from Norway to United Kingdom of Great Britain and Northern Ireland = 84
Flights from United Kingdom of Great Britain and Northern Ireland to Oman = 1
Flights from Oman to United Kingdom of Great Britain and Northern Ireland = 2
Flights from United Kingdom of Great Britain and Northern Ireland to Pakistan = 7
Flights from Pakistan to United Kingdom of Great Britain and Northern Ireland = 14
Flights from United Kingdom of Great Britain and Northern Ireland to Philippines = 1
Flights from Philippines to United Kingdom of Great Britain and Northern Ireland = 2
Flights from United Kingdom of Great Britain and Northern Ireland to Poland = 67
Flights from Poland to United Kingdom of Great Britain and Northern Ireland = 134
Flights from United Kingdom of Great Britain and Northern Ireland to Portugal = 84
Flights from Portugal to United Kingdom of Great Britain and Northern Ireland = 166
Flights from United Kingdom of Great Britain and Northern Ireland to Qatar = 4
Flights from Qatar to United Kingdom of Great Britain and Northern Ireland = 8
Flights from United Kingdom of Great Britain and Northern Ireland to Romania = 11
Flights from Romania to United Kingdom of Great Britain and Northern Ireland = 22
Flights from United Kingdom of Great Britain and Northern Ireland to Russian Federation = 8
Flights from Russian Federation to United Kingdom of Great Britain and Northern Ireland = 16
Flights from United Kingdom of Great Britain and Northern Ireland to Saint Lucia = 4
Flights from Saint Lucia to United Kingdom of Great Britain and Northern Ireland = 7
Flights from United Kingdom of Great Britain and Northern Ireland to Saudi Arabia = 8
Flights from Saudi Arabia to United Kingdom of Great Britain and Northern Ireland = 15
Flights from United Kingdom of Great Britain and Northern Ireland to Serbia = 3
Flights from Serbia to United Kingdom of Great Britain and Northern Ireland = 7
Flights from United Kingdom of Great Britain and Northern Ireland to Sierra Leone = 2
Flights from Sierra Leone to United Kingdom of Great Britain and Northern Ireland = 4
Flights from United Kingdom of Great Britain and Northern Ireland to Singapore = 4
Flights from Singapore to United Kingdom of Great Britain and Northern Ireland = 8
Flights from United Kingdom of Great Britain and Northern Ireland to Slovakia = 6
Flights from Slovakia to United Kingdom of Great Britain and Northern Ireland = 12
Flights from United Kingdom of Great Britain and Northern Ireland to Slovenia = 2
Flights from Slovenia to United Kingdom of Great Britain and Northern Ireland = 4
Flights from United Kingdom of Great Britain and Northern Ireland to South Africa = 8
Flights from South Africa to United Kingdom of Great Britain and Northern Ireland = 17
Flights from United Kingdom of Great Britain and Northern Ireland to Korea, Republic of = 3
Flights from Korea, Republic of to United Kingdom of Great Britain and Northern Ireland = 6
Flights from United Kingdom of Great Britain and Northern Ireland to Spain = 518
Flights from Spain to United Kingdom of Great Britain and Northern Ireland = 1030
Flights from United Kingdom of Great Britain and Northern Ireland to Sri Lanka = 1
Flights from Sri Lanka to United Kingdom of Great Britain and Northern Ireland = 2
Flights from United Kingdom of Great Britain and Northern Ireland to Sweden = 27
Flights from Sweden to United Kingdom of Great Britain and Northern Ireland = 54
Flights from United Kingdom of Great Britain and Northern Ireland to Switzerland = 24
Flights from Switzerland to United Kingdom of Great Britain and Northern Ireland = 48
Flights from United Kingdom of Great Britain and Northern Ireland to Thailand = 4
Flights from Thailand to United Kingdom of Great Britain and Northern Ireland = 8
Flights from United Kingdom of Great Britain and Northern Ireland to Trinidad and Tobago = 1
Flights from Trinidad and Tobago to United Kingdom of Great Britain and Northern Ireland = 2
Flights from United Kingdom of Great Britain and Northern Ireland to Tunisia = 22
Flights from Tunisia to United Kingdom of Great Britain and Northern Ireland = 44
Flights from United Kingdom of Great Britain and Northern Ireland to Turkey = 91
Flights from Turkey to United Kingdom of Great Britain and Northern Ireland = 180
Flights from United Kingdom of Great Britain and Northern Ireland to Turkmenistan = 2
Flights from Turkmenistan to United Kingdom of Great Britain and Northern Ireland = 4
Flights from United Kingdom of Great Britain and Northern Ireland to Uganda = 2
Flights from Uganda to United Kingdom of Great Britain and Northern Ireland = 4
Flights from United Kingdom of Great Britain and Northern Ireland to Ukraine = 3
Flights from Ukraine to United Kingdom of Great Britain and Northern Ireland = 6
Flights from United Kingdom of Great Britain and Northern Ireland to United Arab Emirates = 21
Flights from United Arab Emirates to United Kingdom of Great Britain and Northern Ireland = 43
Flights from United Kingdom of Great Britain and Northern Ireland to United States of America = 203
Flights from United States of America to United Kingdom of Great Britain and Northern Ireland = 207
Flights from United Kingdom of Great Britain and Northern Ireland to Uzbekistan = 1
Flights from Uzbekistan to United Kingdom of Great Britain and Northern Ireland = 1
Flights from United States of America to American Samoa = 1
Flights from American Samoa to United States of America = 2
Flights from United States of America to Antigua and Barbuda = 7
Flights from Antigua and Barbuda to United States of America = 14
Flights from United States of America to Argentina = 10
Flights from Argentina to United States of America = 20
Flights from United States of America to Aruba = 21
Flights from Aruba to United States of America = 42
Flights from United States of America to Australia = 26
Flights from Australia to United States of America = 52
Flights from United States of America to Austria = 6
Flights from Austria to United States of America = 12
Flights from United States of America to Bahamas = 72
Flights from Bahamas to United States of America = 144
Flights from United States of America to Barbados = 3
Flights from Barbados to United States of America = 6
Flights from United States of America to Belgium = 21
Flights from Belgium to United States of America = 42
Flights from United States of America to Belize = 10
Flights from Belize to United States of America = 20
Flights from United States of America to Bermuda = 11
Flights from Bermuda to United States of America = 22
Flights from United States of America to Bolivia = 2
Flights from Bolivia to United States of America = 4
Flights from United States of America to Brazil = 57
Flights from Brazil to United States of America = 115
Flights from United States of America to Canada = 364
Flights from Canada to United States of America = 727
Flights from United States of America to Cabo Verde = 1
Flights from Cabo Verde to United States of America = 2
Flights from United States of America to Cayman Islands = 17
Flights from Cayman Islands to United States of America = 33
Flights from United States of America to Chile = 10
Flights from Chile to United States of America = 20
Flights from United States of America to China = 59
Flights from China to United States of America = 117
Flights from United States of America to Colombia = 49
Flights from Colombia to United States of America = 98
Flights from United States of America to Cook Islands = 2
Flights from Cook Islands to United States of America = 4
Flights from United States of America to Costa Rica = 34
Flights from Costa Rica to United States of America = 70
Flights from United States of America to Denmark = 7
Flights from Denmark to United States of America = 14
Flights from United States of America to Dominican Republic = 61
Flights from Dominican Republic to United States of America = 122
Flights from United States of America to Ecuador = 8
Flights from Ecuador to United States of America = 16
Flights from United States of America to Egypt = 2
Flights from Egypt to United States of America = 4
Flights from United States of America to El Salvador = 28
Flights from El Salvador to United States of America = 57
Flights from United States of America to Fiji = 6
Flights from Fiji to United States of America = 12
Flights from United States of America to Finland = 4
Flights from Finland to United States of America = 8
Flights from United States of America to France = 89
Flights from France to United States of America = 180
Flights from United States of America to French Polynesia = 7
Flights from French Polynesia to United States of America = 14
Flights from United States of America to Germany = 114
Flights from Germany to United States of America = 229
Flights from United States of America to Ghana = 1
Flights from Ghana to United States of America = 2
Flights from United States of America to Greece = 3
Flights from Greece to United States of America = 6
Flights from United States of America to Grenada = 4

Flights from Grenada to United States of America = 8
Flights from United States of America to Guadeloupe = 2
Flights from Guadeloupe to United States of America = 4
Flights from United States of America to Guam = 1
Flights from Guam to United States of America = 2
Flights from United States of America to Guatemala = 17
Flights from Guatemala to United States of America = 34
Flights from United States of America to Guyana = 2
Flights from Guyana to United States of America = 4
Flights from United States of America to Haiti = 13
Flights from Haiti to United States of America = 26
Flights from United States of America to Honduras = 19
Flights from Honduras to United States of America = 38
Flights from United States of America to Hong Kong = 16
Flights from Hong Kong to United States of America = 32
Flights from United States of America to Iceland = 7
Flights from Iceland to United States of America = 14
Flights from United States of America to India = 5
Flights from India to United States of America = 10
Flights from United States of America to Ireland = 35
Flights from Ireland to United States of America = 70
Flights from United States of America to Israel = 7
Flights from Israel to United States of America = 14
Flights from United States of America to Italy = 53
Flights from Italy to United States of America = 106
Flights from United States of America to Jamaica = 40
Flights from Jamaica to United States of America = 81
Flights from United States of America to Japan = 80
Flights from Japan to United States of America = 158
Flights from United States of America to Jordan = 6
Flights from Jordan to United States of America = 12
Flights from United States of America to Kiribati = 2
Flights from Kiribati to United States of America = 4
Flights from United States of America to Kuwait = 2
Flights from Kuwait to United States of America = 4
Flights from United States of America to Latvia = 1
Flights from Latvia to United States of America = 2
Flights from United States of America to Marshall Islands = 1
Flights from Marshall Islands to United States of America = 2
Flights from United States of America to Martinique = 2
Flights from Martinique to United States of America = 4
Flights from United States of America to Mexico = 369
Flights from Mexico to United States of America = 742
Flights from United States of America to Morocco = 1
Flights from Morocco to United States of America = 2
Flights from United States of America to Netherlands = 39
Flights from Netherlands to United States of America = 78
Flights from United States of America to Netherlands Antilles = 24
Flights from Netherlands Antilles to United States of America = 47
Flights from United States of America to New Zealand = 10
Flights from New Zealand to United States of America = 14
Flights from United States of America to Nicaragua = 6
Flights from Nicaragua to United States of America = 12
Flights from United States of America to Nigeria = 3
Flights from Nigeria to United States of America = 6
Flights from United States of America to Norway = 5
Flights from Norway to United States of America = 10
Flights from United States of America to Panama = 29
Flights from Panama to United States of America = 59
Flights from United States of America to Paraguay = 2
Flights from Paraguay to United States of America = 4
Flights from United States of America to Peru = 21
Flights from Peru to United States of America = 42
Flights from United States of America to Philippines = 3
Flights from Philippines to United States of America = 6
Flights from United States of America to Poland = 2
Flights from Poland to United States of America = 4
Flights from United States of America to Portugal = 14
Flights from Portugal to United States of America = 28
Flights from United States of America to Puerto Rico = 53
Flights from Puerto Rico to United States of America = 106
Flights from United States of America to Qatar = 11
Flights from Qatar to United States of America = 22
Flights from United States of America to Russian Federation = 13
Flights from Russian Federation to United States of America = 26
Flights from United States of America to Saint Kitts and Nevis = 3
Flights from Saint Kitts and Nevis to United States of America = 5
Flights from United States of America to Saint Lucia = 7
Flights from Saint Lucia to United States of America = 14
Flights from United States of America to Samoa = 1
Flights from Samoa to United States of America = 2
Flights from United States of America to Saudi Arabia = 5
Flights from Saudi Arabia to United States of America = 10
Flights from United States of America to Senegal = 4
Flights from Senegal to United States of America = 8
Flights from United States of America to South Africa = 5
Flights from South Africa to United States of America = 10
Flights from United States of America to Korea, Republic of = 39
Flights from Korea, Republic of to United States of America = 78
Flights from United States of America to Spain = 57
Flights from Spain to United States of America = 114
Flights from United States of America to Sweden = 7
Flights from Sweden to United States of America = 14
Flights from United States of America to Switzerland = 29
Flights from Switzerland to United States of America = 58
Flights from United States of America to Taiwan = 14
Flights from Taiwan to United States of America = 28
Flights from United States of America to Trinidad and Tobago = 11
Flights from Trinidad and Tobago to United States of America = 22
Flights from United States of America to Turkey = 10
Flights from Turkey to United States of America = 20
Flights from United States of America to Turks and Caicos Islands = 14
Flights from Turks and Caicos Islands to United States of America = 28
Flights from United States of America to Ukraine = 1
Flights from Ukraine to United States of America = 2
Flights from United States of America to United Arab Emirates = 24
Flights from United Arab Emirates to United States of America = 48
Flights from United States of America to United Kingdom of Great Britain and Northern Ireland = 207
Flights from United Kingdom of Great Britain and Northern Ireland to United States of America = 410
Flights from United States of America to Uruguay = 2
Flights from Uruguay to United States of America = 2
Flights from United States of America to Venezuela (Bolivarian Republic of) = 9
Flights from Venezuela (Bolivarian Republic of) to United States of America = 9
Flights from United States of America to Virgin Islands (British) = 19
Flights from Virgin Islands (British) to United States of America = 20
Flights from Uruguay to Argentina = 9
Flights from Argentina to Uruguay = 18
Flights from Uruguay to Brazil = 9
Flights from Brazil to Uruguay = 18
Flights from Uruguay to Chile = 2
Flights from Chile to Uruguay = 4
Flights from Uruguay to Panama = 1
Flights from Panama to Uruguay = 2
Flights from Uruguay to Paraguay = 1
Flights from Paraguay to Uruguay = 2
Flights from Uruguay to Peru = 1
Flights from Peru to Uruguay = 2
Flights from Uruguay to Spain = 1
Flights from Spain to Uruguay = 2
Flights from Uruguay to United States of America = 2
Flights from United States of America to Uruguay = 4
Flights from Uzbekistan to Azerbaijan = 1
Flights from Azerbaijan to Uzbekistan = 2
Flights from Uzbekistan to China = 4
Flights from China to Uzbekistan = 8
Flights from Uzbekistan to Czechia = 2
Flights from Czechia to Uzbekistan = 3
Flights from Uzbekistan to France = 1
Flights from France to Uzbekistan = 3
Flights from Uzbekistan to Germany = 1
Flights from Germany to Uzbekistan = 2
Flights from Uzbekistan to India = 2
Flights from India to Uzbekistan = 4
Flights from Uzbekistan to Iran (Islamic Republic of) = 1
Flights from Iran (Islamic Republic of) to Uzbekistan = 2
Flights from Uzbekistan to Israel = 1
Flights from Israel to Uzbekistan = 2
Flights from Uzbekistan to Italy = 2
Flights from Italy to Uzbekistan = 4
Flights from Uzbekistan to Japan = 1
Flights from Japan to Uzbekistan = 2
Flights from Uzbekistan to Kazakhstan = 4
Flights from Kazakhstan to Uzbekistan = 8
Flights from Uzbekistan to Kyrgyzstan = 2
Flights from Kyrgyzstan to Uzbekistan = 4
Flights from Uzbekistan to Latvia = 2
Flights from Latvia to Uzbekistan = 4
Flights from Uzbekistan to Malaysia = 2
Flights from Malaysia to Uzbekistan = 4
Flights from Uzbekistan to Russian Federation = 82
Flights from Russian Federation to Uzbekistan = 163
Flights from Uzbekistan to Singapore = 2
Flights from Singapore to Uzbekistan = 4
Flights from Uzbekistan to Korea, Republic of = 3
Flights from Korea, Republic of to Uzbekistan = 6
Flights from Uzbekistan to Thailand = 1
Flights from Thailand to Uzbekistan = 2
Flights from Uzbekistan to Turkey = 2
Flights from Turkey to Uzbekistan = 4
Flights from Uzbekistan to Ukraine = 1
Flights from Ukraine to Uzbekistan = 2
Flights from Uzbekistan to United Arab Emirates = 2
Flights from United Arab Emirates to Uzbekistan = 4
Flights from Uzbekistan to United Kingdom of Great Britain and Northern Ireland = 1
Flights from United Kingdom of Great Britain and Northern Ireland to Uzbekistan = 2
Flights from Vanuatu to Australia = 7

Flights from Australia to Vanuatu = 14
Flights from Vanuatu to Fiji = 2
Flights from Fiji to Vanuatu = 4
Flights from Vanuatu to New Caledonia = 2
Flights from New Caledonia to Vanuatu = 4
Flights from Vanuatu to New Zealand = 2
Flights from New Zealand to Vanuatu = 4
Flights from Vanuatu to Solomon Islands = 3
Flights from Solomon Islands to Vanuatu = 6
Flights from Venezuela (Bolivarian Republic of) to Argentina = 2
Flights from Argentina to Venezuela (Bolivarian Republic of) = 4
Flights from Venezuela (Bolivarian Republic of) to Aruba = 11
Flights from Aruba to Venezuela (Bolivarian Republic of) = 22
Flights from Venezuela (Bolivarian Republic of) to Brazil = 3
Flights from Brazil to Venezuela (Bolivarian Republic of) = 6
Flights from Venezuela (Bolivarian Republic of) to Chile = 1
Flights from Chile to Venezuela (Bolivarian Republic of) = 2
Flights from Venezuela (Bolivarian Republic of) to Colombia = 5
Flights from Colombia to Venezuela (Bolivarian Republic of) = 10
Flights from Venezuela (Bolivarian Republic of) to Cuba = 3
Flights from Cuba to Venezuela (Bolivarian Republic of) = 6
Flights from Venezuela (Bolivarian Republic of) to Dominican Republic = 1
Flights from Dominican Republic to Venezuela (Bolivarian Republic of) = 2
Flights from Venezuela (Bolivarian Republic of) to Ecuador = 1
Flights from Ecuador to Venezuela (Bolivarian Republic of) = 2
Flights from Venezuela (Bolivarian Republic of) to France = 1
Flights from France to Venezuela (Bolivarian Republic of) = 2
Flights from Venezuela (Bolivarian Republic of) to Germany = 1
Flights from Germany to Venezuela (Bolivarian Republic of) = 2
Flights from Venezuela (Bolivarian Republic of) to Grenada = 1
Flights from Grenada to Venezuela (Bolivarian Republic of) = 2
Flights from Venezuela (Bolivarian Republic of) to Guyana = 1
Flights from Guyana to Venezuela (Bolivarian Republic of) = 2
Flights from Venezuela (Bolivarian Republic of) to Italy = 1
Flights from Italy to Venezuela (Bolivarian Republic of) = 2
Flights from Venezuela (Bolivarian Republic of) to Mexico = 1
Flights from Mexico to Venezuela (Bolivarian Republic of) = 2
Flights from Venezuela (Bolivarian Republic of) to Netherlands Antilles = 6
Flights from Netherlands Antilles to Venezuela (Bolivarian Republic of) = 12
Flights from Venezuela (Bolivarian Republic of) to Panama = 6
Flights from Panama to Venezuela (Bolivarian Republic of) = 12
Flights from Venezuela (Bolivarian Republic of) to Peru = 2
Flights from Peru to Venezuela (Bolivarian Republic of) = 4
Flights from Venezuela (Bolivarian Republic of) to Portugal = 3
Flights from Portugal to Venezuela (Bolivarian Republic of) = 6
Flights from Venezuela (Bolivarian Republic of) to Puerto Rico = 1
Flights from Puerto Rico to Venezuela (Bolivarian Republic of) = 2
Flights from Venezuela (Bolivarian Republic of) to Spain = 4
Flights from Spain to Venezuela (Bolivarian Republic of) = 8
Flights from Venezuela (Bolivarian Republic of) to Trinidad and Tobago = 2
Flights from Trinidad and Tobago to Venezuela (Bolivarian Republic of) = 4
Flights from Venezuela (Bolivarian Republic of) to United States of America = 9
Flights from United States of America to Venezuela (Bolivarian Republic of) = 18
Flights from Viet Nam to Australia = 4
Flights from Australia to Viet Nam = 8
Flights from Viet Nam to Myanmar = 2
Flights from Myanmar to Viet Nam = 4
Flights from Viet Nam to Cambodia = 14
Flights from Cambodia to Viet Nam = 28
Flights from Viet Nam to China = 23
Flights from China to Viet Nam = 46
Flights from Viet Nam to France = 6
Flights from France to Viet Nam = 12
Flights from Viet Nam to Germany = 4
Flights from Germany to Viet Nam = 8
Flights from Viet Nam to Hong Kong = 10
Flights from Hong Kong to Viet Nam = 20
Flights from Viet Nam to Indonesia = 1
Flights from Indonesia to Viet Nam = 2
Flights from Viet Nam to Japan = 20
Flights from Japan to Viet Nam = 40
Flights from Viet Nam to Kazakhstan = 1
Flights from Kazakhstan to Viet Nam = 2
Flights from Viet Nam to Lao People's Democratic Republic = 6
Flights from Lao People's Democratic Republic to Viet Nam = 12
Flights from Viet Nam to Macao = 2
Flights from Macao to Viet Nam = 4
Flights from Viet Nam to Malaysia = 6
Flights from Malaysia to Viet Nam = 12
Flights from Viet Nam to Philippines = 4
Flights from Philippines to Viet Nam = 8
Flights from Viet Nam to Qatar = 1
Flights from Qatar to Viet Nam = 2
Flights from Viet Nam to Russian Federation = 6
Flights from Russian Federation to Viet Nam = 12
Flights from Viet Nam to Singapore = 12
Flights from Singapore to Viet Nam = 24
Flights from Viet Nam to Korea, Republic of = 13
Flights from Korea, Republic of to Viet Nam = 26
Flights from Viet Nam to Taiwan = 13
Flights from Taiwan to Viet Nam = 26
Flights from Viet Nam to Thailand = 10
Flights from Thailand to Viet Nam = 20
Flights from Viet Nam to United Arab Emirates = 3
Flights from United Arab Emirates to Viet Nam = 6
Flights from Virgin Islands (British) to Anguilla = 1
Flights from Anguilla to Virgin Islands (British) = 2
Flights from Virgin Islands (British) to Dominica = 1
Flights from Dominica to Virgin Islands (British) = 6
Flights from Virgin Islands (British) to France = 1
Flights from France to Virgin Islands (British) = 2
Flights from Virgin Islands (British) to Netherlands Antilles = 3
Flights from Netherlands Antilles to Virgin Islands (British) = 12
Flights from Virgin Islands (British) to Puerto Rico = 9
Flights from Puerto Rico to Virgin Islands (British) = 20
Flights from Virgin Islands (British) to United States of America = 20
Flights from United States of America to Virgin Islands (British) = 39
Flights from Wallis and Futuna to Fiji = 1
Flights from Fiji to Wallis and Futuna = 2
Flights from Wallis and Futuna to New Caledonia = 1
Flights from New Caledonia to Wallis and Futuna = 2
Flights from Western Sahara to Morocco = 4
Flights from Morocco to Western Sahara = 8
Flights from Western Sahara to Spain = 3
Flights from Spain to Western Sahara = 6
Flights from Yemen to Bahrain = 2
Flights from Bahrain to Yemen = 4
Flights from Yemen to Djibouti = 2
Flights from Djibouti to Yemen = 5
Flights from Yemen to Egypt = 6
Flights from Egypt to Yemen = 11
Flights from Yemen to Eritrea = 2
Flights from Eritrea to Yemen = 4
Flights from Yemen to Ethiopia = 1
Flights from Ethiopia to Yemen = 2
Flights from Yemen to India = 1
Flights from India to Yemen = 3
Flights from Yemen to Jordan = 5
Flights from Jordan to Yemen = 10
Flights from Yemen to Kenya = 1
Flights from Kenya to Yemen = 2
Flights from Yemen to Kuwait = 3
Flights from Kuwait to Yemen = 4
Flights from Yemen to Lebanon = 1
Flights from Lebanon to Yemen = 2
Flights from Yemen to Qatar = 2
Flights from Qatar to Yemen = 5
Flights from Yemen to Saudi Arabia = 16
Flights from Saudi Arabia to Yemen = 31
Flights from Yemen to Somalia = 2
Flights from Somalia to Yemen = 3
Flights from Yemen to Sudan = 1
Flights from Sudan to Yemen = 2
Flights from Yemen to Turkey = 1
Flights from Turkey to Yemen = 2
Flights from Yemen to United Arab Emirates = 12
Flights from United Arab Emirates to Yemen = 23
Flights from Zambia to Botswana = 1
Flights from Botswana to Zambia = 2
Flights from Zambia to Congo, Democratic Republic of the = 2
Flights from Congo, Democratic Republic of the to Zambia = 5
Flights from Zambia to Ethiopia = 2
Flights from Ethiopia to Zambia = 3
Flights from Zambia to Kenya = 6
Flights from Kenya to Zambia = 15
Flights from Zambia to Malawi = 6
Flights from Malawi to Zambia = 11
Flights from Zambia to Namibia = 2
Flights from Namibia to Zambia = 4
Flights from Zambia to South Africa = 7
Flights from South Africa to Zambia = 14
Flights from Zambia to United Arab Emirates = 1
Flights from United Arab Emirates to Zambia = 2
Flights from Zambia to Zimbabwe = 10
Flights from Zimbabwe to Zambia = 11
Flights from Zimbabwe to Botswana = 2
Flights from Botswana to Zimbabwe = 4
Flights from Zimbabwe to Ethiopia = 2
Flights from Ethiopia to Zimbabwe = 6
Flights from Zimbabwe to Kenya = 3
Flights from Kenya to Zimbabwe = 6
Flights from Zimbabwe to Malawi = 1
Flights from Malawi to Zimbabwe = 2
Flights from Zimbabwe to Namibia = 2
Flights from Namibia to Zimbabwe = 4
Flights from Zimbabwe to South Africa = 9

Flights from South Africa to Zimbabwe = 18
Flights from Zimbabwe to Tanzania, United Republic of = 1
Flights from Tanzania, United Republic of to Zimbabwe = 2
Flights from Zimbabwe to Zambia = 11
Flights from Zambia to Zimbabwe = 21

                           src                         trg  weighted
0                  Afghanistan                  Azerbaijan         2
1                  Afghanistan                       India        14
2                  Afghanistan  Iran (Islamic Republic of)        10
3                  Afghanistan                      Kuwait         2
4                  Afghanistan                    Pakistan         8
...                        ...                         ...       ...
4515  Virgin Islands (British)        Netherlands Antilles        15
4516  Virgin Islands (British)                 Puerto Rico        29
4539                    Zambia                      Angola         1
4546                    Zambia                 Netherlands         3
4549                    Zambia                    Zimbabwe        21

[2319 rows x 3 columns]

In [55]:
import pandas as pd
from sklearn import preprocessing

# creating log_weighted flights
flt["log-weight"] = np.log(flt["weighted"])

#creating normalized log-weighted flights column

#returns a numpy array
x = flt[["log-weight"]].values.astype(float) 
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
flt['norm-log-weight'] = pd.DataFrame(x_scaled)
flt

,src,trg,weighted,log-weight,norm-log-weight
0,Afghanistan,Azerbaijan,2,0.693147,0.099916
1,Afghanistan,India,14,2.639057,0.380415
2,Afghanistan,Iran (Islamic Republic of),10,2.302585,0.331913
3,Afghanistan,Kuwait,2,0.693147,0.099916
4,Afghanistan,Pakistan,8,2.079442,0.299747
...,...,...,...,...,...
4515,Virgin Islands (British),Netherlands Antilles,15,2.708050,NaN
4516,Virgin Islands (British),Puerto Rico,29,3.367296,NaN
4539,Zambia,Angola,1,0.000000,NaN
4546,Zambia,Netherlands,3,1.098612,NaN
4549,Zambia,Zimbabwe,21,3.044522,NaN

In [19]:
#Countries with no flights:
no_fly = ['Andorra',
  'Antarctica',
  'Bonaire, Sint Eustatius and Saba',
  'Bouvet Island',
  'British Indian Ocean Territory',
  'CuraÃ§ao',
  'Eswatini',
  'French Southern Territories',
  'Heard Island and McDonald Islands',
  'Holy See',
  'Kosovo',
  'Liechtenstein',
  'Monaco',
  'Montserrat',
  'Netherlands Antilles',
  'Palestine, State of',
  'Pitcairn',
  'Saint BarthÃ©lemy',
  'Saint Helena, Ascension and Tristan da Cunha',
  'Saint Martin (French part)',
  'San Marino',
  'Sint Maarten (Dutch part)',
  'South Georgia and the South Sandwich Islands',
  'Svalbard and Jan Mayen',
  'Syrian Arab Republic',
  'Timor-Leste',
  'Tokelau',
  'United States Minor Outlying Islands',
  'Virgin Islands (U.S.)',
  'Ã…land Islands']

def no_air(no_flights, df):
    for e in no_flights:
        indexNames1 = df[df['src'] == e ].index
        indexNames2 = df[df['trg'] == e ].index
        df.drop(indexNames1 , inplace=True)
        df.drop(indexNames2 , inplace=True)
    return df

prt = no_air(no_fly, prt)
to_be_changed(set(prt['src']).union(set(prt['trg'])), set(flt['src']).union(set(flt['trg'])))

(['Netherlands Antilles'], [])

In [20]:
# verifying prt integrity
prt

             src                         trg iso_code_src  region
0    Afghanistan                       China          AFG    Asia
1    Afghanistan  Iran (Islamic Republic of)          AFG    Asia
2    Afghanistan                    Pakistan          AFG    Asia
3    Afghanistan                  Tajikistan          AFG    Asia
4    Afghanistan                Turkmenistan          AFG    Asia
..           ...                         ...          ...     ...
791       Zambia                    Zimbabwe          ZMB  Africa
792     Zimbabwe                    Botswana          ZWE  Africa
793     Zimbabwe                  Mozambique          ZWE  Africa
794     Zimbabwe                South Africa          ZWE  Africa
795     Zimbabwe                      Zambia          ZWE  Africa

[722 rows x 4 columns]

# ISO NAMING

In [21]:
# Creating a dict of ISOs [keys] and src [values]

def create_dicts_from_df(df, col1, col2):
    d = {}
    i_d = {}
    for index, row in df.iterrows():
        if row[col1] in d:
            #key already in dict 1"
            pass
        
        if row[col2] in i_d:
            #key already in dict 2"
            pass
        
        else:
            d[row[col1]] = row[col2]
            i_d[row[col2]] = row[col1]
    
    return d, i_d

di_src, swapped_d = create_dicts_from_df(prt, "iso_code_src", "src")

In [22]:
# Manually adding NaN ISO Codes
di_src.update({"WSM":'Samoa',"KNA":'Saint Kitts and Nevis', "ANT": "Netherlands Antilles"}, ignore_index=True)
swapped_d.update({"Samoa":'WSM','Saint Kitts and Nevis':"KNA", "Netherlands Antilles": "ANT"}, ignore_index=True)

In [23]:
#Filling ISO_CODES_TRG from trg and a dict


def replace_df_values_w_dic(df, col1, col2, i_d):
    #new_df = df.copy(deep=True)
    nan_dict = {}    
    for index, row in df.iterrows():

        if row[col1] in i_d:
            #at method avoids running into problems when modifying the df and iterrows https://stackoverflow.com/questions/13842088/set-value-for-particular-cell-in-pandas-dataframe-using-index
            df.at[index,col2] = i_d[row[col1]]
        else:
            #print("NaN Alert with {}".format(df[col2][index]))
            if df[col2][index] in nan_dict:
                pass
            else:
                nan_dict[df[col2][index]] = "?"
            df.at[index,col2] = np.nan
    if nan_dict != {}:
        print("NaN Alert")
    return df, nan_dict

#careful as the value call is inverse in this function
prt, nan_d = replace_df_values_w_dic(prt, "src", "iso_code_src", swapped_d)
prt, nan_d = replace_df_values_w_dic(prt, "trg", "iso_code_trg", swapped_d)

In [24]:
#verifying that there are non nan's. 

nan_df = prt[prt.isna().any(axis=1)]
nan_df

Empty DataFrame
Columns: [src, trg, iso_code_src, region, iso_code_trg]
Index: []

In [25]:
if 'Unnamed: 0' in prt.columns:
    prt = prt.drop(["Unnamed: 0"],axis=1)
prt

             src                         trg iso_code_src  region iso_code_trg
0    Afghanistan                       China          AFG    Asia          CHN
1    Afghanistan  Iran (Islamic Republic of)          AFG    Asia          IRN
2    Afghanistan                    Pakistan          AFG    Asia          PAK
3    Afghanistan                  Tajikistan          AFG    Asia          TJK
4    Afghanistan                Turkmenistan          AFG    Asia          TKM
..           ...                         ...          ...     ...          ...
791       Zambia                    Zimbabwe          ZMB  Africa          ZWE
792     Zimbabwe                    Botswana          ZWE  Africa          BWA
793     Zimbabwe                  Mozambique          ZWE  Africa          MOZ
794     Zimbabwe                South Africa          ZWE  Africa          ZAF
795     Zimbabwe                      Zambia          ZWE  Africa          ZMB

[722 rows x 5 columns]

In [26]:
# FIXING EAST TIMOR ERROR
prt.loc[prt['iso_code_src'] == 'TL']
prt['iso_code_src'] = prt['iso_code_src'].replace(['TL'],'TLS')
prt['iso_code_trg'] = prt['iso_code_trg'].replace(['TL'],'TLS')

prt.loc[prt['trg'] == 'East Timor']

           src         trg iso_code_src region iso_code_trg
343  Indonesia  East Timor          IDN   Asia          TLS

In [27]:
flt

,src,trg,weighted,log-weight,norm-log-weight
0,Afghanistan,Azerbaijan,2,0.693147,0.099916
1,Afghanistan,India,14,2.639057,0.380415
2,Afghanistan,Iran (Islamic Republic of),10,2.302585,0.331913
3,Afghanistan,Kuwait,2,0.693147,0.099916
4,Afghanistan,Pakistan,8,2.079442,0.299747
...,...,...,...,...,...
4515,Virgin Islands (British),Netherlands Antilles,15,2.708050,NaN
4516,Virgin Islands (British),Puerto Rico,29,3.367296,NaN
4539,Zambia,Angola,1,0.000000,NaN
4546,Zambia,Netherlands,3,1.098612,NaN
4549,Zambia,Zimbabwe,21,3.044522,NaN

In [28]:
prt.loc[prt['trg'] == 'Netherlands Antilles']

Empty DataFrame
Columns: [src, trg, iso_code_src, region, iso_code_trg]
Index: []

In [29]:
#ISO Naming

#we drop target to avoid conflict on merge, only interested on src and iso code's to join with flt_u
prt_named = prt.copy()

di_src.update({"WSM":'Samoa',"KNA":'Saint Kitts and Nevis', "ANT": "Netherlands Antilles"}, ignore_index=True)
swapped_d.update({"Samoa":'WSM','Saint Kitts and Nevis':"KNA", "Netherlands Antilles": "ANT"}, ignore_index=True)

antilles = {"src": "Netherlands Antilles", "trg": "Netherlands Antilles", "iso_code_src": "ANT", "iso_code_trg": "ANT", "region":"Americas"}
samoa = {"src": "Samoa", "trg": "Samoa", "iso_code_src": "WSM", "iso_code_trg": "WSM", "region": "Oceania"}
skn = {"src": "Saint Kitts and Nevis", "trg": "Saint Kitts and Nevis", "iso_code_src": "KNA", "iso_code_trg": "KNA", "region":"Americas"}

prt_named = prt_named.append(antilles, ignore_index = True)
prt_named = prt_named.append(samoa, ignore_index = True)
prt_named = prt_named.append(skn, ignore_index = True)

#merging SRC and TRG and then splitting it again to avoid nans. Dropping regions for now, may come back to it later. 
prt_src_named = prt_named.drop(["trg", "iso_code_trg", "region"], axis=1).rename(columns={"src":"abc", "iso_code_src": "iso_code_gen"})
prt_trg_named = prt_named.drop(["src", "iso_code_src", "region"], axis=1).rename(columns={"trg":"abc", "iso_code_trg": "iso_code_gen"})

prt_merged = prt_src_named.append(prt_trg_named).drop_duplicates(subset=['abc', 'iso_code_gen'],keep="first")
prt_merged

prt_src = prt_merged.rename(columns={"abc":"src", "iso_code_gen": "iso_code_src"})
prt_trg = prt_merged.rename(columns={"abc":"trg", "iso_code_gen": "iso_code_trg"})

In [30]:
prt_src.loc[prt_src['src'] == "Netherlands Antilles"]

                      src iso_code_src
722  Netherlands Antilles          ANT

In [31]:
prt_src

                       src iso_code_src
0              Afghanistan          AFG
6                  Albania          ALB
9                  Algeria          DZA
16          American Samoa          ASM
19                  Angola          AGO
..                     ...          ...
710                 Zambia          ZMB
718               Zimbabwe          ZWE
722   Netherlands Antilles          ANT
723                  Samoa          WSM
724  Saint Kitts and Nevis          KNA

[224 rows x 2 columns]

In [32]:
prt_trg

                       trg iso_code_trg
0              Afghanistan          AFG
6                  Albania          ALB
9                  Algeria          DZA
16          American Samoa          ASM
19                  Angola          AGO
..                     ...          ...
710                 Zambia          ZMB
718               Zimbabwe          ZWE
722   Netherlands Antilles          ANT
723                  Samoa          WSM
724  Saint Kitts and Nevis          KNA

[224 rows x 2 columns]

In [33]:
def iso_fill(df1,df2,where, method):
    df3=pd.merge(df1,df2, on=where, how=method)
    return df3

In [34]:
flt

,src,trg,weighted,log-weight,norm-log-weight
0,Afghanistan,Azerbaijan,2,0.693147,0.099916
1,Afghanistan,India,14,2.639057,0.380415
2,Afghanistan,Iran (Islamic Republic of),10,2.302585,0.331913
3,Afghanistan,Kuwait,2,0.693147,0.099916
4,Afghanistan,Pakistan,8,2.079442,0.299747
...,...,...,...,...,...
4515,Virgin Islands (British),Netherlands Antilles,15,2.708050,NaN
4516,Virgin Islands (British),Puerto Rico,29,3.367296,NaN
4539,Zambia,Angola,1,0.000000,NaN
4546,Zambia,Netherlands,3,1.098612,NaN
4549,Zambia,Zimbabwe,21,3.044522,NaN

In [35]:
#updating flights DB
flt_u = iso_fill(flt,prt_src, where = ["src"], method = "inner")
flt_u = flt_u.drop_duplicates(subset=['src', 'trg'], keep="first")
flt_u = iso_fill(flt_u,prt_trg,where = ["trg"], method = "inner")
flt_u = flt_u.drop_duplicates(subset=['src', 'trg'],keep="first")

#filling iso_codes by src / trg names
#flt_u, nan_d1 = replace_df_values_w_dic(flt_u, "src", "iso_code_src", swapped_d)
#flt_u, nan_d2 = replace_df_values_w_dic(flt_u, "trg", "iso_code_trg", swapped_d)
flt_u

,src,trg,weighted,log-weight,norm-log-weight,iso_code_src,iso_code_trg
0,Afghanistan,Azerbaijan,2,0.693147,0.099916,AFG,AZE
1,Austria,Azerbaijan,4,1.386294,0.258279,AUT,AZE
2,Afghanistan,India,14,2.639057,0.380415,AFG,IND
3,Australia,India,4,1.386294,0.569564,AUS,IND
4,Austria,India,4,1.386294,0.258279,AUT,IND
...,...,...,...,...,...,...,...
2311,Kiribati,Marshall Islands,2,0.693147,0.258279,KIR,MHL
2312,Morocco,Western Sahara,8,2.079442,NaN,MAR,ESH
2313,Spain,Western Sahara,6,1.791759,NaN,ESP,ESH
2314,Saint Kitts and Nevis,Bahamas,1,0.000000,NaN,KNA,BHS
2315,South Africa,Swaziland,2,0.693147,NaN,ZAF,SWZ

In [36]:
#dropping nan index (1)
to_drop = flt_u[flt_u.isna().any(axis=1)].index
flt_u = flt_u.drop(to_drop)
flt_u

,src,trg,weighted,log-weight,norm-log-weight,iso_code_src,iso_code_trg
0,Afghanistan,Azerbaijan,2,0.693147,0.099916,AFG,AZE
1,Austria,Azerbaijan,4,1.386294,0.258279,AUT,AZE
2,Afghanistan,India,14,2.639057,0.380415,AFG,IND
3,Australia,India,4,1.386294,0.569564,AUS,IND
4,Austria,India,4,1.386294,0.258279,AUT,IND
...,...,...,...,...,...,...,...
2305,Guam,Micronesia (Federated States of),4,1.386294,0.099916,GUM,FSM
2307,Guam,Palau,2,0.693147,0.563910,GUM,PLW
2308,Japan,Palau,5,1.609438,0.545483,JPN,PLW
2310,Ireland,Isle of Man,2,0.693147,0.099916,IRL,IMN
2311,Kiribati,Marshall Islands,2,0.693147,0.258279,KIR,MHL

In [37]:
# verifying that there are no nan's
nans_flt = flt_u[flt_u.isna().any(axis=1)]
nans_flt

Empty DataFrame
Columns: [src, trg, weighted, log-weight, norm-log-weight, iso_code_src, iso_code_trg]
Index: []

In [38]:
cov_u = cov_u.rename(columns={"iso_code": "iso_code_src"})
cov_u

      iso_code_src days_to_first_100_cases
79             AFG                 71 days
206            ALB                 67 days
397            DZA                 63 days
525            AND                 65 days
723            AGO                145 days
...            ...                     ...
30061          VNM                 65 days
30241          ESH                162 days
30297          YEM                119 days
30403          ZMB                104 days
30549          ZWE                131 days

[180 rows x 2 columns]

In [39]:
# UPDATED STRATEGY: MERGE COUNTRY NAME FROM FLT, SEPARATE COVID CASES CALCULATION.

flt_partial = flt_u.drop(columns=['trg', 'weighted', 'log-weight', 'norm-log-weight', 'iso_code_trg'], axis=1).drop_duplicates(subset=['src', 'iso_code_src'],keep="first")
flt_partial

                                   src iso_code_src
0                          Afghanistan          AFG
1                              Austria          AUT
3                            Australia          AUS
5                              Bahrain          BHR
6                           Bangladesh          BGD
...                                ...          ...
1460                        East Timor          TLS
1493  Lao People's Democratic Republic          LAO
1864                     Faroe Islands          FRO
2098                         Greenland          GRL
2239                  Christmas Island          CXR

[118 rows x 2 columns]

In [40]:
cov_only = iso_fill(prt_src,cov_u,where = "iso_code_src", method = "left")
cov_only = cov_only.drop_duplicates(subset=['src', 'iso_code_src'],keep="first")
cov_only

#fixing corner cases

cov_only["days_to_first_100_cases"] = cov_only.days_to_first_100_cases.fillna(
    pd.to_datetime("2022-10-13", format='%Y-%m-%d') - pd.to_datetime("2020-01-18", format='%Y-%m-%d'))

cov_only

#CAREFUL, DON'T DO THIS
#flt_u = flt_u.dropna()

                       src iso_code_src days_to_first_100_cases
0              Afghanistan          AFG                 71 days
1                  Albania          ALB                 67 days
2                  Algeria          DZA                 63 days
3           American Samoa          ASM                999 days
4                   Angola          AGO                145 days
..                     ...          ...                     ...
219                 Zambia          ZMB                104 days
220               Zimbabwe          ZWE                131 days
221   Netherlands Antilles          ANT                999 days
222                  Samoa          WSM                999 days
223  Saint Kitts and Nevis          KNA                999 days

[224 rows x 3 columns]

In [41]:
# verification
cov_only.isna().values.any()

False

In [42]:
# verification
#cov_only.loc[flt_u['src'] == 'Western Sahara']
cov_only.sort_values(['days_to_first_100_cases'], ascending=[True])[:50]

,src,iso_code_src,days_to_first_100_cases
39,China,CHN,1 days
109,"Korea, Republic of",KOR,34 days
102,Japan,JPN,35 days
100,Italy,ITA,37 days
95,Iran (Islamic Republic of),IRN,40 days
75,Germany,DEU,43 days
179,Singapore,SGP,43 days
69,France,FRA,44 days
186,Spain,ESP,44 days
209,United States of America,USA,45 days
18,Belgium,BEL,47 days
208,United Kingdom of Great Britain and Northern I...,GBR,48 days
143,Netherlands,NLD,49 days
192,Switzerland,CHE,49 days
153,Norway,NOR,49 days
191,Sweden,SWE,49 days
11,Austria,AUT,51 days
14,Bahrain,BHR,52 days
123,Malaysia,MYS,52 days
53,Denmark,DNK,52 days
10,Australia,AUS,53 days
165,Qatar,QAT,54 days
34,Canada,CAN,54 days
78,Greece,GRC,55 days
68,Finland,FIN,55 days
92,Iceland,ISL,55 days
52,Czechia,CZE,55 days
163,Portugal,PRT,56 days
99,Israel,ISR,56 days
181,Slovenia,SVN,56 days
110,Kuwait,KWT,57 days
63,Estonia,EST,57 days
161,Philippines,PHL,57 days
162,Poland,POL,57 days
26,Brazil,BRA,57 days
97,Ireland,IRL,57 days
167,Romania,ROU,57 days
94,Indonesia,IDN,58 days
96,Iraq,IRQ,58 days
196,Thailand,THA,58 days
59,Egypt,EGY,58 days
174,Saudi Arabia,SAU,58 days
155,Pakistan,PAK,59 days
114,Lebanon,LBN,59 days
38,Chile,CHL,59 days
93,India,IND,59 days
168,Russian Federation,RUS,60 days
160,Peru,PER,60 days
119,Luxembourg,LUX,60 days
207,United Arab Emirates,ARE,60 days

In [43]:
# Do the same with countries_proximity
#prt_u = iso_fill(prt,cov_u_trg,"iso_code_trg")
#prt_u = prt_u.drop_duplicates(subset=['src', 'trg'],keep="first")

#fixing corner cases

#prt_u["days_to_first_100_cases"] = prt_u.days_to_first_100_cases.fillna(
#    pd.to_datetime("2022-10-13", format='%Y-%m-%d') - pd.to_datetime("2020-01-18", format='%Y-%m-%d'))

#DON'T DO THIS
#prt_u = prt_u.dropna()

In [44]:
# verification
#prt_u.isna().values.any()

In [45]:
# verification
#prt_u.isna().values.any()
#prt_u.loc[prt_u['iso_code_trg'] == 'MDA']
#prt_u.sort_values(['src', 'days_since_100_cases_in_China_2019'], ascending=[False, True])[-50:]

In [46]:
# id'ing a potential missmatch on countries
prt_u = prt
to_be_changed(set(prt_u['src']).union(set(prt_u['trg'])), set(flt_u['src']).union(set(flt_u['trg'])))

(['Netherlands Antilles'], ['Niue', 'Swaziland', 'Western Sahara'])

In [47]:
found_c = prt_u[prt_u['src'].str.contains('Netherlands Antilles')]
found_c += prt_u[prt_u['trg'].str.contains('Netherlands Antilles')]

print(found_c.count())

src             0
trg             0
iso_code_src    0
region          0
iso_code_trg    0
dtype: int64

In [48]:
found_c = flt_u[flt_u['src'].str.contains('Netherlands Antilles')]
found_c += flt_u[flt_u['trg'].str.contains('Netherlands Antilles')]

print(found_c.count())

src                0
trg                0
weighted           0
log-weight         0
norm-log-weight    0
iso_code_src       0
iso_code_trg       0
dtype: int64

In [49]:
# DOUBLE CHECKING ON EAST TIMOR ISO CODE ERROR

prt_u.loc[prt_u['src'] == 'East Timor']
flt_u.loc[flt_u['src'] == 'East Timor']

,src,trg,weighted,log-weight,norm-log-weight,iso_code_src,iso_code_trg
1460,East Timor,Indonesia,2,0.693147,0.199832,TLS,IDN
1555,East Timor,Singapore,2,0.693147,0.099916,TLS,SGP

In [50]:
from datetime import datetime, timedelta

# Converting from timedelta into integer to avoid saving in csv errors
#prt_u["days_to_first_100_cases"] = prt_u["days_to_first_100_cases"]/(timedelta (days=1))
#flt_u["days_to_first_100_cases"] = flt_u["days_to_first_100_cases"]/(timedelta (days=1))
cov_only["days_to_first_100_cases"] = cov_only["days_to_first_100_cases"]/(timedelta (days=1))
cov_only

                       src iso_code_src  days_to_first_100_cases
0              Afghanistan          AFG                     71.0
1                  Albania          ALB                     67.0
2                  Algeria          DZA                     63.0
3           American Samoa          ASM                    999.0
4                   Angola          AGO                    145.0
..                     ...          ...                      ...
219                 Zambia          ZMB                    104.0
220               Zimbabwe          ZWE                    131.0
221   Netherlands Antilles          ANT                    999.0
222                  Samoa          WSM                    999.0
223  Saint Kitts and Nevis          KNA                    999.0

[224 rows x 3 columns]

In [51]:
#prt_u["weeks_since_100_cases"] = prt_u["days_to_first_100_cases"].astype(int)//7
#flt_u["weeks_since_100_cases"] = flt_u["days_to_first_100_cases"].astype(int)//7
#flt_u[flt_u['src']=="Spain"]
cov_only["weeks_since_100_cases"] = cov_only["days_to_first_100_cases"].astype(int)//7
cov_only[cov_only['src']=="Finland"]
flt_u[flt_u['src']=="Finland"]

,src,trg,weighted,log-weight,norm-log-weight,iso_code_src,iso_code_trg
13,Finland,India,2,0.693147,0.645399,FIN,IND
89,Finland,Turkey,10,2.302585,0.299747,FIN,TUR
265,Finland,Germany,38,3.637586,0.569564,FIN,DEU
281,Finland,Greece,4,1.386294,0.099916,FIN,GRC
308,Finland,Italy,10,2.302585,0.416641,FIN,ITA
327,Finland,Slovenia,2,0.693147,0.945759,FIN,SVN
364,Finland,United Kingdom of Great Britain and Northern I...,18,2.890372,0.599495,FIN,GBR
510,Finland,France,12,2.484907,0.099916,FIN,FRA
618,Finland,Portugal,4,1.386294,0.299747,FIN,PRT
691,Finland,Russian Federation,18,2.890372,0.358194,FIN,RUS
797,Finland,Spain,32,3.465736,0.585305,FIN,ESP
849,Finland,Switzerland,6,1.791759,0.099916,FIN,CHE
941,Finland,United States of America,8,2.079442,0.799326,FIN,USA
1080,Finland,Netherlands,7,1.945910,0.563910,FIN,NLD
1388,Finland,Poland,10,2.302585,0.380415,FIN,POL
1410,Finland,Ukraine,2,0.693147,0.000000,FIN,UKR
1453,Finland,Hong Kong,2,0.693147,0.299747,FIN,HKG
1469,Finland,Japan,12,2.484907,0.495002,FIN,JPN
1556,Finland,Singapore,2,0.693147,0.299747,FIN,SGP
1586,Finland,"Korea, Republic of",2,0.693147,0.099916,FIN,KOR
1645,Finland,Thailand,2,0.693147,0.099916,FIN,THA
1753,Finland,Hungary,6,1.791759,0.569564,FIN,HUN
1770,Finland,Ireland,2,0.693147,0.697140,FIN,IRL
1787,Finland,Israel,2,0.693147,0.099916,FIN,ISR
1803,Finland,Latvia,6,1.791759,0.653365,FIN,LVA
1819,Finland,Lithuania,4,1.386294,0.431829,FIN,LTU
1865,Finland,Norway,6,1.791759,0.099916,FIN,NOR
1937,Finland,Sweden,44,3.784190,0.638693,FIN,SWE
2095,Finland,Iceland,4,1.386294,0.199832,FIN,ISL

In [52]:
#verifying that only China is patient 0
#prt_u[prt_u['weeks_since_100_cases']==0]
#flt_u[flt_u['weeks_since_100_cases']==0]
cov_only[cov_only['weeks_since_100_cases']==0]

      src iso_code_src  days_to_first_100_cases  weeks_since_100_cases
39  China          CHN                      1.0                      0

In [53]:
#prt_u.to_csv('./data/0_Golden_Standard/proximity_clean_05.csv')
#flt_u.to_csv('./data/0_Golden_Standard/flights_clean_05.csv')
#cov_only.to_csv('./data/0_Golden_Standard/cov_for_distance_01.csv')